.__rendered {
  //padding: $global-spacing;
  border-top: 4px double #c1844c;
  margin-bottom: $global-spacing;
  margin-top: $global-spacing;
  padding-top: $global-spacing;

  &-example {
    //padding: $global-spacing/2 0;
    & > .content-row {
      padding: 12px 0;
    }
  }

  &-example-name {
    font-size: 14px;
    font-style: italic;
  }

}

.__show-markup {
  display: flex;
  height: 32px;
  line-height: 28px;
  outline: none;
  align-items: center;
  width: 100px;
  justify-content: center;
  color: #c1844c;
  border: 2px solid #c1844c;
  margin-left: calc(10% - 40px);
  & + .code {
    margin-top: 20px;
  }
}
