@import "input-text";
@import "checkbox";
@import "range";
@import "radio-line";
@import "draggable";
@import "text-editor";
@import "digits";
@import "key-benefits";
@import "hashes";

.form-field {
  width: 100%;
  margin-bottom: $padding-md;
  &--columns {
    @include mq($from: tablet_xl) {
      margin: 0 -24px;
      display: flex;
    }
    @include mq(tablet_sm, tablet_xl) {
      margin: 0 -12px;
      display: flex;
    }
  }
  &--col {
    width: 100%;
    @include mq($from: tablet_xl) {
      padding: 0 24px;
      max-width: 50%;
    }
    @include mq(tablet_sm, tablet_xl) {
      padding: 0 12px;
      max-width: 50%;
    }
    @include mq($until: tablet_sm) {
      margin-bottom: $padding-md;
    }
  }
}
.form-fieldset {
  &:not(:last-child){
    margin-bottom: $padding-lg;
  }
  &--responsive {
    &:not(:last-child){
      @include mq($from: tablet_sm) {
        margin-bottom: $padding-lg;
      }
      @include mq($until: tablet_sm) {
        margin-bottom: $padding-md;
      }
    }
  }
}

.form-label {
  font-size: $font;
  color: $text;
  line-height: (24px/$font);
  font-weight: 500;
  margin-bottom: $padding;
}
.form-text {
  font-size: $font;
  color: $text;
  line-height: 24px;
}