@import "input-text";
@import "checkbox";
@import "range";
@import "radio-line";

//.form-field {
//  width: 100%;
//  &--md {
//    margin-bottom: $padding-md;
//  }
//  &--lg {
//    margin-bottom: 40px;
//  }
//}
//.form-buttons {
//  * {
//    margin-right: $padding-xl;
//  }
//}
.form-text {
  font-size: $font;
  color: $text;
  line-height: 24px;
}