.form-password {
  position: relative;
  &--show {
    position: absolute;
    top: 24px;
    right: $gutter;
    @extend %btn_reset;
    transform: translateY(-50%);
    color: $brand-02;
    //background-color: $white;

    .show-password & {
      &:after {
        content: "";
        position: absolute;
        top: -1px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: currentColor;
        margin: auto;
        transform: rotate(-45deg);
      }
    }
  }
  .has-success,
  .has-error {
    .form-password--show {
      right: 40px;
    }
    & ~ .form-password--show {
      right: 40px;
    }
  }
}