.form-textarea {
  position: relative;
  textarea {
    resize: none;
    display: block;
    width: 100%;
    min-height: 48px;
    border: 1px solid $brand-02;
    border-radius: 4px;
    padding: 12px;
    background: $white;
    outline: none;
    .invalid & {
      //box-shadow: 0 -2px 0 0 $btn-red_hover inset !important;
    }
    &:focus {
      //background: darken($bg-gray,5);
      //box-shadow: 0 -2px 0 0 $grad-begin inset;
      //& ~ .form-input--label {
      //  color: $grad-begin;
      //  transform: translateY(-106%) scale(0.75);
      //}
    }
  }
  &--message {
    //font-size: 12px;
    //position: absolute;
    //top: 60px;
    //
    //@include mq($from: tablet) {
    //  left: $padding-md;
    //}
    //@include mq($until: tablet) {
    //  left: 0;
    //}
  }
  &.filled {
    //input {
    //  .valid & {
    //    box-shadow: 0 -2px 0 0 $sale inset;
    //    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0V0z%22/%3E%3Cpath%20fill%3D%22%2317CE88%22%20d%3D%22M9%2016.2L4.8%2012l-1.4%201.4L9%2019%2021%207l-1.4-1.4L9%2016.2z%22/%3E%3C/svg%3E');
    //    background-repeat: no-repeat;
    //    background-size: 22px auto;
    //    background-position: 98% center;
    //  }
    //}
    //.form-input--label {
    //  transform: translateY(-106%) scale(0.75);
    //}
  }
  &_label {

  }
}