.footer {
  background-color: $text;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  &--main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
    @include media(hover,1024){

    }
    @include media(screen,1023){
      flex-flow: row wrap;
    }
  }
  &--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid $border;
    color: $border;
    font-weight: 400;
    font-size: 14px;
    a {
      @extend %valign;
      color: inherit;
      margin-left: 65px;
      transition: all 0.3s;
      &:hover {
        @include media(hover,1025){
          color: $btn;
        }
      }
    }
  }
  .contacts {

    box-sizing: border-box;

    @include media(hover,1024){
      width: 350px;
      padding-right: 20px;
    }
    @include breakpoints(481,1023){
      width: 50%;
      padding-right: 20px;
      order: 1;
    }
    @include media(screen,480){
      width: 100%;
      order: 1;
      border-bottom: 1px solid #657482;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    .logo {
      display: block;
      width: 180px;
      margin-bottom: 15px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    ul {
      li {
        display: flex;
        align-items: center;
        &:not(:last-child){margin-bottom: 11px;}
      }
      i {
        color: $border;
        margin-right: 10px;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        &.ico-tel {
          padding: 3px;
        }
      }
      span,a {
        font-size: 14px;
        font-weight: 400;
        color: $white;
      }
      a {
        transition: all 0.3s;
        &:hover {
          @include media(hover,1025){
            color: $border;
          }
        }
      }
    }
  }
  .menu {
    box-sizing: border-box;
    font-size: 15px;
    @include media(hover,1024){
      width: 350px;
      padding-left: 30px;
    }
    @include breakpoints(481,1023){
      width: 50%;
      padding-left: 20px;
      order: 2;
    }
    @include media(screen,480){
      width: 100%;
      order: 2;
      border-bottom: 1px solid #657482;
      padding-bottom: 30px;

    }
    ul {
      li {
        &:not(:last-child){margin-bottom: 10px;}
      }
      a {
        transition: all 0.3s;
        color: $white;
        text-transform: uppercase;
        &.active {color: $border;}
        &:hover {
          @include media(hover,1025){
            color: $border;
          }
        }
      }
    }
  }
}

.subscription {
  max-width: 600px;

  color: $white;

  @include media(screen,1023){
    order: 3;
    margin: 40px auto 0;
  }
  @include media(hover,481){
    text-align: center;
  }
  .title {
    text-transform: uppercase;
    font-family: Futuris, sans-serif;
    margin-bottom: 15px;
    font-size: 17px;
  }
  .text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 17px;
  }
  &-form {
    position: relative;
    .field {
      width: 100%;
      display: flex;
      font-size: 14px;
      input {
        width: 100%;
        flex-shrink: 500;
        border-radius: 4px 0 0 4px;
        background-color: $white;
        border: 1px solid transparent;
        box-sizing: border-box;
        padding: 10px 20px;
      }
      button {
        color: $white;
        border: none;
        border-radius: 0 4px 4px 0;
        background-color: $border;
        font-weight: 400;
        transition: all 0.3s;
        &:hover {
          @include media(hover,1025){
            background-color: $btn_hover;
          }
        }
        @include media(hover,1200){
          padding: 10px 65px;
        }
        @include media(screen,1199){
          padding: 10px 30px;
        }
      }
    }
    .success-title {
      display: none;
    }
    &.successful {
      form {
        opacity: 0;
        pointer-events: none;
      }
      .success-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: $btn;
      }
    }
  }
}