.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba($text,0.7);
  color: $white;
  &--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(screen,1199){
      height: 60px;
    }
  }
  .logo {
    @include media(hover,1600){width: 335px;}
    @include breakpoints(1200,1599){width: 265px;}
    a {
      display: block;

      @include media(hover,1600){width: 250px;}
      @include breakpoints(1200,1599){width: 200px;}
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
  .elements {
    @include media(hover,1600){width: 335px;}
    @include breakpoints(1200,1599){width: 265px;}
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search {
      position: relative;
      width: 30px;
      height: 30px;
      .search-icon {
        position: absolute;
        top: 5px;
        bottom: 5px;
        right: 5px;
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        svg {fill: $white;}
      }
      .form {
        position: absolute;
        right: -5px;
        top: 0;
        bottom: 0;
        width: 40px;
        transition: all 0.3s ease-in, opacity 0.15s;
        border-radius: 20px;
        pointer-events: none;
        opacity: 0;
        box-sizing: border-box;
        padding: 5px 40px 5px 15px;
        fieldset {display: block;}
        input {
          border: none;
          background-color: transparent;
          color: $white;
          height: 20px;
          line-height: 20px;
          display: block;
          width: 100%;
          box-sizing: border-box;
          outline: none;
          font-size: 14px;
        }
        button {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 30px;
          opacity: 0;
          z-index: 1;
          border-radius: 0 20px 20px 0;

        }
      }
      &.active {
        .form {
          @include media(hover,1600){width: calc(100vw - 700px);}
          @include breakpoints(1200,1599){width: calc(100vw - 530px);}
          @include media(screen,1199){width: calc(100vw - 700px);}
          background-color: $text;
          pointer-events: auto;
          opacity: 1;
        }
      }
    }
    .language {
      width: 25px;
      height: 20px;
      position: relative;
      @include media(hover,1600){font-size: 16px;}
      @include breakpoints(1200,1599){font-size: 14px;}
      @include media(screen,1199){
        margin-left: 20px;
      }
      ul {
        position: absolute;
        top: -2px;
        right: -2px;
        left: -2px;
        transition: all 0.3s;
        box-sizing: border-box;
        border-radius: 2px;
        padding:4px 4px 0 4px;
        li {
          width: 100%;
          height: 20px;
          text-align: center;
          transition: all 0.3s;
          color: $white;
          &:not(:last-child){
            margin-bottom: 5px;
          }
          &:not(.current){
            display: none;
            color: transparent;
          }

        }
        a {
          display: block;
          line-height: 20px;
          font-weight: 500;
          color: inherit;
          text-transform: uppercase;

          &:hover {
            @include media(hover,1025){
              transition: all 0.2s;
              color: $btn;
            }
          }
        }
      }
      &:hover {
        @include media(hover,1025){
          ul {
            background-color: $white;
            box-shadow: 0 2px 10px 0 rgba($text,.8);
            li {
              color: $text;
              &:not(.current){
                display: block;
              }
            }
          }

        }
      }
    }
    .request {
      .btn_bord {
        @include breakpoints(1200,1599){
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      @include media(screen,1199){
        //display: none;
        margin-left: 20px;
      }
    }
    .burger {
      @include media(hover,1200){
        display: none;
      }
      transition: transform 0s ease-in-out;
      width: 30px;
      height: 30px;
      position: relative;
      margin-left: 30px;
      .line1,
      .line2,
      .line3 {
        position: absolute;
        height: 2px;
        background-color: $white;
        width: 100%;
        left: 0;
      }
      .line1 {
        transition: transform .2s ease-in-out .3s, opacity 0s ease-in-out .4s;
        top: 4px;
      }
      .line2 {
        transition: transform .2s ease-in-out;
        top: 0;
        bottom: 0;
        margin: auto;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: $white;
          transition: transform .2s ease-in-out;
        }
      }
      .line3 {
        transition: transform .2s ease-in-out .3s, opacity 0s ease-in-out .4s;
        bottom: 4px;
      }
      &.active {
        transition: transform .2s ease-in-out;
        transform: rotate(90deg);
        .line1 {
          opacity: 0;
          transform: translate3d(0, 8.5px, 0);
          transition: transform .2s ease-in-out .2s, opacity 0s ease-in-out .4s;
        }
        .line2 {
          transform: rotate(45deg);
          transition: transform .2s ease-in-out .5s;
          &:before {
            transform: rotate(-90deg);
            transition: transform .2s ease-in-out .5s;
          }
        }
        .line3 {
          opacity: 0;
          transform: translate3d(0, -8.5px, 0);
          transition: transform .2s ease-in-out .2s, opacity 0s ease-in-out .4s;
        }
      }
    }
  }
  .nav {
    transition: all 0.35s;
    .main-navigate {
      @include media(screen,1199){
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
    ul {
      display: flex;
      align-items: flex-start;
      @include media(screen,1199){
        flex-direction: column;
        align-items: center;
      }
      li {
        height: 60px;
        position: relative;
        @include media(hover,1600){margin: 0 20px;}
        @include breakpoints(1200,1599){margin: 0 10px;}
      }
      a {
        display: flex;
        align-items: center;

        @include media(hover,1600){font-size: 18px;}
        @include breakpoints(1200,1599){font-size: 14px;}
        color: $white;
        font-weight: 500;
        height: 100%;
        white-space: nowrap;
        text-transform: uppercase;
        span {@extend %valign;}

        .cnt {
          height: 24px;
          min-width: 24px;
          line-height: 24px;
          border-radius: 20px;
          font-size: 14px;
          background-color: $btn;
          box-sizing: border-box;
          padding: 0 3px;
          margin-left: 8px;
          text-align: center;
          color: $white;
        }


        @include media(hover,1200){
          &:before {
            content: "";
            left: 0;
            right: 0;
            height: 5px;
            top: 0;
            position: absolute;
            transition: all 0.3s;
            margin: auto;
            transform: translateY(-100%);
            background-color: $btn;
          }
          &.active,
          &:hover {
            &:before {
              transform: translateY(0);
            }
          }
        }
        @include breakpoints(1025,1199){
          &:hover {
            color: $btn;
          }
        }
        @include media(screen,1199){
          &.active {
            color: $btn;
          }
        }
      }
    }
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
    @include media(screen,1199){
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $text;
      opacity: 0;
      transform: scale(1.2);
      pointer-events: none;
      transition: all 0.35s;
      padding-top: 75px;
      padding-bottom: 15px;
      box-sizing: border-box;
    }
  }
  .search-form {
    position: absolute;
    top: 0;
    bottom: 0;
    @include media(hover,1600){
      left: 350px;
      right: 350px;
    }
    @include breakpoints(1200,1599){
      left: 280px;
      right: 280px;
    }
  }
  &.show-menu {
    z-index: 50;
    &:after {
      content: "";
      top: 60px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $border;
      position: absolute;
    }
    @include media(screen,1199){
      .logo {
        position: relative;
        z-index: 5;
      }
      .nav {
        pointer-events: auto;
        opacity: 1;
        transform: scale(1);
      }
      .elements {
        position: relative;
        z-index: 5;
        .search {
          .form {
            background-color: $white;
            input {
              color: $text;
              font-weight: 500;
            }
          }
          &.active {
            .search-icon {
              color: $text;
            }
          }
        }
      }
    }
  }
}