@import "input-text";
@import "select";
@import "checkbox";
@import "checkbox-color";

.form-field {
  width: 100%;
  &--md {
    margin-bottom: $padding-md;
  }
  &--lg {
    margin-bottom: $padding-xl;
  }
}
.form-buttons {
  * {
    margin-right: $padding-xl;
  }
}