@import "input-text";
@import "select";
@import "checkbox";
@import "checkbox-color";

.form-field {
  width: 100%;
  &--md {
    margin-bottom: $padding-md;
  }
  &--lg {
    margin-bottom: $padding-xl;
  }
}
.form-buttons {
  * {
    margin-right: $padding-xl;
  }
}
.form-text {
  font-size: $font;
  color: $tag;
  line-height: 24px;
}
.form-socials {
  ul {
    margin-top: 28px;
    display: flex;
    align-items: center;
  }
  li {

    @include mq($from: desktop_md) {
      margin-right: $padding-xl;
    }
    @include mq($until: desktop_md) {
      margin-right: $padding-lg;
    }
  }
  a {
    display: flex;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: $icon;
    align-items: center;
    justify-content: center;
    @include hover(){
      background: none;
    }
  }
  img {
    max-width: 75%;
    max-height: 75%;
  }
}