<!--BEGIN: elements for unregister user-->

<div class="header_nav-general--auth_drop dropdown mobile-visible">
    <div class="dropdown_selected">
        <i class="icon icon_size-2">
            <svg><use xlink:href="#icon-auth"/></svg>
        </i>
    </div>
    <ul class="dropdown_list">
        <li>
            <a href="javascript:void(0);" data-open-modal="signup" class="link">create account</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-open-modal="signin" class="link">login</a>
        </li>
    </ul>
</div>

<a href="javascript:void(0);" data-open-modal="signup" class="mobile-hidden link_simple">create account</a>

<a href="javascript:void(0);" data-open-modal="signin" class="mobile-hidden link_simple">login</a>

<!--END: elements for unregister user-->