.range {
  &-field {
    margin-bottom: 40px;
  }
  &-inputs {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    color: $border;
    input {
      color: $text;
      width: 100px;
      height: 30px;
      border: 1px solid $text_lt;
      padding: 0 10px;
      margin: 0 5px;
      outline: none;
    }
  }

}

