.page-title {
  max-width: 1410px;
  margin: 0 auto;
  line-height: 1.2;
  @include media(hover,1025){
    padding: 115px 0 70px;
  }
  @include breakpoints(768,1024){
    padding: 60px 0;
  }
  @include media(screen,767){
    padding: 40px 0;
  }
  &--text {
    font-family: $font-yeseva;
    position: relative;
    font-weight: 500;
    @include media(hover,1025){
      font-size: $px*11.52rem;
      padding: 0 0 0 20%;
    }
    @include breakpoints(768,1024){
      font-size: $px*8rem;
      padding: 0 0 0 15%;
    }
    @include media(screen,767){
      font-size: $px*7.5rem;
    }

    &:before {
      content: "";
      position: absolute;
      left: 10%;
      width: calc(10% - 25px);
      height: 4px;
      background-color: currentColor;
      @include media(hover,1025){
        left: 10%;
        top: 2rem;
      }
      @include breakpoints(768,1024){
        left: 5%;
        top: 1.25rem;
      }
      @include media(screen,767){
        display: none;
      }
    }
  }
  .article-info {
    color: $violet;
    font-size: $px*3.36rem;
    font-weight: 700;
    text-transform: uppercase;
    @include media(hover,1025){
      padding: 0 0 0 20%;
      margin-bottom: 60px;
    }
    @include breakpoints(768,1024){
      padding: 0 0 0 15%;
      margin-bottom: 45px;
    }
    @include media(screen,767){
      margin-bottom: $padding;
    }
    .item-date {
      margin-right: $padding;
    }
  }
}