<!--listing BEGIN-->

<div class="listing">

    <div class="listing-columns">
        <aside class="listing-sidebar">
            <include src="../sidebar/sidebar.html"></include>
        </aside>
        <div class="listing-main">
            <div class="listing-filters">
                <a href="javascript:void(0);" class="link active">По цене</a>
                <a href="javascript:void(0);" class="link">По новизне</a>
                <a href="javascript:void(0);" class="link">По скидке</a>
                <a href="javascript:void(0);" class="link">По популярности</a>
            </div>

            <div class="listing-items">
                <include src="../item/listing-item-sale.html" col="col-1-5" title="Колотый кирпич" ></include>
                <include src="../item/listing-item-sale.html" col="col-1-5" title="Колотый кирпич" ></include>
                <include src="../item/listing-item-sale.html" col="col-1-5" title="Колотый кирпич" ></include>
                <include src="../item/listing-item-one-mark.html" col="col-1-5" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
                <include src="../item/listing-item-one-mark.html" col="col-1-5" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
                <include src="../item/listing-item-one-mark.html" col="col-1-5" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
                <include src="../item/listing-item-one-mark.html" col="col-1-5" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
                <include src="../item/listing-item-one-mark.html" col="col-1-5" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
                <include src="../item/listing-item-one-mark.html" col="col-1-5" title="Колотый кирпич" liked="liked" markClass="mark mark-top" markTitle="Top"></include>
                <include src="../item/listing-item.html" col="col-1-5" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
            </div>

            <div class="page_action">
                <include src="../back.html"></include>
                <include src="../pagination.html"></include>
            </div>
        </div>
    </div>

</div>

<!--listing END-->
