<!--gallery BEGIN-->

<div class="gallery">

    <div class="gallery-container">
        <div class="gallery-main">
            <div class="gallery-main--wrap">
                <div class="gallery-main--item current"></div>
                <div class="gallery-main--item new"></div>
            </div>
        </div>
        <div class="gallery-dots">
            <div class="gallery-dots--item">
                <div class="gallery-dots--img">
                    <img src="assets/images/items/item-01.jpg" alt="">
                </div>
            </div>
            <div class="gallery-dots--item">
                <div class="gallery-dots--img">
                    <img src="assets/images/items/item-02.jpg" alt="">
                </div>
            </div>
            <div class="gallery-dots--item">
                <div class="gallery-dots--img">
                    <img src="assets/images/items/item-03.jpg" alt="">
                </div>
            </div>
            <div class="gallery-dots--item">
                <div class="gallery-dots--img">
                    <img src="assets/images/items/item-05.jpg" alt="">
                </div>
            </div>
            <div class="gallery-dots--item">
                <div class="gallery-dots--img">
                    <img src="assets/images/items/item-02.jpg" alt="">
                </div>
            </div>
            <div class="gallery-dots--item">
                <div class="gallery-dots--img">
                    <img src="assets/images/items/item-03.jpg" alt="">
                </div>
            </div>
            <div class="gallery-dots--item">
                <div class="gallery-dots--img">
                    <img src="assets/images/items/item-04.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="gallery-nav">
            <button class="gallery-nav--button arrow arrow-prev prev"></button>
            <button class="gallery-nav--button arrow arrow-next next"></button>
        </div>
    </div>

</div>

<!--gallery END-->