<!--listing BEGIN-->

<div class="listing">

    <div class="listing-filters">
        <a href="#" class="link">По цене</a>
        <a href="#" class="link">По новизне</a>
        <a href="#" class="link">По скидке</a>
        <a href="#" class="link">По популярности</a>
    </div>

    <div class="listing-items">
        <include src="./listing-item.html" col="col-2" title="Колотый кирпич"></include>
        <include src="./listing-item.html" col="col-2"></include>
    </div>

</div>

<!--listing END-->
