<!--listing BEGIN-->

<div class="listing">

    <div class="listing-columns">
        <div class="listing-main">
            <div class="listing-filters">
                <a href="#" class="link active">По цене</a>
                <a href="#" class="link">По новизне</a>
                <a href="#" class="link">По скидке</a>
                <a href="#" class="link">По популярности</a>
            </div>

            <div class="listing-items">
                <include src="./items/listing-item-one-mark.html" col="col-1-6" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
                <include src="./items/listing-item.html" col="col-1-6" title="Колотый кирпич" liked="liked"></include>
                <include src="./items/listing-item-both-marks.html" col="col-1-6" title="Колотый расколотый кирпич"></include>
                <include src="./items/listing-item-one-mark.html" col="col-1-6" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
                <include src="./items/listing-item-one-mark.html" col="col-1-6" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
                <include src="./items/listing-item-one-mark.html" col="col-1-6" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
                <include src="./items/listing-item-one-mark.html" col="col-1-6" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
                <include src="./items/listing-item-one-mark.html" col="col-1-6" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
                <include src="./items/listing-item-one-mark.html" col="col-1-6" title="Колотый кирпич" liked="liked" markClass="mark mark-top" markTitle="Top"></include>
                <include src="./items/listing-item.html" col="col-1-6" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
                <include src="./items/listing-item.html" col="col-1-6" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
                <include src="./items/listing-item-sale.html" col="col-1-6" title="Колотый кирпич" ></include>
            </div>

            <include src="./pagination.html"></include>
        </div>
    </div>

</div>

<!--listing END-->
