<!--listing BEGIN-->

<div class="listing">

    <div class="listing-items">
        <include src="./items/listing-item-one-mark.html" col="col-2" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
        <include src="./items/listing-item.html" col="col-2" title="Колотый кирпич" liked="liked"></include>
        <include src="./items/listing-item-both-marks.html" col="col-2" title="Колотый расколотый кирпич"></include>
        <include src="./items/listing-item-one-mark.html" col="col-2" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
        <include src="./items/listing-item-one-mark.html" col="col-2" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
        <include src="./items/listing-item-one-mark.html" col="col-2" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
        <include src="./items/listing-item-one-mark.html" col="col-2" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
        <include src="./items/listing-item-one-mark.html" col="col-2" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
        <include src="./items/listing-item-one-mark.html" col="col-2" title="Колотый кирпич" liked="liked" markClass="mark mark-top" markTitle="Top"></include>
        <include src="./items/listing-item.html" col="col-2" title="Колотый кирпич" liked="liked" markClass="mark mark-new" markTitle="New"></include>
        <include src="./items/listing-item.html" col="col-2" title="Колотый кирпич" markClass="mark mark-new" markTitle="New"></include>
        <include src="./items/listing-item-sale.html" col="col-2" title="Колотый кирпич" ></include>
    </div>

    <include src="./pagination.html"></include>

</div>

<!--listing END-->