<!--sidebar BEGIN-->

<div class="sidebar">
    <div class="sidebar-section">
        <form action="#">
            <div class="sidebar-filters">
                <div class="sidebar-filters--fieldset">
                    <h4 class="sidebar-filters--title title-reg">Цена</h4>
                    <div class="range">
                        <input type="number" value="2000">
                        <input type="number" value="20000">
                    </div>
                </div>
                <div class="sidebar-filters--fieldset">
                    <h4 class="sidebar-filters--title title-reg">Толщина, М</h4>
                    <div class="range">
                        <input type="number" value="2000">
                        <input type="number" value="20000">
                    </div>
                </div>
                <div class="sidebar-filters--fieldset">
                    <h4 class="sidebar-filters--title title-reg">Габариты, см</h4>
                    <div>
                        <div class="form-checkbox">
                            <label class="checkbox-item">
                                <input type="checkbox" name="size">
                                <span class="checkbox-label">30х60х8</span>
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <label class="checkbox-item">
                                <input type="checkbox" name="size">
                                <span class="checkbox-label">50х50х6</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="checkbox-item">
                                <input type="checkbox" name="size">
                                <span class="checkbox-label">30х90х8</span>
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <label class="checkbox-item">
                                <input type="checkbox" name="size">
                                <span class="checkbox-label">60х60х8</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="sidebar-filters--fieldset">
                    <h4 class="sidebar-filters--title title-reg">Цвета</h4>
                    <div class="colors">
                        <div class="checkbox_color">
                            <label class="checkbox_color-item">
                                <input type="checkbox" name="color">
                                <span class="checkbox_color-label"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="sidebar-filters--fieldset">
                    <button type="reset">сбросить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="sidebar-section">
        <div class="sidebar-categories">
            <ul>
                <li class="sidebar-categories--item fn-expand-box">
                    <span class="sidebar-categories--title fn-expand-btn">Забор</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Каменный</a>
                        </li>
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Деревянный</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-categories--item fn-expand-box">
                    <span class="sidebar-categories--title fn-expand-btn">Тротуарная плитка</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Тротуарная плитка 1</a>
                        </li>
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Тротуарная плитка 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-categories--item fn-expand-box">
                    <span class="sidebar-categories--title fn-expand-btn">Искусственный камень</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Фасадный камень</a>
                        </li>
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Тротуарная плитка</a>
                        </li>
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Декоративный камень</a>
                        </li>
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Декоративный камень в 2 строки</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-categories--item fn-expand-box">
                    <span class="sidebar-categories--title fn-expand-btn">Бетонные смеси</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Бетонные смеси 1</a>
                        </li>
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Бетонные смеси 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-categories--item fn-expand-box">
                    <span class="sidebar-categories--title fn-expand-btn">Цемент</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Цемент 1</a>
                        </li>
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Цемент 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-categories--item fn-expand-box">
                    <span class="sidebar-categories--title fn-expand-btn">Добавки</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Добавки 1</a>
                        </li>
                        <li class="sidebar-categories--subitem">
                            <a href="#" class="sidebar-categories--link">Добавки 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--sidebar END-->