.alert {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0 4px 32px 0 rgba($black,0.16);
  &.static {
    position: absolute;
  }
  font-weight: 400;
  z-index: 10;

  @include mq($from: 1848px) {
    //left: calc(50vw + 900px);
    right: calc(50% - 900px);
    //transform: translateX(-100%);
  }
  @include mq($until: 1848px) {
    right: 24px;
  }
  @include mq($from: tablet_sm) {

    //top: 160px;
    bottom: 48px;
    max-height: calc(100vh - 2*#{$padding-lg});
  }
  @include mq(mobile_xl, tablet_sm) {
    //top: 104px;
    bottom: 32px;
    max-height: calc(100vh - 2*#{$gutter-x2});

  }
  @include mq($from: mobile_xl) {
    border-radius: 60px 0 60px 60px;
    padding: 60px 48px 48px 48px;
    width: 380px;
    font-size: 24px;
    line-height: 1.66667;
  }
  @include mq($until: mobile_xl) {
    border-radius: 24px 0 24px 24px;
    //padding: 32px 12px 12px;
    padding: 16px 16px 12px 12px;
    //top: 104px;
    bottom: 24px;
    width: 160px;
    font-size: 16px;
  }
  &.alert-success {
    background-color: #f1fce7;
  }
  .close {
    @extend %btn_reset;
    position: absolute;
    top: $gutter-x2;
    right: $gutter-x2;
    color: $brand-02;
    display: flex;
    font-size: 80px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 50px;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2035.36%2035.36%22%20fill%3D%22%23C1844C%22%3E%3Cg%20transform%3D%22matrix%28.70711-.70711.70711.70711-7.32%2017.68%29%22%3E%3Cpath%20d%3D%22m-6.32%2016.68h48v2h-48z%22/%3E%3Cpath%20d%3D%22m16.68-6.32h2v48h-2z%22/%3E%3C/g%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    @include mq($until: mobile_xl) {
      //top: 12px;
      //right: 12px;
      //width: 24px;
      //height: 24px;
      top: 8px;
      right: 8px;
      width: 18px;
      height: 18px;
    }
  }
  .text {
    display: block;
    font-size: $font;
    margin-top: 32px;
    @include mq($until: mobile_xl) {
      margin-top: 12px;
      font-size: 12px;
    }
  }
}