.language {
  position: relative;
  color: $brand-01;
  &_selected {
    font-size: $font;
    position: relative;
    padding-right: $gutter-x2;
    cursor: pointer;
    &:before {
      @extend .pseudo-content;
      position: absolute;
      top: 100%;
      left: 0;
      right: $gutter-x2;
      height: 1px;
      background: currentColor;
    }
    &:after {
      @extend .pseudo-content;
      @extend .icon-arrow_down;
      @extend .icon-arrow_down--sm;
    }
  }
  &_list {
    background: $white;
    position: absolute;
    top: 100%;
    left: calc(100% - #{$gutter-x2});
    box-shadow: 0 2px 4px 0 rgba($black,0.16);
    padding: $padding $padding-md;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    .active & {
      opacity: 1;
      pointer-events: auto;
    }
    li {
      &:not(:last-child){
        margin-bottom: $padding;
      }
    }
    a {
      color: inherit;
    }
  }
}