/**
Text-box

Markup:
<div class="content-row">
    <div class="content-col col-8">
      <div class="text-box">
        <h1>H1 Text Heading</h1>
        <p>Основной набор.  Nine Elms Point is a huge residential complex, which consists of 645 stylish studios,
          as well as apartments with one, two, three or four bedrooms and penthouses, spaciously located in seven
          distinctive buildings, which includes two striking towers. From the balconies or terraces of most apartments,
          there is a view to the inner garden of the complex. All apartments have spacious rooms, open plan kitchen
          and living room and large panoramic windows that will fill your home with natural light.
        </p>
        <h2>H2 Text Heading</h2>
        <p>Living at Nine Elms Point is very ссылка в статье convenient, as the future metro station Nine Elms will
          be located just at your doorstep, as well as the large Sainsbury supermarket. Despite the fact that the complex
          is located in the first zone of London, you can relax from the busy city life, as there is so much green space.
          Nine Elms Point development provides residents with access to a fitness suite, a 24-hour concierge service,
          a business centre and a private dining room available to hire.
        </p>
      </div>
    </div>
  </div>

Weight: 2

Styleguide styleguide.typography.text-box
 */

.text-box {
  font-size: 16px;
  line-height: 1.5;
  h1 {
    @extend .h1;
    color: $link;
    margin-top: $padding-md;
    margin-bottom: $padding-md;
    
  }
  h2 {
    color: $link;
    font-size: 48px;
    line-height: (64/48);
    font-weight: 300;
    margin-top: $padding-md;
    margin-bottom: $padding-md;
  }
  h3 {
    font-size: 32px;
    line-height: (48/32);
    font-weight: 400;
    margin-top: $padding-md;
    margin-bottom: $padding-md;
  }
  p {
    min-height: 24px;
    &:not(:last-child){
      @include mq($from: mobile_sm) {
        margin-bottom: $padding-md;
      }
      @include mq($until: mobile_sm) {
        margin-bottom: $gutter-x2;
      }
    }
  }
  a {
    color: $link;
    @include hover(){
      color: darken($link, 8);
    }
  }
  ul, ol {
    &:not(:last-child){
      @include mq($from: mobile_sm) {
        margin-bottom: $padding-md;
      }
      @include mq($until: mobile_sm) {
        margin-bottom: $gutter-x2;
      }
    }
    li {
      position: relative;
      @include mq($until: tablet_sm) {
        padding-left: $gutter;
      }
      @include mq($from: mobile_sm) {
        margin-bottom: $padding-md;
      }
      @include mq($until: mobile_sm) {
        margin-bottom: $gutter-x2;
      }
      
      &:before {
        position: absolute;
        right: 100%;
        
        @include mq($from: tablet_sm) {
          margin-right: $padding_sm;
        }
        @include mq($until: tablet_sm) {
        
        }
      }
    }
  }
  ul {
    li {
      &:before {
        content: "";
        height: 1px;
        top: 12px;
        background-color: $link;
        @include mq($from: tablet_sm) {
          width: 24px;
        }
        @include mq($until: tablet_sm) {
          width: 12px;
        }
      }
    }
  }
  ol {
    counter-reset: item;
    li {
      &:before {
        content: counter(item,decimal-leading-zero) '.';
        counter-increment: item;
        @include mq($until: tablet_sm) {
          margin-right: -4px;
        }
      }
    }
  }
  blockquote {
    
    font-weight: 300;
    color: $link;
    line-height: (64/48);
    position: relative;
    @include mq($from: tablet_sm) {
      font-size: 48px;
      margin: 100px 0;
    }
    @include mq(mobile_sm, tablet_sm) {
      font-size: $font-lg;
      margin: $padding-xl 0;
      padding-left: $gutter;
    }
    @include mq($until: mobile_sm) {
      font-size: 28px;
      margin: $padding-lg 0;
      padding-left: $gutter;
    }
    &:before {
      content: "\0022";
      position: absolute;
      top: 12px;
      right: 100%;
      
      @include mq($from: tablet_sm) {
        margin-right: $gutter-x2;
      }
      @include mq($until: tablet_sm) {
      
      }
    }
  }
  .img {
    @include mq($from: desktop_sm) {
      margin-left: -33.3333%;
      &:first-of-type {
        border-radius: 140px 0 0 0;
        overflow: hidden;
      }
      &:last-of-type {
        border-radius: 0 0 140px 0;
        overflow: hidden;
      }
    }
    @include mq($until: desktop_sm) {
      width: 100%;
    }
    &:not(:last-child){
      @include mq($from: mobile_sm) {
        margin-bottom: $padding-md;
      }
      @include mq($until: mobile_sm) {
        margin-bottom: $gutter-x2;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}