.title {
  line-height: 1.28;
  &--lg {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 2*$padding;
  }
  &--md {
    font-size: 28px;
  }
  &--sm {
    font-size: 22px;
  }
  &--xs {
    font-size: 18px;
  }
}