.about_box {
  position: relative;

  @include mq($from: desktop_sm) {
    margin-bottom: $padding-xxl;
  }
  @include mq(tablet_xl, desktop_sm) {
    margin-bottom: $padding-xl;
  }
  @include mq($until: tablet_xl) {
    margin-bottom: $padding-lg;
  }
  .text-box {
    position: relative;
    z-index: 1;
    @include mq($from: desktop_sm) {
      font-size: $font-md;
    }
    @include mq(tablet_sm, desktop_sm) {
      font-size: 20px;
    }
    @include mq($until: tablet_sm) {
      font-size: $font;
    }
  }
  &-aside {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    @include mq(tablet_xl, desktop_sm) {
      margin-top: $padding-xl;
    }
    @include mq($until: tablet_xl) {
      margin-top: $padding-lg;
    }
    .pattern {
      position: absolute;
      top: -140px;
      right: 0;
      transform: translateX(-50%);
      @include mq(mobile_xl, desktop_sm) {
        opacity: .75;
        transform: scale(0.75);
        transform-origin: left center;
        right: 48px;
      }
      @include mq($until: mobile_xl) {
        transform: scale(0.5);
        transform-origin: right center;
        opacity: 0.6;
        right: 48px;
      }
    }
  }
  &-auth {
    margin-bottom: 100px;
    position: relative;
  }
}