.article_page {

  @include mq($from: tablet_sm) {
    padding-top: 80px;
  }
  
  &-static {
    @include mq($from: tablet_sm) {
      padding-top: 80px;
    }
    @include mq($until: tablet_sm) {
      padding-top: $padding-lg;
    }
  }

  &-wrap {
    @include mq($until: desktop_sm) {
      position: relative;
    }
    @include mq($from: tablet_sm) {
      margin-top: -1*$padding-md;
    }

  }
  &-sidebar {

    @include mq($from: desktop_sm) {
      margin-top: -112px;
      position: relative;
    }
    @include mq(tablet_sm, desktop_sm) {

      margin-top: -80px;
    }
    @include mq(mobile_xl, tablet_sm) {
      margin: $padding-md 0;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    @include mq($until: mobile_xl) {
      display: flex;
      margin: $padding-md 0;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    &--bg {

      overflow: hidden;
      @include mq($from: desktop_sm) {
        width: 280px;
        height: 585px;
        border-radius: 0 140px 140px 0;
      }
      @include mq($until: desktop_sm) {
        position: absolute;
        top: 0;
        left: 0;
        width: 17%;
        height: 300px;
        border-radius: 0 100px 100px 0;
      }
      @include mq($until: tablet_sm) {
        display: none;
      }
      img {
        @include fullBlock;
        object-fit: cover;
      }
    }
    &--socials {
      @include mq($from: desktop_sm) {
        padding-top: 112px;
        margin-left: 280px;
        position: absolute;
      }
      @include mq(tablet_sm, desktop_sm) {
        padding-top: 25vw;
        position: absolute;
      }
      @include mq($until: tablet_sm) {
        position: static !important;
      }
      ul {
        display: flex;

        @include mq($from: desktop_sm) {
          padding-left: $gutter-x2;
        }
        @include mq($from: tablet_sm) {
          flex-direction: column;
        }
        @include mq($until: mobile_xl) {
          margin-top: $padding;
        }

      }
      li {

        @include mq($from: tablet_sm) {
          margin-bottom: $gutter-x2;
        }
        @include mq(mobile_xl, tablet_sm) {
          margin-left: $gutter;
        }
        @include mq($until: mobile_xl) {
          margin-right: $gutter;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: $text-03;
        &:before {
        }
        @include mq($from: tablet_sm) {
          position: relative;
          &:before {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #F5F5F5;
            top: 0;
            bottom: 0;
            margin: auto 0 auto $padding_sm;
          }
        }

      }
      .icon {
        border-radius: 50%;
        margin-right: $padding_sm;
        position: relative;

        @include mq($until: tablet_sm) {
          width: 40px;
          height: 40px;
        }
      }
    }
    &--author {

      @include mq($from: desktop_sm) {
        margin: 0 auto;
        width: 280px;
        transform: translateY(-230px);
      }
      @include mq(tablet_sm, desktop_sm) {
        width: 75%;
        margin-left: 15%;
        position: relative;
      }
      @include mq($until: tablet_sm) {
        display: flex;
        align-items: center;
      }
      figure {
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 50% 0 50% 50%;
        @include mq($from: desktop_sm) {
          width: 280px;
          height: 280px;
          margin-bottom: $gutter-x2;
        }
        @include mq(tablet_sm, desktop_sm) {
          width: 100%;
          height: 100%;
          margin-bottom: $gutter;
        }
        @include mq($until: tablet_sm) {
          width: 100px;
          height: 100px;
          margin-right: $gutter-x2;
        }
      }
      img {
        @include fullBlock;
        object-fit: cover;
      }
      &_name {
        color: $text-03;
      }
    }
  }
}