.home-banner {
  margin-bottom: 190px;
  .h100 {
    height: 100%;
  }
}

.home-intro {
  margin-bottom: 164px;
}

.home-projects-carousel {
  margin-bottom: 140px;
}

.home-about_work {
  margin-bottom: 138px;
  position: relative;
  .bg {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    img {
      display: block;
      width: 100%;
    }
  }
  & ~ *,
  & > *:not(.bg) {
    position: relative;
  }
}

.home-about_advantages {
  margin-bottom: 80px;
  &-item {
    &:not(:last-child){
      margin-bottom: 140px;
    }
  }
}

.home-banners-carousel {
  width: 100%;
  overflow: hidden;
  margin-bottom: 140px;
  &_inner {
    width: 200%;
  }
}