.home-banner {
  margin-bottom: 190px;
  .h100 {
    height: 100%;
  }
}

.home-intro {
  margin-bottom: 164px;
}

.home-projects-carousel {
  margin-bottom: 140px;
}

.home-about_work {
  margin-bottom: 138px;
}

.home-about_advantages {
  margin-bottom: 80px;
  &-item {
    &:not(:last-child){
      margin-bottom: 140px;
    }
  }
}

.home-banners-carousel {
  width: 100%;
  overflow: hidden;
  margin-bottom: 140px;
  &_inner {
    width: 200%;
  }
}