.home-banner {
  @include mq($from: tablet_xl){
    margin-bottom: 190px;
  }
  @include mq(mobile_xl, tablet_xl){
    margin-bottom: 100px;
  }
  @include mq($until: mobile_xl){
    margin: 0 -1*$gutter-x2 60px;
  }
  .h100 {
    height: 100%;
  }
}

.home-intro {
  @include mq($from: tablet_xl){
    margin-bottom: 164px;
  }
  @include mq(mobile_xl, tablet_xl){
    margin-bottom: 100px;
  }
  @include mq($until: mobile_xl){
    margin-bottom: 100px;
  }
}

.home-projects-carousel {

  @include mq($from: tablet_xl){
    margin-bottom: 140px;
  }
  @include mq(mobile_xl, tablet_xl){
    margin-bottom: 100px;
  }
  @include mq($until: mobile_xl){
    margin-bottom: 100px;
  }
}

.home-about_work {
  @include mq($from: tablet_xl){
    margin-bottom: 140px;
  }
  @include mq(mobile_xl, tablet_xl){
    margin-bottom: 100px;
    margin-top: 250px;
  }
  @include mq($until: mobile_xl){
    margin-bottom: 100px;
    margin-top: 200px;
  }
  position: relative;
  .bg {
    position: absolute;
    right: 0;
    @include mq($from: tablet_xl){
      top: 100px;
      left: 0;
    }
    @include mq(mobile_xl, tablet_xl){
      top: -200px;
      left: -50%;
    }
    @include mq($until: mobile_xl){
      top: -175px;
      left: auto;
      width: 740px;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  & ~ *,
  & > *:not(.bg) {
    position: relative;
  }
}

.home-about_advantages {

  @include mq($from: mobile_xl){
    margin-bottom: 80px;
  }
  @include mq($until: mobile_xl){
    margin-bottom: 60px;
  }
  &-item {
    &:not(:last-child){
      @include mq($from: tablet_xl){
        margin-bottom: 140px;
      }
      @include mq(mobile_xl, tablet_xl){
        margin-bottom: 100px;
      }
      @include mq($until: mobile_xl){
        margin-bottom: 100px;
      }
    }
  }
}

.home-banners-carousel {
  width: 100%;
  overflow: hidden;
  @include mq($from: tablet_xl){
    margin-bottom: 140px;
  }
  @include mq(mobile_xl, tablet_xl){
    margin-bottom: 100px;
  }
  @include mq($until: mobile_xl){
    margin-bottom: 60px;

  }
  &_inner {
    width: 200%;
  }
}