$white: #fff;
$black: #000;

$text: #546E7A;
$text-dark: #37474F;
$tag: #546E7A;
$bg-gray: #EEEEEE;
$bg-green: #E4FFF9;
$border: #707070;
$icon: #B0BEC5;
$sale: #1CB47A;
$link: #7B1FA2;

$btn-red: #FF5252;
$btn-red_hover:  #E94040;

$grad-begin: #7B1FA2;
$grad-end: #18088D;

$clr-valid: #4CAF50;
$clr-valid-lt: #E8F5E9;
$clr-invalid: #E64A19;
$clr-invalid-lt: #FFCDD2;

$padding: 8px;
$padding-sm: 0.5*$padding;  // 4px
$padding-md: 2*$padding;    // 16px
$padding-lg: 3*$padding;    // 24px
$padding-xl: 4*$padding;    // 32px
$padding-xxl: 6*$padding;   // 48px

$font: 16px;
$font-sm: 0.5*$font;        // 8px
$font-md: 1.5*$font;        // 24px
$font-lg: 2*$font;          // 32px

$mq-breakpoints: (
        mobile:  480px,
        mobile_xl:  600px,
        tablet:  800px,
        desktop: 1025px,
        desktop_md: 1281px,
        desktop_xl: 1421px,
        wide:    1725px
) !default;