.listing {
  &_items {
    width: 100%;
    min-width: 100%;
  }
  &_item {
    border-radius: 0 0 10px 10px;
    transition: box-shadow 0.25s;
    height: 100%;
    display: flex;
    flex-direction: column;
    .map-item & {
      width: 280px;
      border-radius: 0;
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, -16px);
      height: auto;
      background: $white;
      padding: $padding-sm $padding-sm 0;
      box-shadow: 0 4px 16px 0 rgba($black,0.16);
      &:after {
        @extend .pseudo-content;
        width: 0;
        height: 0;
        border-style: solid solid none;
        border-color: $white transparent;
        border-width: 14px 15px;
        margin-left: -15px;
        position: absolute;
        top: 100%;
        left: 50%;
      }
    }
    @include hover(){
      box-shadow: 0 4px 16px 0 rgba($black,0.16);
      .listing_carousel & {
        box-shadow: none;
      }
    }
    &-box {
      margin-bottom: $gutter-x2;
      position: relative;
    }
    &-figure {
      position: relative;
    }
    &-img {
      width: 100%;
      height: 0;
      padding-bottom: 57.5%;
      position: relative;
      .listing_item-box--lg & {
        padding-bottom: 65.77%;
      }
      .img {
        position: absolute;
        @extend %full_block;
        left: 0;
        top: 0;
      }
      img {
        @extend %full_block;
        object-fit: cover;
      }
    }
    &-hashes {
      position: absolute;
      bottom: 0;
      left: 0;
      
      @include mq($until: tablet_sm) {
        flex-direction: column;
        align-items: flex-start;
      }
      .map-item & {
        display: none;
      }
      .hash {
        @include mq($until: tablet_sm) {
          margin-top: $padding-sm;
        }
      }
    }
    &-data {
      position: relative;
      background: $white;

      border-radius: 0 0 10px 10px;
      flex-grow: 1;
      font-size: $font;
      @include mq($from: desktop_sm) {
        padding: $padding 2*$padding-lg $padding $padding-md;
      }
      @include mq($until: desktop_sm) {
        padding: $padding 54px $padding $padding;
      }
      .map-item & {
        position: static;
        border-radius: 0;
        padding: $padding-sm $padding-lg $padding-sm $padding;
      }
      &--title {
        display: inline-flex;
        color: $text;
        @include hover(){
          color: $link;
        }
      }
      &--descr,
      &--price {
        margin-top: 12px;
        .map-item & {
          margin-top: $padding-sm;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &--cta {
        position: absolute;
        cursor: pointer;
        color: transparent;
        @include mq($from: desktop_sm) {
          top: 40px;
          right: 24px;
        }
        @include mq($until: desktop_sm) {
          top: 16px;
          right: 8px;
        }
        .map-item & {
          border-radius: 50%;
          box-shadow: 0 0 0 8px $white;
          background: $white;
          top: -8px;
          right: -8px;
        }
        @include hover(){
          color: $ui-01;
        }
        &.liked {
          color: $ui-01;
        }
      }
    }
    &-selectable {
      border: 2px solid $ui-02;
      &.selected {
        border-color: $link;
      }
      &--checkbox {
        @extend %hidden_input;
        &:checked + .listing_item-selectable {
          border-color: $brand-01;
          .listing_item-check--label {
            border-color: $brand-01;
            background-color: $brand-01;
          }
          .listing_item-check {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($text-05,0.65);
          }
          .listing_item-check--new {
            display: none;
          }
        }
      }
    }
    &-check {
      display: none;
      .listing_item-selectable & {
        display: block;
      }
      &--new {
        background-color: $ui-02;
        color: $white;
        font-size: $font;
        font-weight: 500;
        line-height: 32px;
        padding: 0 $padding;
        border-radius: $padding;
        position: absolute;
        
        pointer-events: none;
        @include mq($from: desktop_sm) {
          top: $gutter-x2;
          left: $gutter-x2;
        }
        @include mq($until: desktop_sm) {
          top: $padding;
          left: $padding;
        }
      }
      &--label {
        position: absolute;
        
        width: $padding-md;
        height: $padding-md;
        border-radius: 50%;
        border: 2px solid $ui-02;
        cursor: pointer;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2017.6%2013.4%22%3E%3Ctitle%3E%u0420%u0435%u0441%u0443%u0440%u0441%201%3C/title%3E%3Cg%20id%3D%22%u0421%u043B%u043E%u0439_2%22%20data-name%3D%22%u0421%u043B%u043E%u0439%202%22%3E%3Cg%20id%3D%22%u0421%u043B%u043E%u0439_1-2%22%20data-name%3D%22%u0421%u043B%u043E%u0439%201%22%3E%3Cpath%20d%3D%22M5.6%2C10.6%2C1.4%2C6.4%2C0%2C7.8l5.6%2C5.6%2C12-12L16.2%2C0Z%22%20style%3D%22fill%3A%23fff%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-color: $white;
        background-size: 16px auto;
        background-position: center;
        @include mq($from: desktop_sm) {
          top: $gutter-x2;
          right: $gutter-x2;
        }
        @include mq($until: desktop_sm) {
          top: $padding;
          right: $padding;
        }
      }
    }
  }
  &_carousel {
    &-box {
      margin-top: $padding-xl;
    }
    &-title {
      font-size: 24px;
      color: $text-03;
      margin-bottom: $padding-lg;
    }
    &.owl-carousel {
      .owl-stage-outer,
      .owl-stage {
        display: flex;
      }
    }
    .owl-item {
      height: 100%;
    }
    .owl-nav {
      display: none;
    }
  }
}