.listing_filter {
  margin-bottom: $gutter-x2;
  &-checker {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    &--label {
      width: $listing_size;
      height: $listing_size;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      background: $white;
      color: $link;
      flex-shrink: 0;
      transition: background-color 0.2s;
      @include mq($until: tablet_xl) {
        margin-left: $padding;
      }
    }
  }
  &-field {
    display: flex;
    @include mq($from: tablet_xl) {
      height: $listing_size;
      & > * {
        &:not(:last-child){
          margin-right: $padding;
        }
      }
    }
    @include mq($until: tablet_xl) {
      flex-wrap: wrap;
    }


  }
  &-sorting {
    width: 100%;
    display: flex;
    background: $white;
    align-items: center;

    @include mq($until: tablet_xl) {
      height: $listing_size;
      margin-top: $padding;
      order: 10;
    }
    @include mq($from: tablet_sm) {
      padding: 0 $padding-md;
    }
    @include mq($until: tablet_sm) {
      padding: 0 $padding;
    }
    a {
      color: $text;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      line-height: 1;
      &:not(:last-child){
        @include mq($from: tablet_sm) {
          margin-right: $padding-lg;
        }
        @include mq($until: tablet_sm) {
          margin-right: $padding;
        }
      }
      &:after {
        @extend .pseudo-content;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        background: $link;
        transition: all 0.2s;
      }
      @include hover(){
        &:after {
          height: 4px;
        }
      }
      &.active {
        &:after {
          height: 4px;
        }
      }
    }
  }
  &-button {
    @extend %btn_reset;
    color: $white;
    line-height: 1.1;
    padding: 0 $padding-md;
    background: $link;
    font-weight: 500;
    transition: all 0.25s;
    @include hover(){
      background: darken($link, 8);
    }
    @include mq($from: desktop_sm) {
      flex-shrink: 0;
    }
    @include mq(mobile_xl, tablet_xl) {
      height: $listing_size;
      flex-grow: 1;
      &:not(:first-of-type){
        margin-left: $padding;
      }
    }
    @include mq($until: mobile_xl) {
      height: $listing_size;
      width: 100%;
      &:not(:first-of-type){
        margin-top: $padding;
      }
    }
  }
}