.faq-box {
  counter-reset: item;
  &_item {
    background-color: $white;
    padding-left: calc(100% / 7 + #{$gutter});
    &:not(:last-child){
      margin-bottom: $gutter-x2;
    }
  }
  &_question {
    position:relative;
    font-size: $font-lg;
    font-weight: 600;
    line-height: (32/20);

    display: flex;
    align-items: center;
    cursor: pointer;
    @include mq($from: mobile_sm){
      padding: 40px calc(100% / 6) 40px 0;
    }
    @include mq($until: mobile_sm){
      padding: 24px 32px 24px 0;
    }
    &:before {
      content: counter(item, decimal-leading-zero);
      counter-increment: item;
      right: 100%;
      position: absolute;
      transform: translateY(-50%);

      color: $link;
      @include mq($from: mobile_sm){
        top: 52px;
        margin-right: $gutter-x2;
        font-size: 2*$font;
      }
      @include mq($until: mobile_sm){
        margin-right: 16px;
        top: 38px;
        font-size: $font-xl;
      }
    }
    &:after {
      content: "";
      position: absolute;

      width: 14px;
      height: 14px;
      border-style: none solid solid none;
      border-width: 3px;
      border-color: currentColor;

      transform: rotate(45deg);
      transition: all 0.25s;
      @include mq($from: mobile_sm){
        top: 48px;
        right: 32px;
      }
      @include mq($until: mobile_sm){
        top: 28px;
        right: 12px;
      }
      .expanded & {
        transform: rotate(-135deg);

        @include mq($from: mobile_sm){
          top: 52px;
        }
        @include mq($until: mobile_sm){
          top: 36px;
        }
      }
    }
  }
  &_answer {

    @include mq($from: mobile_sm){
      padding: 0 calc(100% / 6) 0 0;
    }
    @include mq($until: mobile_sm){
      padding: 0 24px 0 0;
    }
    .text-box {
      padding-bottom: 40px;
    }
  }
}
