.main-banner {
  width: 100%;
  height: 53.3333vw;
  max-height: calc(100vh - 120px);
  min-height: 600px;
  position: relative;
  overflow: hidden;
  .intro-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
