.main-banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  @include mq($from: tablet_xl){
    max-height: calc(100vh - 120px);
    min-height: 600px;
  }
  @include mq($until: tablet_xl){
    max-height: calc(100vh - 56px);
  }
  @include mq($from: tablet_sm){
    height: 53.3333vw;
  }
  @include mq($until: tablet_sm){
    min-height: 320px;
    height: 100vh;
  }
  .intro-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
