$white: #fff;
$black: #000;
$text: #21202e;
$text_lt: #b2b9c1;
$border: #657482;
$bg: #f0f1f3;
$bg_blue: #e6f7fe;
$bg_blue_dark: #63b6f7;
$link: #2196f3;
$link_hover: #2a7ec5;
$link_dark: #346697;

$padding_sm: 20px;
$padding_md: 30px;



