.sidebar {
  &-section {
    background-color: $white;
    @include mq($from: desktop_xl) {
      padding: $padding-lg;
      margin-bottom: $padding;
      width: 100%;
    }
    @include mq(desktop, desktop_xl) {
      padding: $padding-md;
      margin-bottom: $padding;
      width: 100%;
    }
    @include mq($until: desktop) {
      padding: 10px;
      transition: all 0.1s;
      .sticky & {
        margin: 0 -1*$padding-md;
        padding: 10px 10px+$padding-md;
        box-shadow: 0 8px 8px 0 rgba($text,0.2);
      }
    }
  }
  &-filters {
    &--fieldset {
      &:not(:last-child){
        margin-bottom: $padding-lg;
      }
      &:last-child{
        margin-top: $padding-xxl;
      }
      .form-checkbox {
        &:not(:last-child){
          margin-bottom: $padding;
        }
      }
      .colors {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -1*$padding;
      }
      .checkbox_color {
        margin-right: $padding;
        margin-bottom: $padding;
      }
    }
    &--title {
      margin-bottom: 10px;
    }
    &--reset {
      @extend %btn_reset;
      color: $tag;
      text-transform: uppercase;
      font-size: $font;
      font-weight: 600;
      letter-spacing: 2px;
      @include mq(desktop, desktop_xl) {
        letter-spacing: 0;
      }
    }
  }
}

.sidebar_categories {
  color: $tag;
  &-list {
    @include mq($until: desktop) {
      display: flex;
      font-size: 12px;
      justify-content: space-between;
    }
  }
  &-item {
    padding-left: $padding-lg;
    @include mq($from: desktop) {
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
    @include mq($until: desktop) {
      position: relative;
      &:not(:last-child){
        margin-right: $padding-md;
        .fn-expand-data {
          left: 0;
        }
      }
      &:last-child{
        .fn-expand-data {
          right: 0;
        }
      }
      .fn-expand-data {
        display: none;
        position: absolute;
        top: 100%;
        margin-top: 6px;
        background: $white;
        box-shadow: 0 8px 8px 0 rgba($text,0.5);
      }
    }
  }
  &-subitem {
    @include mq($from: desktop) {
      margin-top: $padding-md;
    }
    @include mq($until: desktop) {
      padding: 6px 12px;
    }
  }
  &-title {
    cursor: pointer;
    &.fn-expand-btn {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        right: 100%;

        margin: 0 12px 0 0;
        width: 9px;
        height: 9px;
        border-style: solid solid none none;
        border-width: 2px;
        border-color: $icon;
        transform: rotate(45deg) translate(-2px, 2px);
        transition: transform 0.25s;
        @include mq($from: desktop) {
          top: 6px;
        }
        @include mq($until: desktop) {
          top: 4px;
        }
        .expanded & {
          transform: rotate(135deg) translate(-2px, 2px);
        }
      }
    }
  }
  a {
    color: inherit;
    background: linear-gradient(to bottom, $btn-red 0%, $btn-red 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    padding: 2px 0;
    transition: background-size .3s;
    position: relative;
    @include hover(){
      background-size: 98% 2px;
    }
    &.active {
      background-size: 98% 2px;
    }
  }
}