<div class="types-item">
    <a href="types.html" class="types-item--section">
        <div class="types-item--img">
            <div class="types-item--img_box">
                <picture>
                    <source type="image/webp" srcset="assets/images/types/@@img.webp">
                    <source type="image/jpeg" srcset="assets/images/types/@@img.jpg">
                    <img src="assets/images/types/@@img.jpg" alt="@@title">
                </picture>
            </div>
        </div>
        <div class="types-item--data">
            <div class="types-item--title">
                <h3>@@title</h3>
            </div>
            <div class="types-item--cta">
                <span class="btn btn-red btn--md">Все товары</span>
            </div>
        </div>
    </a>
</div>