<div class="types-item">
    <div class="types-item--section">
        <div class="types-item--img">
            <a href="types.html" class="types-item--img_box">
                <picture>
                    <source type="image/webp" srcset="assets/images/types/@@img.webp">
                    <source type="image/jpeg" srcset="assets/images/types/@@img.jpg">
                    <img src="assets/images/types/@@img.jpg" alt="@@title">
                </picture>
            </a>
        </div>
        <div class="types-item--data">
            <div class="types-item--title">
                <a href="types.html">@@title</a>
            </div>
            <div class="types-item--cta">
                <a href="types.html" class="btn btn-red btn--md">Все товары</a>
            </div>
        </div>
    </div>
</div>