<!--modal BEGIN-->

<div class="modal">

    <div class="modal-bg close"></div>

    <div class="modal-section--box" data-modal="catalog-item">
        <div class="modal-container content content--md">
            <div class="modal-wrap">
                <div class="modal_catalog-box">
                    <div class="modal_catalog-gallery">

                        <include src="../gallery.html"></include>

                    </div>
                    <div class="modal_catalog-about">
                        <div class="modal_catalog-heading">
                            <h1 class="title-lg">Камень колотый угловой малый левый</h1>
                        </div>
                        <div class="catalog_item-prices">
                            <div class="price-old">3 588 &#x20bd;/уп</div>
                            <div class="price-actual">2 508 &#x20bd;/уп</div>
                            <div class="price-equal">1 200 &#x20bd;/м<sup>2</sup></div>
                        </div>
                        <div class="validate-form" data-form="add-to-cart-modal">
                            <form action="#">
                                <div class="form-field form-field--md">
                                    <div class="form-select form-select--white">
                                        <select name="count" class="has-border">
                                            <option value="">Укажите количество</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="300">300</option>
                                            <option value="400">400</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-field form-field--lg modal_catalog-form_actions">
                                    <button class="btn btn-red-fill btn--full">В корзину</button>
                                    <a href="javascript:void(0)" class="modal_catalog-form_actions--like">
                                        <i class="icon icon-like-grey">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-like-lg"/>
                                            </svg>
                                        </i>
                                    </a>
                                </div>
                            </form>
                            <!--script for 'add-to-cart' validation: BEGIN-->
                            <script>
                                window.onload = function(){
                                    $('[data-form="add-to-cart-modal"] form').validate({
                                        rules: {
                                            count: {required: true}
                                        },
                                        messages: {
                                            count: {required: ""}
                                        },
                                        submitHandler: function (form) {

                                            // if (form.valid()){
                                            // SUBMIT form script
                                            // }

                                            return false;
                                        }
                                    })
                                }
                            </script>
                            <!--script for 'add-to-cart' validation: END-->
                        </div>
                        <div class="text-box">
                            <p>Доставка: 48 часов по СНГ <br>до 7 дней по миру</p>
                            <p>Артикул: 43223</p>
                            <p>Габариты: 300 х 200 х 100</p>
                            <p>Вес: 3 кг</p>
                            <p>Толщина: 30 см</p>
                        </div>
                        <div class="text-box">
                            <p>Перед Вами форма, которая выполнена из самой качественной модификации полиуретана - PVP (поливинилпласт).</p>
                            <p>В отличии от классической полиуретановой и силиконовой формы, форма из PVP является универсальной и не имеет ограничений в работе:</p>
                            <p>- предназначена для работы с цементом, гипсом, смолами, полимерами и другими материалами.</p>
                            <p>- не требует разделительной смазки! Вы можете производить распалубку бетонных изделий через день или месяц, этот процесс будет простым и легким, без залипания и брака.</p>
                            <p>- мягкая и эластичная, выдерживает более 3000 цикловзаливки бетоном.</p>
                            <p>- не теряет геометрию и прекрасно удерживает пигменты на поверхности, что позволяет использовать все техники окраски камня.</p>
                            <p>- твердость формы по Шор - 45 A.</p>
                        </div>
                    </div>
                    <div class="modal_catalog-link">
                        <a href="catalog-item.html" class="btn btn-green btn--full">
                            Смотрите больше информации о товаре &bull;&bull;&bull;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--modal END-->