<!--modal BEGIN-->

<div class="modal">

    <div class="modal-bg close"></div>

    <div class="modal-section--box" data-modal="catalog-item">

    </div>
    <div class="modal-section--box" data-modal="popup">
        <div class="modal-container content content--xxs">
            <div class="modal-wrap">
                <div class="custom_modal">
                    <button class="modal-close close">
                        <i class="icon icon-close">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"/>
                            </svg>
                        </i>
                    </button>
                    <div class="custom_modal-main">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--modal END-->