<!--notification BEGIN-->

<div class="notification">
    <div class="notification-section error" >
        <span class="close">
            <i class="icon">
                <svg><use xlink:href="#icon-close"/></svg>
            </i>
        </span>
        <div class="notification-main">
            <i class="icon notification-icon">
                <svg><use xlink:href="#icon-info"/></svg>
            </i>
            <div class="notification-text">
                Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>
    <div class="notification-section" >
        <span class="close">
            <i class="icon">
                <svg><use xlink:href="#icon-close"/></svg>
            </i>
        </span>
        <div class="notification-main">
            <i class="icon notification-icon">
                <svg><use xlink:href="#icon-info"/></svg>
            </i>
            <div class="notification-text">
                Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>

</div>

<!--notification END-->