<li class="short_listing-item">
    <div class="short_listing-item--img">
        <a href="#" class="short_listing-item--img_box">
            <img src="https://http2.mlstatic.com/pigmento-en-pasta-colorante-amarillo-rojo-verde-azul-D_NQ_NP_841875-MLV29210069926_012019-F.jpg"
                 alt="@@title">
        </a>
    </div>
    <div class="short_listing-item--data">
        <div class="short_listing-item--heading">
            <div class="short_listing-item--title">
                <a href="#">@@title</a>
            </div>
            <div class="short_listing-item--category">
                Краситель
            </div>
        </div>
        <div class="short_listing-item--price">
            3456&#x20bd;
        </div>
    </div>
</li>