.desktop,
.tablet.landscape {
  [data-slide='7'] {
    transform: translateY(100%);
    .head {
      width: 40%;
      left: 50%;
      padding-left: 75px;
      padding-right: 25px;
      margin-bottom: 3vh;
      position: absolute;
      bottom: 80vh;
    }
    .title {
      color: $white;
      position: relative;
      z-index: 2;
      transform: translateY(100%);
    }
    .items-box {
      position: absolute;
      z-index: 1;
      bottom: 50px;
      display: flex;
      align-items: center;
      @include media(hover,1481){
        left: 3vw;
        right: 3vw;
        top: 50px;
      }
      @include breakpoints(1201,1480){
        left: 8vw;
        right: 8vw;
        top: 50px;
      }
      @include media(screen,1200){
        left: 10vw;
        right: 10vw;
        top: 10vh;
      }
    }
    .items {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .item {
        width: 100%;
        max-width: 33.3333%;
        padding: 25px 3vw;
        opacity: 0;
        text-align: center;
        @include media(hover,1201){
          transform: translateY(30%);
        }
        @include media(screen,1200){
          transform: translateY(20%);
        }
      }
      img {
        height: 20vh;
        width: auto;
        display: block;
        margin: 0 auto 3vh;
        max-width: 80%;
      }
    }
  }
}

.mobile,
.tablet.portrait {
  [data-slide='7'] {
    padding: 20px;
    margin-bottom: 20px;
    .title {
      color: $white;
    }
    .item {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5% 0;
      text-align: center;
      img {
        width: 70vw;
        height: auto;
        margin: 0 auto 6vw;
      }
    }
  }
}