.loader {
	-webkit-filter: url("#goo");
	filter: url("#goo");
	position: relative;
	width: 500px;
	height: 100px;
	margin: 0 auto;
}

.loader svg {
	height: 0;
}

.loader::after {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #F9690E;
	margin: 0 auto;
	position: absolute;
	top: 25px;
	left: 225px;
	-webkit-animation: scale 2.5s ease-in-out infinite;
	animation: scale 2.5s ease-in-out infinite;
}

.loader div {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #F9690E;
	top: 35px;
	left: 235px;
	-webkit-animation: move 2.5s ease-in-out infinite alternate;
	animation: move 2.5s ease-in-out infinite alternate;
}

.loader div::after, .loader div::before {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #F9690E;
}

.loader div::before {
	left: -50px;
}

.loader div::after {
	left: 50px;
}

@-webkit-keyframes move {
	0% {
		-webkit-transform: translateX(-130px);
		transform: translateX(-130px);
	}
	100% {
		-webkit-transform: translateX(130px);
		transform: translateX(130px);
	}
}

@keyframes move {
	0% {
		-webkit-transform: translateX(-130px);
		transform: translateX(-130px);
	}
	100% {
		-webkit-transform: translateX(130px);
		transform: translateX(130px);
	}
}

@-webkit-keyframes scale {
	10% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
	}
	90% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale {
	10% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
	}
	90% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.link-black, .link-black:visited, .link-black:focus {
	color: #30343F;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.invalid, .invalid a, .invalid span {
	color: HSL(1.4, 100%, 74.5%)!important;
}