.flex {
    &-box {
        display: flex;
    }
    &-align_items {
        &--center {
            align-items: center;
        }
    }
    &-justify {
        &--right {
            justify-content: flex-end;
        }
        &--center {
            justify-content: center;
        }
        &--space {
            justify-content: space-between;
        }
    }
    &-wrap {
        flex-wrap: wrap;
    }
}