/*-------------------------------------------------------------------*/
/******************          intro box          **********************/
/*-------------------------------------------------------------------*/

.intro {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding: 240px 0;
  display: flex;
  align-items: center;
  @include media(screen,767){
    flex-direction: column;
    padding-bottom: 45px;
  }
  @include media(screen,599){
    padding-top: 85px;
  }
  &-values {
    @include media(screen,1023){
      font-size: 13px;
    }
    @include media(hover,768){
      position: absolute;
      left: 0;
      right: 0;
      bottom: 60px;
    }
    @include media(screen,767){
      position: relative;
    }
    .intro-text {

      line-height: 1.6;
      color: $white;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 300;
      text-align: center;
      @include media(hover,1024){
        font-size: 21px;
      }
      @include media(screen,1023){
        font-size: 17px;
      }
    }
    .scroll-down {
      @include media(hover,768){
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 30px auto 0;
        border-radius: 50%;
        transition: all 0.2s;
        &:hover {
          background-color: rgba($white,0.1);
        }
      }
      @include media(screen,767){
        display: none;
      }
    }
    ul {
      display: flex;
      align-items: flex-start;
      @include media(screen,767){
        flex-direction: column;
      }
      li {

        box-sizing: border-box;
        padding-right: 30px;
        display: flex;

        color: $white;
        i {
          display: block;

          @include media(hover,1025){
            width: 64px;
            height: 64px;
            margin-right: 20px;
          }
          @include media(screen,1024){
            width: 48px;
            height: 48px;
            margin-right: 15px;
          }
        }
        .text {

          flex-shrink: 500;
          font-family: Futuris, sans-serif;
          text-transform: uppercase;
          line-height: 1.5;
          @include media(hover,1025){
            padding-top: 5px;
          }
        }
        @include media(hover,768){
          width: 33.3333%;
          align-items: flex-start;
        }
        @include media(screen,767){
          width: 100%;
          align-items: center;
          margin-bottom: 20px;
        }
      }
    }
  }
  &--main {
    position: relative;
    width: 100%;

    @include media(screen,1023){
      max-width: 600px;
      margin: 0 auto;
    }
    @include media(screen,767){
      margin-bottom: 60px;
    }
  }
}

/*--------------------------------------------------------------------*/
/******************          offers box          **********************/
/*--------------------------------------------------------------------*/

.offers {
  @include media(hover,600){
    padding: 40px 0;
  }
  @include media(screen,599){
    padding: 20px 0;
  }
  &--wrap {
    display: flex;
    flex-flow: row wrap;
    margin: -10px;
  }
  &--grid {
    width: 100%;
    padding-top: 75%;
    height: 0;
    position: relative;
    [data-item="1"]{left: 0; top: 0;}
    [data-item="2"]{right: 0; top: 0;}
    [data-item="3"]{right: 0; bottom: 0;}
    [data-item="4"]{left: 0; bottom: 0;}
    [data-item="5"]{left: 25%; bottom: 0;}

  }

  .item {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &-box {
      position: absolute;
      &.item-lg {
        width: 50%;
        padding-top: 50%;
        a {
          align-items: flex-end;
        }
      }
      &.item-md {
        width: 50%;
        padding-top: 25%;
        a {
          align-items: flex-end;
        }
      }
      &.item-sm {
        width: 25%;
        padding-top: 25%;
        a {
          align-items: center;
          header {
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
          }
        }
      }
    }


    a {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;

      figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %cover;
        transition: transform 0.65s;
        will-change: transform;
      }
      header {
        position: absolute;
        padding: 40px 60px;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        background-color: rgba($black,0.5);
        transition: background-color 0.35s;
      }
      .title {
        position: relative;
        z-index: 2;
        color: $white;
        text-transform: uppercase;
        font-family: Futuris, sans-serif;

        text-shadow: 0 3px 5px rgba($black,0.2);
        @include media(hover,1200){
          font-size: 30px;
        }
        @include media(screen,1199){
          font-size: 26px;
        }

        @include media(screen,599){
          font-size: 18px;
        }

      }
      .subtitle {
        color: $white;
        margin-bottom: 35px;
        font-size: 17px;
        font-weight: 100;
        margin-top: 15px;
      }
      &:hover {
        @include media(hover,1025){
          figure {
            transform: scale(1.05);
          }
          &:before {background-color: rgba($btn,0.5);}
        }
      }
      @include media(hover,1024){
        padding: 65px;
      }
      @include breakpoints(600,1023){
        padding: 45px;
      }
      @include media(screen,599){
        padding: 25px;
      }

    }
  }
}

/*--------------------------------------------------------------------*/
/*****************          qualities box          ********************/
/*--------------------------------------------------------------------*/

.qualities {
  margin-bottom: 40px;
  &--main {

    padding: 30px 0 40px;
  }
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    @include media(hover,768){

    }
    @include media(screen,767){
      flex-direction: column;
    }
    li {

      box-sizing: border-box;
      text-align: center;

      line-height: 1.6;
      padding: 0 20px;
      @include media(hover,1024){
        font-size: 17px;
      }
      @include media(screen,1023){
        font-size: 15px;
      }
      @include media(hover,768){
        width: 33.3333%;
      }
      @include media(screen,767){
        width: 100%;
        &:not(:last-child){
          margin-bottom: 30px;
        }
      }
    }
    .num {
      font-family: Futuris, sans-serif;
      color: #fff;
      text-shadow: 0 0 30px rgba($btn,0.5);
      line-height: 1.2;
      font-size: 115px;
      margin-bottom: 5px;
    }
    .title {
      font-family: Futuris, sans-serif;
      color: $text;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  .btns_center {
    .btn_subm {font-size: 13px;}
  }
}

/*----------------------------------------------------------------------*/
/*****************          best offers box          ********************/
/*----------------------------------------------------------------------*/

.best-offers {
  &:not(:last-child){margin-bottom: 40px;}
  .grid-list {
    &:not(:last-child){margin-bottom: 40px;}
  }
}


/*---------------------------------------------------------------*/
/*****************          blog box          ********************/
/*---------------------------------------------------------------*/

.blog-section {
  margin-bottom: 40px;
}


/*------------------------------------------------------------------*/
/*****************          banners box          ********************/
/*------------------------------------------------------------------*/

.banners {
  margin-bottom: 40px;
  &-box {
    margin: 0 -10px;
    display: flex;
    align-items: stretch;
    @include media(hover,1024){

    }
    @include media(screen,1023){
      flex-direction: column;
    }
  }
  .ban {

    box-sizing: border-box;
    padding: 0 10px;
    .banner-item {
      width: 100%;
      padding-top: 50%;
      position: relative;
      figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          display: block;
          height: 100%;
        }
      }
    }
    .info {
      //background-color: $pink;
      display: flex;
      height: 100%;
      position: relative;
      align-items: center;
      overflow: hidden;
      justify-content: center;
      //@include media(hover,1024){
      //  &:before {
      //    content: "";
      //    right: 0;
      //    top: 0;
      //    width: 200%;
      //    height: 80%;
      //    background: $pink_dark;
      //    background: -moz-linear-gradient(top, $pink_dark 0%, $pink 100%);
      //    background: -webkit-linear-gradient(top, $pink_dark 0%,$pink 100%);
      //    background: linear-gradient(to bottom, $pink_dark 0%,$pink 100%);
      //    position: absolute;
      //    transform-origin: top right;
      //    transform: rotate(-26.57deg);
      //  }
      //}

      &-text {
        text-align: center;
        position: relative;
        box-sizing: border-box;
        padding: 30px;
        max-width: 600px;
        line-height: 1.2;
        @include media(hover,1600){
          font-size: 37px;
        }
        @include breakpoints(1200,1599){
          font-size: 28px;
        }
        .title {
          color: $border;
          font-size: 16px;
          text-transform: uppercase;
          font-family: Futuris, sans-serif;
          margin-bottom: 30px;
        }
        .btns_center {
          margin-top: 50px;
        }
      }
    }
    @include media(hover,1024){
      width: 50%;
    }
    @include media(screen,1023){
      width: 100%;
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }
}


/*------------------------------------------------------------------*/
/*****************          request box          ********************/
/*------------------------------------------------------------------*/

.home-request {
  &--wrap {
    padding-top: 80px;
    @include media(screen,599){
      margin: 0 -20px;
    }
  }
  &--main {
    position: relative;
    @extend %cover;
    .form-request {
      position: relative;
      transform: translateY(-80px);
    }
  }
}