/*-------------------------------------------------------------------*/
/******************          intro box          **********************/
/*-------------------------------------------------------------------*/

.intro {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding: 240px 0;
  display: flex;
  align-items: center;
  &-values {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    ul {
      display: flex;
      align-items: flex-start;
      li {
        width: 33.3333%;
        box-sizing: border-box;
        padding-right: 30px;
        display: flex;
        align-items: flex-start;
        color: $white;
        i {
          display: block;
          width: 64px;
          height: 64px;
          margin-right: 20px;
        }
        .text {
          padding-top: 5px;
          flex-shrink: 500;
          font-family: Futuris, sans-serif;
          text-transform: uppercase;
          line-height: 1.5;
        }
      }
    }
  }
  &--main {
    position: relative;
    width: 100%;

  }
}

/*--------------------------------------------------------------------*/
/******************          offers box          **********************/
/*--------------------------------------------------------------------*/

.offers {
  padding: 40px 0;
  &--wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
  }
  .item {
    box-sizing: border-box;
    padding: 0 10px;
    height: 450px;
    &:first-child{
      width: 100%;
      margin-bottom: 20px;
    }
    &:not(:first-child){
      width: 50%;
    }
    a {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      box-sizing: border-box;
      padding: 65px;
      figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %cover;
        transition: transform 0.65s;
        will-change: transform;
      }
      .title {
        position: relative;
        z-index: 2;
        color: $white;
        text-transform: uppercase;
        font-family: Futuris, sans-serif;
        font-size: 30px;
        max-width: 30vw;
        text-shadow: 0 3px 5px rgba($black,0.2);
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($text,0.5);
        z-index: 1;
        transition: background-color 0.35s;
      }
      &:hover {
        @include media(hover,1025){
          figure {
            transform: scale(1.05);
          }
          &:before {background-color: rgba($btn,0.5);}
        }
      }

    }
  }
}

/*--------------------------------------------------------------------*/
/*****************          qualities box          ********************/
/*--------------------------------------------------------------------*/

.qualities {
  margin-bottom: 40px;
  &--main {
    background: $pink_dark;
    background: -moz-linear-gradient(left, $pink 0%, $pink_dark 100%);
    background: -webkit-linear-gradient(left, $pink 0%,$pink_dark 100%);
    background: linear-gradient(to right, $pink 0%,$pink_dark 100%);
    padding: 30px 0 40px;
  }
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    li {
      width: 33.3333%;
      box-sizing: border-box;
      text-align: center;
      font-size: 17px;
      line-height: 1.6;
      padding: 0 20px;
    }
    .num {
      font-family: Futuris, sans-serif;
      color: #fff;
      text-shadow: 0 0 30px rgba($btn,0.5);
      line-height: 1.2;
      font-size: 115px;
      margin-bottom: 5px;
    }
    .title {
      font-family: Futuris, sans-serif;
      color: $text;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

}

/*----------------------------------------------------------------------*/
/*****************          best offers box          ********************/
/*----------------------------------------------------------------------*/

.best-offers {
  margin-bottom: 40px;
  .grid-list {
    margin-bottom: 40px;
  }
}


/*---------------------------------------------------------------*/
/*****************          blog box          ********************/
/*---------------------------------------------------------------*/

.blog-section {
  margin-bottom: 40px;
}


/*------------------------------------------------------------------*/
/*****************          banners box          ********************/
/*------------------------------------------------------------------*/

.banners {
  margin-bottom: 40px;
  &-box {
    margin: 0 -10px;
    display: flex;
    align-items: stretch;
  }
  .ban {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    .banner-item {
      width: 100%;
      padding-top: 50%;
      position: relative;
      figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          display: block;
          height: 100%;
        }
      }
    }
    .info {
      background-color: $pink;
      display: flex;
      height: 100%;
      position: relative;
      align-items: center;
      overflow: hidden;
      justify-content: center;
      &:before {
        content: "";
        right: 0;
        top: 0;
        width: 200%;
        height: 80%;
        background: $pink_dark;
        background: -moz-linear-gradient(top, $pink_dark 0%, $pink 100%);
        background: -webkit-linear-gradient(top, $pink_dark 0%,$pink 100%);
        background: linear-gradient(to bottom, $pink_dark 0%,$pink 100%);
        position: absolute;
        transform-origin: top right;
        transform: rotate(-26.57deg);
      }
      &-text {
        text-align: center;
        position: relative;
        font-size: 37px;
        box-sizing: border-box;
        padding: 30px;
        max-width: 600px;
        line-height: 1.2;
        .title {
          color: $border;
          font-size: 16px;
          text-transform: uppercase;
          font-family: Futuris, sans-serif;
          margin-bottom: 30px;
        }
        .btns_center {
          margin-top: 50px;
        }
      }
    }
  }
}


/*------------------------------------------------------------------*/
/*****************          request box          ********************/
/*------------------------------------------------------------------*/

.home-request {
  &--wrap {
    padding-top: 80px;
  }
  &--main {
    position: relative;
    @extend %cover;
    .form-request {
      position: relative;
      transform: translateY(-80px);
    }
  }
}