.selection-request {
  width: 100%;
  @include media(hover,600){
    padding: 40px 0 100px;
  }
  @include media(screen,599){
    padding: 40px 0;
  }
  header {
    margin-bottom: 40px;
  }
}

.placing-form {
  .vacancy-box & {
    margin-top: -120px;
    margin-bottom: 40px;
    position: relative;
    @include media(screen,599){
      padding: 0;
    }
  }
}