.selection-request {
  padding: 40px 0 100px;
  header {
    margin-bottom: 40px;
  }
}

.placing-form {
  .vacancy-box & {
    margin-top: -120px;
    margin-bottom: 40px;
    position: relative;
    @include media(screen,599){
      padding: 0;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}