.vacancy {

  &-box {
    background-color: $light-bg;
    padding: 40px 0;

  }
  &-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 -10px;
    &:not(:last-child){margin-bottom: 40px;}
    li {

      box-sizing: border-box;
      padding: 0 10px;
      margin-bottom: 20px;
      @include media(hover,1024){
        width: 50%;
      }
      @include media(screen,1023){
        width: 100%;
      }
    }
    a {
      display: flex;
      color: $border;
      width: 100%;
      height: 100%;
      background-color: $white;
      min-height: 80px;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 10px 20px;
      border-bottom: 1px solid $bg;
      transition: all 0.3s;
      @include media(screen,599){
        flex-direction: column;
        align-items: flex-start;
      }
      &:hover {
        @include media(hover,1025){
          box-shadow: 0 3px 10px 0 rgba($head,0.3);
        }
      }
    }
    .title {
      text-transform: uppercase;
      font-family: Futuris, sans-serif;
      font-size: 16px;
      color: $btn;

      flex-shrink: 500;
      @include media(hover,600){
        width: 45%;
      }
    }
    .price {
      font-weight: 400;
      @include media(screen,599){
        margin: 10px 0;
      }
    }
    .place {
      display: flex;
      font-weight: 400;
      align-items: center;

      @include media(hover,600){
        margin-left: 20px;
      }
      i {
        width: 21px;
        height: 21px;
        margin-right: 5px;
      }
    }
    .arrow {
      width: 10px;
      height: 20px;
      margin-left: 20px;
      @include media(screen,599){
        display: none;
      }
    }
  }
  &-advances {
    margin-bottom: 20px;
    ul {
      display: flex;
      align-items:flex-start;
      justify-content: space-between;
      flex-flow: row wrap;
      li {

        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        box-sizing: border-box;

        @include media(hover,1024){
          width: 35%;
          &:not(:last-child){
            padding-right: 40px;
          }
        }
        @include media(screen,1023){
          width: 100%;
          &:not(:last-child){
            margin-bottom: 20px;
          }
        }
      }
      i {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .text {
        flex-shrink: 500;
        line-height: 1.6;
        .title {
          text-transform: uppercase;
          font-family: Futuris, sans-serif;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
  &-terms {
    ul {
      display: flex;
      align-items:flex-start;
      justify-content: space-between;
      margin: 0 -20px;
      flex-flow: row wrap;
      li {
        box-sizing: border-box;
        padding: 0 20px;
        margin: 20px 0;
        @include media(hover,768){
          width: 33.3333%;
        }
        @include breakpoints(600,767){
          width: 50%;
        }
      }
      i {
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
        display: block;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .text {
        flex-shrink: 500;
        line-height: 1.6;
        .title {
          text-transform: uppercase;
          font-family: Futuris, sans-serif;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
  &-quotes {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    @include media(hover,1024){
      min-height: 600px;
    }
    @include media(screen,599){
      margin-top: 20px;
    }

    .figure {
      position: relative;
      overflow: hidden;
      @include media(hover,1024){
        width: 50%;
      }
      @include media(screen,1023){
        width: 100%;
        height: 350px;
      }
      figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %cover;
      }
      &.scaling {
        figure {
          transform: scale(1.1);
          transition: transform 15s;
          will-change: transform;
        }
      }
    }

    .text {
      box-sizing: border-box;
      align-self: center;
      @include media(hover,1200){
        padding: 50px 8% 50px 50px;
      }
      @include media(screen,1199){
        padding: 40px;
      }
      @include media(hover,1024){
        width: 50%;
      }
      @include media(screen,1023){
        width: 100%;
      }
      @include media(screen,599){
        padding: 20px 0 40px;
      }
      blockquote {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 21px;
        line-height: 1.7;
        margin-bottom: 40px;
        @include media(screen,599){
          font-size: 18px;
          line-height: 1.5;
        }
      }
      .contacts {

        ul {
          @include media(hover,1200){
            display: flex;
            align-items: center;
          }
        }
        li {
          display: flex;
          align-items: center;
          @include media(hover,1200){
            &:not(:last-child){margin-right: 20px;}
          }
          @include media(screen,1199){
            &:not(:last-child){margin-bottom: 10px;}
          }
        }
        i {
          color: $border;
          margin-right: 10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          &.ico-tel {
            padding: 3px;
          }
        }
        span,a {
          font-size: 16px;
          font-weight: 400;
          color: $text;
        }
        a {
          transition: all 0.3s;
          &:hover {
            @include media(hover,1025){
              color: $btn;
            }
          }
        }
      }
    }
  }
}

