<div class="listing-item--icons">
    <a href="javascript:void(0);"
       class="listing-item--like"
       data-open-modal="popup"
       onclick="functions.popup('Заголовок попапа', 'Под попапом сделай затемнение или блюр. We created unique online platform for your Real Estate experience. Carefully selected database of top properties, lands and market experts from all over the world provides unlimited e-market for your specific needs and inquiries in finding best solutions in proptech world.')">
        <i class="icon icon-like @@liked">
            <svg xmlns="http://www.w3.org/2000/svg">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-like"/>
            </svg>
        </i>
    </a>
    <button type="button" class="listing-item--info mobile-hidden" data-open-modal="catalog-item">i</button>
</div>
