.header {
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  transition: all 0.2s;
  &-top {
    background-color: $text;
    color: $text_lt;
    &--wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
    }
    &--telephone {
      color: $white;
      font-size: 4rem;
      margin-right: $padding_md;
    }
    &--nav {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 3.5rem;
      nav {
        ul {
          display: flex;
          align-items: center;
        }
        li {
          margin-right: $padding_md;
        }
        a {
          @include hover(){
            color: $white;
          }
        }
      }
    }
    &--search {
      width: 16px;
      height: 16px;
      display: block;
      margin: 0 10px;
      .fieldset {
        position: absolute;
        left: -5px;
        right: 0;
        top: 50%;
        height: 24px;
        margin-top: -12px;
        transition: all 0.3s;
        opacity: 0;
        pointer-events: none;
      }
      .input {
        width: 100%;
        height: 100%;
        background-color: $text;
        color: $white;
        border: 1px solid $border;
        border-radius: 30px;
        padding: 0 $padding_sm;
        font-size: 3rem;
        outline: none;

      }
      .label {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 10px;
        cursor: pointer;
        margin-top: -8px;
      }
      .submit {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -8px;
        pointer-events: none;
        opacity: 0;
        background: transparent;
        border: none;
      }
      .active-search {
        .fieldset {
          opacity: 1;
          pointer-events: auto;
        }
        .submit {
          pointer-events: auto;
        }
      }
    }
  }
  &-main {
    position: relative;
    background-color: $white;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 10px;
      background: rgba($border,0.16);
      background: -moz-linear-gradient(top, rgba($border,0.16) 0%, rgba($border,0) 100%);
      background: -webkit-linear-gradient(top, rgba($border,0.16) 0%,rgba($border,0) 100%);
      background: linear-gradient(to bottom, rgba($border,0.16) 0%,rgba($border,0) 100%);
    }
    &--wrap {
      transition: all 0.2s;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--logo {
      height: 50px;
      width: 200px;
      img {
        display: block;
        height: 100%;
        width: auto;
      }
    }
    &--nav {
      padding: 0 $padding_md;
      nav {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        line-height: 1.2;
      }
      ul {
        display: flex;
        align-items: stretch;
      }
      li {
        display: flex;
        align-items: center;
        position: relative;
        &:not(:last-child){
          margin-right: 2*$padding_md;
          &:after {
            content: "";
            left: 100%;
            width: 1px;
            top: 0;
            bottom: 0;
            height: $padding_sm;
            background-color: $text_lt;
            margin: auto;
            margin-left: $padding_md;
            position: absolute;
          }
        }
        a {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          position: relative;
          &:after {
            content: "";
            height: 3px;
            left: 0;
            right: 0;
            top: 100%;
            background-color: $link;
            position: absolute;
            margin-top: 5px;
            transition: all 0.3s;
            opacity: 0;
            transform: translateY(100%);
          }
          &.active {
            &:after {
              opacity: 1;
              transform: translateY(0);
            }
          }
          @include hover(){
            &:after {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
    &--stats {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .stats-likes,
      .stats-prods {
        font-size: 3.5rem;
        display: flex;
        align-items: center;
        margin-left: $padding_md;
      }
      .icon-likes {
        width: 20px;
        height: 16px;
        margin-left: 15px;
      }
      .icon-basket {
        width: 19px;
        height: 20px;
        margin-left: 15px;
      }
    }
  }
  &.minimized {
    top: -40px;
    .header-main--wrap {
      height: 60px;
    }
  }
}