
// ====================== layout ======================

html {
  min-height: 100%;
  font-size: $font;
}
body {
  line-height: 1.4;
  font-weight: 400;
  color: $text;
  font-family: $font_family;
  @include mq($from: mobile_xl){
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 8px;
      background-color: $brand-01;
      z-index: 10;
    }
  }

}
svg {
  @include fullBlock;
  fill: currentColor;
}

// ====================== header ======================

$header-height: 120px;
$header-height-mobile: 56px;
$logo-prop: 256/84;
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  text-transform: uppercase;
  font-size: $font;
  font-weight: 500;
  letter-spacing: 2px;
}
.header-title {
  display: flex;
  @include mq($until: tablet_xl){
    position: absolute;
    top: $header-height-mobile/2;
    transform: translateY(-50%);
    left: 16px;
    z-index: 1;
  }
  &_inner {
    height: 48px;
    display: flex;
    align-items: center;
    border-left: 1px solid $text-02;
    padding-left: $gutter-x2;
    align-self: flex-end;
    margin-bottom: $padding;
    @include mq($until: tablet_xl){
      display: none;
    }
  }
}
.header-logo {
  font-size: 0;
  align-self: center;
  color: $link;
  @include mq($from: tablet_xl){
    width: 256px;
    height: 256px/$logo-prop;
    margin-right: $gutter-x2;
    transition: all 0.2s;
    .less-header & {
      width: 195px;
      height: 195px/$logo-prop;
    }
  }
  @include mq(mobile_sm, tablet_xl){
    width: 140px;
    height: 140px/$logo-prop;
  }
  @include mq($until: mobile_sm){
    width: 120px;
    height: 120px/$logo-prop;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.header-nav {
  @include mq($from: tablet_xl){
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $bg;
    height: $header-height;
    transition: transform 0.2s ease, box-shadow 0.1s ease 0.1s, height 0.2s ease;
    .less-header & {
      height: 80px;
      box-shadow: 0 0 4px 0 rgba($black,0.3);
    }
    .simple-header & {
      transform: translateY(-105%);
      box-shadow: none;
    }
  }
  @include mq($until: tablet_xl){
    //display: none;
    //height: 100vh;
    //background-color: $brand-01;
  }
  &_box {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding-top: 8px;
  }
}

.header-contact {
  height: $header-height-mobile;
  background-color: $white;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4px 0 rgba($black,0.3);
  @include mq($until: tablet_xl){

  }
  &_list {

  }
  &_item {
    @include mq($from: tablet_xl){
      margin-right: $padding-md;
    }
    @include mq($until: tablet_xl){

      .text {
        display: none;
      }
    }
    @include mq(mobile_sm, tablet_xl){
      margin-left: $padding-md;
      display: flex;
    }
    @include mq($until: mobile_sm){
      margin-left: $gutter-x2;
      display: flex;
    }
  }

  .burger-button {
    @include mq($from: tablet_xl){
      display: none;
    }
    display: inline-flex;
    width: 28px;
    height: 28px;
    @include resetBtn;

    position: relative;
    @include mq(mobile_sm, tablet_xl){
      margin-left: $padding-md;
    }
    @include mq($until: mobile_sm){
      margin-left: $gutter-x2;
    }
    span {
      position: absolute;
      height: 3px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: currentColor;
      border-radius: 2px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        border-radius: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: currentColor;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }
    }
  }
}

// ====================== nav ======================

.nav {
  display: flex;
  @include mq($until: tablet_xl){
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
  ul {
    display: flex;
    @include mq($from: tablet_xl){
      align-items: flex-end;
    }

  }
  li {
    margin-bottom: $padding;
    height: 48px;
    display: flex;
    align-items: center;
    @include mq($from: tablet_xl){
      margin-left: $gutter-x2;
    }
    @include mq($until: tablet_xl){

    }
  }
  a {
    color: inherit;
  }
}

// ====================== main ======================

.main {
  width: 100%;
  flex: 1 0 auto;
  @include mq($from: tablet_xl){
    padding-top: $header-height;
  }
  @include mq($until: tablet_xl){
    padding-top: $header-height-mobile;
  }
}
.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $bg;
}
.container {
  display: flex;
  flex-direction: column;
  //height: 100vh;
  .wrapper & {
    width: 100%;
    padding: 0;
  }
}

// ====================== footer ======================

.footer {
  flex-shrink: 0;
}
.footer-box {
  background-color: $text-01;
  color: $white;
}
.footer-inner {
  &_text {
    font-size: $font-lg;
  }
}
.footer-logo {
  font-size: 0;
  color: inherit;
  width: 256px;
  display: block;
  height: 256px/$logo-prop;
  margin-bottom: 40px;
}
.footer-auth {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: $font-sm;
  @include mq($from: tablet_xl){
    height: 100%;
  }
  @include mq($from: mobile_xl){
    padding: 0 2*$gutter-x2;
  }
  @include mq($until: mobile_xl){
    color: $text-02;
  }
  a {
    color: inherit;
  }
}