/**
Links

Description:
  You can use links in the frontend with following CSS Classes:
  
Markup:
  <div class="content-row">
    <div class="content-col content-col--auto">
      <a class="link_simple" href="">link_simple</a>
    </div>
    <div class="content-col content-col--auto">
      <a class="link_icon" href="">
        <i class="icon icon_size-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9,16.2,4.8,12,3.4,13.4,9,19,21,7,19.6,5.6Z"/></svg>
        </i>
        link_icon
      </a>
    </div>
  </div>

Weight: 1

Styleguide styleguide.cta.links
 */

.link {
  &_simple {
    @include resetBtn;
    display: inline-flex;
    font-size: $font;
    color: $link;
    font-weight: 500;
    @include hover(){
      color: darken($link, 8);
    }
  }
  &_icon {
    @include resetBtn;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: $font;
    color: inherit;
    font-weight: 500;
    cursor: pointer;
    .icon {
      margin-right: $padding-sm;
      flex-shrink: 0;
    }
  }
}