<tr>
    <td class="cart_table-cell--part">
        <div class="cart_table-item">
            <div class="cart_table-item--img">
                <include src="../item/elements/img.html"
                         title="Колотый кирпич"
                         class="cart_table-item--img_box"
                         imgUrl="item-02"
                ></include>
            </div>
            <div class="cart_table-item--heading">
                <include src="../item/elements/title.html" class="cart_table-item--title" title="Колотый кирпич"></include>
                <div class="cart_table-item--category">
                    Краситель
                </div>
            </div>
        </div>
    </td>
    <td class="cart_table-cell--count">
        <div class="cart_table-item--count spinner">
            <button type="button" class="cart_table-item--count_btn minus">&ndash;</button>
            <span class="cart_table-item--count_total total" data-total="12"></span>
            <button type="button" class="cart_table-item--count_btn plus">+</button>
        </div>
    </td>
    <td class="cart_table-cell--price cart_table-cell--term">
        <div class="cart_table-cell--term_title wide-hidden">Скидка: </div>
        <div class="cart_table-item--old_price">
            3456&#x20bd;
        </div>
    </td>
    <td class="cart_table-cell--price cart_table-cell--term">
        <div class="cart_table-cell--term_title wide-hidden">Стоимость: </div>
        <div class="cart_table-item--actual_price">
            3336&#x20bd;
        </div>
    </td>
    <td class="cart_table-cell--action">
        <div class="cart_table-item--remove">
            <a href="javascript:void(0);" class="icon icon-remove">
                <svg xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"/>
                </svg>
            </a>
        </div>
    </td>
</tr>