<tr>
    <td class="cart_table-cell--part">
        <div class="cart_table-item">
            <div class="cart_table-item--img">
                <include src="../item/elements/img.html"
                         title="Колотый кирпич"
                         class="cart_table-item--img_box"
                         imgUrl="item-04"
                ></include>
            </div>
            <div class="cart_table-item--heading">
                <include src="../item/elements/title.html" class="cart_table-item--title" title="Колотый кирпич"></include>
                <div class="cart_table-item--category">
                    Краситель
                </div>
            </div>
        </div>
    </td>
    <td class="u-align-center cart_table-cell--count cart_table-cell--term">
        <div class="cart_table-cell--term_title wide-hidden">Количество: </div>
        <span class="cart_table-item--count_total" data-total="12"></span>
    </td>
    <td class="cart_table-cell--price cart_table-cell--term">
        <div class="cart_table-cell--term_title wide-hidden">Скидка: </div>
        <div class="cart_table-item--old_price">
            3456&#x20bd;
        </div>
    </td>
    <td class="cart_table-cell--price cart_table-cell--term">
        <div class="cart_table-cell--term_title wide-hidden">Стоимость: </div>
        <div class="cart_table-item--actual_price">
            3336&#x20bd;
        </div>
    </td>
    <td></td>
</tr>