<tr class="orders_table-row fn-expand-table-box">
    <td>122122</td>
    <td>12.10.2019</td>
    <td>3456&#x20bd;</td>
    <td>Отправлен</td>
    <td>343534</td>
    <td>
        <button type="button" class="orders_table-expand_btn btn-expand fn-expand-table-btn"></button>
    </td>
</tr>
<tr class="orders_table-cart fn-expand-table-box">
    <td colspan="6">
        <div class="cart_table fn-expand-table-data">
            <table>
                <thead>
                <tr>
                    <th>Товар</th>
                    <th class="u-align-center">Кол-во упаковок</th>
                    <th>Скидка</th>
                    <th>Стоимость</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <include src="./cart-table-row-for-orders.html" ></include>
                    <include src="./cart-table-row-for-orders.html" ></include>
                    <include src="./cart-table-row-for-orders.html" ></include>
                </tbody>
            </table>
        </div>
    </td>
</tr>