@import "partials/listing";
@import "blog";

.composing-box {

  @include mq($from: tablet_sm) {
    padding-top: $padding-lg;
    padding-bottom: $padding-md;
  }
  @include mq($until: tablet_sm) {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }
}