@import "partials/listing";
@import "partials/object";
@import "profile";
@import "article";
@import "analytics";
@import "faq";
@import "user";
@import "error";
@import "chat";
@import "service";
@import "home";
@import "partials/analytics/items";

.composing-box {
  @include mq($from: tablet_sm) {
    padding-top: $padding-lg;
    padding-bottom: $padding-md;
  }
  @include mq($until: tablet_sm) {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }

  &.composing-box--no_bg {

    @include mq($from: tablet_xl) {
      padding-bottom: $padding-xxl;
    }
    @include mq($until: tablet_xl) {
      padding-bottom: 80px;
    }
  }

  &.composing-box--bg_static {
    background-color: $brand-01;

    @include mq($from: tablet_xl) {
      padding-bottom: $padding-xxl;
    }
    @include mq($until: tablet_xl) {
      padding-bottom: $padding-xl;
    }
  }
  &.composing-box--bg_user {

    @include mq($from: tablet_xl) {
      padding-bottom: $padding-xxl;
    }
    @include mq($until: tablet_xl) {
      padding-bottom: $padding-xl;
    }
  }
  &.composing-box--bg_alternate {
    background-color: $brand-03;

    @include mq($from: tablet_xl) {
      padding-bottom: $padding-xxl;
    }
    @include mq($until: tablet_xl) {
      padding-bottom: $padding-xl;
    }
  }
}
.composing-heading {

  .composing-box--bg_static & {

    @include mq($from: desktop_sm) {
      margin-bottom: $padding-xxl;
    }
    @include mq(tablet_sm, desktop_sm) {
      margin-bottom: $padding-xl;
    }
    @include mq($until: tablet_sm) {
      margin-bottom: $padding-md;
    }
  }

}

.page_box {
  padding-top: $padding-xl;
}