.analytic {
  &_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
    
    @include mq($until: desktop_xl) {
      justify-content: space-between;
    }
    @include mq($from: mobile_xl) {
      padding-top: $padding-xl;
    }
    @include mq($until: mobile_xl) {
      padding-top: $padding-lg;
    }
    &-item {
      @include mq($from: desktop_xl) {
        padding-left: calc(100%/12);
        width: 25%;
        margin-bottom: $padding-xxl - $padding;
      }
      @include mq(tablet_xl, desktop_xl) {
        width: 100%;
        max-width: 28%;
        margin-bottom: 80px;
      }
      @include mq(mobile_xl, tablet_xl) {
        width: 100%;
        max-width: 44%;
        margin-bottom: $padding-xl;
      }
      @include mq($until: mobile_xl) {
        width: 100%;
        margin-bottom: $padding-xl;
      }
    }
  }
  &_carousel {
    @include mq($from: tablet_xl) {
      margin-top: $padding-xxl;
    }
    @include mq($until: tablet_xl) {
      margin-top: 80px;
    }
  }
}