.service {
  &_img {
    width: 100%;
    position: relative;
    @include mq($from: desktop_sm) {
      margin-top: $padding-xl;
    }
    @include mq(tablet_xl, desktop_sm) {
      margin-top: $padding-lg;
    }
    @include mq($until: tablet_sm) {
      display: none;
    }
    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
      border-radius: 150px 0 0 150px;
    }
    img {
      @extend %full_block;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &_request {
    position: absolute;
    bottom: 0;

    overflow: hidden;
    @include mq($from: tablet_sm) {
      left: 0;
      right: 0;
    }
    @include mq($until: tablet_sm) {
      transform: translateY(50%);
      left: -1*$gutter-x2;
      right: -1*$gutter-x2;
    }
    .btn {
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Component_68_494%22%20data-name%3D%22Component%2068%20%u2013%20494%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2221%22%20height%3D%2218%22%20viewBox%3D%220%200%2021%2018%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_59%22%20data-name%3D%22Path%2059%22%20d%3D%22M4.01%2C6.03l7.51%2C3.22L4%2C8.25l.01-2.22m7.5%2C8.72L4%2C17.97V15.75l7.51-1M2.01%2C3%2C2%2C10l15%2C2L2%2C14l.01%2C7L23%2C12Z%22%20transform%3D%22translate%28-2%20-3%29%22%20fill%3D%22%23fff%22/%3E%0D%0A%3C/svg%3E%0D%0A');
      background-repeat: no-repeat;
      background-position: calc(100% - 32px) center;
      background-size: 21px auto;
      text-align: left;
      justify-content: flex-start;
      @include mq($from: tablet_sm) {
        position: relative;
        padding-left: 0;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          width: 50vw;
          background-color: $text-04;
          transition: all 0.18s;
        }
      }
      @include mq($until: mobile_xl) {
        padding: 0 $gutter-x2;
        font-size: $font;
      }


      @include hover(){
        &:before {
          background-color: darken($text-04, 8);
        }
      }
    }
  }
  &_page {

    @include mq($from: mobile_xl) {
      padding: $padding-xxl 0;
    }
    @include mq($until: mobile_xl) {
      padding: 104px 0;
    }
    &-section {
      &:not(:last-child){

        @include mq($from: desktop_sm) {
          margin-bottom: 2*$padding-xxl;
        }
        @include mq(tablet_sm, desktop_sm) {
          margin-bottom: $padding-xxl;
        }
        @include mq($until: tablet_sm) {
          margin-bottom: $padding-xl;
        }
      }
      &--title {

        @include mq($from: mobile_xl) {
          margin-bottom: 40px;
        }
        @include mq($until: mobile_xl) {
          margin-bottom: $gutter-x2;
          font-size: $font-md;
        }
      }
    }
    &-subsection {

      @include mq($from: desktop_sm) {
        &:not(:last-child){
          margin-bottom: 104px;
        }
      }
      @include mq($until: desktop_sm) {
        &:not(:last-child){
          margin-bottom: $padding-xl;
        }
      }
    }
    &-about {
      &--info {


        @include mq($from: tablet_xl) {
          margin-bottom: 104px;
        }
        @include mq(mobile_xl, tablet_xl) {
          margin-bottom: $padding-xl;
        }
        @include mq($from: mobile_xl) {
          display: flex;
          margin-bottom: $padding-lg;
        }

        dl {
          padding-right: $gutter-x2;
          width: 100%;
          @include mq($until: mobile_xl) {
            margin-bottom: $gutter-x2;
          }
        }
        dt {
          font-weight: 600;
          margin-bottom: 12px;
        }
        dd {
          font-size: $font-md;
        }
      }
      &--description {
        .h2 {
          font-size: $font-md;
        }
        @include mq($until: mobile_xl) {
          .h2 {
            font-size: 20px;
          }
        }
      }
    }
    &-3d {
      &--box {
        width: 100%;
        padding-bottom: 56%;
        height: 0;
        position: relative;
      }
      &--view {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
      }
      iframe {
        @extend %full_block;
      }
    }
    &-carousel {
      &--box {
        width: 100%;
        padding-bottom: 56%;
        height: 0;
        position: relative;
      }
      &--view {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
      }
      .gallery-carousel, .item {
        height: 100%;
      }
      .owl-stage-outer,
      .owl-stage,
      .owl-item {
        height: 100%;
      }
      .arrow {
        position: absolute;
        @extend %btn_reset;

        top: 0;
        bottom: 0;
        @include mq($from: tablet_sm) {
          margin: auto 0 auto calc(50vw + 33.3333%);
          width: 72px;
          height: 72px;
        }
        @include mq($until: tablet_sm) {
          margin: auto 0;
          right: $gutter-x2;
          width: 60px;
          height: 60px;
        }
        &-prev {
          color: $link;
          pointer-events: none;
          z-index: 1;
          &:after {
            @extend .pseudo-content;
            @extend .icon-arrow_down;
            @extend .icon-arrow_down--md;
            transform: translate(-50%,-50%) rotate(-135deg);
          }
        }
        &-next {
          background-color: $white;
          box-shadow: 0 4px 8px 0 rgba($black,0.16);
          transition: all 0.3s;

        }
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      &--item {
        width: 100%;
        margin-bottom: $gutter-x2;
        @include mq($from: desktop_sm) {
          max-width: 33.3333%;
          padding-left: calc(100%/12);
        }
        @include mq(tablet_sm, desktop_sm) {
          max-width: 28%;
          &:not(:nth-child(3n)){
            margin-right: 8%;
          }
        }
        @include mq($until: tablet_sm) {
          &:not(:last-child){
            margin-bottom: $padding-md;
          }
        }
        &_bg {

          position: relative;
          background-color: $white;
          display: flex;
          align-items: flex-end;
          margin-bottom: $gutter-x2;
          @include mq($from: desktop_sm) {
            width: 280px;
            height: 280px;
          }
          @include mq($until: desktop_sm) {
            width: 160px;
            height: 160px;
          }
          &.item_bg-type01 {
            border-radius: 50%;
          }
          &.item_bg-type02 {
            border-radius: 0 0 50%;
          }
          &.item_bg-type03 {
            border-radius: 50% 0 0;
          }
          .service_page-list--item_img {
            margin: 0;
            .img {
              @include mq($from: desktop_sm) {
                width: 128px;
                height: 128px;
              }
            }
          }
        }
        &_img {
          margin-bottom: $gutter-x2;
          .img {
            width: 80px;
            height: 80px;
            img {
              @extend %full_block;
              object-fit: cover;
            }
          }
        }
        &_counter {
          margin-bottom: $gutter;
          font-size: 80px;
          line-height: (96/80);
          font-weight: 300;
          color: $text-03;
        }
        &_title {

          margin-bottom: $padding;
          @include mq($from: mobile_xl) {
            font-size: $font-md;
          }
          @include mq($until: mobile_xl) {
            font-size: 20px;
          }
        }
        &_text {

        }
      }
    }
    &-quote {

      @include mq($from: tablet_xl) {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20584.001%20584%22%3E%3Cpath%20data-name%3D%22Subtraction%203%22%20d%3D%22M10343%2C1465a294.161%2C294.161%2C0%2C0%2C1-58.849-5.932%2C290.417%2C290.417%2C0%2C0%2C1-104.413-43.937%2C292.869%2C292.869%2C0%2C0%2C1-105.793-128.472%2C290.518%2C290.518%2C0%2C0%2C1-17.014-54.811%2C294.836%2C294.836%2C0%2C0%2C1%2C0-117.7%2C290.368%2C290.368%2C0%2C0%2C1%2C43.937-104.412%2C292.839%2C292.839%2C0%2C0%2C1%2C128.472-105.793%2C290.525%2C290.525%2C0%2C0%2C1%2C54.812-17.014%2C294.848%2C294.848%2C0%2C0%2C1%2C117.7%2C0%2C290.412%2C290.412%2C0%2C0%2C1%2C104.413%2C43.936%2C292.866%2C292.866%2C0%2C0%2C1%2C105.793%2C128.471%2C290.531%2C290.531%2C0%2C0%2C1%2C17.014%2C54.812%2C294.836%2C294.836%2C0%2C0%2C1%2C0%2C117.7%2C290.372%2C290.372%2C0%2C0%2C1-43.937%2C104.412%2C292.838%2C292.838%2C0%2C0%2C1-128.472%2C105.794%2C290.49%2C290.49%2C0%2C0%2C1-54.812%2C17.015A294.137%2C294.137%2C0%2C0%2C1%2C10343%2C1465Zm0-486c-106.972%2C0-194%2C87.029-194%2C194s87.027%2C194%2C194%2C194%2C194-87.027%2C194-194S10449.973%2C979%2C10343%2C979Z%22%20transform%3D%22translate%28-10051-881%29%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: calc(100%/12) 0;
        background-size: auto 85%;
      }
      @include mq($until: tablet_xl) {

      }
      &--custom_figure {
        @include mq($from: tablet_xl) {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          position: relative;
          margin-top: $padding-xxl + 88px + 56px;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 0 0 50% 0;
            background-color: $brand-05;
          }
        }
        @include mq($until: tablet_xl) {
          display: none;
        }

      }
      &--img {
        width: $padding-xxl;
        height: $padding-xxl;
        border-radius: 50%;
        overflow: hidden;

        @include mq($from: desktop_sm) {
          margin-bottom: 56px;
          margin-top: 88px;
        }
        @include mq(tablet_xl, desktop_sm) {
          margin-bottom: $padding-lg;
          margin-top: $padding-md;
        }
        @include mq($until: tablet_xl) {
          margin-bottom: $padding-lg;
        }
        img {
          @extend %full_block;
          object-fit: cover;
        }
      }
      &--text {
        font-weight: 300;
        color: $link;
        line-height: (64/48);
        position: relative;
        @include mq($from: tablet_sm) {
          font-size: 48px;
          margin-bottom: $padding-md;
        }
        @include mq(mobile_sm, tablet_sm) {
          font-size: $font-lg;
          padding-left: $gutter;
          margin-bottom: $padding-md;
        }
        @include mq($until: mobile_sm) {
          font-size: 28px;
          padding-left: $gutter;
          margin-bottom: $gutter-x2;
        }
        &:before {
          content: "\0022";
          position: absolute;
          top: 12px;
          right: 100%;
          @include mq($from: tablet_sm) {
            margin-right: $gutter-x2;
          }

        }
      }
    }
    &-checkpoints {

      width: 100%;
      @include mq($from: tablet_sm) {
        columns: 2 auto;
      }
      li {
        page-break-inside: avoid;
        break-inside: avoid;
        margin-bottom: $padding-md;

        position: relative;
        @include mq($from: tablet_sm) {
          padding-right: 20%;
          padding-left: $padding-lg;
        }
        @include mq($until: tablet_sm) {
          padding-left: $padding-md;
        }
        &:before {
          @extend .pseudo-content;
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22done-24px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_54%22%20data-name%3D%22Path%2054%22%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22/%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_55%22%20data-name%3D%22Path%2055%22%20d%3D%22M9%2C16.2%2C4.8%2C12%2C3.4%2C13.4%2C9%2C19%2C21%2C7%2C19.6%2C5.6Z%22%20fill%3D%22%2353545d%22/%3E%0D%0A%3C/svg%3E%0D%0A');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px auto;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    &-cta {
      
      @include mq($from: tablet_sm) {
        margin-top: 2*$padding-xl;
      }
      @include mq($until: tablet_sm) {
        margin-top: $padding-xl;
      }
      .btn {
        padding: 0 $gutter-x2;
        height: 80px;
        font-size: $font-md;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Component_68_494%22%20data-name%3D%22Component%2068%20%u2013%20494%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2221%22%20height%3D%2218%22%20viewBox%3D%220%200%2021%2018%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_59%22%20data-name%3D%22Path%2059%22%20d%3D%22M4.01%2C6.03l7.51%2C3.22L4%2C8.25l.01-2.22m7.5%2C8.72L4%2C17.97V15.75l7.51-1M2.01%2C3%2C2%2C10l15%2C2L2%2C14l.01%2C7L23%2C12Z%22%20transform%3D%22translate%28-2%20-3%29%22%20fill%3D%22%23fff%22/%3E%0D%0A%3C/svg%3E%0D%0A');
        background-repeat: no-repeat;
        background-position: calc(100% - 32px) center;
        background-size: 21px auto;
        @include mq($until: mobile_sm) {
          justify-content: flex-start;
        }
      }
    }
  }
}