@import "partials/article-listing";

.blog {
  &-section {
    margin-bottom: 80px;
  }
  &-grid {
    ul {
      display: flex;
      @include media(hover,1025){
        margin: 0 -1*$padding/2;
        flex-wrap: wrap;
      }
      @include breakpoints(681,1024){
        margin: 0 -7.5px;
        flex-wrap: wrap;
      }
      @include media(screen,680){
        flex-direction: column;
      }
    }
    li {
      @include media(hover,1025){
        padding: 0 $padding/2;
        margin-bottom: 30px;
        width: 50%;
      }
      @include breakpoints(681,1024){
        padding: 0 7.5px;
        margin-bottom: 15px;
        width: 50%;
      }
      @include media(screen,680){
        margin-bottom: 15px;
      }
    }
  }

  .item {
    width: 100%;
    display: block;
    position: relative;
    perspective: 1800px;
    @include hover(){
      .item-img {
        transform: scale(0.98) rotateX(-3deg);
        &:after {
          opacity: 1;
        }
        img {
          opacity: 0.9;
        }
      }
      .item-brief {
        opacity: 1;
      }
      .item-data,
      .item-title,
      .item-info {
        transform: translateX(0);
      }
      .item-title {
        color: $hover;
        &:before {
          width: calc(25% - 25px);
          transition: width 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
        }
      }
    }
    &-img {
      width: 100%;
      padding-bottom: 50%;
      position: relative;
      overflow: hidden;
      @include media(hover,1025){
        transform-origin: 50% 100%;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:after {
          content: "";
          transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          position: absolute;
          opacity: 0;
          top: 25%;
          left: 0;
          right: 0;
          bottom: 0;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.25s ease-in-out;
        will-change: transform;
        @include media(hover,1025){
          transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
      }
    }
    &-brief {
      width: 100%;
      color: $violet;
      @include media(hover,1025){
        padding: 28px 0 30px 20%;
        opacity: 0.75;
      }
      @include breakpoints(768,1024){
        padding: 28px 0 30px 20%;
      }
      @include media(screen,767){
        padding: 20px 0;
      }
    }
    &-data {
      font-size: $px*3.36rem;
      text-transform: uppercase;
      font-weight: 600;
      white-space: nowrap;
      margin-bottom: 15px;
      @include media(hover,1025){
        transform: translateX(-20%);
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }
    }
    &-tag {
      margin-right: 20px;
      position: relative;
      &:after {
        content: "";
        top: 50%;
        position: absolute;
        height: 13px;
        width: 2px;
        background-color: currentColor;
        right: -13px;
        transform: translateY(-50%);
      }
    }
    &-title {
      font-size: $px*5.76rem;
      color: $text;
      line-height: 1.25;
      margin-bottom: 18px;
      transition: all 0.25s;
      position: relative;
      @include media(hover,1025){
        transform: translateX(-20%);
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.04s;
      }
      &:before {
        @include media(hover,1025){
          width: 0;
          transition: width 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        @include breakpoints(768,1024){
          width: calc(25% - 25px);
        }
        @include media(hover,768){
          content: "";
          position: absolute;
          top: 1rem;
          right: 100%;
          margin-right: $padding;

          background-color: $text;
          height: 2px;
        }
      }

    }
    &-info {
      font-size: $px*3.36rem;
      display: flex;
      align-items: center;
      @include media(hover,1025){
        transform: translateX(-20%);
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.08s;
      }
      span {
        display: inline-flex;
        align-items: center;
        margin-right: 30px;
      }
      .ico {
        margin-right: 12px;
      }
      svg {
        fill: $violet_light;
      }
      .favorite {
        .ico {
          width: 15px;
          height: 15px;
          svg {
            stroke: $violet_light;
            fill: none;
          }
          &.favorite {
            svg {
              fill: $hover;
              stroke: $hover;
            }
          }
        }
      }
      .views {
        .ico {
          width: 16px;
          height: 16px;
        }
      }
      .comments {
        .ico {
          width: 19px;
          height: 20px;
        }
      }
    }
  }
  .notification {
    background-color: #ffeeda;

    font-size: $px*3.36rem;
    font-weight: 600;
    @include media(hover, 768) {
      padding: $padding 40px;
      margin-bottom: $padding;
    }
    @include media(screen, 767) {
      padding: 15px;
      margin-bottom: 15px;
    }
  }
  .pagination {
    margin-top: 20px;
  }
}

