@import "home/banner";
@import "home/about";
@import "home/services";
@import "home/articles";
@import "home/reviews";
@import "home/partners";

.home-portfolio {
  @include media(hover,1025){
    margin-bottom: 70px;
  }
  @include breakpoints(601,1024){
    margin-bottom: 35px;
  }
  @include media(screen,600){
    margin-bottom: 20px;
  }
}





