.logo {
  display: inline-flex;
  align-items: center;
  color: $btn-red;
  font-size: $font-md;
  &-img {

    @include mq($from: desktop) {
      width: 156px;
      height: 40px;
    }
    @include mq(mobile, desktop) {
      width: 120px;
      height: 32px;
    }
    @include mq($until: mobile) {
      width: 80px;
      height: 22px;
    }
  }
}