.popup {
  
  @include mq($from: mobile_xl) {
    padding-top: 112px;
  }
  @include mq($until: mobile_xl) {
    align-self: center;
    margin: auto;
  }
  &_box {
    display: flex;
    flex-direction: column;
    position: relative;
    background: $white;
    box-shadow: 0 4px 32px 0 rgba($black,0.16);
    transition: opacity 0.25s, transform 0.25s;
    opacity: 0;
    transform: translateY(-100%);
    @include mq($from: tablet_sm) {
      min-width: 380px;
      max-height: calc(100vh - 2*#{$padding-lg});
    }
    @include mq(mobile_xl, tablet_sm) {
      max-height: calc(100vh - 2*#{$gutter-x2});
    }
    @include mq($from: mobile_xl) {
      border-radius: 60px 0 60px 60px;
      padding: 60px 48px 48px 48px;
    }
    @include mq($until: mobile_xl) {
      max-height: calc(100vh - 24px);
      border-radius: 0;
      margin: 0 -12px;
      padding: 32px 32px 24px 24px;
    }
    &.info {
      background-color: $white;
    }
    &.warning {
      background-color: #ffe8c9;
    }
    &.success {
      background-color: #f1fce7;
    }
    .opened & {
      transform: translateY(0);
      opacity: 1;
    }
    .modal_close {
      @include resetBtn;
      position: absolute;
      top: $gutter-x2;
      right: $gutter-x2;
      color: $brand-02;
      display: flex;
      @include mq($until: mobile_xl) {
        width: 24px;
        height: 24px;
        top: 20px;
        right: 20px;
      }
    }
    &-col {
      padding: 0 $gutter;
    }
    &-main {
      overflow: auto;
      margin-right: -10%;
      padding-right: 10%;
      &--title {
        margin-bottom: $padding-md;
        .icon {
          margin-right: $padding-sm;
        }
        .title-icon {
          &[data-title-icon='success']{
            color: $ui-02;
          }
          &[data-title-icon='warning']{
            color: #ff8a65;
          }
          &[data-title-icon='info']{
            display: none;
          }
        }
      }
      &--buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          margin: $gutter-x2 $gutter 0;
        }
      }
    }
  }
}