.footer-box {
  position: relative;
  padding: 160px 0 85px;
  background-repeat: no-repeat;
  background-image: url("../svg/bg/crumbs-footer.svg");
  background-position: calc(100% - 90px) bottom;
}

.footer-inner {
  padding-bottom: 20px;
  &_text {
    color: $text-02;
    padding-top: 44px;
    position: relative;
    &:before {
      content: "";
      top: 0;
      left: 0;
      height: 4px;
      width: 20%;
      background-color: currentColor;
      position: absolute;
    }
  }
}

.footer-logo {

}

.footer-auth {

}