.header {

}

.header-contact {

  @include mq($from: tablet_xl){

  }

  &_link {
    display: inline-flex;
    align-items: center;
    color: inherit;
    .icon {
      margin-right: $padding-sm;
    }
    @include hover(){
      color: $link;
    }
  }
}