.header {

}

.header-title {
  @include mq($until: tablet_xl){
    .menu-enabled & {
      z-index: 10;

    }
  }
}

.header-logo {
  @include mq($until: tablet_xl){
    .menu-enabled & {
      color: $white;
    }
  }

}

.header-contact {

  @include mq($from: tablet_xl){

  }

  &_inner {
    display: flex;
    align-items: center;
  }
  &_list {
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include mq($until: tablet_xl){
      justify-content: flex-end;
    }
  }
  &_link {
    display: inline-flex;
    align-items: center;
    color: inherit;
    .icon {
      @include mq($from: tablet_xl){
        margin-right: $padding-sm;
      }
    }
    @include hover(){
      color: $link;
    }
  }

  .header-bg {
    transition: all 0.35s;
    @include mq($from: tablet_xl){
      display: none;
    }
    @include mq($until: tablet_xl){
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      opacity: 0;
      background-color: rgba($black,0.5);
      .menu-enabled & {
        opacity: 1;
        pointer-events: auto;
      }
    }

  }
}