<!--sidebar BEGIN-->

<div class="sidebar sidebar-sticky">
    <div class="sidebar-section sidebar-section--filters">
        <input type="checkbox" id="open_filters" class="open_filters">
        <label for="open_filters" class="btn open_filters-btn">Фильтры <i></i></label>
        <div class="form">
            <form action="#">
                <div class="sidebar-filters">
                    <div class="sidebar-filters--fieldset">
                        <h4 class="sidebar-filters--title title-reg">Цена</h4>
                        <div class="range">
                            <div class="range-slider"
                                 data-range-min="100"
                                 data-range-max="1000"
                                 data-range-step="50"
                                 data-range-start="500,800"
                            >
                                <div class="no-ui-slider" id="uuu" ></div>
                                <div class="range-slider--inputs">
                                    <input type="number" value="500" >
                                    <span class="dash"></span>
                                    <input type="number" value="800">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-filters--fieldset">
                        <h4 class="sidebar-filters--title title-reg">Толщина, М</h4>
                        <div class="range">
                            <div class="range-slider"
                                 data-range-min="20"
                                 data-range-max="80"
                                 data-range-step="5"
                                 data-range-start="35,55"
                            >
                                <div class="no-ui-slider"></div>
                                <div class="range-slider--inputs">
                                    <input type="number" value="35">
                                    <span class="dash"></span>
                                    <input type="number" value="55">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-filters--fieldset">
                        <h4 class="sidebar-filters--title title-reg">Габариты, см</h4>
                        <div class="sidebar-filters--checkbox_set">
                            <div class="form-checkbox">
                                <label class="checkbox-item">
                                    <input type="checkbox" name="size">
                                    <span class="checkbox-label">30х60х8</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <label class="checkbox-item">
                                    <input type="checkbox" name="size">
                                    <span class="checkbox-label">50х50х6</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <label class="checkbox-item">
                                    <input type="checkbox" name="size">
                                    <span class="checkbox-label">30х90х8</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <label class="checkbox-item">
                                    <input type="checkbox" name="size">
                                    <span class="checkbox-label">60х60х8</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-filters--fieldset">
                        <h4 class="sidebar-filters--title title-reg">Цвета</h4>
                        <div class="colors">
                            <div class="checkbox_color">
                                <label class="checkbox_color-item">
                                    <input type="checkbox" name="color">
                                    <span class="checkbox_color-label" style="background: #D8E6EE"></span>
                                </label>
                            </div>
                            <div class="checkbox_color">
                                <label class="checkbox_color-item">
                                    <input type="checkbox" name="color">
                                    <span class="checkbox_color-label" style="background: #8DABAC"></span>
                                </label>
                            </div>
                            <div class="checkbox_color">
                                <label class="checkbox_color-item">
                                    <input type="checkbox" name="color">
                                    <span class="checkbox_color-label" style="background: #7AA6BC"></span>
                                </label>
                            </div>
                            <div class="checkbox_color">
                                <label class="checkbox_color-item">
                                    <input type="checkbox" name="color">
                                    <span class="checkbox_color-label" style="background: #CDF2A9"></span>
                                </label>
                            </div>
                            <div class="checkbox_color">
                                <label class="checkbox_color-item">
                                    <input type="checkbox" name="color">
                                    <span class="checkbox_color-label" style="background: #436170"></span>
                                </label>
                            </div>
                            <div class="checkbox_color">
                                <label class="checkbox_color-item">
                                    <input type="checkbox" name="color">
                                    <span class="checkbox_color-label" style="background: #453F71"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-filters--fieldset sidebar-filters--btnset u-align-center">
                        <button type="reset" class="sidebar-filters--reset link u-nowrap">сбросить фильтр</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="sidebar-section sidebar-section--categories tablet-hidden">
        <div class="sidebar_categories">
            <ul class="sidebar_categories-list">
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Забор</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Каменный</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Деревянный</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Тротуарная плитка</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Тротуарная плитка 1</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Тротуарная плитка 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Искусственный камень</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Фасадный камень</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Тротуарная плитка</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Декоративный камень</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Декоративный камень в 2 строки</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Бетонные смеси</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Бетонные смеси 1</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Бетонные смеси 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Цемент</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Цемент 1</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Цемент 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Добавки</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Добавки 1</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Добавки 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--sidebar END-->