<!--sidebar BEGIN-->

<div class="sidebar sidebar-sticky">
    <div class="sidebar-section sidebar-section--categories tablet-hidden">
        <div class="sidebar_categories">
            <ul class="sidebar_categories-list">
                <li class="sidebar_categories-item fn-expand-box">
                    <a href="javascript:void(0);" class="sidebar_categories-title fn-expand-btn">Тротуарная плитка</a>
                    <ul class="sidebar_categories-sublist fn-expand-data">
                        <li class="sidebar_categories-item fn-expand-box">
                            <a href="javascript:void(0);" class="sidebar_categories-title fn-expand-btn">Тротуарная плитка 1</a>
                            <ul class="sidebar_categories-sublist fn-expand-data">
                                <li class="sidebar_categories-item">
                                    <a href="category.html" class="sidebar_categories-title fn-expand-btn">Искусственный камень</a>
                                </li>
                                <li class="sidebar_categories-item">
                                    <a href="category.html" class="sidebar_categories-title fn-expand-btn">Забор</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar_categories-item">
                            <a href="category.html" class="sidebar_categories-title fn-expand-btn">Тротуарная плитка 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item">
                    <a href="category.html" class="sidebar_categories-title fn-expand-btn">Фасадный камень</a>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <a href="javascript:void(0);" class="sidebar_categories-title fn-expand-btn">Декоративный камень</a>
                    <ul class="sidebar_categories-sublist fn-expand-data">
                        <li class="sidebar_categories-item fn-expand-box">
                            <a href="javascript:void(0);" class="sidebar_categories-title fn-expand-btn">Бетонные смеси</a>
                            <ul class="sidebar_categories-sublist fn-expand-data">
                                <li class="sidebar_categories-item">
                                    <a href="category.html" class="sidebar_categories-title fn-expand-btn">Цемент</a>
                                </li>
                                <li class="sidebar_categories-item">
                                    <a href="category.html" class="sidebar_categories-title fn-expand-btn">Добавки</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar_categories-item">
                            <a href="category.html" class="sidebar_categories-title fn-expand-btn">Добавки</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--sidebar END-->