<!--sidebar BEGIN-->

<div class="sidebar sidebar-sticky">
    <div class="sidebar-section sidebar-section--categories tablet-hidden">
        <div class="sidebar_categories">
            <ul class="sidebar_categories-list">
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Забор</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Каменный</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Деревянный</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Тротуарная плитка</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Тротуарная плитка 1</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Тротуарная плитка 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Искусственный камень</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Фасадный камень</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Тротуарная плитка</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Декоративный камень</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Декоративный камень в 2 строки</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Бетонные смеси</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Бетонные смеси 1</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Бетонные смеси 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Цемент</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Цемент 1</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Цемент 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar_categories-item fn-expand-box">
                    <span class="sidebar_categories-title fn-expand-btn">Добавки</span>
                    <ul class="fn-expand-data" style="display: none;">
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Добавки 1</a>
                        </li>
                        <li class="sidebar_categories-subitem">
                            <a href="category.html" class="sidebar_categories-link">Добавки 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--sidebar END-->