<header id="header" class="header">
    <div class="content content--lg">
        <div class="header-main">
            <a href="/" class="logo">
                <img src="assets/svg/logo.svg" alt="ReConcept">
            </a>
            <nav class="nav">
                <div class="elements">
                    <a href="/" class="slogan">
                        сайты 5-го поколения
                    </a>
                    <label class="nav-burger" id="burger">
                        <span></span>
                    </label>
                </div>
                <ul class="nav-menu">
                    <li><a href="portfolio.html" class="@@portfolio">Портфолио</a></li>
                    <li><a href="web-development.html" class="@@development">Веб-разработка+</a></li>
                    <li><a href="advertising.html" class="@@advertising">Реклама+</a></li>
                    <li><a href="branding.html" class="@@branding">Брендирование+</a></li>
                    <li><a href="blog-listing.html" class="@@blog">Блог</a></li>
                    <li><a href="about-us.html" class="@@about">Мы</a></li>
                    <li><a href="contacts.html" class="@@contacts">Контакты</a></li>
                </ul>
                <div class="support">
                    <a class="favorites" href="favorites.html">
                        12
                        <i class="ico"></i>
                    </a>
                    <button type="button" id="showSupport" class="questions">Есть вопрос?</button>
                </div>
            </nav>
        </div>
    </div>
</header>
