<div class="offer-item">
    <a href="@@link" target="_blank" class="item-box">
        <div class="item-img">
            <picture>
                <source type="image/webp" srcset="assets/images/offers/@@image.webp">
                <source type="image/jpeg" srcset="assets/images/offers/@@image.jpg">
                <img src="assets/images/offers/@@image.jpg" alt="@@image">
            </picture>
        </div>
        <div class="item-info">
            <div class="item-data">
                <div class="date">
                    <i class="icon"></i>
                    @@date
                </div>
                <div class="location">
                    <i class="icon"></i>
                    @@location
                </div>
            </div>
            <h3 class="item-title">
                @@title
            </h3>
            <div class="item-action">
                <span class="btn btn--sm btn--blue">Подробнее</span>
            </div>
        </div>
    </a>
</div>