.pl-nav-scroll {

  .desktop & {
    overflow: hidden;
    height: 100%;
  }

  .mCSB_inside>.mCSB_container {
    margin: 0;
  }
}

.pl-scroll {

  .desktop & {
    overflow: hidden;
    height: 100%;
  }

  .mCSB_inside>.mCSB_container {
    margin: 0;
  }
}