.listing-carousel {
  &.owl-carousel {
    & > .listing-item {
      max-width: calc( 100%/6 );
      float: left;
      width: 100%;
    }
    .owl-nav {
      button {
        &.owl-prev,
        &.owl-next {
          border: none;
          display: block;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: $white;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          outline: none;
          box-shadow: 0 3px 6px 0 rgba(33,33,33,0.2);
          &:after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-style: solid solid none none;
            border-color: $icon;
            border-width: 3px;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0;
            right: 0;
          }
          span {
            display: none;
          }
        }
        &.owl-prev {
          left: -30px;
          &:after {
            transform: rotate(-135deg) translate(-2px, 2px);
          }
        }
        &.owl-next {
          right: -30px;
          &:after {
            transform: rotate(45deg) translate(-2px, 2px);
          }
        }
      }
    }
  }
}