.pl-nav-scroll {
  height: 100%;
  .desktop & {
    overflow: hidden;
  }
  .mobile &,
  .tablet & {
    overflow: auto;
  }
  .mCSB_inside>.mCSB_container {
    margin: 0;
  }
}

.pl-scroll {
  height: 100%;
  .desktop & {
    overflow: hidden;
  }
  .mobile &,
  .tablet & {
    overflow: auto;
  }
  .mCSB_inside>.mCSB_container {
    margin: 0;
  }
}