@import "home";
@import "cart";
@import "orders";
@import "catalog-item";
@import "partials/items-listing";
@import "partials/short-items-listing";
@import "partials/listing-sidebar";
@import "partials/listing-slider";

.page_action {
  display: flex;
  align-items: center;
  @include mq($from: desktop) {
    margin-top: 80px;
  }
  @include mq($until: desktop) {
    margin-top: 60px;
  }
  .pagination {
    margin-left: auto;
  }
}
