.catalog_item {

  &-main {
    display: flex;
    margin: 0 -1*$padding-sm $padding;
  }
  &-data {
    padding: 0 $padding-sm;
    width: 75%;
    &--general {
      display: flex;
      margin: 0 -1*$padding-sm;
    }
    &--about {
      height: 100%;
      background: $white;

      @include mq($from: desktop_xl) {
        padding: $padding-xl $padding-lg $padding-xl $padding-xxl;
      }
      @include mq($until: desktop_xl) {
        padding: $padding-xl;
      }
      &_wrap {
        padding: 0 $padding-sm;
        width: calc(4*100%/9);
      }
      dl {
        font-size: $font;
        color: $tag;
        display: flex;
        align-items: center;
        margin-bottom: $padding;
        dt {
          margin-right: $padding-sm;
        }
      }
      .adds {
        display: flex;
        align-items: center;
        margin-bottom: $padding-md;
        & > * {
          margin-right: $padding-md;
        }
        &-title {
          margin-top: $padding-lg;
          margin-bottom: $padding-md;
        }
      }
    }
  }
  &-heading {
    background: $white;
    margin-bottom: $padding;
    display: flex;
    align-items: center;
    height: 96px;
    padding: 0 $padding-md;
    &--like {
      width: 54px;
      height: 50px;
      margin-right: $padding-lg;
    }
  }
  &-gallery {
    background: $white;
    height: 100%;
    &_wrap {
      padding: 0 $padding-sm;
      width: calc(5*100%/9);
    }
  }
  &-sidebar {
    background: $bg-green;
    height: 100%;

    @include mq($from: desktop_xl) {
      padding: 64px $padding-xl;
    }
    @include mq($until: desktop_xl) {
      padding: $padding-xxl $padding-lg;
    }
    &--wrap {
      width: 25%;
      padding: 0 $padding-sm;
    }

  }
  &-prices {
    font-size: $font;
    color: $tag;
    margin-bottom: $padding-lg;
    white-space: nowrap;
    .price {
      &-old {
        text-decoration: line-through;
      }
      &-actual {
        font-weight: 600;
        color: $text;
        @include mq($from: desktop_md) {
          font-size: 48px;
        }
        @include mq($until: desktop_md) {
          font-size: $font-lg;
        }
      }
    }
  }
  &-more_info {

    background: $white;
    @include mq($from: desktop_md) {
      padding: $padding-xxl;
    }
    @include mq($until: desktop_md) {
      padding: $padding-xl;
    }
  }
}