.orders {

}

.orders_table {
  @include mq($until: mobile) {
    margin: 0 -1*$padding-md;
  }
  position: relative;
  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to right, $grad-end 0%, $grad-begin 100%);
    @include mq($from: tablet) {
      height: 56px;
    }
    @include mq($until: tablet) {
      height: 40px;
    }
  }
  &-row {
    border-top: 8px solid $bg-gray;
    background: $white;
    td {

      @include mq($from: tablet) {
        height: 56px;
        padding: 0 $padding-xl;
      }
      @include mq(mobile, tablet) {
        height: 40px;
        padding: 0 $padding-md;
        font-size: 12px;
      }
      @include mq($until: mobile) {
        height: 32px;
        padding: 0 $padding;
        font-size: 10px;
      }
    }
  }
  &-table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
  }
  &-thead {
    color: $white;

    text-align: left;

    @include mq($from: tablet) {
      font-size: $font;
    }
    @include mq(mobile, tablet) {
      font-size: 12px;;
    }
    @include mq($until: mobile) {
      font-size: 10px;
    }
    th {
      font-weight: 500;
      line-height: 1.2;
      @include mq($from: tablet) {
        height: 56px;
        padding: 0 $padding-xl;
      }
      @include mq(mobile, tablet) {
        height: 40px;
        padding: 0 $padding-md;
      }
      @include mq($until: mobile) {
        height: 40px;
        padding: 0 $padding;
      }
    }
  }
  &-cart {
    .cart_table {
      display: none;
      width: 100%;

      margin: 0 auto;
      @include mq($from: desktop) {
        max-width: calc(200%/3);
      }
      @include mq(tablet, desktop) {
        max-width: calc(200%/2.5);
      }
      table {

        @include mq($from: tablet) {
          margin: $padding-lg 0;
        }
        @include mq($until: tablet) {
          margin: $padding 0;
        }
      }
    }
  }
  &-expand_btn {
    @extend %btn_reset;

    background: $tag;
    position: relative;
    display: block;
    margin-left: auto;

    @include mq($from: tablet) {
      width: 56px;
      height: 56px;
      margin-right: -1*$padding-xl;
    }
    @include mq(mobile, tablet) {
      width: 40px;
      height: 40px;
      margin-right: -1*$padding-md;
    }
    @include mq($until: mobile) {
      width: 32px;
      height: 32px;
      margin-right: -1*$padding;
    }
    &:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-style: solid solid none none;
      border-color: $white;
      border-width: 3px;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      transition: all 0.25s;
      transform: rotate(135deg) translate(-2px, 2px);
    }
    .opened & {
      &:after {
        transform: rotate(315deg) translate(-2px, 2px);
      }
    }
  }
}