.article-listing {
  @include media(hover,1025){
    padding: 80px 0;
  }
  @include breakpoints(681,1024){
    padding: 50px 0;
  }
  @include media(screen,680){
    padding: 50px 0 20px;
  }
  .title {
    font-size: $px*3.36rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    @include media(hover,1025){
      margin-bottom: 80px;
    }
    @include media(screen,1024){
      margin-bottom: 50px;
    }
  }
  .listing {
    ul {
      display: flex;

      @include media(hover,1201){
        margin: 0 -1*$padding/2;
        flex-wrap: wrap;
      }
      @include breakpoints(681,1200){
        margin: 0 -7.5px;
        flex-wrap: wrap;
      }
      @include media(screen,680){
        flex-direction: column;
      }
    }
    li {
      @include media(hover,1201){
        width: 25%;
        padding: 0 $padding/2;
      }
      @include breakpoints(681,1200){
        padding: 0 7.5px;
        width: 50%;
        margin-bottom: 15px;
      }
      @include media(screen,680){
        margin-bottom: 15px;
      }
    }
  }
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    perspective: 1800px;
    @include hover(){
      .item-img {
        transform: scale(0.98) rotateX(-6deg);
        &:after {
          opacity: 1;
        }
        img {
          opacity: 0.9;
        }
      }
      .item-brief {
        opacity: 1;
      }
      .item-title,
      .item-info {
        transform: translateX(0);
      }
      .item-title {
        color: $hover;
      }
    }
    &-data {
      display: none;
    }
    &-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    &-img {
      width: 100%;
      padding-bottom: 50%;
      position: relative;
      overflow: hidden;
      @include media(hover,1025){
        transform-origin: 50% 100%;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:after {
          content: "";
          transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          position: absolute;
          opacity: 0;
          top: 25%;
          left: 0;
          right: 0;
          bottom: 0;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);

        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.25s ease-in-out;
        will-change: transform;
        @include media(hover,1025){
          transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
      }
      .favorite {
        background: transparent;
        border: none;
        position: absolute;
        width: 16px;
        height: 32px;
        left: 16px;
        bottom: 16px;
        z-index: 1;
        &:before {
          content: "";
          height: 21px;
          top: 5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 8px;
          box-shadow: 0 0 7px 5px RGBA(0,0,0,.4);
          position: absolute;
        }
        .icon {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          &:before,
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            transition: all 0.2s;
          }
          &:before {
            top: 0;
            height: 25px;
            background-color: $white;
          }
          &:after {
            width: 0;
            height: 0;
            border-color: transparent $white;
            border-style: none solid solid;
            border-width: 7px 8px;
            top: 25px;
            margin: auto;
          }
        }
        &.liked {
          .icon {
            &:before {
              background-color: $hover;
            }
            &:after {
              border-color: transparent $hover;
            }
          }
        }
        @include hover(){
          .icon {
            &:before {
              background-color: $hover;
            }
            &:after {
              border-color: transparent $hover;
            }
          }
        }
      }
    }
    &-brief {
      width: 100%;
      color: $violet;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      @include media(hover,1025){
        opacity: 0.75;
      }
      @include media(hover,1381){
        padding: $padding;
      }
      @include breakpoints(768,1380){
        padding: $padding 0;
      }
      @include media(screen,767){
        padding: 20px 0;
      }
    }
    &-title {
      font-size: $px*3.84rem;
      color: $text;
      line-height: 1.25;
      margin-bottom: 18px;
      transition: all 0.25s;
      position: relative;
      a {color: inherit;}
      @include media(hover,1381){
        transform: translateX(-15px);
      }
      @include media(hover,1025){
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }
    }
    &-info {
      font-size: $px*3.36rem;
      display: flex;
      align-items: center;
      margin-top: auto;
      @include media(hover,1381){
        transform: translateX(-15px);
      }
      @include media(hover,1025){
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.04s;
      }
      button,
      span {
        display: inline-flex;
        align-items: center;
        margin-right: 30px;
      }
      .ico {
        margin-right: 12px;
      }
      svg {
        fill: $violet_light;
      }
      .favorite {
        background: transparent;
        border: none;
        position: relative;
        .ico {
          width: 15px;
          height: 15px;
          svg {
            stroke: $violet_light;
            fill: none;
          }
          &.favorite {
            svg {
              fill: $hover;
              stroke: $hover;
            }
          }
        }
        &.liked {
          .ico {
            svg {
              fill: $hover;
              stroke: $hover;
            }
          }
        }
        @include hover(){
          .ico {
            svg {
              stroke: $hover;
            }
          }
        }
      }
      .views {
        .ico {
          width: 16px;
          height: 16px;
        }
      }
      .comments {
        .ico {
          width: 19px;
          height: 20px;
        }
      }
    }
  }
}