<div class="comment-content">
    <h4 class="comment-box--title">ОСТАВЬТЕ КОММЕНТАРИЙ ПЕРВЫМ!</h4>
    <form action="#">
        <div class="input-box">
            <div class="col-50 stretched">
                <label class="label">
                    <textarea placeholder="Оставьте ваше комментарий"></textarea>
                </label>
            </div>
            <div class="col-50">
                <label class="label">
                    <input type="text" placeholder="Имя">
                </label>
                <label class="label">
                    <input type="text" placeholder="Ваш емейл (не будет опубликован)">
                </label>
            </div>
        </div>
        <div class="input-box">
            <label class="checkbox">
                <input type="checkbox" checked>
                <span class="checkbox-mark"></span>
                <span class="checkbox-text">
                    Нажимая на кнопку «Отправить», вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                </span>
            </label>
            <button class="submit-sm"><span>Опубликовать</span></button>
        </div>
    </form>
</div>