<div class="consultation">
    <div class="content">
        <div class="title">
            <span>Д</span>
            <span>е</span>
            <span>й</span>
            <span>с</span>
            <span>т</span>
            <span>в</span>
            <span>у</span>
            <span>й</span>
            <span>!</span>
        </div>
    </div>
    <div class="content content--xs">
        <div class="consultation-form">
            <div class="text">
                Таким образом реализация намеченных плановых заданий играет важную роль в формировании существенных финансовых и административных условий.
            </div>
            <div class="form-fieldset">
                <form action="/" class="form">
                    <div class="input-box fieldset">
                        <input type="text" name="mail" placeholder="Оставьте телефон или мейл">
                        <button class="submit"><span>Заказать консультацию</span></button>
                    </div>
                    <div class="input-box">
                        <label class="checkbox">
                            <input type="checkbox" name="approve" checked>
                            <span class="checkbox-mark"></span>
                            <span class="checkbox-text">
                            Даю согласие  на обработку <a href="#">персональных данных</a> и соглашаюсь с политикой конфиденциальности.
                        </span>
                        </label>
                    </div>
                </form>
                <div class="form-success">
                    Ваша заявка принята!
                </div>
            </div>
        </div>
    </div>
</div>