<div class="consultation">
    <div class="content">
        <div class="title">Действуй!</div>
    </div>
    <div class="content content--xs">
        <div class="consultation-form">
            <div class="text">
                Таким образом реализация намеченных плановых заданий играет важную роль в формировании существенных финансовых и административных условий.
            </div>
            <form action="/">
                <div class="input-box">
                    <input type="text" placeholder="Оставьте телефон или мейл">
                    <button class="submit"><span>Заказать консультацию</span></button>
                </div>
                <div class="input-box">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checkbox-mark"></span>
                        <span class="checkbox-text">
                            Даю согласие  на обработку персональных данных и соглашаюсь с политикой конфиденциальности.
                        </span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>