<div class="search-modal" id="searchModal">
    <div class="search-header">
        <div class="content content--lg">
            <div class="search-header--actions">
                <a href="/" class="logo">
                    <img src="assets/svg/logo.svg" alt="ReConcept">
                </a>
                <button class="close" id="closeModal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
    <div class="search-form">
        <div class="content content--md">
            <form action="/">
                <div class="input-box">
                    <input class="search-input" type="text" placeholder="Поиск по статьям">
                    <div class="input-dublicate">
                        <span class="clone-text">
                            <span class="text"></span>
                            <button class="reset" type="reset">&times;</button>
                        </span>
                    </div>
                    <button class="submit-btn">
                        <i class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right-long"/>
                            </svg>
                        </i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>