<div class="sharing">
    <ul>
        <li>
            <a href="#" class="link link--tw">
                <i class="ico">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-twitter"/>
                    </svg>
                </i>
            </a>
        </li>
        <li>
            <a href="#" class="link link--fb">
                <i class="ico">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-facebook"/>
                    </svg>
                </i>
                2
            </a>
        </li>
        <li>
            <a href="#" class="link link--gp">
                <i class="ico">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-googleplus"/>
                    </svg>
                </i>
                12
            </a>
        </li>
        <li>
            <a href="#" class="link link--vk">
                <i class="ico">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-vk"/>
                    </svg>
                </i>
                900
            </a>
        </li>
        <li>
            <a href="#" class="link link--ok">
                <i class="ico">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-ok"/>
                    </svg>
                </i>
                4
            </a>
        </li>
    </ul>
</div>