<aside class="page-sidebar sidebar">
    <h1 class="title">@@title</h1>
    <div class="search">
        <button type="button" class="search-btn">
            <i class="ico">
                <svg xmlns="http://www.w3.org/2000/svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"/>
                </svg>
            </i>
            Поиск
        </button>
    </div>
    <div class="sidebar-nav">
        <ul>
            <li><a href="#" class="active">Все статьи</a></li>
            <li><a href="#">Веб-разработка</a></li>
            <li><a href="#">Продвижение</a></li>
            <li><a href="#">Клиентам</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Техничка</a></li>
        </ul>
    </div>
</aside>