<aside class="page-sidebar">
    <div class="sidebar">
        <div class="sidebar-main">
            <div class="sidebar-header">
                <h1 class="title">@@title</h1>
                <div class="sidebar-modules">
                    <div class="search">
                        <button type="button" class="search-btn" id="showSearch">
                            <i class="ico">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"/>
                                </svg>
                            </i>
                            Поиск
                        </button>
                    </div>
                    <div class="subscribe">
                        <div class="subscribe-title">Подписаться</div>
                        <div class="subscribe-form">
                            <div class="form-fieldset">
                                <form action="#" class="form">
                                    <div class="input-box">
                                        <input type="text" name="mail" placeholder="Оставьте email">
                                        <button class="submit-bar">
                                            <i class="ico">
                                                <svg xmlns="http://www.w3.org/2000/svg">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                                                </svg>
                                            </i>
                                        </button>
                                    </div>
                                </form>
                                <div class="form-success">
                                    <strong>Ваша заявка принята!</strong>
                                </div>
                            </div>
                        </div>
                        <div class="subscribe-text">Свежие статьи у вас в ящике и бла-бла-бла.</div>
                    </div>
                </div>
            </div>
            <div class="sidebar-nav">
                <ul>
                    <li><a href="#" class="active">Все статьи</a></li>
                    <li><a href="#">Веб-разработка</a></li>
                    <li><a href="#">Продвижение</a></li>
                    <li><a href="#">Клиентам</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Техничка</a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>