<div class="subscription">
    <h3 class="title">
        Рассылка Reconcept, подпишитесь на наш полезный <a href="blog-listing.html">блог</a>
    </h3>
    <div class="subscription-form">
        <div class="content content--md">
            <form action="/">
                <div class="input-box">
                    <input type="text" placeholder="Оставьте ваш email">
                    <button class="submit-btn">
                        <i class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right-long"/>
                            </svg>
                        </i>
                    </button>
                </div>
                <div class="input-box centered">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-mark"></span>
                        <span class="checkbox-text">
                        Даю согласие  на обработку персональных данных и соглашаюсь с политикой конфиденциальности.
                    </span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>