<div class="modal support-modal">
    <div class="modal-header">
        <div class="content content--lg">
            <div class="modal-header--actions">
                <a href="/" class="logo">
                    <img src="assets/svg/logo.svg" alt="ReConcept">
                </a>
                <button class="close">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
    <div class="support-form modal-form">
        <div class="content content--md">
            <div class="form-fieldset">
                <div class="form">
                    <h4 class="title">Задайте ваш вопрос</h4>
                    <div class="form-box--layout">
                        <div class="form-box--aside">
                            <a href="#" class="load">
                                <i class="ico">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download"/>
                                    </svg>
                                </i>
                                Скачать бриф на сайт
                            </a>
                            <a href="#" class="load">
                                <i class="ico">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download"/>
                                    </svg>
                                </i>
                                Скачать бриф на сайт
                            </a>
                        </div>
                        <div class="form-box--main">
                            <form action="/">
                                <div class="input-box">
                                    <input type="text" name="name" placeholder="Представьтесь">
                                </div>
                                <div class="input-box">
                                    <input type="text" name="address" placeholder="Как с вами связаться?">
                                </div>
                                <div class="input-box">
                                    <textarea name="message" placeholder="Расскажите о вашем проекте" rows="4"></textarea>
                                </div>
                                <div class="input-box wrapped">
                                    <label class="file input-box">
                                        <input type="file">
                                        <span class="file-mark">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-attachment"/>
                                            </svg>
                                        </span>
                                        <span class="file-text" data-default-text="Прикрепить файл">
                                            Прикрепить файл
                                        </span>
                                        <button type="button" class="reset">&times;</button>
                                    </label>
                                    <label class="checkbox input-box">
                                        <input name="approve" type="checkbox" checked="">
                                        <span class="checkbox-mark"></span>
                                        <span class="checkbox-text">Даю согласие  на обработку персональных данных и соглашаюсь с <a
                                                href="#">политикой конфиденциальности</a>.</span>
                                    </label>
                                    <button class="submit"><span>Отправить</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-success">
                    <p>Спасибо!</p>
                    <p>Ваша заявка принята!</p>
                </div>
            </div>
        </div>
    </div>
</div>