.hp-section {
  padding-top: 110px;
  &:last-child {
    padding-bottom: 60px;
  }
}

.homepage-banner {
  .statistics {
    background-color: rgba($text,0.9);
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    color: $white;
    padding: 24px 80px;
    &-wrap {
      position: relative;
      z-index: 1;
    }
    .item {
      position: relative;
      &:before {
        content: "";
        width: 4px;
        height: 48px;
        position: absolute;
        left: 0;
        bottom: 100%;
        background-color: $grad_end;
        margin-bottom: 8px;
      }
    }
  }
}

.site-steps {
  padding: 110px 0 85px;
  .steps {
    display: flex;
    counter-reset: item;
  }
  .step {
    width: 33.33%;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    &:before {
      content: counter(item, decimal);
      counter-increment: item;
      display: block;
      font-size: 212px;
      line-height: 1;
      color: #cde8e9;
      padding: 30px 0;
    }
    &:not(:last-child){
      margin-right: 64px;
    }
  }
}

.homepage-table {
  .table {
    padding-bottom: 90px;
  }
}

.homepage-contacts {
  .map-box {

  }
}

.partners {
  ul {
    margin: 0 -0.5*$padding;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: calc(100% / 6);
    padding: 0 0.5*$padding;
    margin-bottom: $padding;
  }
  .item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    background-color: $white;
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      max-width: 75%;
      max-height: 75%;
    }
  }
}