@include media(hover,1025){
  [data-acc-color='white'] {

    body {
      color: $acc-black;
    }
    .acc-mode .accessibility-mode .icon {
      background-color: $acc-black;
    }
    .header-nav a {
      color: $acc-black;
    }
    .homepage-banner .statistics {
      background-color: rgba($acc-black,0.9);
    }
    .site-steps .step:before {
      color: $link;
    }
    .bg--grey {
      background-color: $acc-grey-dlt;
    }
    .fancybox-is-open .fancybox-bg,
    .bg--gradient:before {
      background: $acc-black;
    }
    .btn--red,
    .btn--blue {
      border-color: $acc-black;
      background-color: $acc-black;
    }
    .table thead {
      background-color: $acc-black;
    }
    .custom-gallery .fancybox-toolbar .fancybox-button--close {
      color: $white;
    }
    .offer-total .item-box {
      background-color: $acc-black;
    }
    .offer-item .item-data .date .icon,
    .offer-item .item-data .location .icon {
      color: $acc-black;
    }
    .footer {
      background-color: $acc-black;
    }

    // stocks

    .offer-status .status.opened,
    .offer-status .status.closed,
    .offer-item .item-status.opened {
      background-color: $acc-grey;
    }
    .offer-item .item-status.closed {
      background-color: $acc-black;
    }
    .pagination a:hover,
    .pagination a.current {
      background-color: $acc-black;
    }
    .reports-list .icon {
      color: $acc-black;
    }

    // pages

    .rating-search .form .fieldset .input {
      border-color: $acc-black;
    }

  }
}