@include media(hover,1025){
  [data-acc-color='black'] {

    body {
      color: $white;
    }
    .main {
      background-color: $acc-black;
    }
    .header {
      background-color: $acc-black;
    }
    .acc-mode .accessibility-mode .icon {
      background-color: $white;
      color: $acc-black;
    }
    .header-nav a {
      color: $white;
    }
    .homepage-banner .statistics {
      background-color: rgba($white,0.9);
      color: $acc-black;
    }
    .site-steps .step:before {
      color: $link;
    }
    .offer-item .item-info {
      background-color: $acc-black;
    }
    .offer-item .item-data .date .icon,
    .offer-item .item-data .location .icon {
      color: $white;
    }
    .bg--gradient .title,
    .title {
      color: $acc-black;
    }
    .site-steps .title {
      color: $white;
    }
    .bg--grey {
      background-color: $acc-grey-dlt;
    }
    .fancybox-is-open .fancybox-bg,
    .bg--gradient:before {
      background: $white;
    }
    .btn--trans-white,
    .btn--red,
    .btn--blue {
      border-color: $acc-black;
      background-color: $white;
      color: $acc-black;
    }
    .table thead {
      background-color: $white;
    }
    .table thead th {
      color: $acc-black;
    }
    .table td {
      background-color: $acc-black;
    }
    .offer-total .item-box {
      background-color: $white;
      color: $acc-black;
    }
    .footer {
      background-color: $white;
      color: $acc-black;
    }
    .footer-bottom,
    .footer-contacts,
    .footer-nav a {
      color: $acc-black;
    }
    .footer-contacts .share a {
      background-color: $acc-black;
      color: $white;
    }

    // stocks

    .offer-status .status.opened {
      background-color: $acc-grey;
    }
    .offer-item .item-status.opened {
      background-color: $acc-black;
    }
    .offer-status .status.closed {
      background-color: $acc-black;
      color: $white;
    }
    .offer-item .item-status.closed {
      background-color: $white;
      color: $acc-black;
    }
    .offers-types {
      color: $acc-black;
    }
    .offer-item .item-action a:not(.btn) {
      color: $white;
    }
    .offer-data {
      color: $acc-black;
    }
    .table-sort {
      color: $acc-black;
    }
    .reports-list .item,
    .reports-list .icon {
      color: $acc-black;
    }
    .pagination a:hover,
    .pagination a.current {
      background-color: $acc-black;
    }

    // components

    .text-box {
      color: $acc-black;
    }

    // pages

    .rating-search .form .fieldset .input {
      border-color: $white;
    }
    .rating-search .form .fieldset .btn {
      border-color: $white;
    }
    .rating-search .form .fieldset input {
      background-color: $acc-black;
    }

    .error-page .error-text {
      color: $acc-black;
    }

  }
}