.checkbox {
  display: flex;
  flex-direction: column;
  position: relative;
  .text {
    font-size: $font-md;
    line-height: (24/16);
    padding-left: 32px;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      width: 18px;
      height: 18px;
      border: 2px solid $text;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px auto;
    }
  }
  input {
    @include hiddenInput;
    &:checked {
      & ~ .text {
        &:before {
          background-color: $text;
          background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2013.06%209.53%22%3E%3Cg%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M5.24%209.24a1%201%200%200%201%20-1.41%200L.24%205.65A1%201%200%200%201%201.65%204.24L4.53%207.12%2011.41.24a1%201%200%200%201%201.41%201.41%22%20/%3E%3C/g%3E%3C/svg%3E');

        }
      }
    }
  }
  .has-error {
    .text {
      &:before {
        border-color: $ui-02;
      }
    }
  }
}