.form-range {
  display: flex;
  align-items: center;
  position: relative;
  .measure {
    flex-shrink: 0;
    width: $gutter-x2;
  }
  .dash {
    flex-shrink: 0;
    width: 24px;
    height: 1px;
    margin: 0 $padding 24px;
    background: $brand-02;
    align-self: flex-end;
  }
  .form-input {
    width: 100%;
  }
  input {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}