.btn {
  font-family: Futuris, sans-serif;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.4;
  display: inline-block;
  text-align: center;
  transition: all 0.3s;
  white-space: nowrap;
  span, i {
    @extend %valign;
  }
  &_bord {
    border-color: $white;
    color: $white;
    padding: 10px 30px;
    font-size: 14px;
    &:hover {
      @include media(hover,1025){
        background-color: $white;
        color: $head;
      }
    }
  }
  &_subm {
    border-color: $btn;
    background-color: $btn;
    color: $white;
    padding: 10px 15px;
    font-size: 15px;
    &:hover {
      @include media(hover,1025){
        background-color: $btn_hover;
        border-color: $btn_hover;
      }
    }
  }
}

.more {
  display: inline-block;
  font-weight: 400;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: $btn;
  color: $btn;
  font-size: 15px;
  min-width: 200px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.4;
  transition: all 0.3s;
  @include media(hover,980){
    padding: 8px 24px;
  }
  @include media(screen,979){
    padding: 8px 12px;
  }
  span, i {
    @extend %valign;
  }
  .ico-back {
    width: 41px;
    height: 14px;
  }
  .ico-like {
    width: 20px;
    height: 20px;
  }
  .ico-fly {
    width: 20px;
    height: 20px;
  }
  &:hover {
    @include media(hover,1025){
      background-color: $btn_hover;
      border-color: $btn_hover;
      color: $white;
    }
  }
}

.btns {
  &_center {
    text-align: center;
    a {
      margin: 4px;
      @include media(screen,480){
        margin: 5px 0;
        width: 100%;
      }
    }
  }
}

