.scroll-up {
  position: absolute;
  bottom: 100%;

  z-index: 9;

  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s;
  box-shadow: 0 0 5px 0 $btn;
  right: 10px;
  @include media(hover,1200){
    margin: 0 20px 10px 0;
    right: 20px;
    height: 60px;
    width: 60px;
  }
  @include media(screen,1199){
    margin: 0 10px 20px 0;
    height: 40px;
    width: 40px;
  }
  &:not(.active) {
    opacity: 0;
    pointer-events: none;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  i {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    padding: 8px;
    border: 2px solid $btn;
    transition: all 0.3s;
  }
  svg {
    color: $btn;
    transition: all 0.3s;
  }
  &:hover {
    i {
      border-color: $btn;
      background-color: $btn;
    }
    svg {
      color: $white;
    }
  }
}