@import "../vendors/select2.min";

.select {
  *:focus {outline: none;}
  .select2-hidden-accessible {
    position: absolute;
    opacity: 0;
  }
  .select2-container {
    min-width: 100%;
    max-width: 100%;

  }
  .select2-container--default .select2-selection--single {
    border: none;
    border-radius: 0;
    height: 40px;
    display: flex;
    align-items: center;
    .villa-request & {
      height: 30px;
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.4;
    color: $text;
    .fast-request & {
      padding-left: 0;
      padding-right: 0;
    }

  }
}


.select2-container--open .select2-dropdown--below.custom-select {
  border-color: $bg;
  border-radius: 0;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: 0 5px 20px 0 RGBA(74,84,96,.4);
  width: auto !important;
  min-width: 80px;
}
.select2-container--default .custom-select .select2-results__option--highlighted[aria-selected] {
  background-color: $pink;
  color: $text;
}

.custom-select {
  .select2-dropdown {
    border-color: $bg;
    border-radius: 0;
  }

  .select2-results__option {
    text-align: center;
    padding: 5px 20px;
    white-space: nowrap;
    line-height: 1.4;
    &:first-child {display: none;}
  }


}