.text-box {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 35px;
  .center {text-align: center;}
  blockquote {
    color: $btn;
    padding-left: 80px;
    border-left: 1px solid $btn;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.7;
    margin-bottom: 60px;
    &:not(:first-child){
      margin-top: 60px;
    }
    @include media(screen,599){
      padding-left: 35px;
      margin-bottom: 35px;
      font-size: 17px;
    }
  }
  h2 {
    text-transform: uppercase;
    font-family: Futuris, sans-serif;
    font-size: 39px;
    color: $text;
    line-height: 1.2;
    margin-bottom: 15px;
    @include breakpoints(600,1023){
      font-size: 34px;
    }
    @include media(screen,599){
      font-size: 25px;
    }
  }
  h3 {
    text-transform: uppercase;
    font-family: Futuris, sans-serif;
    font-size: 29px;
    color: $text;
    line-height: 1.2;
    margin-bottom: 25px;
    &:not(:first-child){margin-top: 25px;}
    @include breakpoints(600,1023){
      font-size: 26px;
    }
    @include media(screen,599){
      font-size: 21px;
    }
  }
  img {
    margin: 40px 0;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
  }
  a {
    color: $btn;
    transition: all 0.2s;
    &:hover {
      @include media(hover,1025){
        color: $btn_hover;
      }
    }
  }
  ul {
    @include media(hover,768){
      &.column {
        columns: 2 auto;
        column-gap: 80px;
        li {
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
        }
      }
    }

    li {
      padding-left: 40px;
      position: relative;
      @include media(screen,599){
        padding-left: 20px;
      }
      &:before {
        content: "";
        width: 5px;
        height: 5px;
        background-color: $text;
        border-radius: 50%;
        left: 0;
        top: 10px;
        position: absolute;
      }
    }
  }

  &.location-text {
    img {
      width: 1200px;
      max-width: 1200px;
      @include media(screen,1199){
        width: 100vw;
      }
    }
  }
}