.headline {
  &_main {
    text-transform: uppercase;
    font-family: Futuris, sans-serif;
    font-size: 40px;
    color: $text;
    text-align: center;
    line-height: 1.6;
    .sm & {font-size: 30px;}
    .light-style & {
      color: $white;
      text-shadow: 0 3px 5px RGBA(0,0,0,.4);
    }
    .placing--request &,
    .villa--head &,
    .blog-box &,
    .simple-page--bg & {
      font-size: 50px;
      padding: 20px;
      line-height: 1.2;
    }
  }
  &_submain {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    font-size: 17px;
  }
  &_btn {
    margin-top: 20px;
    text-align: center;
    .btn {padding: 15px 35px;}

  }
}