.support-modal {
  background-color: rgba(197,195,203,0.95);
  .title {
    text-transform: uppercase;
    font-size: $px*3.35rem;
    letter-spacing: 1px;
    margin-bottom: 80px;
    text-align: center;
  }
}
.support-form {
  .load {
    font-size: $px*3.36rem;
    color: inherit;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: $padding;
    &:before {
      content: "";
      width: 40px;
      height: 40px;
      background-color: #808080;
      margin-right: 15px;
      flex-shrink: 0;
    }
    @include hover(){
      color: $hover;
    }
  }
  .file,
  .checkbox {
    width: 30%;
    flex-shrink: 0;
    margin-right: $padding;
    align-self: flex-start;
  }
  .submit {
    width: 100%;
  }
}