/**
Buttons

Description:
  You can use buttons in the frontend with .btn class (necessarily) and combinations of following CSS Classes:
  
Markup:
  <div class="content-row flex-align_items--center">
    <div class="content-col content-col--auto">
      Button-colors:
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--orange btn--xs">btn--orange</button>
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--orange_border btn--xs">btn--orange_border</button>
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--white btn--xs">btn--white</button>
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--grey btn--xs">btn--grey</button>
    </div>
  </div>
  <div class="content-row flex-align_items--center">
    <div class="content-col content-col--auto">
      Button-sizes:
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--orange btn--xs">btn--xs</button>
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--orange btn--sm">btn--sm</button>
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--orange btn--md">btn--md</button>
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--orange btn--lg">btn--lg</button>
    </div>
  </div>
  <div class="content-row flex-align_items--center">
    <div class="content-col content-col--auto">
      Button-styles:
    </div>
    <div class="content-col content-col--auto">
      <button class="btn btn--orange btn--xs btn--rounded">btn--rounded</button>
    </div>
  </div>
  <div class="content-row flex-align_items--center">
    <div class="content-col content-col--auto nowrap">
      Button-width:
    </div>
    <div class="content-col">
      <button class="btn btn--orange btn--xs btn--full">btn--full</button>
    </div>
  </div>

Weight: 4

Styleguide styleguide.buttons
 */

.btn {
  @extend %btn_reset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.18s;
  font-weight: 500;
  &--orange {
    color: $white;
    background-color: $link;
    @include hover(){
      background-color: darken($link, 8);
    }
    &_border {
      border: 1px solid $link;
      background: $white;
      color: $link;
      @include hover(){
        border-color: darken($link, 8);
        color: darken($link, 8);
      }
    }
  }
  &--white {
    background-color: $white;
    color: $link;
    @include hover(){
      color: darken($link, 8);
    }
  }
  &--grey {
    background-color: $text-04;
    color: $white;
    @include hover(){
      background-color: darken($text-04, 8);
    }
  }
  &--xs {
    font-size: 16px;
    height: 40px;
    font-weight: 500;
    padding: 0 24px;
  }
  &--sm {
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    padding: 0 32px;
  }
  &--md {
    font-size: 16px;
    font-weight: 500;
    height: 56px;
    padding: 0 32px;
  }
  &--lg {
    font-size: 24px;
    font-weight: 500;
    height: 72px;
    padding: 0 40px;
  }
  &--full {
    width: 100%;
  }
  &--rounded {
    border-radius: $padding-xl;
  }


}