.btn {
  @extend %btn_reset;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  transition: all 0.18s;
  font-weight: 500;
  &--orange {
    color: $white;
    background-color: $link;
    &:hover {

    }
  }
  &--sm {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
  }
  &--md {
    font-size: 24px;
    height: 72px;
    padding: 0 40px;
  }
  &--full {
    width: 100%;
  }


}