.icon {
  &_size {
    &-2 {
      width: 24px;
      height: 24px;
    }
    &-3 {
      width: 32px;
      height: 32px;
    }
    &-4 {
      width: 40px;
      height: 40px;
    }
  }
  &-arrow_down {
    border-style: none none solid solid;
    border-color: currentColor;
    transform: translate(50%,-50%) rotate(-45deg);
    position: absolute;
    &--sm {
      width: 9px;
      height: 9px;
      border-width: 2px;
    }
    &--md {
      width: 12px;
      height: 12px;
      border-width: 3px;
    }
  }
}