.fixed-scrollbar {
  position: relative;
  height: 100%;
  &.fixed {
    transition: all .2s;
    padding-top: 40px;
    .fixing {
      position: fixed;
      .col-sidebar & {
        width: 380px;
      }
      .col-projects & {
        width: 190px;
      }
    }
  }
  &.bottom {
    transition: all .2s;
    .fixing {
      position: absolute;
      bottom: 0;
      left: 0 !important;
      top: auto !important;
    }
  }
  .fixing {
    width: 100%;
    .col-sidebar & {
      height: 65vh;
      .partner-page--text & {
        height: auto;
      }
    }
  }
}