.pagination {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  a, span {
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
    color: $border;
    transition: all 0.3s;
    @include media(hover,601){
      width: 40px;
      height: 40px;
    }
    @include media(screen,600){
      width: 34px;
      height: 34px;
    }
    &.current {
      background-color: $text;
      color: $white;
      cursor: default;
      pointer-events: none;
    }
    @include hover(){
      background-color: $text;
      color: $white;
    }
  }
  .prev,
  .next {
    font-size: 7rem;
    line-height: 1;
    padding-bottom: 5px;
  }
  a {
    background-color: $bg;
  }
  .total {
    cursor: default;
    width: auto;
    white-space: nowrap;
    padding: 0 15px;
    color: $border;
  }
}