.sharing {
  display: flex;
  align-items: center;
  &.title-end {
    flex-direction: row-reverse;
    li {
      margin: 0 $padding_sm 0 0;
    }
  }
  .title {
    color: $border;
    text-transform: uppercase;
    font-size: 3.5rem;
  }
  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin: 0 0 0 $padding_sm;
  }
  .ico {
    display: flex;
    width: 40px;
    height: 40px;
    color: $white;
    align-items: center;
    justify-content: center;
    &-fb {
      background-color: #455896;
      padding: 7px;
      @include hover(){
        background-color: #455896 * 0.9;
      }
    }
    &-gg {
      background-color: #c14f44;
      padding: 7px;
      @include hover(){
        background-color: #c14f44 * 0.9;
      }
    }
    &-vk {
      background-color: #556f9c;
      padding: 7px;
      @include hover(){
        background-color: #556f9c * 0.9;
      }
    }
    &-ok {
      background-color: #d3732f;
      padding: 7px;
      @include hover(){
        background-color: #d3732f * 0.9;
      }
    }
  }
}