/**
Breakpoints

Description:
  <div data-markup="hide"></div>
  There is the list of breakpoints in the project. You can use them with next classes for grid columns:
  
Markup:
  <div class="content-row flex-align_items--center">
    <div class="content-col col-8">
      <table class="grid-table">
        <tr>
          <td></td>
          <td><strong>Extra extra small</strong></td>
          <td><strong>Extra small</strong></td>
          <td><strong>Small</strong></td>
          <td><strong>Medium</strong></td>
          <td><strong>Large</strong></td>
          <td><strong>Extra Large</strong></td>
          <td><strong>Wide</strong></td>
        </tr>
        <tr>
          <td><strong>Window width</strong></td>
          <td>&lt; 480px</td>
          <td>&lt; 600px</td>
          <td>&lt; 800px</td>
          <td>&lt; 1025px</td>
          <td>&lt; 1281px</td>
          <td>&lt; 1421px</td>
          <td>&lt; 1725px</td>
        </tr>
        <tr>
          <td><strong>Class prefix</strong></td>
          <td class="color-font-brand-01">-xx-</td>
          <td class="color-font-brand-01">-xs-</td>
          <td class="color-font-brand-01">-sm-</td>
          <td class="color-font-brand-01">-md-</td>
          <td class="color-font-brand-01">-lg-</td>
          <td class="color-font-brand-01">-xl-</td>
          <td class="color-font-brand-01">-wd-</td>
        </tr>
      </table>
    </div>
  </div>

Weight: 1

Styleguide styleguide.grid.breakpoints
 */

$mq-breakpoints: (
        mobile_sm:  481px,  // xx
        mobile_xl:  601px,  // xs
        tablet_sm:  801px,  // sm
        tablet_xl:  1025px, // md
        desktop_sm: 1281px, // lg
        desktop_xl: 1421px, // xl
        wide:       1801px  // wd
) !default;

@import "mixins/mq";
@import "mixins/class-generator";
@import "mixins/grid";

/**
Grid examples


Markup:
  <div class="content-row">
    <div class="content-col col-2">
      <div class="grid-col">.content-col .col-2</div>
    </div>
    <div class="content-col col-4">
      <div class="grid-col">.content-col .col-4</div>
    </div>
    <div class="content-col col-6">
      <div class="grid-col">.content-col .col-6</div>
    </div>
  </div>
  <div class="content-row">
    <div class="content-col col-pull-1 col-2">
      <div class="grid-col">.content-col .col-pull-1 .col-2</div>
    </div>
    <div class="content-col col-3">
      <div class="grid-col">.content-col .col-3</div>
    </div>
    <div class="content-col col-pull-2 col-2">
      <div class="grid-col">.content-col .col-pull-2 .col-2</div>
    </div>
    <div class="content-col col-2">
      <div class="grid-col">.content-col .col-2</div>
    </div>
  </div>
  <div class="content-row">
    <div class="content-col content-col--auto">
      <div class="grid-col">.content-col .content-col--auto {column width depends of content}</div>
    </div>
    <div class="content-col">
      <div class="grid-col">.content-col</div>
    </div>
  </div>
  <div class="content-row">
    <div class="content-col col-4 col-pull-1 col-pull-xl-0">
      <div class="grid-col">.content-col .col-4 .col-pull-1 .col-pull-xl-0</div>
    </div>
    <div class="content-col col-3 col-md-2">
      <div class="grid-col">.content-col .col-3 .col-md-2</div>
    </div>
    <div class="content-col col-4 col-pull-md-1 col-md-5">
      <div class="grid-col">.content-col .col-4 .col-pull-md-1 .col-md-5</div>
    </div>
  </div>

Weight: 3

Styleguide styleguide.grid.examples
 */

@mixin fonts($name,$file,$weight,$style){
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url("../fonts/" + $file + ".woff"),
    url("../fonts/" + $file + ".woff2");
  }
}

@mixin hover(){
  @include mq($from: tablet_xl) {
    &:hover {
      @content;
    }
  }
}

@mixin imagePlaceholder(){
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20shape-rendering%3D%22geometricPrecision%22%20image-rendering%3D%22optimizeQuality%22%20fill-rule%3D%22evenodd%22%20fill%3D%22transparent%22%20clip-rule%3D%22evenodd%22%20viewBox%3D%220%200%201000%20700%22%3E%3Cpath%20d%3D%22m4.94.84h990v700h-990z%22/%3E%3Cpath%20fill%3D%22%23201e1c%22%20d%3D%22m380.59%20402.48c1.89-2.15%204.55-2.58%208-2.03-3.41%205.53-7.48%209.81-14.17%209.97-5.32.12-11.6-1.83-11.57-6.8.02-4.27%206.24-7.34%209.84-8.36%203.99-1.13%208.02-1.05%2012.33-.93%201.31-3.27%202.46-7.17%203.42-11.75-3.43%202.84-7.64%205.02-11.41%205.06-7.93.09-11.49-8.71-12.66-16.91-4.81%208.52-11.99%2017.12-22.33%2017.14-11.96-.17-11.83-15.54-11.2-24.92%201.22-17.95%205.88-40.81%205.88-57.68%200-11.89-2.5-15.01-10.01-15.01-22.74%201.96-24.6%2040.01-12.03%2040.01%204.98%200%208.1-5.27%209.38-13.9l3.97-1.16c-1.64%2011.34-6.13%2021.39-17.51%2021.51-9.04.08-12.41-8.83-12.6-17.23-.38-17.8%2014.86-35.97%2032.82-35.97%2010.39%200%2013.46%206.95%2013.46%2020.62%200%2017.72-2.93%2037.09-4.15%2055.03-.3%204.38-1.86%2021.09%205.23%2021.07%209.36-.04%2018.27-25.82%2020.14-32.22l5.46-51.55%209.2-3.71-6.84%2064c-.51%205.93-3.64%2024.24%207.68%2024.24%203.01-1.33%206.87-5.11%208.87-8.33l6.84%204.23c-1.36%206.55-3.01%2012.75-5.02%2018.04%2010.21%201.73%2020.19%205.14%2031.05%2012.09l-5.04%203.11c-9.33-5.88-22.81-11.92-34.34-11.99-2.79-.16-14.38.14-14.38%204.41%200%202.06%202.95%202.96%205.61%202.96%202.73%200%204.59-1.22%206.08-3.04m321.37-17.89c-10.03%201.75-23.04-1.84-23.56-19.06l-8.53%205.27c-1.84%207.36-5.24%2012.41-7.95%2013.54-4.55-5.17-3.11-24.93%203.36-23.89%202.77.45%204.13%202.08%204.88%205.3l5.58-2.21c-.97-3.77-3.7-5.57-7.69-6.21-6.15-.99-11.26.51-14.25%204.79-4.61%204.34-11.69%207.39-18.01%207.39-.69-1.24-1.71-2.21-3.1-2.77l-5.84%203.51c1.3.85%202.66%201.52%204.08%202.01%201.73%204.28.62%2011.77-1.09%2012.49-13.73-3.08-2.6-76.43%2022.69-84.37%204.74-1.48%2010.31-1.14%2011.32%204.96%201.95%2011.84-14.76%2038.95-34.37%2052.71-1.99%201.56-3.3%203.54-3.51%206.66%2022.04-12.93%2042.14-40.8%2043.51-57.94%201.03-12.81-8.41-15.76-18.52-13-23.47%206.43-35.91%2045.57-35.26%2071.31-4.05%201.23-8.07%201.67-11.93%201.05l-6.09%203.78c-.14.35-.25.72-.32%201.12-.48%208.69-2.94%2014.38-5.16%2013.95-4.8-.77-5.45-12.21-3.47-19.38%203.83.22%207.22.02%2011.03-.6l3.29-2.32c-.78-3.06-3.64-4.87-6.57-5.34-6.27-.78-10.68.65-13.43%203.86-2.17-.4-4.4-.96-6.72-1.64.22%202.5%201.94%204.22%204.78%204.74-3.41%207.65-.59%2023.43%209.14%2023.56%2010.37.14%2012.74-8.29%2013.7-16.16%203.92-.03%207.95-.84%2012-2.27.99%2010.85%204.67%2018.42%2011.25%2018.44%206.24%200%2010.33-8.35%209.68-14.68%204.67-.06%209.67-1.91%2014.63-5.67-1.63%207.22.63%2019.03%209.09%2020.32%205.13.79%209.49-9.14%2011.42-13.2%203.34%209.35%2015.05%2014.51%2024.34%2013.41l5.6-3.46m-218.38-48.92c4.01-10.61%2011.69-3.68%2016.95.14%207.24%205.26%2016.95%208.3%2021.23-2.02l-2.07-2.01c-3.3%209.45-10.81%201.28-14.77-2.97-8.04-8.56-21.07-5.58-24.42%205.37l3.08%201.49m-30.61%2032.11c2.1-1.24%204.11-2.7%205.97-4.39-.82-1.8-2.27-3.51-4.2-3.59-8.14.02-8.17%2024.03-1.38%2025.11%204.27.66%2017.93-13.48%2026.4-26.51l9.19-3.63-1.31%2012.8c2.25-5.13%205.39-9.63%2010.22-10.71%203.48-.2%205.9%204.46%206.92%2011.81%202.33-5.73%205.56-10.63%2010.46-11.71%206.75-.63%204.67%2019.63%208.2%2024.64%202.92%204.14%2015.95-14.21%2018.48-21.59l.17-1.61%209.19-3.63-1.3%2012.69c7.55-14.18%2016.97-29.77%2028-29.86%209.09-.08%206.43%208.64%204.96%2014.28l-9.24%203.65c.73-2.83%202.89-9.38.14-11.17-6.4%201.18-13.56%2014.02-18.9%2025.19l7.19-2.84c8.32%2022.85%2024.56%2044.31%2050.85%2047.7l-6.07%203.76c-23.17-2.16-44.78-22.73-53.45-45.47-2.23%204.81-4.04%209.03-5.2%2011.47l-9.2%203.64%202.02-19.58c-5.32%209.51-13.69%2019.64-21%2019.64-9.35%200-4.22-25.22-7.36-26.52-2.04.64-5.54%2012.41-7.47%2019.14-.04%201.23-.12%202.49-.22%203.77-3.1%201.17-7.93%203-9.18%203.51%201.27-9.49%202.97-25.42.36-27.72-2.32%201.84-8.95%2015.58-10.19%2023.2l-.09.92-9.2%203.64%202.32-22.51c-7.79%209.89-18.22%2022.48-27.37%2022.57-6.85.08-10.24-6-11.15-12.23-4.95.95-9.92%201-14.45.001-.44%205.83-4.25%2012.22-9.71%2012.23-7.58-.08-12.2-10.38-12.79-24.16-3.17.39-7.1-.04-8.57-3.78%202.8.73%205.65.93%208.5.68.03-24.27%2014.83-67.68%2042.96-67.75%2031.12-.09-3.26%2055.11-31.16%2067.66.29-2.69%201.89-4.06%204.39-5.62%2024.93-15%2044.22-53.9%2026.99-55.29-30.12.03-41.84%2081.96-27.68%2085.14%201.52-.65%202.56-6.62%201.57-10.95-1.79-.83-3.46-1.87-4.97-3.14%202.11-1.3%204.22-2.59%206.33-3.89%202.25.94%203.51%202.98%203.98%205.46%204.32%201.14%209.31%201.26%2014.36.31-.38-19.98%2021.9-19.86%2023.85-9.96l-1.08%201.53c-3.81%203.66-8.41%206.62-13.32%208.7.32-1.46%201.1-3.31%203.24-5.04%22/%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23201e1c%22%20stroke-miterlimit%3D%2222.926%22%20d%3D%22m-.06%20326.08c65.12%2020.52%20133.59%2013.02%20190.88-46.74%20236.43-246.6-147.74-330.11-93.41-39.19%2016.64%2089.08%20107.16%20103.79%20165.35%2076.39%2052.12-24.54%20116.29-88.22%20181.42-133.73%20155.37-108.58%20225.37-12.93%20124.91%20107.35-116.84%20139.89-266.3-14.66-40.75-71.14%20135.17-33.85%20264.24-.76%20194.85%20157.59-88.84%20202.7-200.02%208.04-43.08-111.58%2098.5-75.08%20326.09-123.8%20281.57%2081.43-40.29%20185.76-164.88%2026.83%207.64-89.98%208.57-5.8%2018.82-12.08%2030.62-18.52%22/%3E%3Ccircle%20fill%3D%22%23201e1c%22%20cx%3D%22919.6%22%20cy%3D%22211.39%22%20r%3D%2232.6%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  //box-shadow: 0 0 0 4px inset rgba($text-02,0.8);
}

