$white: #fff;
$black: #000;

$text: $text-01;
$link: $brand-01;
$bg: $ui-01;

$padding: 16px;
$padding-sm: 0.5*$padding;  // 8px
$padding-md: 2*$padding;    // 32px
$padding-lg: 3*$padding;    // 48px
$padding-xl: 4*$padding;    // 64px
$padding-xxl: 8*$padding;   // 128px

$gutter: 12px;              // 12px
$gutter-x2: 2*$gutter;      // 24px

$font: 16px;
$font-sm: 0.5*$font;        // 8px
$font-md: 1.5*$font;        // 24px
$font-lg: 2*$font;          // 32px

$content-lg: 1800px;



//@include mq($from: tablet_xl) {}
//@include mq(tablet_sm, tablet_xl) {}
//@include mq($until: tablet_xl) {}


