.object_cart {
  @include mq(tablet_xl, desktop_sm) {
    margin-top: -200px;
  }
  @include mq($from: tablet_xl) {
    padding-bottom: $padding-xxl;
  }
  @include mq($until: tablet_xl) {
    padding-bottom: 80px;
    margin-top: -128px;
  }
  @include mq($until: tablet_sm) {
    //margin-top: -72px;
    margin-top: -48px;
  }
  &-main {
    @include mq($from: desktop_sm) {
      &:not(.no-margin){
        margin-top: -1*$padding-xxl;
      }
    }
    //@include mq($until: tablet_xl) {
    //  margin-top: -1*$padding-xl;
    //}
  }
  &-section {
    background-color: $white;
    @include mq($from: tablet_xl) {
      padding: $padding-xl $padding-lg;
    }

    @include mq(mobile_sm, tablet_xl) {
      padding: $padding-lg $gutter-x2;
    }
    @include mq($from: mobile_xl) {
      border-radius: 0 150px 0 0;
    }
    @include mq($from: mobile_sm) {
      &:not(:last-child){
        margin-bottom: $gutter-x2;
      }
      #profileForm & {
        &:last-child{
          margin-bottom: $gutter-x2;
        }
      }
    }
    @include mq($until: mobile_sm) {
      padding: $padding-md $gutter-x2;
      margin: 0 -24px;
    }

    .h2 {
      margin-bottom: $padding-lg;
    }
    &--tabs {
      position: relative;
      .tab-checker {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
      }
      .tab-label {
        @extend %btn_reset;
        display: inline-flex;
        cursor: pointer;
        font-size: $font;
        position: relative;
        font-weight: 500;
        @include mq($from: tablet_sm) {
          margin-right: $gutter-x2;
        }
        @include mq($until: tablet_sm) {
          margin-right: $gutter;
        }
        &:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          height: 2px;
          background-color: $brand-02;
          opacity: 0;
          transition: all 0.2s;
        }
        @include hover(){
          &:after {
            opacity: 1;
          }
        }
      }
      .tab-section {
        display: none;
        @include mq($from: tablet_sm) {
          margin-top: $padding-lg;
        }
        @include mq($until: tablet_sm) {
          margin-top: $padding-md;
        }
      }
      .tab-checker:checked + .tab-label {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &-check {
    &_tab {
      &:checked ~ .object_cart-check_box {
        display: block;
      }
      &:checked ~ .object_cart-check_btn {
        display: none;
      }
    }
    &_box {
      display: none;
    }
  }
  &-cta {

    @include mq($from: tablet_xl) {
      margin-top: $padding-xxl;
    }
    @include mq($until: tablet_xl) {
      margin-top: $padding-xl;
    }
    .btn {
      padding: 0 $gutter-x2;
      font-size: $font-md;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Component_68_494%22%20data-name%3D%22Component%2068%20%u2013%20494%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2221%22%20height%3D%2218%22%20viewBox%3D%220%200%2021%2018%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_59%22%20data-name%3D%22Path%2059%22%20d%3D%22M4.01%2C6.03l7.51%2C3.22L4%2C8.25l.01-2.22m7.5%2C8.72L4%2C17.97V15.75l7.51-1M2.01%2C3%2C2%2C10l15%2C2L2%2C14l.01%2C7L23%2C12Z%22%20transform%3D%22translate%28-2%20-3%29%22%20fill%3D%22%23fff%22/%3E%0D%0A%3C/svg%3E%0D%0A');
      background-repeat: no-repeat;
      background-position: calc(100% - 32px) center;
      background-size: 21px auto;
      @include mq($until: mobile_sm) {
        justify-content: flex-start;
      }
      @include mq($from: tablet_sm) {
        height: 80px;
      }
      @include mq($until: tablet_sm) {
        height: 60px;
      }
    }
    &--text {
      margin-top: $padding-md;
      font-size: $font;

      @include mq($from: tablet_xl) {
        max-width: 80%;
      }
    }
    &--custom {
      display: flex;
      align-items: center;
      @include mq($from: mobile_xl) {
        justify-content: flex-end;
      }
      @include mq($until: mobile_xl) {
        flex-wrap: wrap;
      }
      .btn_custom {
        @extend %btn_reset;
        transition: all 0.25s;
        padding: 0 24px;
        border-radius: 8px;
        color: $white;
        @include mq($from: mobile_xl) {
          margin-left: $padding_sm;
        }
        @include mq(mobile_sm, mobile_xl) {
          margin: 0 $padding_sm $padding_sm 0;
        }
        @include mq($until: mobile_sm) {
          width: 100%;
          margin: 0 0 $padding_sm 0;
        }
        &-submit {
          background-color: $ui-02;
          @include hover(){
            background-color: darken($ui-02, 8);
          }
        }
        &-reject {
          background-color: $ui-03;
          @include hover(){
            background-color: darken($ui-03, 8);
          }
        }
        &-rework {
          background-color: $text-04;
          @include hover(){
            background-color: darken($text-04, 8);
          }
        }
      }
    }
  }
  &-submit {
    margin-top: $padding-xl;
    .btn {
      padding: 0 $gutter-x2;

      font-size: $font-md;
      border-radius: 8px;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22arrow_forward_ios-24px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_72%22%20data-name%3D%22Path%2072%22%20d%3D%22M5.88%2C4.12%2C13.76%2C12%2C5.88%2C19.88%2C8%2C22%2C18%2C12%2C8%2C2Z%22%20fill%3D%22%23fff%22/%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_73%22%20data-name%3D%22Path%2073%22%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22/%3E%0D%0A%3C/svg%3E%0D%0A');
      background-repeat: no-repeat;
      background-position: calc(100% - 32px) center;
      background-size: 21px auto;
      @include mq($until: mobile_sm) {
        justify-content: flex-start;
      }
      @include mq($from: tablet_sm) {
        height: 80px;
      }
      @include mq($until: tablet_sm) {
        height: 60px;
      }
    }
  }
  &-form {
    &--map {
      width: 100%;
      position: relative;
      @include mq($from: tablet_sm) {
        height: 500px;
      }
      @include mq($until: tablet_sm) {
        height: 260px;
      }
      &_hint {
        position: absolute;
        bottom: 100%;
        left: 50%;
        background-color: rgba($text,0.83);
        color: $white;
        font-size: $font;
        padding: $padding $gutter-x2;
        border-radius: 20px 20px 20px 0;
        transform: translateY($padding);
        @include mq($until: mobile_xl) {
          display: none;
        }
      }
      &_box {
      
      }
      &_frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
  }
  &-sidebar {

    @include mq($from: wide) {
      padding-left: 40px;
    }
    @include mq(desktop_xl, wide) {
      padding-left: $gutter-x2;
    }
    @include mq($from: desktop_sm) {
      padding: $padding-xl 0;

    }
    @include mq($until: desktop_sm) {
      display: flex;
      justify-content: flex-end;
    }
    @include mq(tablet_sm, desktop_sm) {
      padding: $padding-md 0;

    }
    @include mq($until: tablet_sm) {
      position: static !important;
      width: auto !important;
    }
    &--wrap {
      @include mq(tablet_sm, desktop_sm) {
        order: -1;

        margin-left: auto;
      }
      @include mq(mobile_sm, tablet_xl) {
        margin-bottom: $gutter-x2;
      }
      @include mq($from: tablet_sm) {
        height: 128px;
      }
      @include mq($until: tablet_sm) {
        //height: 72px;
        min-width: 100%;
        margin: $padding-lg 0 0;
      }
    }
    &--cta {
      display: flex;
      align-items: center;
      @include mq($from: desktop_sm) {
        flex-wrap: wrap;
        margin-bottom: $padding-xl - $padding-sm;
      }
      .btn {
        @include mq($from: tablet_sm) {
          padding: 0 $gutter-x2;
        }
        @include mq($until: tablet_sm) {
          height: 40px;
          padding: 0 12px;
          font-size: 12px;
          .icon {
            width: 18px;
            height: 18px;
          }
        }
      }
      .icon {
        margin-right: $gutter;
      }
    }
    &--data {
      @include mq($until: desktop_sm) {
        display: none;
      }
    }
    &--btn {
      border-radius: 8px;

      margin-bottom: $padding-sm;
      @include mq($from: desktop_sm) {
        margin-right: $padding-sm;
      }
      @include mq($until: desktop_sm) {
        margin-left: $padding-sm;
      }
    }
    &--img {
      width: 128px;
      height: 128px;
      display: block;
      margin-bottom: $gutter-x2;
      img {
        @extend %full_block;
        object-fit: cover;
      }
    }
    &--text {
    
    }
  }
  &-socials {
    ul {
      display: flex;
      flex-direction: column;
    }
    li {
      display: flex;
      align-items: center;
      &:not(:last-child){
        margin-bottom: $gutter-x2;
      }
      a {
        display: inline-flex;
        align-items: center;
        color: $text-05;
        padding-left: 32px;
        position: relative;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23A8A9AD%22%20d%3D%22M19%2C13H13v6H11V13H5V11h6V5h2v6h6Z%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: 24px auto;
        @include hover(){
          color: $brand-01;
          background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23CFAE7F%22%20d%3D%22M19%2C13H13v6H11V13H5V11h6V5h2v6h6Z%22/%3E%3C/svg%3E');
          .icon {
            color: $brand-02;
          }
        }
      }
      .icon {
        margin-right: $gutter;
        color: $text-03;
        transition: all 0.25s;
      }
      &.added {
        a {
          color: $ui-02;
          background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23689F38%22%20d%3D%22M9%2C16.2%2C4.8%2C12%2C3.4%2C13.4%2C9%2C19%2C21%2C7%2C19.6%2C5.6Z%22/%3E%3C/svg%3E');
          @include hover(){
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23CFAE7F%22%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012%2019%206.41z%22/%3E%3C/svg%3E');
          }
        }
        .icon {
          color: $ui-02;
        }
      }
    }
  }
}