@import "views/3d";
@import "views/photo";
@import "views/video";
@import "views/plan";
@import "views/map";

.object_page {

  @include mq($from: desktop_xl) {
    padding-top: 80px;
  }
  @include mq(tablet_sm, desktop_xl) {
    padding-top: $padding-lg;
  }
  @include mq($until: tablet_sm) {
    padding-top: $padding;
  }
  &-preview {
    position: fixed;

    right: $gutter-x2;
    z-index: 20;
    @include mq($from: ($content-lg + 2*$gutter-x2 + $padding)){
      right: calc(50% - #{$content-lg}/2);
    }
    @include mq($from: tablet_sm) {
      top: $padding-lg;
    }
    @include mq($until: tablet_sm) {
      top: $padding-md;
    }
    &--back {
      @extend %btn_reset;
      border: 1px solid $brand-02;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $brand-02;
      @include mq($from: tablet_sm) {
        width: $header-height;
        height: $header-height;
      }
      @include mq($until: tablet_sm) {
        width: $padding-lg;
        height: $padding-lg;
      }
    }
  }
  &-info {

    @include mq($from: tablet_sm) {
      font-size: 24px;
    }
    @include mq($until: tablet_sm) {
      font-size: $font;
    }
    &--general {
      display: flex;
      align-items: center;

      @include mq($from: tablet_sm) {
        margin-bottom: $padding-lg;
      }
      @include mq($until: tablet_sm) {
        margin-bottom: $gutter-x2;
      }
      @include mq($until: mobile_xl) {
        flex-direction: column;
        align-items: flex-start;
      }
      .item-hashes {

        @include mq($from: mobile_xl) {
          margin-left: $gutter-x2;
        }
        @include mq($until: mobile_xl) {
          margin-top: $padding;
        }
      }
    }
    &--stuff {
      display: flex;
      align-items: center;
      margin-bottom: $padding-lg;
      flex-wrap: wrap;
      span {
        margin: 0 4px;
      }
      .icon {
        color: $text-03;

        flex-shrink: 0;
        @include hover(){
          color: $link;
        }
        @include mq($until: mobile_xl) {
          align-self: flex-start;
        }
        & + span {
          max-width: calc(100% - 40px);
        }
      }
    }
  }
  &-general {
    position: relative;
    @include mq($from: desktop_xl) {
      &:not(:last-child){
        margin-bottom: $padding-xxl;
      }
    }
    @include mq(tablet_xl, desktop_xl) {
      &:not(:last-child){
        margin-bottom: $padding-xxl - $padding-lg;
      }
    }
    @include mq(tablet_sm, tablet_xl) {
      &:not(:last-child){
        margin-bottom: $padding-xxl - $padding-lg;
      }
    }
    @include mq($until: tablet_sm) {
      &:not(:last-child){
        margin-bottom: $padding-xl;
      }
    }
  }
  &-cta {
    z-index: 2;

    @include mq($from: tablet_xl) {
      margin-left: $padding;
    }
    @include mq($from: tablet_sm) {
      position: absolute;
      padding: 20vh 0 $padding-xl;
    }
    @include mq($until: tablet_sm) {
      padding-bottom: $padding-md;
      display: inline-flex;
    }
    &--box {
      @include mq($until: tablet_sm) {
        height: 80px;
      }
    }
    &--buttons {
      background-color: $brand-05;
      border-radius: 50px;
      display: flex;
      align-items: center;
      box-shadow: 0 4px 16px 0 rgba($black,0.16);
      @include mq($from: desktop_sm) {
        width: 88px;
        padding: $padding 0;
        flex-direction: column;
      }
      @include mq(tablet_sm, desktop_sm) {
        width: 60px;
        padding: $padding_sm 0;
        flex-direction: column;
      }
      @include mq($until: tablet_sm) {
        padding: $padding_sm;
      }
      @include mq($until: mobile_sm) {
        transition: all 0.15s;
        transform-origin: 24px 24px;
        .icon {
          transition: all 0.15s;
        }
        .sticky & {
          transform: rotate(90deg);
          .icon {
            transform: rotate(-90deg);
          }
        }
      }
    }
    &--link {
      border-radius: 50%;
      background-color: $white;
      color: $brand-02;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba($black,0.16);
      @include hover(){
        color: $ui-01;
      }
      @include mq($from: desktop_sm) {
        width: 56px;
        height: 56px;
        &:not(:last-child){
          margin-bottom: $padding;
        }
      }
      @include mq(tablet_sm, desktop_sm) {
        width: 47px;
        height: 47px;
        &:not(:last-child){
          margin-bottom: $padding_sm;
        }
      }
      @include mq($until: tablet_sm) {
        width: 32px;
        height: 32px;
        .icon {
          width: 20px;
          height: 20px;
        }
        &:not(:last-child){
          margin-right: $padding_sm;
        }
      }

      .icon-like {
        path {
          transition: fill 0.2s;
        }
        &--dynamic {
          fill: $white;
        }
        
      }
      @include hover(){
        .icon-like {
          &--static {
            fill: $ui-01;
          }
          &--dynamic {
            fill: $ui-01;
          }
        }
      }
      &.liked {
        .icon-like {
          &--static {
            fill: $ui-01;
          }
          &--dynamic {
            fill: $ui-01;
          }
        }
      }
    }
  }
  &-view {
    position: relative;
    &--checker {
      @extend %hidden_input;
    }
    &--tabs {
      &_list {
        display: flex;
        align-items: center;
        li {
          @include mq($until: mobile_sm) {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
        label {
          display: flex;
          align-items: center;
          font-weight: 500;
          height: 32px;
          background-color: $white;
          cursor: pointer;
          @include mq($from: mobile_sm) {
            padding: 0 $gutter-x2;
            font-size: $font;
          }
          @include mq($until: mobile_sm) {
            width: 100%;
            padding: 0 $padding_sm;
            font-size: 12px;
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
    &--sections {

      height: 0;

      overflow: hidden;
      position: relative;
      @include mq($from: mobile_sm) {
        width: 100%;
        padding-bottom: 56%;
      }
      @include mq($until: mobile_sm) {
        width: 100vw;
        padding-bottom: 56vw;
        margin-left: -1*$gutter-x2;
      }
    }
    &--section {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      z-index: -1;

    }
    &--box {
      @extend %full_block;
      .gallery-carousel, .item {
        height: 100%;
      }
      .owl-stage-outer,
      .owl-stage,
      .owl-item {
        height: 100%;
      }
      .arrow {
        position: absolute;
        @extend %btn_reset;

        top: 0;
        bottom: 0;
        @include mq($from: tablet_sm) {
          margin: auto 0 auto calc(50vw + 33.3333%);
          width: 72px;
          height: 72px;
        }
        @include mq($until: tablet_sm) {
          margin: auto 0;
          right: $gutter-x2;
          width: 60px;
          height: 60px;
        }
        &-prev {
          color: $link;
          pointer-events: none;
          z-index: 1;
          &:after {
            @extend .pseudo-content;
            @extend .icon-arrow_down;
            @extend .icon-arrow_down--md;
            transform: translate(-50%,-50%) rotate(-135deg);
          }
        }
        &-next {
          background-color: $white;
          box-shadow: 0 4px 8px 0 rgba($black,0.16);
          transition: all 0.3s;

        }
      }
    }
  }
  &-main {
    &--descr {

      @include mq($from: desktop_xl) {
        padding-top: $padding-xl;
      }
    }
    &--about {

      @include mq($from: desktop_xl) {
        padding-top: $padding-xxl + $padding-lg;
      }
      @include mq(mobile_sm, desktop_xl) {
        padding-top: $padding-xl;
      }
      @include mq($until: mobile_sm) {
        padding-top: $padding-lg;
      }
    }
    &--section {

      @include mq($from: desktop_xl) {
        padding-left: (100%/7);

        &:not(:last-child){
          margin-bottom: $padding-xxl;
        }
      }
      @include mq(tablet_xl, desktop_xl) {
        padding-left: (100%/8);
        &:not(:last-child){
          margin-bottom: $padding-xxl - $padding-lg;
        }
      }
      @include mq(tablet_sm, tablet_xl) {
        padding-left: (100%/12);
        &:not(:last-child){
          margin-bottom: $padding-xxl - $padding-lg;
        }
      }
      @include mq($until: tablet_sm) {
        &:not(:last-child){
          margin-bottom: $padding-xl;
        }
      }

    }
    &--short_info {

      color: $brand-01;


      @include mq($from: desktop_xl) {
        padding-right: (100%/7);
        margin-bottom: 2*$padding-xxl;
      }
      @include mq(tablet_sm, desktop_xl) {
        padding-right: (100%/8);
        margin-bottom: $padding-xxl;
      }
      @include mq($until: tablet_sm) {
        margin-bottom: $padding-xl;
      }


      @include mq($from: desktop_xl) {
        font-size: $font-lg;
      }
      @include mq(mobile_sm, desktop_xl) {
        font-size: 28px;
      }
      @include mq($until: mobile_sm) {
        font-size: $font-md;
      }
    }
    &--benefits {
      font-size: $font-md;
      border-left: 8px solid $link;
      padding-top: $padding_sm;
      padding-bottom: $padding_sm;
      @include mq($until: tablet_sm) {
        padding-left: (100%/12);
      }
      @include mq($from: mobile_sm) {
        font-size: $font-md;
      }
      @include mq($until: mobile_sm) {
        font-size: 18px;
      }
      li {
        &:not(:last-child){
          margin-bottom: $padding;
        }
      }
    }
    &--text {
    
    }
    &--facilities {
      .h2 {
        margin-bottom: $padding-md;
      }
      ul {

        column-gap: $gutter-x2;
        @include mq($from: mobile_xl) {
          columns: 3 auto;
        }
        @include mq(mobile_sm, mobile_xl) {
          columns: 2 auto;
        }
        li {
          page-break-inside: avoid;
          break-inside: avoid;
          position: relative;
          padding-left: $padding-md;
          margin-bottom: $padding_sm;
          &:before {
            @extend .pseudo-content;
            width: 24px;
            height: 24px;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22done-24px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_54%22%20data-name%3D%22Path%2054%22%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22/%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_55%22%20data-name%3D%22Path%2055%22%20d%3D%22M9%2C16.2%2C4.8%2C12%2C3.4%2C13.4%2C9%2C19%2C21%2C7%2C19.6%2C5.6Z%22%20fill%3D%22%2353545d%22/%3E%0D%0A%3C/svg%3E%0D%0A');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px auto;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
    &--table {
      table {
        width: 100%;
        border-collapse: collapse;
        background-color: $white;
        tr:nth-child(even) {
          background-color: #f5f5f5;
        }
        td {


          @include mq($from: mobile_xl) {
            padding: 0 $padding-md;
            &:first-child {
              width: 33%;
            }
          }
          @include mq(mobile_sm, mobile_xl) {
            padding: 0 $gutter;
          }
          @include mq($from: mobile_sm) {
            height: 48px;
          }
          @include mq($until: mobile_sm) {
            padding: $padding $gutter;
            font-size: 14px;
          }

        }
      }
    }
    &--sidebar {

      @include mq($from: tablet_xl) {
        padding: $padding-lg 0 $padding-lg $padding-lg;
      }
      @include mq(tablet_sm, tablet_xl) {
        padding-left: (100%/12);
        margin-top: $padding-xxl - $padding-lg;
        margin-bottom: $padding-xxl - $padding-lg;
      }
      @include mq($until: tablet_sm) {
        margin-top: $padding-xl;
        margin-bottom: $padding-xl;
      }
      .h3 {
        margin-bottom: 24px;
      }
      &_img {
        width: 120px;
        height: 120px;
        margin-bottom: $padding;
        img {
          @extend %full_block;
        }
      }
      &_list {
        li {

          position: relative;
          margin-bottom: $padding_sm;
          @include mq($from: desktop_xl) {
            padding-left: $padding-lg;
          }
          @include mq($until: desktop_xl) {
            padding-left: $padding-md;
          }
          &:before {
            @extend .pseudo-content;
            width: 24px;
            height: 24px;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22done-24px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_54%22%20data-name%3D%22Path%2054%22%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22/%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_55%22%20data-name%3D%22Path%2055%22%20d%3D%22M9%2C16.2%2C4.8%2C12%2C3.4%2C13.4%2C9%2C19%2C21%2C7%2C19.6%2C5.6Z%22%20fill%3D%22%2353545d%22/%3E%0D%0A%3C/svg%3E%0D%0A');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px auto;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
  &-form {

    background-color: $white;

    @include mq($from: desktop_sm) {
      padding: $padding-xxl 0;
      border-radius: $padding-xl 0 $padding-xl $padding-xl;
    }
    @include mq(tablet_sm, desktop_sm) {
      padding: ($padding-xxl - $padding-lg) 0;
      border-radius: $padding-xl 0 $padding-xl $padding-xl;
    }
    @include mq(mobile_sm, tablet_sm) {
      padding: $padding-md $gutter-x2;
      border-radius: $padding 0 $padding $padding;
    }
    @include mq($until: mobile_sm) {
      padding: $padding-md $gutter-x2;
      margin: 0 -1*$gutter-x2;
    }
    .h2 {

      @include mq($from: tablet_sm) {
        margin-bottom: $padding-md;
      }
      @include mq($until: tablet_sm) {
        margin-bottom: $padding;
      }
    }
    &--subtitle {

      @include mq($from: tablet_sm) {
        margin-bottom: $padding-xl;
      }
      @include mq($until: tablet_sm) {
        margin-bottom: $padding-md;
      }
    }
    &--submit {
      @include mq($from: tablet_sm) {
        margin-top: $padding-lg;
      }
      .btn {
        height: 80px;
        padding: 0 $gutter-x2;
        font-size: $font-md;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Component_68_494%22%20data-name%3D%22Component%2068%20%u2013%20494%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2221%22%20height%3D%2218%22%20viewBox%3D%220%200%2021%2018%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Path_59%22%20data-name%3D%22Path%2059%22%20d%3D%22M4.01%2C6.03l7.51%2C3.22L4%2C8.25l.01-2.22m7.5%2C8.72L4%2C17.97V15.75l7.51-1M2.01%2C3%2C2%2C10l15%2C2L2%2C14l.01%2C7L23%2C12Z%22%20transform%3D%22translate%28-2%20-3%29%22%20fill%3D%22%23fff%22/%3E%0D%0A%3C/svg%3E%0D%0A');
        background-repeat: no-repeat;
        background-position: calc(100% - 32px) center;
        background-size: 21px auto;
        @include mq($until: mobile_sm) {
          justify-content: flex-start;
        }
      }
    }
  }
}


#view_3d:checked ~ .object_page-view--tabs [for="view_3d"],
#view_photo:checked ~ .object_page-view--tabs [for="view_photo"],
#view_video:checked ~ .object_page-view--tabs [for="view_video"],
#view_plan:checked ~ .object_page-view--tabs [for="view_plan"],
#view_map:checked ~ .object_page-view--tabs [for="view_map"] {
  color: $white;
  background-color: $text-04;
}
#view_3d:checked ~ .object_page-view--sections [data-object="view_3d"],
#view_photo:checked ~ .object_page-view--sections [data-object="view_photo"],
#view_video:checked ~ .object_page-view--sections [data-object="view_video"],
#view_plan:checked ~ .object_page-view--sections [data-object="view_plan"],
#view_map:checked ~ .object_page-view--sections [data-object="view_map"] {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}