<div class="item">
    <figure class="item-img">
        <a href="article.html" class="item-link"></a>
        <img src="@@imgSrc"
             alt="@@imgAlt">
        <button type="button" class="favorite @@isFavorite"><span class="icon"></span></button>
    </figure>
    <section class="item-brief">
        <div class="item-data">
            <span class="item-tag">@@tag</span>
            <time class="item-date">@@data</time>
        </div>
        <h3 class="item-title"><a href="article.html">@@title</a></h3>
        </h3>
        <div class="item-info">

            <span class="views">
                <i class="ico">
                     <svg xmlns="http://www.w3.org/2000/svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"/>
                    </svg>
                </i>
                @@views
            </span>
            <span class="comments">
                <i class="ico">
                     <svg xmlns="http://www.w3.org/2000/svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-comment"/>
                    </svg>
                </i>
                @@comments
            </span>
        </div>
    </section>

</div>