<a href="project.html" class="item">
    <figure class="item-img">
        <img src="@@imgSrc"
             alt="@@imgAlt">
    </figure>
    <section class="item-brief">
        <div class="item-arrow"></div>
        <div class="item-data">
            <h3 class="item-title">@@title</h3>
            <div class="item-subtitle">@@subtitle</div>
        </div>
        <div class="item-btn">
            <svg xmlns="http://www.w3.org/2000/svg" class="ico">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"/>
            </svg>
        </div>
    </section>
</a>