// ====================== elements ======================

.hashes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  white-space: nowrap;
  @include mq($from: tablet_sm){
    font-size: $font;
  }
  @include mq($until: tablet_sm){
    font-size: $font-sm;
  }
  @include mq($until: mobile_sm){
    letter-spacing: 1px;
  }
  li {
    @include mq($from: tablet_sm){
      margin-right: $padding-md;
      margin-bottom: $padding;
    }
    @include mq($until: tablet_sm){
      margin-right: $gutter-x2;
      margin-bottom: $gutter;
    }
  }
  a {
    color: $text-02;

  }
}

.sharing {
  display: flex;

  @include mq($from: tablet_sm) {
    flex-direction: column;
    align-items: flex-start;
  }
  @include mq($until: tablet_sm) {
    align-items: center;
    justify-content: center;
  }
  .layout-aside & {
    @include mq($from: tablet_xl) {
      padding: 140px 0;
    }
    @include mq(tablet_sm, tablet_xl) {
      padding: 100px 0;
    }
    @include mq(mobile_xl, tablet_sm) {
      padding: $gutter-x2 0;
      .blog-page & {
        margin-top: 40px;
      }
    }
    @include mq($until: mobile_xl) {
      .text-section & {
        padding: 0 16px 40px 16px;
        background-color: $white;
      }
      .blog-page & {
        margin-top: 40px;
      }
    }
  }
  .layout-aside.sticky-sharing & {


    @include mq($from: tablet_xl) {
      top: 140px - 56px;
      position: fixed;
    }
    @include mq(tablet_sm, tablet_xl) {
      top: 100px - 56px;
      position: fixed;
    }
    @include mq($until: tablet_sm) {

    }
  }
  .layout-aside.bottom-sharing & {

    @include mq($from: tablet_sm) {
      margin-top: auto;
    }
  }
  li {

    @include mq($from: tablet_sm) {
      margin: $gutter 0;
    }
    @include mq(mobile_xl, tablet_sm) {
      &:not(:last-child){
        margin: 0 $gutter-x2 0 0;
      }
    }
    @include mq($until: mobile_xl) {
      &:not(:last-child) {
        margin: 0 $gutter 0 0;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    color: $text-02;

    @include mq($from: tablet_xl) {
      font-size: $font-md;
    }
    @include mq(tablet_sm, tablet_xl) {
      font-size: $font;
      flex-direction: column;
    }
    @include mq($until: tablet_sm) {
      font-size: $font;
    }
    @include hover(){
      i {
        opacity: 1;
      }
    }
  }
  i {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $text-02;
    transition: all 0.2s;
    @include mq($from: tablet_xl) {
      width: 56px;
      height: 56px;
      margin-right: 10px;
      opacity: 0.5;
    }
    @include mq(tablet_sm, tablet_xl) {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }
    @include mq(mobile_xl, tablet_sm) {
      width: 48px;
      height: 48px;
      margin-right: 10px;
    }
    @include mq($until: mobile_xl) {
      width: 32px;
      height: 32px;
      margin-right: 8px;
      svg {
        transform: scale(0.6);
      }
    }
  }
  .icon-fb {
    //@include hover(){
    //  background-color: #1877F2;
    //}
    //@include mq($until: tablet_xl) {
    //  background-color: #1877F2;
    //}
    svg {
      width: 13px;
      height: 24px;
    }
  }
  .icon-tw {
    //@include hover(){
    //  background-color: #1DA1F2;
    //}
    //@include mq($until: tablet_xl) {
    //  background-color: #1DA1F2;
    //}
    svg {
      width: 24px;
      height: 20px;
    }
  }
  .icon-pt {
    //@include hover(){
    //  background-color: #BD081C;
    //}
    //@include mq($until: tablet_xl) {
    //  background-color: #BD081C;
    //}
    svg {
      width: 20px;
      height: 24px;
    }
  }
  .icon-vk {
    //@include hover(){
    //  background-color: #4680C2;
    //}
    //@include mq($until: tablet_xl) {
    //  background-color: #4680C2;
    //}
    svg {
      width: 24px;
      height: 14px;
    }
  }
}