<div class="burger_menu " id="burgerMenu">
    <div class="content content--lg">
        <div class="content-row flex-justify--right">
            <div class="burger_menu-wrap--size content-col col-8 col-md-12">
                <div class="burger_menu-blur burger_close"></div>
                <div class="burger_menu-wrap">
                    <div class="burger_menu-nav">
                        <div class="burger_menu-close">
                            <button class="burger_close">
                                <i class="icon icon_size-3">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close_lg"/>
                                    </svg>
                                </i>
                            </button>
                        </div>
                        <div class="burger_menu-nav--selects">
                            <div class="dropdown">
                                <div class="dropdown_selected">eng</div>
                                <ul class="dropdown_list">
                                    <li><a class="link" href="#">spa</a></li>
                                    <li><a class="link" href="#">fr</a></li>
                                    <li><a class="link" href="#">ru</a></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown_selected">€</div>
                                <ul class="dropdown_list">
                                    <li><a class="link" href="#">$</a></li>
                                    <li><a class="link" href="#">₽</a></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown_selected">м<sup>2</sup></div>
                                <ul class="dropdown_list">
                                    <li><a class="link" href="#">ft<sup>2</sup></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="burger_menu-nav--menu">
                            <div class="burger_menu-nav--menu_main pl-nav-scroll">
                                <ul class="burger_nav">
                                    <li class="burger_nav-parent fn-expand-box">
                                        <span class="burger_nav-link fn-expand-btn">Services</span>
                                        <ul class="burger_nav-submenu fn-expand-data" style="display: none;">
                                            <li><a href="service.html" class="burger_nav-link">Подбор инвестиций</a></li>
                                            <li><a href="service.html" class="burger_nav-link">3D-cъемка интерьера</a></li>
                                            <li><a href="service.html" class="burger_nav-link">Правовая экспертиза с заключением по сделке</a></li>
                                            <li><a href="service.html" class="burger_nav-link">Простая сделка "под ключ"</a></li>
                                            <li><a href="service.html" class="burger_nav-link">Название услуги</a></li>
                                        </ul>
                                    </li>
                                    <li class="burger_nav-parent fn-expand-box">
                                        <span class="burger_nav-link fn-expand-btn">To partners</span>
                                        <ul class="burger_nav-submenu fn-expand-data" style="display: none;">
                                            <li><a href="text-page.html" class="burger_nav-link">To partners</a></li>
                                            <li><a href="text-page.html" class="burger_nav-link">3D-cъемка интерьера</a></li>
                                            <li><a href="text-page.html" class="burger_nav-link">Юристам</a></li>
                                            <li><a href="text-page.html" class="burger_nav-link">Переводчикам</a></li>
                                            <li><a href="text-page.html" class="burger_nav-link">Застройщикам</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="faq.html" class="burger_nav-link">FAQ</a></li>
                                    <li><a href="about.html" class="burger_nav-link">About platform</a></li>
                                    <li><a href="analytics.html" class="burger_nav-link">Analytics</a></li>
                                </ul>
                            </div>
                            <div class="burger_menu-nav--menu_help">
                                <ul>
                                    <li>
                                        <a href="auto-search.html" class="link_icon">
                                            <i class="icon icon_size-2">
                                                <svg xmlns="http://www.w3.org/2000/svg">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"/>
                                                </svg>
                                            </i>
                                            Автопоиск объекта
                                        </a>
                                    </li>
                                    <li>
                                        <a href="objects.html" class="link_icon">
                                            <i class="icon icon_size-2">
                                                <svg xmlns="http://www.w3.org/2000/svg">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-add"/>
                                                </svg>
                                            </i>
                                            Добавить объект
                                        </a>
                                    </li>
                                    <li>
                                        <a href="faq.html" class="link_icon">
                                            <i class="icon icon_size-2">
                                                <svg xmlns="http://www.w3.org/2000/svg">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-help"/>
                                                </svg>
                                            </i>
                                            Помощь
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:+788007008080" class="link_icon">
                                            <i class="icon icon_size-2">
                                                <svg xmlns="http://www.w3.org/2000/svg">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"/>
                                                </svg>
                                            </i>
                                            8 800 700 80 80
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>