<div class="burger_menu " id="burgerMenu">
    <div class="burger_menu-blur burger_close"></div>
    <div class="burger_menu-wrap">
        <div class="burger_menu-nav">
            <div class="burger_menu-close">
                <button class="burger_close">
                    <i class="icon icon_size-3">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close_lg"/>
                        </svg>
                    </i>
                </button>
            </div>
            <div class="burger_menu-nav--selects">
                <div class="dropdown">
                    <div class="dropdown_selected">eng</div>
                    <ul class="dropdown_list">
                        <li><a href="#">spa</a></li>
                        <li><a href="#">fr</a></li>
                        <li><a href="#">ru</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <div class="dropdown_selected">€</div>
                    <ul class="dropdown_list">
                        <li><a href="#">$</a></li>
                        <li><a href="#">₽</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <div class="dropdown_selected">м<sup>2</sup></div>
                    <ul class="dropdown_list">
                        <li><a href="#">ft<sup>2</sup></a></li>
                    </ul>
                </div>
            </div>
            <div class="burger_menu-nav--menu">
                <div class="burger_menu-nav--menu_main">
                    <ul>
                        <li>
                            <a href="#">Services</a>
                            <ul>
                                <li><a href="#">Подбор инвестиций</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="burger_menu-nav--menu_help">
                    <ul>
                        <li><a href="auto-search.html">Автопоиск объекта</a></li>
                        <li><a href="#">Помощь</a></li>
                        <li><a href="tel:+788007008080">8 800 700 80 80</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>