<footer class="footer" id="footer">
    <div class="footer_scroll">
        <div class="content content--lg">
            <div class="flex-box flex-justify--right">
                <button type="button" class="footer_scroll-btn btn btn--sm"></button>
            </div>
        </div>
    </div>
    <div class="content content--lg">
        <div class="content-row">
            <div class="footer_wrap content-col col-pull-1 col-pull-lg-0 col-10 col-lg-12">
                <div class="footer_general content-row flex-wrap">
                    <div class="footer_general-nav content-col col-lg-7 col-md-12">
                        <div class="content-row flex-wrap">
                            <div class="content-col col-4 col-xs-12">
                                <div class="footer_general-nav--section">
                                    <div class="footer_general-nav--title">Services</div>
                                    <ul>
                                        <li><a href="service.html">Подбор инвестиций</a></li>
                                        <li><a href="service.html">3D-cъемка интерьера</a></li>
                                        <li><a href="service.html">Правовая экспертиза с заключением по сделке</a></li>
                                        <li><a href="service.html">Простая сделка "под ключ"</a></li>
                                        <li><a href="service.html">Название услуги</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content-col col-4 col-xs-12">
                                <div class="footer_general-nav--section">
                                    <div class="footer_general-nav--title">To partners</div>
                                    <ul>
                                        <li><a href="text-page.html">Риелторам</a></li>
                                        <li><a href="text-page.html">Юристам</a></li>
                                        <li><a href="text-page.html">Переводчикам</a></li>
                                        <li><a href="text-page.html">Застройщикам</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content-col col-4 col-xs-12">
                                <div class="footer_general-nav--section">
                                    <div class="footer_general-nav--title">Replatforms</div>
                                    <ul>
                                        <li><a href="text-page.html">О платформе</a></li>
                                        <li><a href="analytics.html">Аналитика</a></li>
                                        <li><a href="text-page.html">Политика конфиденциальности</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer_general-features content-col col-lg-5 col-md-6 col-xs-12">
                        <div class="footer_general-features--btn">
                            <button type="button" data-open-modal="signup" class="btn btn--lg btn--full btn--rounded btn--orange_border">create account</button>
                        </div>
                        <div class="footer_general-features--selects">
                            <include src="../components/language.html"></include>
                            <include src="../components/currency.html"></include>
                            <include src="../components/measure.html"></include>
                        </div>
                        <div class="footer_general-features--payment">
                            <a href="#">
                                <img
                                        src="https://lunaslot.com/design/online/img/pay_icon/yandex.dengi_horizontal_rgb-01.png"
                                        alt="Яндекс money">
                            </a>
                            <a href="#">
                                <img
                                        src="https://upload.wikimedia.org/wikipedia/commons/7/72/MasterCard_early_1990s_logo.png"
                                        alt="MasterCard">
                            </a>
                            <a href="#">
                                <img
                                        src="https://rus.bg/media/com_easysocial/photos/2210/4010/visa-logo-jpg_large.png"
                                        alt="VISA">
                            </a>
                        </div>
                    </div>

                </div>
                <div class="footer_copyright">
                    Replatforms 2020
                </div>
            </div>
        </div>
    </div>
</footer>



