<header id="header" class="header @@class">
    <div class="header_wrap">
        <div class="header_nav">
            <div class="header_nav-general">
                <button type="button" class="link_icon" id="searchObject">
                    <i class="icon icon_size-2">
                        <svg><use xlink:href="#icon-search"/></svg>
                    </i>
                    <span class="mobile-hidden">search object</span>
                </button>
                <a href="objects.html" class="link_icon header_nav-general--add">
                    <i class="icon icon_size-2">
                        <svg><use xlink:href="#icon-add"/></svg>
                    </i>
                    <span>add object</span>
                </a>

                <include src="./header/@@user.html"></include>

            </div>
            <div class="header_nav-burger">
                <button id="burger" type="button" class="header_nav-burger--button">
                    <span></span>
                </button>
            </div>
        </div>
    </div>


</header>
