<header id="header" class="header">
    <div class="header_wrap">
        <div class="header_nav">
            <div class="header_nav-general">
                <button type="button" class="link_icon" id="searchObject">
                    <i class="icon icon_size-2">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"/>
                        </svg>
                    </i>
                    search object
                </button>
                <a href="objects.html" class="link_icon">
                    <i class="icon icon_size-2">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-add"/>
                        </svg>
                    </i>
                    add object
                </a>

                <include src="../components/language.html"></include>

                <a href="registration.html" class="link_simple">create account</a>

                <a href="registration.html" class="link_simple">login</a>
            </div>
            <div class="header_nav-burger">
                <button id="burger" type="button" class="header_nav-burger--button">
                    <span></span>
                </button>
            </div>
        </div>
    </div>


</header>
