<header id="header" class="header">
    <div class="header_wrap">
        <div class="header_nav">
            <div class="header_nav-general">
                <button type="button" class="link_icon" id="searchObject">
                    <i class="icon icon_size-2">
                        <svg><use xlink:href="#icon-search"/></svg>
                    </i>
                    search object
                </button>
                <a href="objects.html" class="link_icon">
                    <i class="icon icon_size-2">
                        <svg><use xlink:href="#icon-add"/></svg>
                    </i>
                    add object
                </a>

                <include src="../components/language.html"></include>

                <div class="header_nav-general--auth ">
                    <div class="dropdown">
                        <button type="button" class="dropdown_selected header_nav-general--auth_profile">
                            <div class="header_nav-general--auth_img">
                                <img src="https://thumbs.dfs.ivi.ru/storage6/contents/1/a/9a40f16a00ecc3a9b3a59541595db6.jpg" alt="">
                            </div>
                        </button>
                        <ul class="dropdown_list">
                            <li><a class="link" href="my-autosearches.html">Мои автоподборы (204)</a></li>
                            <li><a class="link" href="favorites.html">Мои фавориты(24)</a></li>
                            <li><a class="link" href="my-objects.html">Мои объекты</a></li>
                            <li><a class="link" href="#">Входящие заявки</a></li>
                            <li><a class="link" href="chat.html">Чат (2)</a></li>
                            <li><a class="link" href="profile.html">Мой профиль</a></li>
                            <li><a class="btn btn--xs btn--orange_border" href="#">выйти</a></li>
                        </ul>
                    </div>
                    <a href="my-autosearches.html" class="header_nav-general--auth_views">254</a>
                </div>
            </div>
            <div class="header_nav-burger">
                <button id="burger" type="button" class="header_nav-burger--button">
                    <span></span>
                </button>
            </div>
        </div>
    </div>


</header>
