<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="assets/js/app.min.js"></script>

<script>
    // AutoComplete

    new autoComplete({
        selector: '#autoComplete',
        minChars: 2,
        source: function(term, response){
            $.getJSON('russian-cities.json', term, function(data){
                var results = [];
                for (i=0;i<data.length;i++)
                    if (~data[i].toLowerCase().indexOf(term.toLowerCase())) results.push(data[i]);
                response(results);
            });
        }
    });

</script>

<script>

    // modal sign-up validation (if needed)

    $('[data-form="signup"] form').validate({
        ...functions.validation.defaults,
        rules: {
            name: {required: true},
            email: {required: true},
            password: {required: true}
        },
        messages: {
            name: {required: "This field is required"},
            email: {required: "This field is required"},
            password: {required: "This field is required"}
        },
        submitHandler: function (form) {
//            if (form.valid()){
//                form.submit();
//            }
            return false;
        }
    })

</script>

<script>

    // modal sign-in validation (if needed)

    $('[data-form="signin"] form').validate({
        ...functions.validation.defaults,
        rules: {
            email: {required: true},
            password: {required: true}
        },
        messages: {
            email: {required: "This field is required"},
            password: {required: "This field is required"}
        },
        submitHandler: function (form) {
//            if (form.valid()){
//                form.submit();
//            }
            return false;
        }
    })

</script>

<script>

    // modal reset-password validation (if needed)

    $('[data-form="reset-password"] form').validate({
        ...functions.validation.defaults,
        rules: {
            email: {required: true}
        },
        messages: {
            email: {required: "This field is required"}
        },
        submitHandler: function (form) {

            functions.modal.show('reset_password_success');

//            if (form.valid()){
//                form.submit();
//            }
            return false;
        }
    })

</script>
