<div class="search_menu " id="searchMenu">
    <div class="search_menu-blur search_close"></div>
    <div class="search_menu-wrap">
        <div class="search_menu-form">
            <div class="search_menu-close">
                <button class="search_close">
                    <i class="icon icon_size-3">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close_lg"/>
                        </svg>
                    </i>
                </button>
            </div>
            <form action="#">
                <div class="search_menu-form--fieldset">
                    <select name="">
                        <option value="Купить">Купить</option>
                        <option value="Продать">Продать</option>
                    </select>
                </div>
                <div class="search_menu-form--fieldset">
                    <select name="">
                        <option value="Апартаменты">Апартаменты</option>
                        <option value="Жилой комплекс">Жилой комплекс</option>
                        <option value="Дом с землёй">Дом с землёй</option>
                        <option value="Землю">Землю</option>
                        <option value="Коммерческий объект">Коммерческий объект</option>
                    </select>
                </div>
                <div class="search_menu-form--fieldset">
                    <input id="autoComplete" type="text" placeholder="Город">
                </div>
                <div class="search_menu-form--actions">
                    <button type="submit" class="btn btn--md btn--orange">найти</button>
                    <a href="auto-search.html" class="link_icon">
                        <i class="icon icon_size-2">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-thumb"/>
                            </svg>
                        </i>
                        попробовать автопоиск
                    </a>
                </div>
            </form>
        </div>
    </div>


</div>