<div class="search_menu" id="searchMenu">
    <div class="search_menu-blur search_close"></div>
    <div class="search_menu-wrap">
        <div class="search_menu-form">
            <div class="content content--lg">
                <div class="content-row">
                    <div class="content-col col-12">
                        <div class="search_menu-close">
                            <button class="search_close" type="button">
                                <i class="icon icon_size-3">
                                    <svg><use xlink:href="#icon-close_lg"/></svg>
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <form action="#">
                <div class="content content--lg">
                    <div class="content-row flex-align_items--center flex-wrap">
                        <div class="content-col col-pull-2 col-pull-xl-0 col-8 col-xl-10 col-md-12">
                            <div class="search_menu-form--fieldset">
                                <select name="">
                                    <option value="Купить">Купить</option>
                                    <option value="Продать">Продать</option>
                                </select>
                                <select name="">
                                    <option value="Апартаменты">Апартаменты</option>
                                    <option value="Жилой комплекс">Жилой комплекс</option>
                                    <option value="Дом с землёй">Дом с землёй</option>
                                    <option value="Землю">Землю</option>
                                    <option value="Коммерческий объект">Коммерческий объект</option>
                                </select>
                                <input id="autoComplete" type="text" placeholder="Город">
                                <button type="submit" class="btn btn--lg btn--orange">найти</button>
                            </div>
                        </div>
                        <div class="content-col col-2 col-md-12">
                            <div class="search_menu-form--actions">
                                <a href="auto-search.html" class="link_icon">
                                    <i class="icon icon_size-2">
                                        <svg><use xlink:href="#icon-thumb"/></svg>
                                    </i>
                                    попробовать автопоиск
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>