@import "../vendors/flickity";

.carousel {
  user-select: none;
  &-cell {
    position: relative;
    overflow: hidden;
    display: flex;
    .intro-carousel & {
      width: 100%;
      height: 100%;
      display: block;
      @include mq($until: mobile_xl){
        padding: 0 16px 0 $gutter-x2;
      }
    }
    .projects-carousel & {
      @include mq($from: tablet_xl){
        width: 25%;
        margin-right: $gutter-x2;
      }
      @include mq(mobile_xl, tablet_xl){
        width: 33%;
        margin-right: $gutter-x2;
      }
      @include mq($until: mobile_xl){
        width: 200px;
        margin-right: $gutter-x2;
      }
    }
    .banners-carousel & {
      height: 100%;
      align-items: center;
      overflow: initial;
    }
    &_link {
      display: block;
      width: 100%;
      .banners-carousel & {
        display: inline-flex;
        width: auto;
        transition: all 2.5s;
        pointer-events: all;
        @include mq($from: tablet_xl){
          margin: 0 28px;
        }
        @include mq($until: tablet_xl){
          margin: 0 4vw;
        }
      }
    }
    &_figure {
      .projects-carousel & {
        width: 100%;
        height: 0;
        padding-bottom: 67%;
        position: relative;
        overflow: hidden;
      }
    }
    &_img {
      display: block;
      .intro-carousel &,
      .projects-carousel & {
        position: absolute;
        top: 0;
        left: 0;
        @include fullBlock;
      }
      .intro-carousel & {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          @include fullBlock;
          background-color: rgba($black, 0.36);
        }
      }
      img {
        .intro-carousel &,
        .projects-carousel & {
          @include imgFit;
        }
        .banners-carousel & {
          display: block;
          @include mq($until: tablet_xl){
            max-width: 26vw;
            max-height: 14vw;
          }
        }
      }
    }
    &_title {
      .intro-carousel & {
        position: relative;
        color: $white;
        align-self: flex-end;
        font-weight: 400;

        bottom: 10%;
        padding: 40px 0;
        @include mq($from: tablet_xl){
          font-size: 3*$font-md;
        }
        @include mq(mobile_xl, tablet_xl){
          font-size: 2*$font-md;
        }
        @include mq($until: mobile_xl){
          font-size: $font-xl;
        }
        &:before {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          height: 8px;
          width: calc(100% / 6);
          background-color: currentColor;
        }
      }
      .projects-carousel & {

        font-weight: 400;
        color: $text;

        @include mq($from: tablet_sm){
          font-size: $font-lg;
          margin-top: 20px;
        }
        @include mq($until: tablet_sm){
          font-size: $font-md;
          margin-top: 12px;
        }
      }

    }
  }
}

.intro-carousel {
  .flickity-viewport {
    pointer-events: none;
  }
  .flickity-page-dots {
    bottom: 10%;
    max-width: $content-lg;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 $gutter;

    .dot {
      width: 8px;
      height: 8px;
      background-color: $bg;
      margin: 0 $gutter-x2 0 0;
      &:first-child {
        @include mq($from: desktop_sm){
          margin-left: calc(100% / 6) !important;
        }
        @include mq(mobile_xl, desktop_sm){
          margin-left: calc(100% / 12) !important;
        }
        @include mq($until: mobile_xl){
          margin-left: 16px !important;
        }
      }
      &:not(.is-selected) {
        opacity: 0.5;
      }
    }
  }
}

.projects-carousel {
  max-width: 100%;
  margin: 0 auto;
  .flickity-viewport {
    overflow: initial;
  }
  .flickity-button {
    background-color: $text;
    border-radius: 0;
    outline: none;
    transition: all 0.25s;
    @include mq($from: $maxWidth){
      width: 120px;
      height: 120px;
      top: calc(276px / 2);
    }
    @include mq(tablet_xl, $maxWidth){
      width: 6vw;
      height: 6vw;
      top: 7.4vw;
    }
    @include mq(mobile_xl, tablet_xl){
      width: 6vw;
      height: 6vw;
      top: 9.7vw;
    }
    @include mq($until: mobile_xl){
      width: 32px;
      height: 32px;
      top: 67px;
    }
    &:active {
      opacity: 1;
    }
    &:disabled {
      opacity: 0.9;
      pointer-events: auto;
    }
    &.next {
      left: 0;
      right: auto;
      transform: translate(-50%, -50%);
      @include mq($from: mobile_xl){
        margin-left: -1*$gutter;
      }

      @include hover(){
        &:not(:disabled) {
          transform: translate(-50%, -50%) rotate(45deg);
          .flickity-button-icon {
            transform: rotate(-45deg);
          }
        }
      }
    }
    &.previous {
      display: none;
    }
    .flickity-button-icon {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      fill: $white;
      transition: all 0.25s;
      @include mq($from: $maxWidth){
        width: 24px;
        height: 24px;
      }
      @include mq($until: $maxWidth){
        width: 20%;
        height: 20%;
      }
    }
  }
}

.banners-carousel {
  background-color: $white;
  @include mq($from: tablet_xl){
    height: 152px;
  }
  @include mq($until: tablet_xl){
    height: 20vw;
  }
  &:not(.flickity-enabled){
    display: inline-flex;
  }
  .static-banners & {
    background-color: transparent;
  }
  .flickity-viewport {
    display: flex;
    pointer-events: none;
  }
  .flickity-slider {
    transform: none !important;
    display: flex;
    position: static;
    width: auto;
    background-color: $white;
    padding: 0 27px;
  }
  .carousel-cell {
    position: static !important;
    .static-banners & {
      order: 0 !important;
      margin: 0 !important;
      .carousel-cell_link {
        opacity: 1 !important;
      }
    }
    &.is-selected {
      transition: margin 2s ease-in-out 1s;
      .pointered & {
        transition: margin 0.3s;
      }
      .carousel-cell_link {
        opacity: 0;
        .paused & {
          opacity: 1;
          transition: opacity 0.3s;
        }
      }
      &[style*='margin-left: 0px']{
        .carousel-cell_link {
          opacity: 1;
        }
      }

    }
  }
}