<div class="fast-request">
    <form action="#">
        <div class="fast-request--wrap">
            <div class="fieldgroup">
                <div class="field">
                    <label for="f_way">location</label>
                    <div class="input"><input id="f_way" type="text" ></div>
                </div>
                <div class="field">
                    <label for="check_in">check-in</label>
                    <div class="input"><input id="check_in" type="text" ></div>
                </div>
                <div class="field">
                    <label for="check_out">check-out</label>
                    <div class="input"><input type="text" id="check_out"></div>
                </div>
                <div class="field">
                    <label for="rooms">rooms</label>
                    <div class="input"><input id="rooms" type="text" ></div>
                </div>
                <div class="field">
                    <div class="check">
                        <label>
                            <input type="checkbox">
                            <span>Горячие предложения</span>
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn_subm" type="submit">search</button>
        </div>
    </form>
</div>
