<footer id="footer" class="footer">
    <div class="footer__nav">
        <div class="content content_full-gap flex">
            <div class="col-4 col-sm-6">
                <ul>
                    <li><a href="#">About Spryker</a></li>
                    <li><a href="#">Use Cases</a></li>
                    <li><a href="#">Pricing & Licenses</a></li>
                    <li><a href="#">Case Studies</a></li>
                </ul>
            </div>
            <div class="col-4 col-sm-6">
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">News & Events</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </div>
            <div class="col-4 col-sm-6">
                <ul>
                    <li><a href="#">Dev Academy</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-4 col-sm-6 subscribe">
                <p>Subscribe to our newsletter:</p>

                <script>
                    hbspt.forms.create({
                        portalId: '2770802',
                        formId: '0f48c2af-6241-42f4-b0ee-c4238f73bf54'
                    });
                </script>
              <!--  <form action="#">
                    <fieldset>
                        <input type="text" placeholder="Enter your email">
                        <button type="submit"></button>
                    </fieldset>
                </form>-->
            </div>
        </div>
    </div>
    <div class="footer__privacy">
        <div class="content content_full-gap flex">
            <div class="col-9 col-md-12 footer__privacy-nav">

                <nav>
                    <span>&copy; 2017 Spryker</span>
                    <div class="menu-footer-bottom-menu-container">
                        <a href="#">Frequently asked questions</a>
                        <a href="#">Terms of Service Partners</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Imprint</a>
                    </div>

                </nav>
            </div>
            <div class="col-3 col-md-4 col-sm-12">
                <ul class="sharing">
                    <li>
                        <a href="#" class="sharing_fb">
                            <svg> <use xlink:href="assets/svg/sprite.svg#icon_share-facebook"></use> </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sharing_tw">
                            <svg> <use xlink:href="assets/svg/sprite.svg#icon_share-twitter"></use> </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sharing_in">
                            <svg> <use xlink:href="assets/svg/sprite.svg#icon_share-instagram"></use> </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sharing_li">
                            <svg> <use xlink:href="assets/svg/sprite.svg#icon_share-linkedin"></use> </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sharing_xi">
                            <svg> <use xlink:href="assets/svg/sprite.svg#icon_share-xing"></use> </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>