<footer class="footer">
    <div class="content">
        <div class="footer--main">
            <div class="contacts">
                <a href="index.html" class="logo"><img src="assets/svg/logo-grey.svg" alt="GrecoBooking"></a>
                <ul>
                    <li>
                        <i class="ico-tel"><svg> <use xlink:href="assets/svg/sprite.svg#ico_contact-tel"></use> </svg></i>
                        <a href="tel:+38090500500">+38 (090) 500-500</a>
                    </li>
                    <li>
                        <i class="ico-fly"><svg> <use xlink:href="assets/svg/sprite.svg#ico_contact-fly"></use> </svg></i>
                        <a href="mailto:greecobooking@info.gr">greecobooking@info.gr</a>
                    </li>
                    <li>
                        <i class="ico-adr"><svg> <use xlink:href="assets/svg/sprite.svg#ico_contact-address"></use> </svg></i>
                        <span>Stefanou Nikolaidi Str., Heraklion, Crete,  Greece</span>
                    </li>
                    <li>
                        <i class="ico-mes"><svg> <use xlink:href="assets/svg/sprite.svg#ico_contact-messenger"></use> </svg></i>
                        <span>official accounts: <a href="#">facebook</a> <a href="#">instagram</a></span>
                    </li>
                </ul>
            </div>
            <div class="subscription">
                <h3 class="title">Подписка</h3>
                <div class="text">Советы бывалых путешественников, горячие предложения и скидки - лучшие предложения на ваш e-mail</div>
                <div class="subscription-form">
                    <form action="#">
                        <div class="field">
                            <input type="text" name="subscribe_mail" placeholder="Ваш e-mail">
                            <button type="submit">Отправить</button>
                        </div>
                    </form>
                    <div class="success-title">Спасибо! Теперь вы на нас подписаны!</div>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="about.html" class="@@abo">о нас</a></li>
                    <li><a href="placing-request.html" class="@@vil">разместить виллу</a></li>
                    <li><a href="#" class="@@agr">условия пользования</a></li>
                    <li><a href="vacancies.html" class="@@vac">вакансии</a></li>
                    <li><a href="#">вход</a></li>
                </ul>
            </div>
        </div>
        <div class="footer--bottom">
            <div class="copyright">Grecobooking 2017</div>
            <div class="support">
                <a href="http://reconcept.ru">ReConcept</a>
            </div>
        </div>
    </div>

    <div class="scroll-up mobile-hidden">
        <i><svg> <use xlink:href="assets/svg/sprite.svg#ico_scroll-up"></use> </svg></i>
    </div>
</footer>
</div>

