<div class="friend-form" data-modal="@@data">
    <span class="close"><svg> <use xlink:href="assets/svg/sprite.svg#ico_close"></use> </svg></span>
    <div class="friend-form--wrap">
        <figure style="background-image: url('assets/images/items/eirini-luxury-villas-patmos.jpg')"></figure>
        <div class="friend-form--main">
            <h5 class="title">Отправить другу</h5>
            <form action="#">
                <div class="fields">
                    <div class="add-fieldset">
                        <span class="add" id="addFieldset">+1</span>
                        <div class="fieldset">
                            <div class="field">
                                <div class="input"><input id="friendMail" name="friendMail" type="text" placeholder="*Кому: Напишите email друга"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="field">
                            <div class="input"><input id="yourName" name="yourName" type="text" placeholder="От кого: Напишите ваше имя"></div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="field">
                            <div class="input">
                                <textarea id="message" name="message" rows="3" placeholder="Напишите сообщение"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="check">
                            <label>
                                <input type="checkbox">
                                <span>Копию письма мне</span>
                            </label>
                        </div>
                        <p class="asterisk">*Обязательные поля</p>
                    </div>

                </div>
                <div class="btn-box">
                    <button type="submit">
                        <i><svg> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#ico_submit"></use> </svg></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>