<header id="header" class="header">
    <div class="content">
        <div class="header--wrap">
            <div class="logo">
                <a href="/"><img src="assets/svg/logo-white.svg" alt="GrecoBooking"></a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#" class="@@vil"><span>Villas+</span></a></li>
                    <li><a href="#" class="@@fav"><span>Favorites</span><span class="cnt">12</span></a></li>
                    <li><a href="#" class="@@loc"><span>Locations+</span></a></li>
                    <li><a href="#" class="@@blg"><span>Blog+</span></a></li>
                    <li><a href="#" class="@@abo"><span>About us</span></a></li>
                    <li><a href="#" class="@@con"><span>Contact us</span></a></li>
                </ul>
            </nav>
            <div class="elements">
                <div class="search">
                    <span class="search-icon"><svg> <use xlink:href="assets/svg/sprite.svg#ico_search"></use> </svg></span>
                </div>
                <div class="language">
                    <ul>
                        <li class="current"><a href="#">EN</a></li>
                        <li><a href="#">RU</a></li>
                    </ul>
                </div>
                <div class="request">
                    <a href="#" class="btn btn_bord">selection request</a>
                </div>
                <!--<span id="burger" class="burger">-->
                <!--<span></span>-->
            <!--</span>-->
            </div>
        </div>

    </div>
</header>
