<header id="header" class="header">
    <div class="content">
        <div class="header--wrap">
            <div class="logo">
                <a href="index.html"><img src="assets/svg/logo-white.svg" alt="GrecoBooking"></a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="villas.html" class="@@vil"><span>Villas+</span></a></li>
                    <li><a href="#" class="@@fav"><span>Favorites</span><span class="cnt">12</span></a></li>
                    <li><a href="#" class="@@loc"><span>Locations+</span></a></li>
                    <li><a href="blog.html" class="@@blg"><span>Blog+</span></a></li>
                    <li><a href="#" class="@@abo"><span>About us</span></a></li>
                    <li><a href="#" class="@@con"><span>Contact us</span></a></li>
                </ul>
            </nav>

            <div class="elements">
                <div class="search">
                    <div class="form" id="searchForm">
                        <form action="#">
                            <div class="field">
                                <input id="searchInput" type="text" placeholder="Search">
                            </div>
                            <button type="submit"></button>
                        </form>
                    </div>
                    <label id="search_btn" for="searchInput" class="search-icon"><svg> <use xlink:href="assets/svg/sprite.svg#ico_search"></use> </svg></label>
                </div>
                <div class="language">
                    <ul>
                        <li class="current"><a href="#">EN</a></li>
                        <li><a href="#">RU</a></li>
                    </ul>
                </div>
                <div class="request">
                    <a href="#" class="btn btn_bord">selection request</a>
                </div>
                <!--<span id="burger" class="burger">-->
                <!--<span></span>-->
            <!--</span>-->
            </div>
        </div>

    </div>
</header>
