<div class="resume-form" data-modal="@@data">
    <span class="close"><svg> <use xlink:href="assets/svg/sprite.svg#ico_close"></use> </svg></span>
    <div class="resume-form--wrap">
        <div class="resume-form--main animate-bg">
            <h5 class="title">Отправить резюме</h5>
            <form action="#">
                <div class="fields">
                    <div class="fieldset">
                        <div class="field">
                            <div class="load">
                                <label>
                                    <input type="file" name="file" id="file-upload">
                                    <span id="file-name">Загрузите резюме</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="field">
                            <div class="input"><input id="name" name="name" type="text" placeholder="Ваше имя"></div>
                        </div>
                        <div class="field">
                            <div class="input"><input type="text" name="mail" id="mail" placeholder="*E-mail"></div>
                        </div>
                        <div class="field">
                            <div class="input"><input type="text" id="telephone" name="telephone" placeholder="Телефон"></div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="field">
                            <div class="input">
                                <textarea id="message" name="message" rows="3" placeholder="Напишите сообщение"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <p class="asterisk">*Обязательные поля</p>
                    </div>

                </div>
                <div class="btn-box">
                    <button type="submit">
                        <i><svg> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#ico_submit"></use> </svg></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="form-success">
        <div class="form-success--main">
            <div class="text">
                <h5 class="success-title">Сообщение отправлено!</h5>
                <p>Мы рады, что Вас заинтересовала наша компания. Мы свяжемся с Вами в ближайшее время!</p>
                <div class="btn_center">
                    <a href="blog.html" class="more">Читать наш блог</a>
                </div>
            </div>
        </div>
    </div>
</div>