.shifting-box {
  position: relative;
}
.shifting-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transition: opacity 1s;
  &:not(.active){
    opacity: 0;
  }
  &--static {
    opacity: 0;
  }
}