<div class="burger_menu" id="burgerMenu">
    <div class="burger_menu-blur burger_close"></div>
    <div class="content content--lg">
        <div class="burger_menu-wrap">
            <div class="burger_menu-bg"></div>
            <div class="burger_menu-main">
                <div class="burger_menu-close">
                    <button class="burger_close">
                        <i class="icon icon-close">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"/>
                            </svg>
                        </i>
                    </button>
                </div>
                <div class="burger_menu-invite">
                    Привет, reconcept@mail.ru
                </div>
                <div class="burger_menu-nav--wrap">
                    <div class="pl-nav-scroll">
                        <div class="burger_menu-nav">
                            <div class="burger_menu-site_menu">
                                <ul>
                                    <li class="burger_menu-site_menu--item">
                                        <a href="#" class="burger_menu-site_menu--link">Способы оплаты и доставка</a>
                                    </li>
                                    <li class="burger_menu-site_menu--item">
                                        <a href="#" class="burger_menu-site_menu--link">Программа лояльности</a>
                                    </li>
                                    <li class="burger_menu-site_menu--item fn-expand-box">
                                        <span class="burger_menu-site_menu--link fn-expand-btn">Товары</span>
                                        <ul class="fn-expand-data" style="display: none;">
                                            <li class="burger_menu-site_menu--subitem">
                                                <a href="#" class="burger_menu-site_menu--sublink">Категория 1</a>
                                            </li>
                                            <li class="burger_menu-site_menu--subitem">
                                                <a href="#" class="burger_menu-site_menu--sublink">Категория 2</a>
                                            </li>
                                            <li class="burger_menu-site_menu--subitem">
                                                <a href="#" class="burger_menu-site_menu--sublink">Категория 3</a>
                                            </li>
                                            <li class="burger_menu-site_menu--subitem">
                                                <a href="#" class="burger_menu-site_menu--sublink">Категория 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="burger_menu-site_menu--item">
                                        <a href="#" class="burger_menu-site_menu--link">О нас</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="burger_menu-auth_menu">
                                <ul>
                                    <li class="burger_menu-auth_menu--item"><a href="#">Корзина (1)</a></li>
                                    <li class="burger_menu-auth_menu--item"><a href="#">Мои заказы (3)</a></li>
                                    <li class="burger_menu-auth_menu--item"><a href="#">Избранное (2)</a></li>
                                    <li class="burger_menu-auth_menu--item"><a href="#">Я смотрел (65)</a></li>
                                    <li class="burger_menu-auth_menu--item"><a href="#">Мои личные данные</a></li>
                                    <li class="burger_menu-auth_menu--item"><a href="#">Выйти</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>