<div class="burger_menu" id="burgerMenu">
    <div class="content content--lg">
        <div class="burger_menu-wrap">
            <div class="burger_menu-bg"></div>
            <div class="burger_menu-main">
                <div class="burger_menu-main--close">
                    <button class="close">
                        <i class="icon icon-close">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"/>
                            </svg>
                        </i>
                    </button>
                </div>
                <div class="burger_menu-main--invite"></div>
                <div class="burger_menu-main--nav">
                    <div class="burger_menu-main--site_menu">

                    </div>
                    <div class="burger_menu-main--auth_menu">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>