<footer class="footer" id="footer">
    <div class="footer-scroll_top">
        <div class="content content--lg">
            <button type="button" class="footer-scroll_top--btn btn btn-grey">Наверх</button>
        </div>
    </div>
    <div class="content content--lg">
        <div class="footer-top">
            <div class="footer-top--slogan">
                DUZZER &mdash; товары для производства напрямую от производителя. Быстрая доставка.
            </div>
            <div class="footer-top--telephone">
                <a href="tel:88007005050" class="link">8 800 700-50-50</a>
            </div>
        </div>
        <div class="footer-nav">
            <section class="footer-nav--section">
                <h4 class="footer-nav--section_title">Способы оплаты</h4>
                <ul class="footer-nav--section_payments">
                   <li>
                       <a href="#" title="VISA">
                           <img src="https://www.freepnglogos.com/uploads/visa-card-logo-9.png" alt="VISA">
                       </a>
                   </li>
                   <li>
                       <a href="#" title="Яндекс Деньги">
                           <img src="https://www.sostav.ru/app/public/images/news/2015/04/01/compressed/yandex.dengi_horizontal_rgb-01.png" alt="yandex">
                       </a>
                   </li>
                   <li>
                       <a href="#" title="QIWI">
                           <img src="https://yakischik.ru/images/pay_options/loqo_qiwi.png" alt="QIWI">
                       </a>
                   </li>
                   <li>
                       <a href="#" title="MasterCard">
                           <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/MasterCard_early_1990s_logo.png" alt="MasterCard">
                       </a>
                   </li>
                   <li>
                       <a href="#" title="WebMoney">
                           <img src="http://pngimg.com/uploads/webmoney/webmoney_PNG3.png" alt="WebMoney">
                       </a>
                   </li>
                   <li>
                       <a href="#" title="Евросеть">
                           <img src="http://vdvbezheck.ru/pic/cat/p_1495032029.png" alt="Евросеть">
                       </a>
                   </li>
                </ul>
            </section>
            <section class="footer-nav--section">
                <h4 class="footer-nav--section_title">Помощь</h4>
                <ul class="footer-nav--section_links">
                    <li><a class="link" href="#">Способы оплаты и доставка</a></li>
                    <li><a class="link" href="#">Возврат</a></li>
                    <li><a class="link" href="#">Программа лояльности</a></li>
                    <li><a class="link" href="#">Оферта</a></li>
                </ul>
            </section>
            <section class="footer-nav--section">
                <h4 class="footer-nav--section_title">О нас</h4>
                <ul class="footer-nav--section_links">
                    <li><a class="link" href="#">Производителям</a></li>
                    <li><a class="link" href="#">Партнерам</a></li>
                    <li><a class="link" href="#">О компании</a></li>
                    <li><a class="link" href="#">Контакты</a></li>
                    <li><a class="link" href="#">Реквизиты</a></li>
                </ul>
            </section>
            <section class="footer-nav--section">
                <h4 class="footer-nav--section_title">Товары</h4>
                <ul class="footer-nav--section_links columns">
                    <li><a class="link" href="#">Камни</a></li>
                    <li><a class="link" href="#">Цемент</a></li>
                    <li><a class="link" href="#">Красители</a></li>
                    <li><a class="link" href="#">Пластификаторы</a></li>
                    <li><a class="link" href="#">Камни</a></li>
                    <li><a class="link" href="#">Цемент</a></li>
                    <li><a class="link" href="#">Красители</a></li>
                    <li><a class="link" href="#">Пластификаторы</a></li>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom--copyright">&copy; 2019 Duzzer</div>
            <div class="footer-bottom--web">Web by <a class="link" target="_blank" href="http://reconcept.ru">ReConcept</a></div>
        </div>
    </div>
</footer>



