<footer class="footer" id="footer">
    <div class="content content--lg">
        <div class="footer-top">
            <div class="footer-top--slogan">
                DUZZER &mdash; товары для производства напрямую от производителя. Быстрая доставка.
            </div>
            <div class="footer-top--telephone">
                <a href="tel:88007005050" class="link">8 800 700-50-50</a>
            </div>
        </div>
        <div class="footer-nav">
            <section class="footer-nav--section">
                <h4 class="footer-nav--section_title">Способы оплаты</h4>
                <ul class="footer-nav--section_payments">
                   <li><a href="#"></a></li>
                   <li><a href="#"></a></li>
                   <li><a href="#"></a></li>
                   <li><a href="#"></a></li>
                   <li><a href="#"></a></li>
                   <li><a href="#"></a></li>
                   <li><a href="#"></a></li>
                </ul>
            </section>
            <section class="footer-nav--section">
                <h4 class="footer-nav--section_title">Помощь</h4>
                <ul class="footer-nav--section_links">
                    <li><a href="#">Способы оплаты и доставка</a></li>
                    <li><a href="#">Возврат</a></li>
                    <li><a href="#">Программа лояльности</a></li>
                    <li><a href="#">Оферта</a></li>
                </ul>
            </section>
            <section class="footer-nav--section">
                <h4 class="footer-nav--section_title">О нас</h4>
                <ul class="footer-nav--section_links">
                    <li><a href="#">Производителям</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Реквизиты</a></li>
                </ul>
            </section>
            <section class="footer-nav--section">
                <h4 class="footer-nav--section_title">Товары</h4>
                <ul class="footer-nav--section_links">
                    <li><a href="#">Камни</a></li>
                    <li><a href="#">Цемент</a></li>
                    <li><a href="#">Красители</a></li>
                    <li><a href="#">Пластификаторы</a></li>
                    <li><a href="#">Камни</a></li>
                    <li><a href="#">Цемент</a></li>
                    <li><a href="#">Красители</a></li>
                    <li><a href="#">Пластификаторы</a></li>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom--copyright">&copy; 2019 Duzzer</div>
            <div class="footer-bottom--web">Web by <a target="_blank" href="http://reconcept.ru">ReConcept</a></div>
        </div>
    </div>
</footer>



