<header id="header" class="header">
    <div class="header-top--wrap">
        <div class="content content--lg">
            <div class="header-top">
                <div class="header-logo">
                    <button id="burger" class="burger" type="button">
                        <span></span>
                    </button>
                    <a href="index.html" class="logo">
                        <img src="assets/svg/partials/logo.svg" alt="DUZZER" class="logo-img">
                    </a>
                </div>
                <div class="header-search">
                    <form action="/">
                        <div class="header-search--fieldset">
                            <input type="text" placeholder="Поиск по товарам">
                            <button class="header-search--btn">
                                <i class="icon icon-search">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"/>
                                    </svg>
                                </i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="header-profile">
                    <button class="header-profile--auth" type="button">
                        <i class="icon icon-auth">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-auth"/>
                            </svg>
                        </i>
                    </button>
                    <div class="header-personal_info">
                        <a href="looked.html" class="header-personal_info--views">
                            <i class="icon icon-view">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"/>
                                </svg>
                            </i>
                            <span class="count">23</span>
                        </a>
                        <a href="favorites.html" class="header-personal_info--favorites">
                            <i class="icon icon-favorite">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                </svg>
                            </i>
                            <span class="count">23</span>
                        </a>
                        <a href="basket.html" class="header-personal_info--basket">
                            <i class="icon icon-basket">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-basket"/>
                                </svg>
                            </i>
                            <span class="count">23</span>
                        </a>
                        <div class="header-personal_info--total">
                            Сумма
                            <span class="summ">63 000&#x20bd;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav--wrap">
        <div class="content content--lg">
            <nav class="header-nav">
                <ul class="header-nav--list">
                    <li><a href="#">Как заказать</a></li>
                    <li><a href="#">Способы оплаты и доставка</a></li>
                    <li><a href="#">Производителям</a></li>
                    <li><a href="#">Добавки</a></li>
                    <li><a href="#">Гайд</a></li>
                    <li><a href="#">8 800 900 78 78</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>
