
<header id="header" class="header">

    <div class="header-top--wrap">
        <div class="content content--lg">
            <div class="header-top">
                <div class="header-logo">
                    <button id="burger" class="burger" type="button">
                        <span></span>
                    </button>
                    <a href="index.html" class="logo">
                        <img src="assets/svg/partials/logo.svg" alt="DUZZER" class="logo-img">
                    </a>
                    <div class="header-domain">
                        бетонный агрегатор
                    </div>
                    <div class="header-language">
                        <span class="header-language--selected">RU</span>
                        <ul class="header-language--list">
                            <li><a href="#" class="selected">RU</a></li>
                            <li><a href="#">EN</a></li>
                            <li><a href="#">FR</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-search" id="search">
                    <div class="header-search--opener"></div>
                    <form action="/">
                        <div class="header-search--fieldset">
                            <input type="text" placeholder="Поиск по товарам">
                            <button class="header-search--reset" type="reset">
                                <i class="icon">
                                    <svg><use xlink:href="#icon-close"/></svg>
                                </i>
                            </button>
                            <button class="header-search--btn">
                                <i class="icon icon-search">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"/>
                                    </svg>
                                </i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="header-profile">
                    <div class="header-profile--auth" >
                        <a href="profile.html" class="icon icon-auth">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user"/>
                            </svg>
                        </a>
                        <button type="button" class="show-auth-menu"></button>
                        <div class="header-profile--auth_drop">
                            <h4 class="title-reg header-personal_info--short_title">Hello, reconcept@mail.ru</h4>
                            <ul class="header-profile--auth_menu">
                                <li>
                                    <a href="my-orders.html">
                                        <i class="icon">
                                            <svg><use xlink:href="#icon-list"/></svg>
                                        </i>
                                        Мои заказы
                                    </a>
                                </li>
                                <li>
                                    <a href="cart.html">
                                        <i class="icon">
                                            <svg><use xlink:href="#icon-basket"/></svg>
                                        </i>
                                        Корзина
                                    </a>
                                </li>
                                <li>
                                    <a href="favorites.html">
                                        <i class="icon">
                                            <svg><use xlink:href="#icon-heart"/></svg>
                                        </i>
                                        Фавориты
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html">
                                        <i class="icon">
                                            <svg><use xlink:href="#icon-account"/></svg>
                                        </i>
                                        Мои данные
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html">
                                        <i class="icon">
                                            <svg><use xlink:href="#icon-settings"/></svg>
                                        </i>
                                        Мои настройки
                                    </a>
                                </li>
                                <li>
                                    <a href="help.html">
                                        <i class="icon">
                                            <svg><use xlink:href="#icon-message"/></svg>
                                        </i>
                                        Помощь
                                    </a>
                                </li>
                            </ul>
                            <div class="header-personal_info--actions">
                                <a href="#" class="btn btn-red btn--sm">выйти</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-personal_info">
                        <div class="header-personal_info--item small-hidden">
                            <a href="looked.html" class="header-personal_info--views link-icon">
                                <i class="icon icon-view">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"/>
                                    </svg>
                                </i>
                                <span class="count">23</span>
                            </a>
                            <div class="header-personal_info--short">
                                <h4 class="title-reg header-personal_info--short_title">Вы смотрели</h4>
                                <ul class="short_listing">
                                    <include src="../pages/partials/item/short-listing-item.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/item/short-listing-item.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/item/short-listing-item.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/item/short-listing-item.html" title="Pasta Colorante"></include>
                                </ul>
                                <div class="header-personal_info--actions">
                                    <a href="looked.html" class="btn btn-red btn--sm btn--full">перейти к списку</a>
                                </div>
                            </div>
                        </div>
                        <div class="header-personal_info--item">
                            <a href="favorites.html" class="header-personal_info--favorites link-icon">
                                <i class="icon icon-favorite">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </i>
                                <span class="count">23</span>
                            </a>
                            <div class="header-personal_info--short">
                                <h4 class="title-reg header-personal_info--short_title">Избранное</h4>
                                <ul class="short_listing">
                                    <include src="../pages/partials/item/short-listing-item-like.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/item/short-listing-item-like.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/item/short-listing-item-like.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/item/short-listing-item-like.html" title="Pasta Colorante"></include>
                                </ul>
                                <div class="header-personal_info--actions">
                                    <a href="favorites.html" class="btn btn-red btn--sm btn--full">в избранное</a>
                                </div>
                            </div>
                        </div>
                        <div class="header-personal_info--item">
                            <a href="cart.html" class="header-personal_info--basket">
                                <div class="link-icon">
                                    <i class="icon icon-basket">
                                        <svg xmlns="http://www.w3.org/2000/svg">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-basket"/>
                                        </svg>
                                    </i>
                                    <span class="count">23</span>
                                </div>
                                <div class="header-personal_info--total">
                                    <span class="summ">63 000&#x20bd;</span>
                                </div>
                            </a>

                            <div class="header-personal_info--short added-item"></div>
                            <div class="header-personal_info--short">
                                <h4 class="title-reg header-personal_info--short_title">Товары в корзине</h4>
                                <ul class="short_listing">
                                    <include src="../pages/partials/item/short-listing-item-basket.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/item/short-listing-item-basket.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/item/short-listing-item-basket.html" title="Pasta Colorante"></include>
                                </ul>
                                <div class="header-personal_info--amount">
                                    <div class="header-personal_info--amount_title">Итог</div>
                                    <div class="summ">12799&#x20bd;</div>
                                </div>
                                <div class="header-personal_info--actions">
                                    <div class="header-personal_info--buttons">
                                        <a href="cart.html" class="btn btn-red btn--sm btn--full">Посмотреть корзину</a>
                                        <a href="cart.html" class="btn btn-red btn--sm btn--full">оформить заказ</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav--wrap">
        <div class="content content--lg">
            <nav class="header-nav">
                <ul class="header-nav--list">
                    <li><a href="text-page.html">Как заказать</a></li>
                    <li><a href="text-page.html">Способы оплаты и доставка</a></li>
                    <li><a href="text-page.html">Производителям</a></li>
                    <li><a href="text-page.html">Добавки</a></li>
                    <li><a href="text-page.html">Гайд</a></li>
                    <li><a href="tel:88007005050">8 800 900 78 78</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>
