
<header id="header" class="header">

    <div class="header-top--wrap">
        <div class="content content--lg">
            <div class="header-top">
                <div class="header-logo">
                    <button id="burger" class="burger" type="button">
                        <span></span>
                    </button>
                    <a href="index.html" class="logo">
                        <img src="assets/svg/partials/logo.svg" alt="DUZZER" class="logo-img">
                    </a>
                    <div class="header-domain">
                        бетонный агрегатор
                    </div>
                </div>
                <div class="header-search">
                    <form action="/">
                        <div class="header-search--fieldset">
                            <input type="text" placeholder="Поиск по товарам">
                            <button class="header-search--btn">
                                <i class="icon icon-search">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"/>
                                    </svg>
                                </i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="header-profile">
                    <button class="header-profile--auth auth_open" type="button">
                        <i class="icon icon-auth">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-auth"/>
                            </svg>
                        </i>
                    </button>
                    <div class="header-personal_info">
                        <div class="header-personal_info--item">
                            <a href="looked.html" class="header-personal_info--views">
                                <i class="icon icon-view">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"/>
                                    </svg>
                                </i>
                                <span class="count">4</span>
                            </a>
                            <div class="header-personal_info--short">
                                <h4 class="title-reg header-personal_info--short_title">Вы смотрели</h4>
                                <ul class="short_listing">
                                    <include src="../pages/partials/items/short-listing-item.html" title="Pasta Colorante"></include>
                                    <include src="../pages/partials/items/short-listing-item.html" title="Pasta Colorante"></include>
                                </ul>
                                <div class="header-personal_info--actions">
                                    <a href="#" class="btn btn-red btn--full">перейти к списку</a>
                                </div>
                            </div>
                        </div>
                        <div class="header-personal_info--item">
                            <a href="favorites.html" class="header-personal_info--favorites">
                                <i class="icon icon-favorite">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </i>
                            </a>
                        </div>
                        <div class="header-personal_info--item">
                            <a href="basket.html" class="header-personal_info--basket">
                                <i class="icon icon-basket">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-basket"/>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav--wrap">
        <div class="content content--lg">
            <nav class="header-nav">
                <ul class="header-nav--list">
                    <li><a href="#">Как заказать</a></li>
                    <li><a href="#">Способы оплаты и доставка</a></li>
                    <li><a href="#">Производителям</a></li>
                    <li><a href="#">Добавки</a></li>
                    <li><a href="#">Гайд</a></li>
                    <li><a href="#">8 800 900 78 78</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>
