$listing_size: 56px;

.listing {
  position: relative;
  &_filter {
    margin-bottom: $gutter-x2;
    &-checker {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      &--label {
        width: $listing_size;
        height: $listing_size;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        background: $white;
        color: $link;
        flex-shrink: 0;
        transition: background-color 0.2s;
      }
    }
    &-field {
      height: $listing_size;
      display: flex;
      & > * {
        &:not(:last-child){
          margin-right: $padding;
        }
      }
    }
    &-sorting {
      width: 100%;
      display: flex;
      background: $white;
      align-items: center;
      padding: 0 $padding-md;
      a {
        color: $text;
        margin-right: $padding-lg;
        position: relative;
        &:after {
          @extend .pseudo-content;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          height: 1px;
          background: $link;
          transform: translateY(4px);
          opacity: 0;
          transition: all 0.2s;
        }
        @include hover(){
          &:after {
            transform: translateY(1px);
            opacity: 1;
          }
        }
        &.active {
          &:after {
            transform: translateY(1px);
            opacity: 1;
          }
        }
      }
    }
    &-button {
      @extend %btn_reset;
      background: $white;
      flex-shrink: 0;
      padding: 0 $padding-md;
      color: $link;
      font-weight: 500;
    }
  }
  &_tabs {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  &_items {
    width: 100%;
    min-width: 100%;
  }
  &_map {
    position: relative;
    width: 100%;
    min-width: 100%;
    &-box {
      &--frame {
        width: 100%;
        height: 800px;
      }
    }
    img[src*='map-mark']{
      @extend %full_block;
      max-width: 100% !important;
      max-height: 100%;
    }
    .map-item {
      overflow: visible !important;
      opacity: 1 !important;
      &:not(.visible) {
        .listing_item {
          display: none;
        }
      }
      & > img {
        opacity: 0;
      }
    }
  }
  &_item {
    border-radius: 0 0 10px 10px;
    transition: box-shadow 0.25s;
    height: 100%;
    display: flex;
    flex-direction: column;
    .map-item & {
      width: 280px;
      border-radius: 0;
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, -16px);
      height: auto;
      background: $white;
      padding: $padding-sm $padding-sm 0;
      box-shadow: 0 4px 16px 0 rgba($black,0.16);
      &:after {
        @extend .pseudo-content;
        width: 0;
        height: 0;
        border-style: solid solid none;
        border-color: $white transparent;
        border-width: 14px 15px;
        margin-left: -15px;
        position: absolute;
        top: 100%;
        left: 50%;
      }
    }
    @include hover(){
      box-shadow: 0 4px 16px 0 rgba($black,0.16);
    }
    &-box {
      margin-bottom: $gutter-x2;
    }
    &-figure {
      position: relative;
    }
    &-img {
      width: 100%;
      height: 0;
      padding-bottom: 57.5%;
      position: relative;
      .img {
        position: absolute;
        @extend %full_block;
        left: 0;
        top: 0;
      }
      img {
        @extend %full_block;
        object-fit: cover;
      }
    }
    &-hashes {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      font-weight: 500;
      .map-item & {
        display: none;
      }
      .hash {
        line-height: $font-md;
        font-size: $font;
        color: $white;
        padding: 0 $padding;
        margin-right: $padding-sm;
        cursor: default;
        &-premium {
          background: $brand-01;
        }
        &-pro {
          background: $brand-03;
        }
        &-new {
          background: $text-05;
        }
      }
    }
    &-data {
      position: relative;
      background: $white;
      padding: $padding 2*$padding-lg $padding $padding-md;
      border-radius: 0 0 10px 10px;
      flex-grow: 1;
      font-size: $font;
      .map-item & {
        position: static;
        border-radius: 0;
        padding: $padding-sm $padding-lg $padding-sm $padding;
      }
      &--title {
        display: inline-flex;
        color: $text;
        @include hover(){
          color: $link;
        }
      }
      &--descr,
      &--price {
        margin-top: 12px;
        .map-item & {
          margin-top: $padding-sm;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &--cta {
        position: absolute;
        top: 40px;
        right: 24px;
        color: $white;
        .map-item & {
          border-radius: 50%;
          box-shadow: 0 0 0 8px $white;
          background: $white;
          top: -8px;
          right: -8px;
        }
        @include hover(){
          color: $brand-02;
        }
        &.liked {
          color: $brand-02;
        }
      }
    }
  }
}


#view_listing:checked ~ .listing_filter [for="view_listing"],
#view_map:checked ~ .listing_filter [for="view_map"]{
  background: $link;
  color: $white;
}
#view_map:checked ~ .listing_filter .listing_filter-sorting {
  * {
    display: none;
  }
}
#view_listing:checked ~ .listing_tabs .listing_map-box--frame {
  //position: absolute !important;
  //left: 0;
  //top: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
#view_map:checked ~ .listing_tabs .listing_items {
  display: none;
}
