$listing_size: 56px;

@import "listing/sort";
@import "listing/map";
@import "listing/items";
@import "listing/sidebar";

.listing {
  position: relative;
  &_tabs {
    display: flex;
    width: 100%;
  }

}


#view_listing:checked ~ .listing_filter [for="view_listing"],
#view_map:checked ~ .listing_filter [for="view_map"]{
  background: $link;
  color: $white;
}
#view_map:checked ~ .listing_filter .listing_filter-sorting {
  * {
    display: none;
  }
}
#view_listing:checked ~ .listing_tabs .listing_map-box--frame {
  //position: absolute !important;
  //left: 0;
  //top: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
#view_map:checked ~ .listing_tabs .listing_items {
  display: none;
}
