.landing {
  width: 100%;
  overflow: hidden;
  background-color: $dark;
  .desktop &,
  .tablet.landscape & {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
  .mobile &,
  .tablet.portrait & {
    padding: 60px 0 0;
  }
  .slide {
    .desktop &,
    .tablet.landscape & {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      max-width: 1920px;
      height: 100%;
      overflow: hidden;
      display: flex;
      transition: transform 1.4s ease-in-out;
      &[data-slide='10'] {
        max-width: none;
      }
      &-left {
        width: 50%;
        height: 100%;
        padding: 25px;
      }
      &-right {
        width: 50%;
        height: 100%;
        padding: 1.4vw;
      }
    }
  }
}