<footer class="footer">
    <div class="content content--lg">
        <div class="footer--main">
            <nav class="nav">
                <ul class="nav--menu">
                    <li><a href="#">technology</a></li>
                    <li><a href="#">events</a></li>
                    <li><a href="#">products</a></li>
                    <li><a href="#">about</a></li>
                </ul>
                <div class="request">
                    <button class="btn btn--dark" type="button">request</button>
                </div>
            </nav>
        </div>
    </div>
</footer>



