<header id="header" class="header">
    <div class="content content--lg">
        <div class="header--main">
            <input type="checkbox" class="hide burger--check" id="burgerMenu">
            <a href="#" class="logo">
                <img src="assets/svg/icons/logo-light.svg" alt="ORWAY" width="154" height="35">
            </a>
            <label for="burgerMenu" class="burger">
                <span></span>
            </label>
            <nav class="nav" id="nav">
                <ul class="nav--menu">
                    <li><a href="#">technology</a></li>
                    <li><a href="#">events</a></li>
                    <li><a href="#">products</a></li>
                    <li><a href="#">about</a></li>
                </ul>
                <div class="lang">
                    <div class="lang-sign">en</div>
                    <div class="lang-select">
                        <a href="#" class="current">En</a>
                        <a href="#">Es</a>
                        <a href="#">De</a>
                    </div>
                </div>
                <div class="request">
                    <button class="btn btn--light show-modal" data-modal="request" type="button">request</button>
                </div>
            </nav>
        </div>
    </div>
</header>
