<header id="header" class="header">
    <div class="content">
        <div class="header--main">
            <input type="checkbox" class="hide burger--check" id="burgerMenu">
            <a href="#" class="logo">
                <img src="assets/svg/icons/logo-light.svg" alt="ORWAY" width="154" height="35">
            </a>
            <label for="burgerMenu" class="burger">
                <span></span>
            </label>
            <nav class="nav" id="nav">
                <ul class="nav--menu">
                    <li><a href="#">technology</a></li>
                    <li><a href="#" class="active">about</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
