<div class="listing-item @@col">
    <div class="listing-item--section">
        <div class="listing-item--img">
            <include src="./elements/img.html"
                     title="@@title"
                     class="listing-item--img_box"
                     imgUrl="item-01"
            ></include>
            <div class="listing-item--marks">
                <span class="listing-item--mark @@markClass">@@markTitle</span>
            </div>
        </div>
        <div class="listing-item--data">
            <include src="./elements/title.html" class="listing-item--title" title="@@title"></include>
            <div class="listing-item--descr">
                <div class="listing-item--prices">
                    <span class="actual-price">3456&#x20bd;</span>
                </div>
                <include src="./elements/cta.html" liked="@@liked"></include>
            </div>
        </div>
    </div>
</div>