<li class="short_listing-item">
    <a href="catalog-item.html" class="short_listing-item--link">
        <div class="short_listing-item--img">
            <div class="short_listing-item--img_box">
                <picture>
                    <source type="image/webp" srcset="assets/images/items/item-02.webp">
                    <source type="image/jpeg" srcset="assets/images/items/item-02.jpg">
                    <img src="assets/images/items/item-02.jpg" alt="@@title">
                </picture>
            </div>
        </div>
        <div class="short_listing-item--data">
            <div class="short_listing-item--heading">
                <div class="short_listing-item--title">@@title</div>
                <div class="short_listing-item--category">
                    Краситель
                </div>
            </div>
            <span class="short_listing-item--price">
                3456&#x20bd;
            </span>
        </div>
    </a>

</li>