<li class="short_listing-item">
    <div class="short_listing-item--img">
        <include src="./elements/img.html"
                 title="@@title"
                 class="short_listing-item--img_box"
                 imgUrl="item-05"
        ></include>
    </div>
    <div class="short_listing-item--data">
        <div class="short_listing-item--heading">
            <include src="./elements/title.html" class="short_listing-item--title" title="@@title"></include>
            <div class="short_listing-item--category">
                Краситель
            </div>
        </div>
        <a href="catalog-item.html" class="short_listing-item--price">
            3456&#x20bd;
        </a>
    </div>
    <div class="short_listing-item--icons">
        <i class="icon icon-like liked">
            <svg xmlns="http://www.w3.org/2000/svg">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-like"/>
            </svg>
        </i>
    </div>
</li>