.consultation {
  position: relative;
  background: #241d3d url("../images/consultation-bg.jpg") no-repeat center;
  background-size: cover;
  @include media(hover,1025){
    padding: 75px 0 105px;
    margin-bottom: 70px;
  }
  @include breakpoints(768,1024){
    padding: 60px 0 80px;
    margin-bottom: 60px;
  }

  @include media(screen,767){
    padding: 40px 0;
    margin-bottom: 40px;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid solid none;
    border-width: 30px 25px;
    border-color: $white transparent;
    left: 50%;
    top: 0;
    position: absolute;
    transform: translateX(-50%);
  }
  .title {
    text-align: center;
    color: $white;

    font-family: $font-yeseva;
    margin-bottom: $padding;
    letter-spacing: 0.025em;
    @include media(hover,1025){
      font-size: $px*48rem;
    }
    @include breakpoints(768,1024){
      font-size: $px*25rem;
    }

    @include media(screen,767){
      font-size: $px*15rem;
    }
  }
  .text {
    color: $white;
    font-size: $px*4.32rem;
    margin-bottom: 40px;
  }
}