.pagination {
  display: flex;
  justify-content: center;
  a,span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include media(hover,768){
      width: 64px;
      height: 64px;
    }
    @include media(screen,767){
      width: 40px;
      height: 40px;
    }
    &:not(.current){
      color: $text;
      background-color: $grey;
      @include hover(){
        background-color: $text;
        color: $white;
      }
    }
    &.current{
      background-color: $text;
      color: $white;
      pointer-events: none;
    }
  }
}