.sharing {
  @include media(hover,1025){
    &.fixed {
      position: fixed;
      top: 0;
      @include media(hover,1511){
        left: 50%;
        transform: translateX(-705px);
      }
      @include breakpoints(1025,1510){
        left: 50px;
      }
    }
    &.bottom {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  ul {
    display: flex;
    @include media(hover,1025){
      padding: 110px 0;
      flex-direction: column;
      align-items: flex-start;
    }
    @include media(screen,1024){
      padding: 20px 0;
      align-items: center;
    }
  }
  li {
    @include media(hover,1025){
      margin: 8px 0;
    }
    @include breakpoints(681,1024){
      margin: 0 20px 0 0;
    }
    @include media(screen,680){
      margin: 0 15px 0 0;
    }
  }
  .link {
    display: flex;
    align-items: center;
    color: $violet;
    font-size: $px*3.36rem;
    font-weight: 700;
    @include hover(){
      .ico {
        color: inherit;
      }
    }
    @include media(screen,1024){
      .ico {
        color: inherit;
      }
    }
    &--tw {
      @include hover(){
        color: #00aaef;
      }
      @include media(screen,1024){
        color: #00aaef;
      }
    }
    &--fb {
      @include hover(){
        color: #455896;
      }
      @include media(screen,1024){
        color: #455896;
      }
    }
    &--gp {
      @include hover(){
        color: #C14F44;
      }
      @include media(screen,1024){
        color: #C14F44;
      }
    }
    &--vk {
      @include hover(){
        color: #556F9C;
      }
      @include media(screen,1024){
        color: #556F9C;
      }
    }
    &--ok {
      @include hover(){
        color: #d3732f;
      }
      @include media(screen,1024){
        color: #d3732f;
      }
    }
    &--fv {
      margin: 5px 13px;
      .favorite {
        background: transparent;
        border: none;
        width: 16px;
        height: 32px;
        position: relative;
        &:before {
          content: "";
          height: 21px;
          top: 5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 8px;
          box-shadow: 0 0 7px 5px RGBA(0,0,0,.4);
          position: absolute;
        }
        .i {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          &:before,
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            transition: all 0.2s;
          }
          &:before {
            top: 0;
            height: 25px;
            background-color: $white;
          }
          &:after {
            width: 0;
            height: 0;
            border-color: transparent $white;
            border-style: none solid solid;
            border-width: 7px 8px;
            top: 25px;
            margin: auto;
          }
        }
        &.liked {
          .i {
            &:before {
              background-color: $hover;
            }
            &:after {
              border-color: transparent $hover;
            }
          }
        }
        @include hover(){
          .i {
            &:before {
              background-color: $hover;
            }
            &:after {
              border-color: transparent $hover;
            }
          }
        }
      }
    }
  }
  svg {
    fill: currentColor;
  }
  .ico {
    color: $text;

    @include media(hover,1025){
      margin-right: 15px;
    }
    @include breakpoints(681,1024){
      margin-right: 5px;
    }
    @include media(hover,681){
      width: 40px;
      height: 40px;
    }
    @include media(screen,680){
      width: 25px;
      height: 25px;
      margin-right: 0;
    }
  }
}