.text-box {
  &--wrap {
    padding: 105px 0;
  }
  &--layout {
    display: flex;
    width: 100%;
    &.first-info {
      padding-top: 55px;
    }
  }
  &--aside {
    width: calc(50% - 445px);
    position: relative;
  }
  &--main {
    width: 890px;
    padding: 0 $padding;
  }
  &--images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .figure {
      width: calc(50% - 12.5px);
      padding: 95px 50px;
      margin-top: $padding;
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;
      }
    }
    img {
      width: 100%;
      display: block;
      height: auto;
      box-shadow: 0 0 5rem 0 rgba($black,0.6);
    }
  }
  font-size: 18px;
  line-height: 1.64;
  blockquote {
    position: relative;
    font-size: 22px;
    padding-left: 50px;
    margin-bottom: 56px;
    &:before {
      content: "\201C";
      color: #c5c3cb;
      left: -20px;
      top: 0;
      font-size: $px*96rem;
      font-family: $font-yeseva;
      position: absolute;
      line-height: 260px;
    }
    p {
      margin: 0;
      position: relative;
    }
  }
  h2 {
    font-family: $font-yeseva;
    font-weight: 500;
    font-size: 31px;
    margin-bottom: 26px;
  }
  h3 {
    font-size: 19px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 36px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: inherit;
    border-bottom: 2px solid $hover;
    @include hover(){
      color: $hover;
    }
  }
}