.desktop,
.tablet.landscape {
  .begin {
    [data-slide='1'] {
      .title {
        .part1 {
          transform: translateX(4vw);
          opacity: 0;
        }
        .part2 {
          transform: translateX(4.2vw);
          opacity: 0;
        }
        .part3 {
          transform: translateX(4.4vw);
          opacity: 0;
        }
      }
      .subtitle {
        opacity: 0;
        transform: translateY(90%);
      }
      .word {
        opacity: 0;
        transform: translateY(80%);
      }
      .brands {
        .brand {
          transform: translateY(50%);
          opacity: 0;
        }
      }
    }
    [data-slide='2'],
    [data-slide='3'],
    [data-slide='4'],
    [data-slide='5'],
    [data-slide='6'],
    [data-slide='7'],
    [data-slide='8'],
    [data-slide='9'],
    [data-slide='10'] {
      display: none;
    }
  }
}