[data-slide='2'] {
  transform: translateY(100%);
  [data-current="2"] & {
    transform: translateY(0);
  }
  [data-current="3"] &,
  [data-current="4"] &,
  [data-current="5"] &,
  [data-current="6"] &,
  [data-current="7"] &,
  [data-current="8"] &,
  [data-current="9"] &,
  [data-current="10"] & {
    transform: translateY(-100%);
  }
  .slide-right {
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
  .list {
    color: #bebebf;
    @include media(hover,1481){
      margin-bottom: 14vh;
      max-width: 65%;
    }
    @include breakpoints(1201,1480){
      margin-bottom: 8vh;
      max-width: 75%;
    }
  }
}