[data-slide='9'] {
  transform: translateY(100%);
  [data-current="9"] & {
    transform: translateY(0);
  }
  [data-current="10"] & {
    transform: translateY(-100%);
  }
  .head {
    width: 40%;
    left: 50%;
    padding-left: 75px;
    padding-right: 25px;
    margin-bottom: 3vh;
    position: absolute;
    bottom: 80vh;
  }
  .title {
    text-transform: uppercase;
    color: $white;
    font-size: 6.2vh;
    line-height: 1.3;
    font-weight: 600;
    position: relative;
    z-index: 2;
    transform: translateY(100%);
    [data-current="8"] & {
      transition: transform 0.1s ease 1.3s;
    }
    [data-current="9"] & {
      transform: translateY(0);
      transition: transform 0.8s ease 0.4s;
    }
    [data-current="10"] & {
      transition: transform 0.4s ease 0.4s;
    }
  }
  .brands {
    position: absolute;
    top: 20vh;
    bottom: 10vh;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
    .brand {
      width: 25%;
      max-width: 25%;
      padding: 0 25px;
      display: flex;
      justify-content: center;
      transform: translateY(50%);
      opacity: 0;
      [data-current="8"] & {
        transition: all 0.01s ease 1.4s;
      }
      [data-current="9"] & {
        transform: translateY(0);
        opacity: 1;
      }
      [data-current="10"] & {
        opacity: 1;
        transition: all 0.01s ease 1.4s;
      }
      img {
        max-width: 100%;
        height: 22vh;
        width: auto;
      }
      &:nth-child(1){
        [data-current="9"] & {
          transition: all 0.5s ease 0.8s;
        }
      }
      &:nth-child(2){
        [data-current="9"] & {
          transition: all 0.5s ease 0.85s;
        }
      }
      &:nth-child(3){
        [data-current="9"] & {
          transition: all 0.5s ease 0.9s;
        }
      }
      &:nth-child(4){
        [data-current="9"] & {
          transition: all 0.5s ease 0.95s;
        }
      }
    }
  }


  .footer-rounds {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: $white;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 20px;
      width: 1px;
      background-color: rgba($white, 0.2);
      z-index: 1;
    }
    .left {
      position: absolute;
      left: 0;
      top: -1px;
      right: 50%;
      bottom: 1px;
      background-color: $dark;
      border-radius: 0 0 75px 0;
      margin-right: -0.5px;
    }
    .right {
      position: absolute;
      right: -1px;
      top: -1px;
      left: 50%;
      bottom: 1px;
      background-color: $dark;
      border-radius: 0 0 0 75px;
      margin-left: -0.5px;
    }
  }
}