@import "main";
@import "header";
@import "footer";
@import "nav";
@import "sidebar";


.page {
  @include media(hover,1025){
    padding: 80px 0;
  }
  @include media(screen,1024){
    padding: 40px 0;
  }
  &-layout {
    display: flex;
  }
  &-sidebar {
    width: 280px;
    flex-shrink: 0;
  }
  &-main-part {
    width: 100%;
  }
}