.nav {
  display: flex;
  width: 100%;
  &-menu {
    width: 100%;
    display: flex;
    font-size: $px*3.84rem;
    padding: 0 0.8vw;
    li {
      padding: 0 20px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      &:nth-child(1){transition: all 0.15s ease 0.07s}
      &:nth-child(2){transition: all 0.15s ease 0.1s}
      &:nth-child(3){transition: all 0.15s ease 0.13s}
      &:nth-child(4){transition: all 0.15s ease 0.16s}
      &:nth-child(5){transition: all 0.15s ease 0.19s}
      &:nth-child(6){transition: all 0.15s ease 0.22s}
      &:nth-child(7){transition: all 0.15s ease 0.25s}
      .simple-header & {
        opacity: 0;
        &:nth-child(1){transition: all 0.15s ease 0.25s}
        &:nth-child(2){transition: all 0.15s ease 0.22s}
        &:nth-child(3){transition: all 0.15s ease 0.19s}
        &:nth-child(4){transition: all 0.15s ease 0.16s}
        &:nth-child(5){transition: all 0.15s ease 0.13s}
        &:nth-child(6){transition: all 0.15s ease 0.1s}
        &:nth-child(7){transition: all 0.15s ease 0.07s}
      }
    }
    a {
      color: inherit;
      @include hover(){
        color: $hover;
      }
      &.active {
        color: $hover;
      }
    }
    .simple-header & {
      pointer-events: none;
    }
  }
  &-burger {
    position: absolute;
    height: 80px;
    width: 80px;
    left: -2px;
    top: 0;
    pointer-events: none;
    box-shadow: 0 0 0 0 $yellow inset;
    transition: background-color 0.4s, box-shadow 0.3s;
    .simple-header & {
      pointer-events: auto;
      //cursor: pointer;
      background-color: $white;
      box-shadow: 0 0 0 2px $yellow inset;
      transition: background-color 0.4s, box-shadow 0.4s ease 0.35s;
      @include hover(){
        transition: background-color 0.25s;
        background-color: $yellow;
      }
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $black;
      left: 20px;
      transition: all 0.4s;
      opacity: 0;
      .simple-header & {
        opacity: 1;
      }
    }
    &:before {
      top: 10px;
      .simple-header & {
        top: 25px;
      }
    }
    &:after {
      bottom: 10px;
      .simple-header & {
        bottom: 25px;
      }
    }
    span {
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $black;
      transform: translate3d(calc(100vw - 500px),0,0);
      top: 50%;
      margin-top: -1.5px;
      opacity: 0;
      transition: all 0.4s;
      .simple-header & {
        opacity: 1;
        transform: translate3d(20px,0,0);
      }
    }
  }
  .elements {
    padding: 0 $padding;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
  }
  .slogan {
    text-transform: uppercase;
    line-height: 1.1;
    max-width: 120px;
    font-size: $px*2.88rem;
    transition: opacity 0.15s ease 0.15s, color 0.25s;
    color: inherit;
    @include hover(){
      color: $hover;
    }
    .simple-header & {
      transition: all 0.15s ease 0.1s;
      pointer-events: none;
      opacity: 0;
    }
  }
  .support {
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all 0.15s ease 0.25s;
    .favorites {
      margin-right: $padding;
      display: inline-flex;
      align-items: center;
      color: $hover;
      font-size: $px*3.36rem;
      font-weight: 600;
      .ico {
        margin-left: 8px;
        width: 16px;
        height: 32px;
        border-width: 16px 8px 8px;
        border-style: solid;
        border-color: currentColor currentColor transparent;
      }
    }
    .questions {
      font-size: $px*3.84rem;
      color: $link;
      font-weight: 600;
      background: none;
      border: none;
      @include hover(){
        color: $hover;
      }
    }
    .simple-header & {
      transition: all 0.15s;
      pointer-events: none;
      opacity: 0;
    }
  }
}