.basket {
  &-order {
    background-color: $bg;
    .compare {
      background-color: transparent;
      padding: 0;
    }
  }
  &-form {
    margin-bottom: 2*$padding_md;
    &--section {
      padding: 2*$padding_sm 0 0;
      .title {
        margin-bottom: $padding_md;
      }
    }
    &--additional {

    }
    &--ordering {
      .ordering-data {
        background-color: $white;
        padding: $padding_sm 2*$padding_sm;
      }
      .ordering-pays {
        border-top: 1px solid $text_lt;
        background-color: $bg_yellow;
        padding: $padding_sm 2*$padding_sm;
      }
      .ordering-submit {
        border-top: 1px solid $text_lt;
        background-color: $bg_yellow;
        padding: $padding_sm 2*$padding_sm;
        .form-title {
          color: $text;
          margin-bottom: 15px;
        }
        .form-row-submit {
          margin-top: $padding_sm;
          margin-bottom: 10px;
        }
        &--total {
          font-size: 3.5rem;
          line-height: 1.5;
          .total-head {
            font-weight: 600;
            margin-bottom: 5px;
          }
        }
        &--title {
          font-weight: 600;
          font-size: 5.2rem;
          text-transform: uppercase;
          padding-top: 10px;
        }
        &--subtitle {
          font-weight: 600;
          font-size: 5.2rem;
        }

      }
    }
  }
}