.catalog {
  &-header {
    background-color: $bg;
    color: $border;
    margin-bottom: $padding_sm;
    display: flex;
    align-items: center;
    @include media(hover,768){
      padding: 5px 0;
    }
    @include media(screen,767){
      padding: 0 10px;
    }
    .filter {
      display: flex;
      align-items: center;
      height: 30px;
      @include media(hover,768){
        margin: 0 0 0 $padding_sm;
      }
      @include media(screen,767){
        width: 100%;
        justify-content: space-between;
        &:not(:last-child) {
          border-bottom: 1px solid $border;
        }
      }
      .arrow {
        width: 30px;
        height: 30px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-color: currentColor;
          border-width: 2px;
          border-style: solid solid none none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: rotate(135deg) translate(-1px,1px);
          transition: transform 0.3s;
        }
      }
      &.up {
        .arrow {
          &:after {
            transform: rotate(315deg) translate(-3px,3px);
          }
        }
      }
    }
    @include media(screen,1024){
      text-transform: uppercase;
    }
    @include breakpoints(768,1024){
      font-size: 3rem;
    }
    @include media(screen,767){
      flex-direction: column;
      font-size: 3.5rem;
    }
  }
  &-filters {
    background-color: $bg;
    //margin-bottom: 2*$padding_sm;
    padding: $padding_sm $padding_sm $padding_sm $padding_md;
    @include media(hover,1201){
      max-height: 100%;
    }
    @include media(screen,1200){

    }
    &--btn {
      flex-shrink: 0;
    }
    &--wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      .catalog-filters {
        max-height: calc(100% - 60px);
      }
    }
    &--head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .show-more {
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          width: 9px;
          height: 9px;
          border-color: $text_lt;
          border-width: 2px;
          border-style: solid solid none none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: rotate(135deg) translate(-2px,2px);
          transition: all 0.3s;
          .show & {
            transform: rotate(315deg) translate(-2px,2px);
          }
        }
      }
    }
    .reset {
      margin-top: 20px;
      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $border;
        border-bottom: 1px solid currentColor;
        line-height: 1;
        span {
          font-size: 5rem;
          font-weight: 400;
          margin-right: 5px;
        }
      }
    }
    .submit {
      margin-top: $padding_sm;
    }
  }
  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(screen,767){
      flex-direction: column;
      & > * {
        &:not(:last-child){
          margin-bottom: $padding_sm;
        }
      }
    }
  }
}

.filter-row {
  @include media(hover,1201){
    .btn-box {display: none;}
  }
  @include media(screen,1200){
    .btn-box {
      margin: 0;
    }
    .custom-row-col.col-sidebar {
      width: 100%;
      margin-bottom: $padding_sm;
    }
  }
}