.catalog {
  &-header {
    background-color: $bg;
    color: $border;
    margin-bottom: $padding_sm;
    padding: 5px 0;
    display: flex;
    align-items: center;
    .filter {
      display: flex;
      align-items: center;
      height: 30px;
      margin: 0 0 0 $padding_sm;
      .arrow {
        width: 30px;
        height: 30px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-color: currentColor;
          border-width: 2px;
          border-style: solid solid none none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: rotate(135deg) translate(-1px,1px);
          transition: transform 0.3s;
        }
      }
      &.up {
        .arrow {
          &:after {
            transform: rotate(315deg) translate(-3px,3px);
          }
        }
      }
    }
  }
  &-filters {
    background-color: $bg;
    padding: $padding_sm $padding_sm $padding_sm $padding_md;
    &--head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .show-more {
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          width: 9px;
          height: 9px;
          border-color: $text_lt;
          border-width: 2px;
          border-style: solid solid none none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: rotate(135deg) translate(-2px,2px);
          transition: all 0.3s;
          .show & {
            transform: rotate(315deg) translate(-2px,2px);
          }
        }
      }
    }
    .reset {
      margin-top: 20px;
      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $border;
        border-bottom: 1px solid currentColor;
        line-height: 1;
        span {
          font-size: 5rem;
          font-weight: 400;
          margin-right: 5px;
        }
      }
    }
  }
  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}