/*******************************************/
/*                VIDEO BOX                */
/*******************************************/

.video-box {
  position: relative;
  &--bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100px;
    overflow: hidden;
    z-index: 2;
    video {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &--wrap {
    position: relative;
    z-index: 3;
    min-height: 420px;
    height: calc(100vh - 240px);
    width: 100%;
    display: flex;
    align-items: center;
  }
  &--about {
    width: 37.5%;
    background-color: $link_hover;
    color: $white;
    section {
      font-size: 4rem;
      font-weight: 300;
      padding: 2*$padding_sm 2*$padding_md;
    }
    .title {
      margin-bottom: 4rem;
    }
    .actions {
      display: flex;
      .btn {
        width: 50%;
      }
    }
  }
}

/***********************************************/
/*                SITE INFO BOX                */
/***********************************************/

.site-info {
  margin-bottom: 2*$padding_sm;
  &--wrap {
    background-color: $white;
    padding: 2*$padding_sm 2*$padding_md;
    box-shadow: 0 30px 40px 5px rgba($border,0.16);
    position: relative;
    z-index: 2;
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    li {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &:not(:last-child){
        margin-right: 2*$padding_md;
      }
    }
  }
  &--text {
    width: 100%;
    flex-shrink: 500;
    font-size: 3.5rem;
  }
  .icon {
    width: 32px;
    height: 32px;
    margin-right: $padding_sm;
  }
  .title {
    font-size: 5.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

/*******************************************/
/*                ABOUT BOX                */
/*******************************************/

.home-about {
  padding: $padding_md 0;
  margin-bottom: 2*$padding_sm;
  &-menu {
    margin-bottom: 2*$padding_md;
    &--wrap {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      margin: 0 -1*$padding_sm;
      li {
        width: 25%;
        padding: 0 $padding_sm;
      }
    }
    &--item {
      width: 100%;
      display: block;
      padding-top: 66.6667%;
      position: relative;
      background-color: $bg;
      article {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        padding: 23% $padding_sm 0;
      }
      .title {
        font-size: 6.4rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .subtitle {
        font-size: 3.5rem;
        color: $border;
        margin-bottom: 20px;
      }
      .read {
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s;
      }
      @include hover(){
        background-color: $bg_blue;
        .read {opacity: 1;}
      }
    }
  }
  &-main {
    position: relative;
    .img-branch {
      position: absolute;
      left: 0;
      bottom: 15%;
      width: 230px;
      height: auto;
      z-index: 1;
    }
    &--wrap {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      margin: 0 -1*$padding_sm;
    }
    &--chief {
      width: 25%;
      padding: 2*$padding_sm $padding_sm;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      &:before {
        content: "";
        top: 0;
        bottom: 0;
        right: 50%;
        width: 200%;
        background-color: $hash;
        position: absolute;
      }
      & > * {
        position: relative;
        z-index: 1;
      }
    }
    &--photo {
      width: 240px;
      height: 240px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: $padding_md;
      img {
        @extend %fullBlock;
        border-radius: 50%;
      }
    }
    &--post {
      width: 50%;
      margin-left: 50%;
      padding-left: 10px;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.6;
    }
    &--speech {
      width: 50%;
      padding: 2*$padding_sm $padding_sm;
      .text {
        font-family: Merriweather;
        font-style: italic;
        font-size: 5rem;
        p {
          margin-bottom: 2*$padding_sm;
        }
      }
      .blog-hashes {

      }
    }
  }
}


/************************************************/
/*                READY PROJECTS                */
/************************************************/

.ready-projects {
  padding: 4*$padding_sm;
  .title {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: $padding_md;
  }
  &--text {
    font-size: 3.5rem;
    line-height: 1.5;
    columns: 2 auto;
    column-gap: 2*$padding_sm;
    a {
      color: $link_dark;
    }
    strong {
      font-weight: 700;
    }
  }
}