.project-page {
  padding: 2*$padding_sm 0 0;
  &--head {
    align-items: stretch;
    margin-bottom: 2*$padding_sm;
  }
  &--info {
    display: flex;
    flex-direction: column;
    height: 100%;
    .main-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $padding_sm;
      flex-shrink: 0;
      .index {
        background-color: $text;
        color: $white;
        font-size: 8.5rem;
        height: 80px;
        padding: 0 2*$padding_sm;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2*$padding_sm;
        width: 50%;
        white-space: nowrap;
      }
      .price {
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .current-price {
        font-size: 8.5rem;
        font-weight: 600;
      }
      .old-price {
        position: relative;
        font-size: 3rem;
        color: $border;
        display: flex;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          height: 1px;
          background-color: currentColor;
        }
      }

    }
    .data {
      height: 100%;
      background-color: $bg_blue;
      padding: $padding_md;
      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2*$padding_sm;
        .icon-liked {
          flex-shrink: 0;
          margin-left: $padding_md;
        }
      }
      .feature {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 3.3rem;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        margin-bottom: $padding_md;
        padding: 8px 0;
        .icon-feature {
          flex-shrink: 0;
          margin-right: 10px;
        }
      }
    }
    .info {
      display: flex;
      align-items: flex-start;
      color: $text;
      font-size: 4rem;
      margin-bottom: $padding_md;
      .ico {
        font-style: normal;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        color: $link_hover;
        font-weight: 700;
        font-size: 13px;
        border: 1px solid $link_hover;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 5px 0 0 0;
      }
      .text {
        font-weight: 600;
      }
      ul {
        display: flex;
        align-items: stretch;
        text-align: center;
        width: 100%;
      }
      li {
        padding: 0 15px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:last-child){
          border-right: 1px solid currentColor;
        }
      }
    }
    .estimate {
      display: flex;
    }
  }
  &--slider {
    width: 100%;
    padding-top: 60%;
    position: relative;
  }
  &--tabs {
    position: relative;
    & > input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      pointer-events: none;
      z-index: -2;
    }
  }
  .tabs {
    &-nav {
      ul {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
      }
      li {
        transition: all 0.2s;
        width: 100%;
        color: $border;
        white-space: nowrap;
        border-width: 1px;
        border-style: solid none solid solid;
        border-color: $text_lt $text_lt $text;
        &:last-child {
          border-right: 1px solid $text_lt;
        }
        label {
          width: 100%;
          cursor: pointer;
          text-align: center;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 $padding_sm;
          text-transform: uppercase;
          font-size: 3.5rem;
          color: inherit;
          font-weight: 600;
        }
      }
    }
    &-sections {
      position: relative;
      .tab-section {
        width: 100%;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
      }
      .tab-main {
        &-slider {

        }
      }
      .tab-cost {

      }
    }
  }
}

/* tabs actives */

.tab01:checked ~ nav .tab01,
.tab02:checked ~ nav .tab02,
.tab03:checked ~ nav .tab03,
.tab04:checked ~ nav .tab04,
.tab05:checked ~ nav .tab05,
.tab06:checked ~ nav .tab06 {color: $text; border-color: $text $text transparent $text;}

.tab01:checked ~ nav .tab02,
.tab02:checked ~ nav .tab03,
.tab03:checked ~ nav .tab04,
.tab04:checked ~ nav .tab05,
.tab05:checked ~ nav .tab06,
.tab06:checked ~ nav .tab07 {border-left-color: $text;}

.tab01:checked ~ .tabs-sections .tab01,
.tab02:checked ~ .tabs-sections .tab02,
.tab03:checked ~ .tabs-sections .tab03,
.tab04:checked ~ .tabs-sections .tab04,
.tab05:checked ~ .tabs-sections .tab05,
.tab06:checked ~ .tabs-sections .tab06 {position: static; pointer-events: auto; opacity: 1;}