.btn {
  font-family: Futuris, sans-serif;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
  &_bord {
    border-color: $white;
    color: $white;
    padding: 10px 30px;
    font-size: 14px;
  }
}