.form-request {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 940px;
  .form {
    background-color: $white;
    padding: 50px 40px 40px;
    box-shadow: 0 10px 40px 0 rgba($head,0.8);
    color: $border;
    font-size: 14px;
    font-weight: 400;
    &-box {
      .fieldset {
        padding: 8px 0;
        display: flex;
        width: 100%;
        border-bottom: 1px solid $bg;
        &:first-of-type {border-top: 1px solid $bg;}
      }
      .field {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        &:not(:last-child){margin-right: 20px}
        label {
          white-space: nowrap;
          display: block;
          margin-right: 10px;
        }
        .input {
          flex-shrink: 500;
          display: block;
          width: 100%;
        }
        input {
          display: block;
          width: 100%;
        }
      }
      .asterisk {
        margin: 15px 0;
      }
      .btn {
        text-align: center;
        width: 100%;
        padding: 20px 15px;
      }
    }
  }
}