.includes {
  display: flex;
  align-items: center;
  //@include media(screen,1200){
  //  .grid & {flex-direction: column;}
  //}
  & > span {
    display: flex;
    align-items: center;
    span {flex-shrink: 500;}
    .grid & {
      @include media(hover,1201){
        font-size: 15px;
        &:not(:last-child){
          margin-right: 30px;
        }
      }
      //@include breakpoints(1200,1599){
      //  font-size: 13px;
      //  &:not(:last-child){
      //    margin-right: 10px;
      //  }
      //}
      @include media(screen,1200){
        &:not(:last-child){
          margin-right: 15px;
        }
      }

      i {
        @include media(hover,1201){
          margin-right: 10px;
        }
        @include media(screen,1200){
          margin-right: 7px;
        }
      }
    }
    .short-info & {
      @include media(hover,1600){
        font-size: 15px;
        &:not(:last-child){
          margin-right: 30px;
        }
      }
      @include breakpoints(600,1599){
        font-size: 13px;
        &:not(:last-child){
          margin-right: 10px;
        }
      }
      @include media(screen,599){
        font-size: 9px;
        &:not(:last-child){
          margin-right: 10px;
        }
      }

      i {
        @include media(hover,1600){
          margin-right: 10px;
        }
        @include media(screen,1599){
          margin-right: 7px;
        }
      }
    }

  }

  .bed {
    i {
      .grid & {
        @include media(hover,1201){
          width: 26px;
          height: 21px;
        }
        @include media(screen,1200){
          width: 20px;
          height: 16px;
        }
      }
      .villa-item & {
        @include media(hover,1024){
          width: 26px;
          height: 21px;
        }
        @include media(screen,1023){
          width: 20px;
          height: 16px;
        }
      }
      .short-info & {
        @include media(hover,1201){
          width: 26px;
          height: 21px;
        }
        @include media(screen,1200){
          width: 20px;
          height: 16px;
        }
      }
    }

  }
  .bath {
    i {
      .grid & {
        @include media(hover,1201){
          width: 32px;
          height: 28px;
        }
        @include media(screen,1200){
          width: 20px;
          height: 18px;
        }
      }
      .villa-item & {
        @include media(hover,1024){
          width: 32px;
          height: 28px;
        }
        @include media(screen,1023){
          width: 20px;
          height: 18px;
        }
      }
      .short-info & {
        @include media(hover,1201){
          width: 32px;
          height: 28px;
        }
        @include media(screen,1200){
          width: 20px;
          height: 18px;
        }
      }
    }
  }
  .sea {
    i {
      .grid & {
        @include media(hover,1201){
          width: 28px;
          height: 29px;
        }
        @include media(screen,1200){
          width: 20px;
          height: 20px;
        }
      }
      .villa-item & {
        @include media(hover,1024){
          width: 28px;
          height: 29px;
        }
        @include media(screen,1023){
          width: 20px;
          height: 20px;
        }
      }
      .short-info & {
        @include media(hover,1201){
          width: 28px;
          height: 29px;
        }
        @include media(screen,1200){
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}