.grid {
  &--main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: $white;
    flex-direction: column;
    box-sizing: border-box;
    @include media(hover,1600){
      padding: 20px;
    }
    @include breakpoints(320,1599){
      padding: 10px;
    }
  }
  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend %cover;
    transition: transform 0.65s;
    will-change: transform;
  }
  &-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0 -1px;
    & > li {
      box-sizing: border-box;
      padding: 1px;
      .best-offers & {

        @include media(hover,1024){
          width: 33.3333%;
        }
        @include breakpoints(600,1023){
          width: 50%;
        }
        @include media(screen,599){
          width: 100%;
        }
      }
      .short-offers & {width: 20%;}
    }
    .item, a {
      display: block;
      width: 100%;
      padding-top: 100%;
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: background-color 0.35s;
        .best-offers & {background-color: rgba($text,0.5);}
        .short-offers & {background-color: rgba($black,0.5);}
      }
      &:hover {
        @include media(hover,1025){
          figure {
            transform: scale(1.05);
          }
          &:before {background-color: rgba($btn,0.5);}
        }
      }
    }
    .title {
      color: $white;
      text-transform: uppercase;
      font-family: Futuris, sans-serif;
      text-shadow: 0 3px 5px rgba($black,0.2);
      text-align: center;
      .short-offers & {line-height: 1;}
      @include media(hover,768){
        font-size: 30px;
      }
      @include media(screen,767){
        font-size: 26px;
      }
    }
    .short {
      margin-top: 10px;
      text-align: center;
      color: $white;
      text-shadow: 0 3px 5px rgba($black,0.2);
      @include media(hover,768){
        font-size: 17px;
        line-height: 1.6;
      }
      @include media(screen,767){
        font-size: 14px;
        line-height: 1.4;
      }
    }
    .price {

      display: inline-block;
      color: $text;
      text-transform: uppercase;
      font-family: Futuris, sans-serif;

      background-color: $white;
      strong {font-weight: bold;}
      padding: 0 5px;
      @include media(hover,1200){
        margin-top: 30px;
        margin-bottom: 40px;
      }
      @include media(screen,1199){
        margin-top: 20px;
        margin-bottom: 30px;
      }
      @include media(hover,768){
        font-size: 30px;
      }
      @include media(screen,767){
        font-size: 22px;
      }
    }
  }
}