.sharing {
  padding: 20px 0;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(screen,480){
      flex-direction: column;
    }
    li {
      margin: 0 18px;
    }
  }
  a {
    display: flex;
    align-items: center;
    color: $border;
    font-size: 18px;
    transition: all 0.3s;
    i {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      color: $bg;
      transition: all 0.3s;
    }
    &:hover {
      @include media(hover,1025){
        color: $text;
        i {
          color: $border;
        }
      }
    }
  }
}