.sharing {
  padding: 20px 0;
  .flexible & {
    margin-top: auto;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      @include media(hover,601){margin: 0 18px;}
      @include media(screen,600){margin: 0 7px;}
    }

  }
  a {
    display: flex;
    align-items: center;
    color: $border;
    transition: all 0.3s;
    @include media(hover,601){font-size: 18px;}
    @include media(screen,600){font-size: 14px;}
    i {
      color: $bg;
      transition: all 0.3s;
      @include media(hover,601){
        margin-right: 10px;
        width: 40px;
        height: 40px;
      }
      @include media(screen,600){
        width: 30px;
        height: 30px;
      }
    }
    &:hover {
      @include media(hover,1025){
        color: $text;
        i {
          color: $border;
        }
      }
    }
  }
}