.single-request {
  margin-bottom: 40px;
  &--wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    .title {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400;
      flex-shrink: 500;
      width: 100%;
      box-sizing: border-box;
      background: $pink_dark;
      background: -moz-linear-gradient(left, $pink 0%, $pink_dark 100%);
      background: -webkit-linear-gradient(left, $pink 0%,$pink_dark 100%);
      background: linear-gradient(to right, $pink 0%,$pink_dark 100%);

      line-height: 1.2;
      @include media(hover,768){
        font-size: 21px;
        padding: 40px;
      }
      @include breakpoints(600,767){
        font-size: 15px;
        padding: 25px;
      }
      @include media(screen,599){
        padding: 20px 20px 80px 20px;

      }
    }
    .btn {
      background-color: $btn;
      border-color: $btn;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding: 0 25px;
      font-size: 15px;
      color: $white;
      &:hover {
        @include media(hover,1025){
          background-color: $btn_hover;
          border-color: $btn_hover;
        }
      }
      @include media(screen,599){
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        justify-content: center;
        padding: 15px;
        border-radius: 4px;
      }
    }
  }
}