.villas-list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 0 -10px;
}
.villa {
  &-item {
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 20px;
    @include media(hover,768){
      width: 50%;
    }
    @include media(screen,767){
      width: 100%;
    }
    .includes {
      color: $text;

      font-weight: 400;
      i {
        color: $bg;
        margin-right: 10px;
      }
      @include media(hover,1200){
        & > span {
          margin-right: 40px;
        }
      }
      @include breakpoints(768,1199){
        & > span {
          margin-right: 25px;
        }
      }
      @include media(screen,767){
        & > span {
          margin-right: 20px;
        }
      }
      @include media(hover,1024){
        font-size: 15px;
        padding: 0 15px;
      }
      @include media(screen,1023){
        font-size: 12px;
        padding: 0 10px;
      }
    }
    &--cover {
      background-color: $white;
      padding-bottom: 20px;
      transition: all 0.3s;
      &:hover {
        @include media(hover,1025){
          box-shadow: 0 5px 20px 0 rgba($head,0.5);
        }
      }
    }
  }
  &-img {
    width: 100%;
    position: relative;

    @include media(hover,1024){
      height: 290px;
    }
    @include media(screen,1023){
      height: 220px;
    }
    figure {
      width: 100%;
      height: 100%;
      @extend %cover;
    }
    .hashes {
      position: absolute;
      top: 20px;
      left: 0;
      max-width: 80%;
      li {
        color: $white;
        text-transform: uppercase;
        font-family: Futuris, sans-serif;
        background-color: $text;
        position: relative;
        float: left;
        clear: both;
        padding: 0 12px 0 18px;
        line-height: 28px;
        margin-bottom: 12px;
        height: 28px;
        @include media(hover,481){
          font-size: 16px;
        }
        @include media(screen,480){
          font-size: 11px;
        }
        &:after {
          content: "";
          position: absolute;
          left: 100%;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid solid solid none;
          border-color: $text transparent;
          border-width: 14px 6px;
        }
      }
    }
    .link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }


  }
  &-like {
    position: absolute;
    z-index: 2;
    color: rgba($white,0.7);
    transition: all 0.3s;
    .villa-img & {
      top: 7px;
      right: 8px;
      width: 44px;
      height: 44px;
    }
    .intro-figure & {
      top: 80px;
      right: 80px;
      width: 85px;
      height: 85px;
      @include media(screen,1199){
        right: 25px;
      }
      @include media(screen,599){
        right: 10px;
        top: 70px;
        width: 50px;
        height: 50px;
      }
    }
    &.active {
      color: $white;
    }
    &:hover {
      @include media(hover,1025){
        color: $white;
      }
    }
  }
  &-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include media(hover,1024){
      padding: 15px;
    }
    @include media(screen,1023){
      padding: 10px;
    }
    .title {
      text-transform: uppercase;
      color: $text;
      font-family: Futuris, sans-serif;
      line-height: 1;
      a {
        color: inherit;
        transition: all 0.3s;
        &:hover {
          @include media(hover,1025){
            color: $btn;
          }
        }
      }
      @include media(hover,600){
        font-size: 24px;
      }
      @include media(screen,599){
        font-size: 20px;
      }
    }
    .place {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
    }
    .price {
      margin-left: 20px;
      color: $text;
      white-space: nowrap;
      font-family: Futuris, sans-serif;
      line-height: 1;
      strong {font-weight: bold;}
      @include media(hover,600){
        font-size: 24px;
      }
      @include media(screen,599){
        font-size: 20px;
      }
    }
  }
}