.btn {
  border: none;
  border-radius: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  transition: all 0.18s;
  outline: none;
  &-link {
    color: $tag;
    text-transform: uppercase;
    font-size: $font;
    font-weight: 600;
    line-height: 48px;
  }
  &-grey {
    color: $white;
    text-transform: uppercase;
    background-color: $icon;
    font-size: $font;
    font-weight: 600;
    line-height: 48px;
    padding: 0 $padding-lg;
  }
  &-red {
    color: $btn-red;
    text-transform: uppercase;
    background-color: transparent;
    font-size: $font;
    font-weight: 600;
    line-height: 48px;
    padding: 0 $padding-lg;
    border: 2px solid $btn-red;
    @include hover(){
      color: $white;
      background-color: $btn-red;
    }
  }
  //&--sm {
  //  font-size: 16px;
  //  font-weight: 600;
  //  padding: 10px 40px;
  //}
  //&--md {
  //  font-size: 16px;
  //  font-weight: 600;
  //  padding: 24px 40px;
  //}
  &--full {
    width: 100%;
  }


}