.btn {
  border: none;
  border-radius: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  transition: all 0.18s;
  outline: none;
  letter-spacing: 2px;
  &-link {
    color: $tag;
    text-transform: uppercase;
    font-size: $font;
    font-weight: 600;
    letter-spacing: 2px;
  }
  &-grey {
    color: $white;
    text-transform: uppercase;
    background-color: $icon;
    font-size: $font;
    font-weight: 600;
    padding: 0 $padding-lg;
  }
  &-red {
    color: $btn-red;
    text-transform: uppercase;
    background-color: transparent;
    font-size: $font;
    font-weight: 600;
    padding: 0 $padding-lg;
    border: 2px solid $btn-red;
    &.large-padding {
      padding: 0 $padding-xl;
    }
    @include hover(){
      color: $white;
      background-color: $btn-red;
    }
  }
  &-green {
    color: $tag;
    background-color: $bg-green;
    font-size: $font;
    padding: 0 $padding-lg;
    @include mq($until: mobile) {
      .modal_catalog-link & {
        height: 56px;
        line-height: 1.2;
        align-items: center;
        font-size: 14px;
      }
    }
  }
  &-acid {
    text-transform: uppercase;
    color: $white;
    background-color: $sale;
    font-size: $font;
    line-height: 40px;
    padding: 0 $padding-lg;
    font-weight: 600;
    @include hover(){

    }
  }
  &-red-fill {
    color: $white;
    text-transform: uppercase;
    background-color: $btn-red;
    font-size: $font;
    font-weight: 600;
    padding: 0 $padding-lg;
    border: 2px solid $btn-red;
    @include hover(){
      border-color: $btn-red_hover;
      background-color: $btn-red_hover;
    }
  }
  &--sm {
    line-height: 44px;
  }
  &--md {
    line-height: 48px;
  }
  &--lg {
    line-height: 56px;
  }
  &--full {
    width: 100%;
  }


}