.btn {
  border: none;
  border-radius: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  transition: all 0.18s;
  &-grey {
    color: $white;
    text-transform: uppercase;
    background-color: $icon;
    font-size: $font;
    font-weight: 600;
    line-height: 48px;
    padding: 0 $padding-lg;
  }
  &--sm {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
  }
  &--md {
    font-size: 16px;
    font-weight: 600;
    padding: 24px 40px;
  }
  &--full {
    width: 100%;
  }


}