.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &-auth {
    color: $link;
    width: $font-lg;
    height: $font-lg;
  }
  &-view {
    color: $link;
    width: $font-lg;
    height: $font-lg;
  }
  &-favorite {
    color: $link;
    width: $font-lg;
    height: $font-lg;
  }
  &-basket {
    color: $link;
    width: 28px;
    height: 28px;
  }
  &-search {
    color: $tag;
    width: $font-md;
    height: $font-md;
  }
  &-like {
    color: transparent;
    width: $font-md;
    height: $font-md;
    transition: all 0.2s;
    @include hover(){
      color: $sale;
    }
    &.liked {
      color: $sale;
    }
  }
  &-close {
    color: $white;
    width: 40px;
    height: 40px;
  }
}