.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &-auth {
    color: $link;
    @include mq($from: desktop_md) {
      width: $font-lg;
      height: $font-lg;
    }
    @include mq($until: desktop_md) {
      width: 28px;
      height: 28px;
    }
  }
  &-view {
    color: $link;
    @include mq($from: desktop_md) {
      width: $font-lg;
      height: $font-lg;
    }
    @include mq($until: desktop_md) {
      width: 28px;
      height: 28px;
    }
  }
  &-favorite {
    color: $link;
    @include mq($from: desktop_md) {
      width: $font-lg;
      height: $font-lg;
    }
    @include mq($until: desktop_md) {
      width: 28px;
      height: 28px;
    }
  }
  &-basket {
    color: $link;

    @include mq($from: desktop_md) {
      width: 28px;
      height: 28px;
    }
    @include mq($until: desktop_md) {
      width: $padding-lg;
      height: $padding-lg;
    }
  }
  &-search {
    color: $tag;
    @include mq($from: desktop) {
      width: $font-md;
      height: $font-md;
    }
    @include mq($until: desktop) {
      width: 20px;
      height: 20px;
    }
  }
  &-like {
    color: transparent;
    width: $font-md;
    height: $font-md;
    transition: all 0.2s;
    @include hover(){
      color: $sale;
    }
    &.liked {
      color: $sale;
    }
  }
  &-like-grey {
    width: $font-md;
    height: $font-md;
    transition: all 0.2s;
    color: $icon;
    @include hover(){
      color: $sale;
    }
    &.liked {
      color: $sale;
    }
  }
  &-like-lg {
    color: transparent;
    width: 54px;
    height: 50px;
    transition: all 0.2s;
    @include hover(){
      color: $sale;
    }
    &.liked {
      color: $sale;
    }
  }
  &-close {
    color: $white;
    width: 40px;
    height: 40px;
  }
  &-remove {
    color: $icon;
    width: $font-md;
    height: $font-md;
  }
}