.title {
  &-heading {
    display: flex;
    line-height: 1;
    margin-bottom: $padding-lg;
    &--sub {
      align-self: flex-end;
      margin-left: $padding;
    }
  }
  &-lg {
    font-size: 32px;
    font-weight: 500;
  }
  &-md {
  
  }
  &-sm {
  
  }
  &-xs {
  
  }
}