.title {
  &-heading {
    display: flex;
    line-height: 1;
    &.margin-md {
      margin-bottom: $padding-lg;
    }
    &.margin-xl {
      margin-bottom: 56px;
    }
    &--sub {
      align-self: flex-end;
      margin-left: $padding;
    }
  }
  &-lg {
    font-size: 32px;
    font-weight: 500;
  }
  &-md {
  
  }
  &-reg {
    font-size: $font;
    font-weight: 500;
    text-transform: uppercase;
    color: $tag;
  }
  &-sm {

  }
  &-xs {
  
  }
}