<footer class="footer" id="footer">
    <div class="content content--lg">
        <div class="footer-box">
            <div class="content-row">
                <div class="content-col col-pull-2 col-5">
                    <div class="footer-inner">
                        <a href="/index.html" class="footer-logo icon">
                            <span>Цветкова</span>
                            <svg><use xlink:href="#icon-logo"/></svg>
                        </a>
                        <div class="footer-inner_text">
                            Цветкова. Заряжаем любовью к хорошему текстилю и натуральным материалам, безупречно шьём шторы, покрывала, подушки, подбираем ковры и европейские ткани. Находимся в Волгограде, доставляем продукцию по всему миру.
                        </div>
                    </div>
                </div>
                <div class="content-col col-5">
                    <div class="footer-auth">
                        <p>Сайт создан в <a href="https://reconcept.ru" target="_blank">Reconcept</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



