<header id="header" class="header @@class">
    <div class="header-nav">
        <div class="content content--lg">
            <div class="header-nav_box">
                <div class="header-title">
                    <a href="/index.html" class="header-logo">
                        <span>Цветкова</span>
                        <img src="assets/svg/partials/logo.svg" alt="Цветкова">
                    </a>
                    <div class="header-title_inner">студия уюта</div>
                </div>
                <nav id="nav" class="nav">
                    <ul>
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-contact">
        <div class="content content--lg">
            <ul class="header-contact_list">
                <li class="header-contact_item">
                    <a href="mailto:mail@mail.ru" class="header-contact_link">
                        <i class="icon icon--md"><svg><use xlink:href="#icon-mail"/></svg></i>
                        напишите нам
                    </a>
                </li>
                <li class="header-contact_item">
                    <a href="tel:79275065926" class="header-contact_link">
                        <i class="icon icon--md"><svg><use xlink:href="#icon-phone"/></svg></i>
                        +7 927 506-59-26
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
