<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <meta name="author" content="enenkoff@gmail.com">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="assets/css/styles.min.css" rel="stylesheet">
    <!--<link href="assets/css/common.css" rel="stylesheet">-->

</head>
<body>
<div id="preloader" class="preloader" style="position: fixed;z-index: 100;top: 0;left: 0;width: 100%;height: 100%;background-color: #fff;display: flex;align-items: center;justify-content: center;">
    <svg xmlns="http://www.w3.org/2000/svg" style="margin:auto;background:#fff;display:block; width: 200px; height: 200px;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <circle cx="50" cy="50" r="18" stroke-width="2" stroke="#6B8455" stroke-dasharray="28.274333882308138 28.274333882308138" fill="none" stroke-linecap="round" transform="rotate(33.4811 50 50)">
            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.7241379310344827s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
        </circle>
    </svg>
</div>
<include src="../templates/sprite-svg.html"></include>
<div id="wrapper" class="wrapper">