.burger_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform 0.4s;
  &.opened {
    transform: translateX(0);
    pointer-events: auto;
  }
  &-blur {
    position: absolute;
    left: 0;
    width: 200%;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba($black,0.3);
    transition: opacity 0.35s;
    pointer-events: none;
    .opened & {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &-wrap {
    position: relative;
    @include mq($from: desktop) {
      width: 66.6667%;
    }
    @include mq($until: desktop) {
      width: 80vw;
      max-width: 640px;
    }
  }
  &-bg {
    position: absolute;
    right: 0;
    left: -24px;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, $grad-end 0%,$grad-begin 100%);
    box-shadow: 0 0 30px 0 rgba($black,0.5);
    @include mq($from: 1680px){
      left: calc(800px - 50vw);
    }
    @include mq(tablet, 1680px){
      left: -1*$padding-xl;
    }
  }
  &-main {
    position: relative;
    display: flex;
    flex-direction: column;
    color: $white;
    height: 100vh;
    padding-bottom: $padding-xxl;
  }
  &-close {
    height: 88px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    .burger_close {
      @extend %btn_reset;
    }
  }
  &-invite {

    font-weight: 300;
    padding-bottom: $padding-xxl;
    @include mq($from: wide) {
      margin-left: $padding-xxl;
    }
    @include mq($until: wide) {
      margin-left: $padding-lg;
    }
    @include mq($from: desktop_md) {
      font-size: 3*$font;
    }
    @include mq($until: desktop_md) {
      font-size: $font-lg;
    }
    &:not(.no-auth) {
      flex-shrink: 0;
      min-height: 96px;
    }
    &.no-auth {
      height: 96px;
    }
  }
  &-nav {
    font-weight: 500;
    display: flex;
    margin-left: $padding-xxl;
    &--wrap {
      flex-grow: 1;
      overflow: hidden;
      @include mq($from: wide) {
        margin-left: -1*$padding-xxl;

      }
      @include mq($until: wide) {
        margin-left: -1*$padding-lg;
      }
    }
    a:not(.btn) {
      color: inherit;
    }
  }
  &-site_menu {
    width: 62.5%;
    padding-right: $padding-md;
    &--item {
      margin-bottom: $padding-xxl;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--link {

      cursor: pointer;
      @include mq($from: desktop_md) {
        font-size: $font-lg;
      }
      @include mq($until: desktop_md) {
        font-size: $font-md;
      }
      &.fn-expand-btn {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          right: 100%;
          top: 0;
          bottom: 0;

          width: 12px;
          height: 12px;
          border-style: solid solid none none;
          border-width: 3px;
          border-color: currentColor;
          transform: rotate(45deg) translate(-2px, 2px);
          transition: transform 0.25s;
          @include mq($from: desktop) {
            margin: auto 24px auto 0;
          }
          @include mq($until: desktop) {
            margin: auto 12px auto 0;
          }
          .expanded & {
            transform: rotate(135deg) translate(-2px, 2px);
          }
        }
      }
    }
    &--subitem {
      margin-top: $padding-xl;
    }
    &--sublink {
      font-size: $font;
      text-transform: uppercase;
    }
  }
  &-auth_menu {
    width: 37.5%;
    font-size: $font;
    text-transform: uppercase;
    padding-right: $padding-md;

    @include mq($from: desktop_md) {
      padding-top: $padding-md;
    }
    @include mq($until: desktop_md) {
      padding-top: $padding;
    }
    &--item {
      margin-bottom: $padding-xl;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}