.footer {
  flex-shrink: 0;
  background-color: $white;
  padding-top: 85px;
  position: relative;
  transition: filter 0.5s;
  .blured & {
    filter: blur(4px);
  }
  &-scroll_top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    &--btn {
      margin-left: 100%;
      transform: translateX(-100%);
    }
  }
  &-top {
    display: flex;
    width: 100%;
    font-size: $font-lg;
    font-weight: 500;
    color: $tag;
    margin-bottom: 60px;
    &--slogan {
      width: 58.333%;
    }
    &--telephone {
      a {
        color: inherit;
      }
    }
  }
  &-nav {
    display: flex;
    margin-bottom: 40px;
    &--section {
      width: 25%;
      &_title {
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: $padding-xl;
      }
      &_payments {
        margin: 0 -1*$padding-sm;
        display: flex;
        flex-wrap: wrap;
        li {
          padding: $padding-sm;
        }
        a {
          width: 80px;
          height: 80px;
          display: flex;
          background-color: $bg-gray;
          align-items: center;
          justify-content: center;
          @include hover(){
            background: none;
          }
        }
        img {
          max-width: 90%;
          max-height: 90%;
        }
      }
      &_links {
        font-size: $font;
        color: $tag;
        li {
          margin-bottom: 12px;
        }
        a {
          color: inherit;
        }
        &.columns {
          columns: 2 auto;
          li {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
          }
        }
      }
    }
  }
  &-bottom {
    padding: $padding-md 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    &--web {
      a {
        color: inherit;
      }
    }
  }
}