.header {
  flex-shrink: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: $white;
  z-index: 50;
  transition: filter 0.5s;
  will-change: filter;
  .blured & {
    filter: blur(4px);
  }
  &-logo {
    width: 30%;
    display: flex;
    align-items: center;
    .burger {
      @extend %btn_reset;
      margin-right: $padding-lg;
      flex-shrink: 0;
    }
  }
  &-domain {
    display: flex;
    align-items: center;
    max-width: 120px;
    position: relative;
    min-height: 44px;
    @include mq($from: desktop_md) {
      margin-left: 20px;
      padding-left: 20px;
    }
    @include mq($until: desktop_md) {
      margin-left: $padding-md;
      padding-left: $padding-md;
      font-size: 12px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: $icon;
    }
  }
  &-search {
    @include mq($from: desktop) {
      width: 33.33%;
      padding: 0 $padding;
    }
    @include mq($until: desktop) {
      position: absolute;
      bottom: 4px;
      right: $padding-md;
      width: 30px;
      transition: width 0.2s;
      z-index: 1;
      &.active {
        width: calc(100% - 32px);
        .header-search--opener {
          pointer-events: none;
        }
        .header-search--fieldset input {
          opacity: 1;
          padding: 0 2*$padding-lg 0 $padding-lg;
        }
        .header-search--btn {
          background: transparent;
          pointer-events: auto;
        }
      }
    }
    &--opener {
      @include mq($from: desktop) {
        display: none;
      }
      @include mq($until: desktop) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
      }
    }
    &--fieldset {
      width: 100%;
      display: flex;
      position: relative;
      @include mq($until: desktop) {

      }
      input {
        width: 100%;
        border: none;
        border-radius: 20px;
        background: $bg-gray;
        color: $tag;
        outline: none;
        @include mq($from: desktop) {
          height: 40px;
          padding: 0 2*$padding-lg 0 $padding-lg;
        }
        @include mq($until: desktop) {
          height: 30px;
          padding: 0 0 0 $padding-lg;
          opacity: 0;
          pointer-events: none;
          transition: all 0.2s;
        }
      }
    }
    &--btn {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %btn_reset;
      border-radius: 20px;
      @include mq($from: desktop) {
        width: 40px;
      }
      @include mq($until: desktop) {
        pointer-events: none;
        width: 30px;
        height: 30px;
        background: $white;
      }
    }
  }
  &-profile {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &--auth {
      display: inline-flex;
      @extend %btn_reset;
    }
  }
  &-personal_info {
    display: flex;
    align-items: center;
    .link-icon {
      display: inline-flex;
      align-items: center;
      position: relative;
    }
    .count {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-12px,-8px);
      font-weight: 500;
      color: $white;
      background-color: $btn-red;

      border-radius: $padding-lg;

      @include mq($from: desktop_md) {
        line-height: $padding-lg;
        padding: 0 $padding;
      }
      @include mq($until: desktop_md) {
        font-size: 12px;
        padding: 0 6px;
        line-height: 20px;
      }
    }
    &--close {
      position: absolute;
      top: 24px;
      right: 12px;
      @extend %btn_reset;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23546e7a%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012%2019%206.41z%22/%3E%3C/svg%3E');
      background-repeat: no-repeat;
    }
    &--views,
    &--favorites,
    &--basket {
      display: inline-flex;
      align-items: center;
      position: relative;
    }
    &--item {
      position: relative;

      display: inline-flex;
      align-items: center;
      @include mq($from: desktop_md) {
        margin-left: $padding-xl;
      }
      @include mq($until: desktop_md) {
        margin-left: $padding-lg;
      }
      @include hover(){
        .header-personal_info--short:not(.added-item) {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    &--short {
      z-index: 1;
      transition: opacity 0.25s;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      background: $white;
      width: 528px;
      top: 100%;
      right: -1*$padding;
      box-shadow: 0 20px 20px 0 rgba($text,0.5);
      padding: $padding-lg $padding-xl $padding-xl;
      &_title {
        &:not(:last-child){
          margin-bottom: $padding-lg;
        }
      }
      &.added-item {
        display: none;
        padding: 0;
        &.active {
          opacity: 1;
          pointer-events: auto;
          padding: $padding-lg $padding-xl $padding-xl;
        }
      }
      &:not(.added-item){
        .added-order & {
          display: none;
        }
        @include mq($until: desktop) {
          display: none;
        }
      }
    }
    &--actions {
      margin-top: $padding-lg;
      &_title {
        font-size: $font;
        color: $tag;
      }
    }
    &--buttons {
      display: flex;
      align-items: center;
      .summ {
        font-weight: 600;
        font-size: 48px;
        margin-right: $padding-lg;
      }
    }
    &--total {
      margin-left: $padding-xl;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      font-weight: 500;
      cursor: default;
      .summ {

        white-space: nowrap;
        @include mq($from: desktop_md) {
          font-size: $font;
        }
        @include mq($until: desktop_md) {
          font-weight: 600;
        }
      }
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq($from: desktop) {
      height: 88px;
    }
    @include mq($until: desktop) {
      height: 62px;
    }
  }
  &-nav {

    display: flex;
    width: 100%;
    @include mq($from: desktop) {
      height: 48px;
      font-size: $font;
    }
    @include mq($until: desktop) {
      height: 38px;
      font-size: 12px;
    }
    &--wrap {
      background: linear-gradient(to right, $grad-begin 0%,$grad-end 100%);
    }
    &--list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 500;
      @include mq($until: desktop) {
        &:last-child:after {
          content: "";
          width: 30px;
          height: 38px;
        }
      }
      li {
        display: flex;

      }
      a {
        display: inline-flex;
        align-items: center;
        color: $white;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          right: 50%;
          height: 4px;
          background-color: $btn-red;
          transition: all 0.25s;
        }
        @include hover(){
          &:after {
            left: 0;
            right: 0;
          }
        }
        &.active {
          &:after {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}