.header {
  flex-shrink: 0;
  background-color: $white;
  z-index: 50;
  box-shadow: 0 2px 2px 0 rgba($text,0.2);
  @include mq($until: desktop) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  @include mq($from: tablet) {
    transition: opacity 0.5s;
    .blured & {
      opacity: 0.3;
    }
  }
  &-logo {

    display: flex;
    align-items: center;
    @include mq($from: desktop_md) {
      width: 30%;
    }
    @include mq(desktop, desktop_md) {
      width: 40%;
    }
    .burger {
      @extend %btn_reset;
      flex-shrink: 0;
      @include mq($from: mobile_xl) {
        margin-right: $padding-lg;
      }
      @include mq($until: mobile_xl) {
        margin-right: 16px;
      }
    }
  }
  &-language {
    font-size: $font;
    font-weight: 500;
    position: relative;
    @include mq($from: desktop_xl) {
      margin-left: 48px;
      margin-right: 24px;
    }
    @include mq(tablet, desktop_xl) {
      margin-right: 24px;
      margin-left: 2vw;
    }
    @include mq(mobile, tablet) {
      margin: 0 24px;
    }
    @include mq($until: mobile) {
      margin: 0 16px;
    }
    @include hover(){
      .header-language--list {
        opacity: 1;
        pointer-events: auto;
      }
    }
    &.is-active {
      @include mq($until: desktop) {
        .header-language--list {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    &--selected {
      cursor: pointer;
    }
    &--list {
      box-shadow: 0 20px 20px 0 rgba($text,0.4);
      padding: $padding-lg;
      position: absolute;
      top: 50%;

      left: 50%;
      background-color: $white;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;
      @include mq($from: desktop) {
        transform: translate(-50%, 44px);
        &:before {
          position: absolute;
          content: "";
          bottom: 100%;
          left: 0;
          right: 0;
          height: 44px;
        }
      }
      @include mq($until: desktop) {
        transform: translate(-50%, 24px);
      }

      li {
        &:not(:last-child){
          margin-bottom: 16px;
        }
      }
      a {
        color: inherit;
        @include hover(){
          color: $sale;
        }
        &.selected {
          pointer-events: none;
          color: $sale;
        }
      }
    }
  }
  &-currency {
    font-size: $font;
    font-weight: 500;
    position: relative;
    @include mq($from: desktop_md) {
      margin-left: 0;
      margin-right: 24px;
    }
    @include mq(tablet, desktop_md) {
      margin-right: 24px;
      margin-left: 0;
    }
    @include mq(mobile, tablet) {
      margin: 0 24px 0 0;
    }
    @include mq($until: mobile) {
      margin: 0 16px 0 0;
    }
    @include hover(){
      .header-currency--list {
        opacity: 1;
        pointer-events: auto;
      }
    }
    &.is-active {
      @include mq($until: desktop) {
        .header-currency--list {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    &--selected {
      cursor: pointer;
    }
    &--list {
      box-shadow: 0 20px 20px 0 rgba($text,0.4);
      padding: $padding-lg;
      position: absolute;
      top: 50%;

      left: 50%;
      background-color: $white;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;
      @include mq($from: desktop) {
        transform: translate(-50%, 44px);
        &:before {
          position: absolute;
          content: "";
          bottom: 100%;
          left: 0;
          right: 0;
          height: 44px;
        }
      }
      @include mq($until: desktop) {
        transform: translate(-50%, 24px);
      }

      li {
        &:not(:last-child){
          margin-bottom: 16px;
        }
      }
      a {
        color: inherit;
        @include hover(){
          color: $sale;
        }
        &.selected {
          pointer-events: none;
          color: $sale;
        }
      }
    }
  }
  &-domain {
    display: flex;
    align-items: center;
    max-width: 120px;
    position: relative;
    min-height: 44px;
    @include mq($from: desktop_md) {
      margin-left: 20px;
      padding-left: 20px;
    }
    @include mq($until: desktop_md) {
      margin-left: $padding-md;
      padding-left: $padding-md;
      font-size: 12px;
    }
    @include mq($until: tablet) {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: $icon;
    }
  }
  &-search {
    @include mq($from: desktop) {
      width: 33.33%;
      padding: 0 $padding;
    }
    @include mq(tablet, desktop) {
      right: $padding-lg;
      &.active {
        width: calc(100% - #{2*$padding-lg});
      }
    }
    @include mq($until: tablet) {
      right: $padding-md;
      &.active {
        width: calc(100% - #{2*$padding-md});
      }
    }
    @include mq($until: desktop) {
      position: absolute;
      bottom: 4px;
      width: 30px;
      transition: width 0.2s;
      z-index: 1;
      &.active {
        .header-search--opener {
          pointer-events: none;
        }
        .header-search--fieldset input {
          opacity: 1;
          pointer-events: auto;
          padding: 0 60px 0 $padding-lg;
        }
        .header-search--btn {
          background: transparent;
          pointer-events: auto;
        }
        .header-search--reset {
          display: flex;
        }
      }
    }
    @include mq($until: mobile_xl) {
      display: none;
    }
    &--opener {
      @include mq($from: desktop) {
        display: none;
      }
      @include mq($until: desktop) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
      }
    }
    &--fieldset {
      width: 100%;
      display: flex;
      position: relative;

      input {
        width: 100%;
        border: none;
        border-radius: 20px;
        background: $bg-gray;
        color: $tag;
        outline: none;
        @include mq($from: desktop) {
          height: 40px;
          padding: 0 75px 0 $padding-lg;
        }
        @include mq($until: desktop) {
          height: 30px;
          padding: 0 0 0 $padding-lg;
          opacity: 0;
          pointer-events: none;
          transition: all 0.2s;
        }
        &:focus {
          & ~ .header-search--reset {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
    &--btn {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %btn_reset;
      border-radius: 20px;
      @include mq($from: desktop) {
        width: 40px;
      }
      @include mq($until: desktop) {
        pointer-events: none;
        width: 30px;
        height: 30px;
        background: $white;
      }
    }
    &--reset {
      @extend %btn_reset;
      color: $text;
      position: absolute;
      width: 28px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 40px;
      top: 0;
      opacity: 0;
      pointer-events: none;
      @include mq($until: desktop) {
        height: 30px;
        right: 30px;
        display: none;
      }
      .icon {
        width: 24px;
        height: 24px;
      }
      .filled & {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  &-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mq($from: desktop) {
      width: 30%;
    }
    &--auth {
      display: inline-flex;
      @extend %btn_reset;
      position: relative;

      @include hover(){
        .header-profile--auth_drop {
          opacity: 1;
          pointer-events: auto;
        }
        .icon {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            right: 100%;
            top: 0;
            bottom: 0;
            width: 32px;
          }
        }
      }
      .show-auth-menu {
        display: none;
      }
      @include mq($until: desktop) {
        &.is-active {
          .header-profile--auth_drop {
            opacity: 1;
            pointer-events: auto;
          }
        }
        .show-auth-menu {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
      &_drop {
        z-index: 1;
        transition: opacity 0.25s;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        background: $white;
        top: 100%;

        box-shadow: 0 10px 20px 0 rgba($text,0.5);
        padding: 0 $padding-xl $padding-xl;
        @include mq($from: desktop) {
          width: 528px;
          right: -1*$padding;
        }
        @include mq($until: desktop) {
          width: 92vw;
          max-width: 380px;
          right: -80px;
          max-height: 86vh;
          overflow: auto;
        }
      }
      &_menu {
        a {
          color: $text;
          text-transform: uppercase;
          font-weight: 600;
          display: inline-flex;
          align-items: center;
          @include hover(){
            color: $sale;
          }
          &.active {
            color: $sale;
          }
        }
        li {
          margin-bottom: $padding-xl;
        }
        .icon {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }
  &-personal_info {
    display: flex;
    align-items: center;
    @include mq($until: mobile) {
      //display: none;
    }
    .link-icon {
      display: inline-flex;
      align-items: center;
      position: relative;
    }
    .count {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-12px,-8px);
      font-weight: 500;
      color: $white;
      background-color: $btn-red;

      border-radius: $padding-lg;

      @include mq($from: desktop_md) {
        line-height: $padding-lg;
        padding: 0 $padding;
      }
      @include mq(mobile_xl, desktop_md) {
        font-size: 12px;
        padding: 0 6px;
        line-height: 20px;
      }
      @include mq($until: mobile_xl) {
        font-size: 10px;
        padding: 0 4px;
        line-height: 16px;
      }
    }
    &--close {
      position: absolute;
      top: 12px;
      right: 12px;
      @extend %btn_reset;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23546e7a%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012%2019%206.41z%22/%3E%3C/svg%3E');
      background-repeat: no-repeat;
    }
    &--views,
    &--favorites,
    &--basket {
      display: inline-flex;
      align-items: center;
      position: relative;
    }
    &--item {
      position: relative;

      display: inline-flex;
      align-items: center;
      @include mq($from: desktop_md) {
        margin-left: $padding-xl;
      }
      @include mq(mobile_xl, desktop_md) {
        margin-left: $padding-lg;
      }
      @include mq($until: mobile_xl) {
        margin-left: 12px;
      }
      @include hover(){
        .header-personal_info--short:not(.added-item) {
          opacity: 1;
          pointer-events: auto;
        }
        .link-icon {
          &:before {
            content: "";
            position: absolute;
            right: 100%;
            top: 0;
            bottom: 0;
            width: 32px;
          }
        }
      }
    }
    &--short {
      z-index: 1;
      transition: opacity 0.25s;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      background: $white;
      width: 528px;
      top: 100%;
      right: -1*$padding;
      box-shadow: 0 10px 20px 0 rgba($text,0.5);
      padding: 0 $padding-xl $padding-xl;
      &_title {
        height: 48px;
        display: flex;
        align-items: center;
        background-color: $bg-gray;
        margin-left: -32px;
        margin-right: -32px;
        padding: 0 32px;
        &:not(:last-child){
          margin-bottom: $padding-lg;
        }
      }
      &.added-item {
        display: none;
        padding: 0;
        &.active {
          opacity: 1;
          pointer-events: auto;
          padding: 0 $padding-xl $padding-xl;
        }
      }
      &:not(.added-item){
        .added-order & {
          display: none;
        }
      }

      @include mq($until: desktop) {
        display: none !important;
      }
    }
    &--amount {
      margin-top: $padding-lg;
      &_title {
        font-size: $font;
        color: $tag;
      }
      .summ {
        font-weight: 600;
        font-size: 48px;
        margin-right: $padding-lg;
        white-space: nowrap;
      }
    }
    &--actions {
      margin-top: $padding-lg;
      &_title {
        font-size: $font;
        color: $tag;
      }
    }
    &--buttons {
      display: flex;
      align-items: center;
      .btn {
        &:not(:last-child){
          margin-right: 12px;
        }
      }
    }
    &--total {
      margin-left: $padding-xl;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      font-weight: 500;
      cursor: default;
      color: $text;
      @include mq($until: mobile_xl) {
        display: none;
      }
      .summ {
        white-space: nowrap;
        @include mq($from: desktop_md) {
          font-size: $font;
        }
        @include mq($until: desktop_md) {
          font-weight: 600;
        }
      }
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq($from: desktop) {
      height: 88px;
    }
    @include mq($until: desktop) {
      height: 62px;
    }
  }
  &-nav {

    display: flex;
    width: 100%;
    @include mq($from: desktop) {
      height: 48px;
      font-size: $font;
    }
    @include mq(tablet, desktop) {
      height: 38px;
      font-size: 12px;
    }
    @include mq($until: tablet) {
      height: 38px;
      font-size: 9px;
    }
    &--wrap {
      background: linear-gradient(to right, $grad-begin 0%,$grad-end 100%);
      @include mq($until: mobile_xl) {
        display: none;
      }
    }
    &--list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 500;
      @include mq($until: desktop) {
        &:last-child:after {
          content: "";
          width: 30px;
          height: 38px;
        }
      }
      li {
        display: flex;

      }
      a {
        display: inline-flex;
        align-items: center;
        color: $white;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          right: 50%;
          height: 4px;
          background-color: $btn-red;
          transition: all 0.25s;
        }
        @include hover(){
          &:after {
            left: 0;
            right: 0;
          }
        }
        &.active {
          &:after {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}