.sidebar-sticky {
  will-change: transform;
  position: relative;
  z-index: 2;
  @include mq($from: desktop) {
    padding-bottom: $padding;
  }
  &.sticky {
    position: fixed;
  }
  &.temp-sticky {
    position: relative;
  }
}