// ====================== pages ======================

.page-section {
  @include mq($from: tablet_xl){
    padding-top: 146px;
    padding-bottom: 96px;
  }
  @include mq(mobile_xl, tablet_xl){
    padding-top: 100px;
    padding-bottom: 80px;
  }
  @include mq($until: mobile_xl){
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
.text-section {
  @include mq($from: tablet_xl){
    padding-top: 146px;
    padding-bottom: 96px;
  }
  @include mq(tablet_sm, tablet_xl){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include mq(mobile_xl, tablet_sm){
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @include mq($until: mobile_xl) {
    margin: 0 -16px;
  }
}
.project-section {
  @include mq($from: tablet_xl){
    padding-bottom: 146px;
  }
  @include mq(tablet_sm, tablet_xl){
    padding-bottom: 100px;
  }
  @include mq($until: tablet_sm){
    padding-bottom: 60px;
  }
  @include mq($until: mobile_xl) {
    margin: 0 -16px;
  }
}



.projects-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &_item {
    @include mq($from: mobile_xl){
      width: calc(500% / 11);
    }
    @include mq($until: mobile_xl){
      width: 100%;
    }
    &:not(:nth-last-child(1)):not(:nth-last-child(2)){
      @include mq($from: tablet_xl){
        margin-bottom: 124px;
      }
      @include mq(mobile_xl, tablet_xl){
        margin-bottom: 100px;
      }
    }
    &:not(:last-child){
      @include mq($until: mobile_xl){
        margin-bottom: 60px;
      }
    }
  }
  &_link {
    display: block;
    width: 100%;
    color: inherit;
    @include hover(){
      .projects-listing_figure {
        box-shadow: 0 8px 16px 0 rgba($text,0.15);
        transform: translateY(-4px);
      }
    }
  }
  &_figure {
    width: 100%;
    height: 0;
    padding-bottom: 67%;
    position: relative;
    overflow: hidden;
    margin-bottom: $gutter-x2;
    transition: all 0.2s;
  }
  &_img {
    position: absolute;
    top: 0;
    left: 0;
    @include fullBlock;
    img {
      @include imgFit;
    }
  }
  &_title {
    font-weight: 400;
    @include mq($from: mobile_xl) {
      font-size: $font-xl;
    }
    @include mq($until: mobile_xl) {
      font-size: $font-md;
    }
  }
}

.article-page {
  position: relative;
  background-color: $white;
  @include mq($from: desktop_sm) {
    padding: 78px 40% 12px 10%;
  }
  @include mq(tablet_sm, desktop_sm) {
    padding: 78px 30% 12px 10%;
  }
  @include mq(mobile_xl, tablet_sm) {
    padding: 40px 10% 12px 10%;
    &:first-child {
      padding-top: 80px;
    }
  }
  @include mq($until: mobile_xl) {
    padding: 40px 16px 12px 16px;
    &:first-child {
      padding-top: 80px;
    }
  }
  @include mq($from: tablet_sm){
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 50vw;
      background-color: $white;
    }
  }
  @include mq($from: mobile_xl) {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: none solid solid;
      border-width: 34px;
      border-color: $text transparent;
      transform: rotate(-45deg) translate(-24px,-24px);
      transform-origin: center 0;
    }
  }
  .text-box {
    p {
      &:last-child {
        @include mq($from: desktop_sm) {
          margin-bottom: 160px;
        }
        @include mq(mobile_xl, desktop_sm) {
          margin-bottom: 100px;
        }
        @include mq($until: mobile_xl) {
          margin-bottom: 60px;
        }
      }
    }
  }

}

.project {
  &-bg {
    width: 100%;
    height: 0;

    position: relative;
    overflow: hidden;
    @include mq($from: mobile_xl){
      padding-bottom: 40%;
    }
    @include mq($until: mobile_xl){
      padding-bottom: 100%;
    }
    &_figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &_img {
      @include fullBlock;
    }
    img {
      @include imgFit;
    }
  }
  &-head {


    @include mq($from: tablet_xl) {
      margin-top: 16vw;
      transform: translateY(-50%);
      .layout-main & {
        display: none;
      }
    }
    @include mq($until: tablet_xl) {
      padding: $gutter-x2 0;
      display: flex;
      align-items: center;
      .layout-aside & {
        display: none;
      }
    }
    @include mq($until: mobile_xl) {
      padding: 60px 16px $gutter-x2;
      background-color: $white;
    }

    &_img {
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;
      @include mq($from: tablet_xl) {
        width: 100%;
        padding-bottom: 100%;
        height: 0;
      }
      @include mq(mobile_xl, tablet_xl) {
        width: 150px;
        height: 150px;
      }
      @include mq($until: mobile_xl) {
        width: 100px;
        height: 100px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include imgFit;
      }
    }
    &_name {
      font-size: $font;
      @include mq($from: tablet_xl) {
        padding: 24px 12px 0;
      }
      @include mq($until: tablet_xl) {
        margin-left: $gutter-x2;
        max-width: 240px;
      }
    }
  }
}

.page-projects-carousel {
  @include mq($from: tablet_xl){
    margin-bottom: 146px;
  }
  @include mq(tablet_sm, tablet_xl){
    margin-bottom: 100px;
  }
  @include mq($until: tablet_sm){
    margin-bottom: 60px;
  }
}

.about-page {
  @include mq($until: mobile_xl){
    margin: 0 -16px;
    padding-bottom: 24px;
  }
  &_banner {
    .main-banner {
      @include mq($until: tablet_sm){
        min-height: 320px;
        height: 50vw;
      }
    }
  }
  &_intro {
    position: relative;
    &-bg {
      margin-top: -3vw;
      margin-bottom: -9vw;
      @include mq($until: tablet_sm){
        margin-left: -36vw;
        margin-right: -6vw;
        margin-top: 4vw;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

.posts-listing {
  .post-item {
    margin-bottom: 48px;
    background-color: $white;
    display: flex;
    transition: all 0.2s;
    @include hover(){
      box-shadow: 0 8px 16px 0 rgba($text,0.15);
      transform: translateY(-4px);
    }
    @include mq($until: tablet_xl) {
      flex-wrap: wrap-reverse;
    }
    &_content {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include mq($from: tablet_xl) {
        width: 50%;
      }
      @include mq($until: tablet_xl) {
        width: 100%;
      }
      @include mq($from: mobile_xl) {
        padding: 48px;
        font-size: 20px;
      }
      @include mq($until: mobile_xl) {
        padding: 24px;
        font-size: 16px;
      }
    }
    &_date {
      display: block;

      @include mq($from: mobile_xl) {
        margin-bottom: 40px;
      }
      @include mq($until: mobile_xl) {
        margin-bottom: 24px;
      }
    }
    &_title {
      font-weight: 400;
      font-size: inherit;
      line-height: (32/20);
      @include mq($from: mobile_xl) {
        margin-bottom: 40px;
      }
      @include mq($until: mobile_xl) {
        margin-bottom: 32px;
      }
      a {
        color: inherit;
      }
    }
    &_readmore {
      display: inline-flex;
      margin-top: auto;
      color: $link;
      box-shadow: 0 1px 0 0 currentColor;
    }
    &_image {
      position: absolute;
      top: 0;
      left: 0;
      @include fullBlock;
      &-box {
        width: 50%;

        overflow: hidden;
        position: relative;
        @include mq($from: tablet_xl) {
          width: 50%;
          padding-bottom: 25%;
        }
        @include mq($until: tablet_xl) {
          width: 100%;
          height: 0;
          padding-bottom: 50%;
        }
      }
      img {
        @include imgFit;
      }
    }
  }
}

.error-page {
  position: relative;
  @include mq($from: tablet_sm) {
    margin: 80px 0;
  }
  @include mq($until: tablet_sm) {
    margin: 60px 0;
  }
  &_bg {
    //position: absolute;
    //top: 0;
    //left: 0;
    //width: 100%;
    @include mq($until: tablet_sm) {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &_text {
    font-size: 20px;
    line-height: (32/20);
    @include mq($from: tablet_sm) {
      padding: 2vw 0 64px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    a {
      color: inherit;
    }
  }
}

.user-page {
  padding-bottom: 60px;
  position: relative;
}

.contact-page {
  &_address {

    line-height: (32/20);
    @include mq($from: mobile_xl) {
      font-size: $font-lg;
    }
    @include mq($until: mobile_xl) {
      font-size: $font-md;
    }
    @include mq($from: tablet_sm) {
      margin-bottom: 120px;
    }
    @include mq($until: tablet_sm) {
      margin-bottom: 120px;
    }
    p {
      min-height: 24px;
      &:not(:last-child){
        @include mq($from: mobile_sm) {
          margin-bottom: $gutter-x2;
        }
        @include mq($until: mobile_sm) {
          margin-bottom: $gutter-x2;
        }
      }
    }
    a {
      color: inherit;
    }
    .link {
      font-size: inherit;
      font-weight: 500;
      color: $link;
    }
  }
  &_bg {
    margin-left: auto;
    @include mq($from: desktop_sm) {
      width: 80%;
    }
    @include mq(tablet_xl, desktop_sm) {
      width: 100%;
    }
    @include mq($until: tablet_xl) {
      position: relative;
      height: 170px;
    }

    .appearing-svg {
      @include fullBlock;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
      @include mq(mobile_xl, tablet_xl) {
        position: absolute;
        top: -50px;
        right: 0;
        width: 300px;
        height: 310px;
      }
      @include mq($until: mobile_xl) {
        position: absolute;
        top: -50px;
        right: 0;
        width: 230px;
        height: 240px;
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    &-wrap {
      @include mq($until: tablet_xl) {
        order: -1;
      }
    }
  }

}

.layout-aside {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}