.blog {
  &-hashes {
    display: flex;
    flex-flow: row wrap;
    .btn-small {
      border-color: $text_lt;
      @include hover(){
        background-color: $border;
        border-color: $border;
      }
      &.active {
        background-color: $border;
        border-color: $border;
        color: $white;
      }
    }
  }
  &-list {
    margin: 0 -1*$padding_sm;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    &.col-3 {
      .blog-item {
        width: 33.3333%;
      }
    }
  }
  &-item {
    padding: 0 $padding_sm;
    @include hover(){
      .blog-item--header {
        box-shadow: 0 5px 20px 5px rgba($border,0.16);
      }
    }
    &--wrap {
      width: 100%;
      display: block;
    }
    &--figure {
      height: 300px;
      width: 100%;
      @extend %cover;
    }
    &--header {
      background-color: $white;
      margin: -2*$padding_sm 2*$padding_sm 2*$padding_sm;
      border-left: 5px solid $link;
      padding: 0.5*$padding_md $padding_sm;
      box-shadow: 0 2px 20px 5px rgba($border,0.1);
      transition: all 0.3s;
    }
    &--date {
      color: $border;
      display: block;
      font-size: 3.5rem;
      margin-bottom: 5px;
    }
    &--title {
      color: $text;
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
      @include hover(){
        color: $link_hover;
      }
    }
  }
}