.btn {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 4rem;
  &--lt {
    background-color: $link;
    color: $white;
  }
  &--dk {
    background-color: $link_dark;
    color: $white;
  }
}