.title {

  /******************************************/
  /*                H1 TITLE                */
  /******************************************/

  .request--wrap & {
    font-size: 10.5rem;
    font-weight: 700;
  }
  .video-box--about & {
    font-size: 8rem;
    font-weight: 600;
  }
  .basket-form--section &,
  .compare & {
    font-size: 6.4rem;
    font-weight: 600;
  }

}


.subtitle {

  /*********************************************/
  /*                H2 SUBTITLE                */
  /*********************************************/


}