.title {

  /******************************************/
  /*                H1 TITLE                */
  /******************************************/

  &.title-lg {
    font-size: 10.5rem;
    font-weight: 700;
  }
  &.title-md {
    font-size: 8rem;
    font-weight: 600;
  }
  &.title-sm {
    font-size: 6.4rem;
    font-weight: 600;
  }

}


.subtitle {

  /*********************************************/
  /*                H2 SUBTITLE                */
  /*********************************************/


}

.big-header {
  .title {
    height: 100px;
    display: flex;
    padding: 0 $padding_sm;
    align-items: center;
    justify-content: center;
    color: $border;
    font-size: 8.5rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $bg;
  }
  margin-bottom: 2*$padding_md;
}