.burger_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  transition: transform 0.4s;
  will-change: transform;
  opacity: 0;
  &.opened {
    pointer-events: auto;
    opacity: 1;
  }

  &-blur {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba($text,0.3);
    transition: opacity 0.35s;
  }
  &-wrap {
    position: relative;

    @include mq($from: tablet_sm) {
      margin-top: $padding-lg;
      height: calc(100vh - 2*#{$padding-lg});
    }
    @include mq(mobile_xl, tablet_sm) {
      margin-top: $padding-md;
      height: calc(100vh - 2*#{$padding-md});
    }
    @include mq($until: mobile_xl) {
      margin-top: 0;
      height: 100vh;
      margin: 0 -24px;
    }
    &--size {

      @include mq($from: tablet_xl) {
        min-width: calc(#{$content-lg/2} + #{$gutter});
      }
    }
  }
  &-close {
    position: absolute;
    @include mq($from: tablet_sm) {
      width: $header-height;
      height: $header-height;
    }
    @include mq($until: tablet_sm) {
      width: $padding-lg;
      height: $padding-lg;
    }
    @include mq($from: mobile_xl) {
      top: $padding-md;
      right: $padding-md;
    }
    @include mq($until: mobile_xl) {
      top: $padding;
      right: $padding;
    }
    .burger_close {
      @extend %btn_reset;
      @extend %full_block;
      border: 1px solid $brand-02;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
    }
  }
  &-nav {
    position: relative;
    @extend %full_block;
    background: $brand-01;
    padding: $padding-xl 0;
    color: $white;
    display: flex;
    flex-direction: column;
    transition: all 0.25s;
    opacity: 0;
    transform: scale(1.1);

    .opened & {
      transform: scale(1);
      opacity: 1;
    }
    &--selects {
      margin-bottom: $padding-lg;
      padding-left: 12.5%;
      .dropdown {
        margin-right: $padding-md;
      }
    }
    &--menu {
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      @include mq($from: tablet_sm) {

      }
      @include mq($until: tablet_sm) {
        flex-direction: column;
        padding-left: 12.5%;
        padding-right: $gutter-x2;
        overflow: auto;
      }
      &_main {

        @include mq($from: tablet_sm) {
          width: calc(5*100%/8);
          flex-shrink: 0;
          overflow: auto;
          .burger_nav {
            padding-left: 20%;
          }
        }

      }
      &_help {
        width: 100%;

        @include mq($from: tablet_sm) {
          padding-left: $gutter-x2;
          padding-top: 52px;
          padding-right: $gutter-x2;
        }
        @include mq($until: tablet_sm) {

        }
        li {
          margin-top: $gutter-x2;
          display: flex;
        }
      }
      .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden,
      .mCSB_inside>.mCSB_container {
        margin-right: $gutter-x2;
      }
    }
  }

}

.burger_nav {
  & > li {
    margin-bottom: $padding-md;
    & > .burger_nav-link {
      font-weight: 300;

      line-height: 1;
      @include mq($from: tablet_sm) {
        font-size: 56px;
      }
      @include mq(mobile_xl, tablet_sm) {
        font-size: 48px;
      }
      @include mq($until: mobile_xl) {
        font-size: 32px;
      }
    }
  }
  a {
    color: inherit;
  }
  &-link {
    cursor: pointer;
    &.fn-expand-btn {
      position: relative;
      &:before {
        @extend .pseudo-content;
        @extend .icon-arrow_down;
        @extend .icon-arrow_down--md;
        right: 100%;
        top: 12px;
        bottom: 0;
        transition: transform 0.25s;

        .expanded & {
          transform: rotate(135deg) translate(-4px, -4px);
        }
        @include mq($from: mobile_xl) {
          margin: auto 32px auto 0;
        }
        @include mq($until: mobile_xl) {
          margin: auto 20px auto 0;
        }
      }
    }
  }
  &-submenu {
    margin-bottom: $padding-md;
    li {
      margin-top: $gutter-x2;
    }
    .burger_nav-link {
      font-weight: 500;
      font-size: $font;
    }
  }
}
