.footer {
  flex-shrink: 0;
  background-color: $white;
  padding: 120px 0 $padding-lg;
  position: relative;
  &_scroll {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    &-btn {
      background: $text-03;
      color: $white;
      width: 105px;
      position: relative;
      &:after {
        @extend .pseudo-content;
        @extend .icon-arrow_up;
        @extend .icon-arrow_up--sm;
        right: 50%;
        top: 50%;
        margin-top: 2px;
      }
    }
  }
  &_wrap {
    //margin-left: calc(100%/12);
  }
  &_general {
    margin-bottom: 100px;
    display: flex;
    &-features {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 40%;
      transform: translateX(25%);
      &--btn {
        width: 100%;
        margin-bottom: $padding-xl;
      }
      &--selects {
        display: flex;
        align-items: center;
        margin-bottom: $padding-xl;
        color: $link;
        .dropdown {
          margin-right: $padding-md;
        }
      }
      &--payment {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        a {
          width: 80px;
          margin-right: $padding-sm;
        }
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &-nav {
      width: 60%;
      &--section {
        li {
          margin-top: $padding;
        }
        a {
          color: $text;
          @include hover(){
            color: $link;
          }
        }
      }
      &--title {
        font-size: $font-md;
        color: $text-03;
        border-bottom: 1px solid rgba($text-03, 0.3);
        padding-bottom: $padding;
      }
    }
  }
  &_copyright {
    border-top: 1px solid rgba($text-03, 0.3);
    color: $text-03;
    padding: $padding 0;
  }
}