$header-height: 88px;

.header {
  position: fixed;
  &.static {position: absolute;}
  right: $gutter-x2;
  z-index: 20;
  @include mq($from: ($content-lg + 2*$gutter-x2 + $padding)){
    right: calc(50% - #{$content-lg}/2);
  }
  @include mq($from: tablet_sm) {
    top: $padding-lg;
  }
  @include mq($until: tablet_sm) {
    top: $padding-md;
  }
  &_wrap {

  }
  &_logo {
    @include mq($from: tablet_xl) {
      margin-bottom: $header-height+$padding+$padding-sm;
    }
    @include mq(tablet_sm, tablet_xl) {
      margin-bottom: 80px;
    }
    @include mq($until: tablet_sm) {
      margin-bottom: $padding-lg;
    }
    &-link {
      display: block;
      color: $link;
      position: relative;
      z-index: 21;
      .composing-box--bg_alternate &,
      .composing-box--bg_static & {
        color: $white;
      }
      @include mq($from: tablet_sm) {
        width: $header-height;
        height: $header-height;
      }
      @include mq($until: tablet_sm) {
        width: $padding-lg;
        height: $padding-lg;
      }
    }
    img {
      @extend %full_block;
    }
  }
  &_nav {

    width: 100%;
    background-color: $white;
    position: relative;
    display: flex;
    border-radius: $header-height 0 0 $header-height;
    transition: box-shadow 0.25s;
    .scrolled & {
      box-shadow: 0 4px 16px 0 rgba($black,0.16);
    }
    @include mq($from: tablet_xl) {
      min-width: calc(#{$content-lg/2} - 20px - #{$gutter});
    }
    @include mq(tablet_sm, tablet_xl) {
      min-width: 540px;
    }
    @include mq($from: tablet_sm) {
      height: $header-height;
    }
    @include mq($until: tablet_sm) {
      height: $padding-lg;
    }
    &-general {
      width: 100%;
      display: flex;

      justify-content: space-between;
      align-items: center;
      color: $link;
      @include mq($from: tablet_sm) {
        padding: 0 $padding-md;
      }
      @include mq($until: tablet_sm) {
        padding: 0 0 0 $padding;
      }
      .link_icon {
        @include hover(){
          color: darken($link, 8);
        }
      }
      & > * {
        margin-right: $gutter-x2;
      }
      &--auth {
        position: relative;
        display: flex;
        .dropdown_selected {
          padding-right: 0;
          &:after {
            left: 0;
            top: 50%;
            right: auto;
          }
        }
        .dropdown_list {
          color: $text;
          left: auto;
          right: -56px;
          padding-top: $padding-md;
          padding-bottom: $padding-lg;
          @include mq($from: tablet_sm) {
            margin-top: 16px;
            min-width: 360px;
          }
          @include mq($until: tablet_sm) {
            margin-top: 8px;
            min-width: 240px;
          }
          a {
            @include hover(){
              color: $link;
            }
            &.active {
              color: $link;
            }
          }
        }
        &_profile {
          @extend %btn_reset;
          padding-left: $gutter-x2;
          position: relative;
          color: $link;
        }
        &_img {
          display: block;
          border-radius: 50%;
          overflow: hidden;
          @include mq($from: tablet_sm) {
            width: 56px;
            height: 56px;
          }
          @include mq($until: tablet_sm) {
            width: $padding-md;
            height: $padding-md;
          }
          img {
            @extend %full_block;
            object-fit: cover;
          }
        }
        &_views {
          color: $white;
          background: $ui-01;

          font-weight: 500;
          position: absolute;
          bottom: 100%;
          left: 100%;
          border-radius: 10px;

          transform: translate(-14px, 10px);
          @include mq($from: tablet_sm) {
            font-size: 14px;
            line-height: 32px;
            padding: 0 10px;
          }
          @include mq($until: tablet_sm) {
            font-size: 12px;
            line-height: 24px;
            padding: 0 5px;
          }
        }
        &_drop {
          .dropdown_selected {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      &--rel {
        position: relative;
        &_count {
          color: $white;
          background: $ui-01;
          font-weight: 500;
          position: absolute;
          bottom: 50%;
          left: 100%;
          border-radius: 10px;
          transform: translate(-14px, -18px);
          @include mq($from: tablet_sm) {
            font-size: 14px;
            line-height: 32px;
            padding: 0 10px;
          }
          @include mq($until: tablet_sm) {
            font-size: 12px;
            line-height: 24px;
            padding: 0 5px;
          }
        }
      }
    }
    &-burger {

      height: 100%;
      flex-shrink: 0;
      @include mq($from: tablet_sm) {
        width: $header-height;
      }
      @include mq($until: tablet_sm) {
        width: $padding-lg;
      }
      &--button {
        @extend %full_block;
        border: none;
        background-color: $text;
        position: relative;
        span {
          position: absolute;

          height: 2px;
          border-radius: 2px;
          background: $white;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          @include mq($from: tablet_sm) {
            width: 40px;
          }
          @include mq($until: tablet_sm) {
            width: $padding-md;
          }
          &:before,
          &:after {
            @extend .pseudo-content;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            background: $white;
            left: 0;
          }
          &:before {

            @include mq($from: tablet_sm) {
              bottom: 12px;
            }
            @include mq($until: tablet_sm) {
              bottom: 9px;
            }
          }
          &:after {
            @include mq($from: tablet_sm) {
              top: 12px;
            }
            @include mq($until: tablet_sm) {
              top: 9px;
            }
          }
        }
      }
    }
  }
}