$header-height: 88px;

.header {
  position: fixed;
  top: $padding-lg;
  right: $gutter-x2;
  z-index: 20;
  @include mq($from: ($content-lg + 2*$gutter-x2 + $padding)){
    right: calc(50% - #{$content-lg}/2);
  }
  &_wrap {

  }
  &_logo {
    margin-bottom: $header-height+$padding+$padding-sm;
    &-link {
      display: block;
      width: $header-height;
      height: $header-height;
      position: relative;
      z-index: 21;
    }
    img {
      @extend %full_block;
    }
  }
  &_nav {
    height: $header-height;
    width: 100%;
    background-color: $white;
    position: relative;
    display: flex;
    box-shadow: 0 4px 16px 0 rgba($black,0.16);
    border-radius: $header-height 0 0 $header-height;
    min-width: calc(#{$content-lg/2} - #{$gutter});
    &-general {
      width: 100%;
      display: flex;
      padding: 0 $padding-md;
      justify-content: space-between;
      align-items: center;
      color: $link;
      & > * {
        margin-right: $gutter-x2;
      }
      &--auth {
        position: relative;
        .dropdown_selected {
          padding-right: 0;
          &:after {
            left: 0;
            top: 50%;
            right: auto;
          }
        }
        .dropdown_list {
          color: $text;
          left: auto;
          right: -56px;
          margin-top: 18px;
          min-width: 360px;
          padding-top: $padding-md;
          padding-bottom: $padding-lg;
          a {
            @include hover(){
              color: $link;
            }
            &.active {
              color: $link;
            }
          }
        }
        &_profile {
          @extend %btn_reset;
          padding-left: $gutter-x2;
          position: relative;
          color: $link;
        }
        &_img {
          display: block;
          width: 56px;
          height: 56px;
          border-radius: 50%;
          overflow: hidden;
          img {
            @extend %full_block;
            object-fit: cover;
          }
        }
        &_views {
          color: $white;
          background: $ui-01;
          font-size: 14px;
          line-height: 32px;
          font-weight: 500;
          position: absolute;
          bottom: 100%;
          left: 100%;
          border-radius: 10px;
          padding: 0 10px;
          transform: translate(-14px, 10px);
        }
      }
    }
    &-burger {
      width: $header-height;
      height: 100%;
      flex-shrink: 0;
      &--button {
        @extend %full_block;
        border: none;
        background-color: $text;
        position: relative;
        span {
          position: absolute;
          width: 40px;
          height: 2px;
          border-radius: 2px;
          background: $white;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          &:before,
          &:after {
            @extend .pseudo-content;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            background: $white;
            left: 0;
          }
          &:before {
            bottom: 12px;
          }
          &:after {
            top: 12px;
          }
        }
      }
    }
  }
}