html {

  min-height: 100%;
  font-size: $font;
  &.ovh {
    //overflow: hidden;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
  }

}
body {
  line-height: 1.4;
  font-weight: 400;
  color: $text;
  font-family: $font_family;
}
*, *:after, *:before {
  box-sizing: border-box;
}
a {
  outline: none;
  transition: all 0.3s;
}
svg {
  @extend %full_block;
  fill: currentColor;
}

.main {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  background-color: #F5F5F5;
  overflow: hidden;
  &_box {
    @include mq($from: tablet_xl) {
      padding-bottom: $padding-xxl;
    }
    @include mq($until: tablet_xl) {
      padding-bottom: 80px;
    }
  }
}
.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {

  display: flex;
  flex-direction: column;
  height: 100vh;

  .wrapper & {
    width: 100%;
    padding: 0;
  }
}

