input[type="text"] {
  width: 100%;
  border: none;
  .consultation-form & {
    height: 55px;
    line-height: 55px;
    padding: 0 $padding;
    font-size: $px*3.36rem;
    background-color: $white;
  }
  .article-subscribe & {
    height: 55px;
    line-height: 55px;
    padding: 0 $padding;
    font-size: $px*3.36rem;
    background-color: $white;
    border: 9px solid $hover;
  }
  .subscription-form & {
    text-align: center;
    height: 128px;
    line-height: 128px;
    border-bottom: 3px solid $violet;
    font-size: $px*11.52rem;
    font-family: $font-yeseva;
    padding: 0 $padding 0 $padding+128px;
    background: transparent;
  }
  .search-form & {
    text-align: center;
    background: transparent;
    height: 128px;
    line-height: 128px;
    border-bottom: 3px solid $white;
    font-size: $px*11.52rem;
    font-family: $font-yeseva;
    padding: 0 3*$padding 0 3*$padding+128px;
    color: $white;
  }
  .comment-content & {
    height: 40px;
    line-height: 40px;
    padding: 0 $padding;
    border-bottom: 1px solid currentColor;
  }
}