.submit {
  white-space: nowrap;
  border: none;
  height: 55px;
  line-height: 55px;
  padding: 0 $padding;
  position: relative;
  background-color: $blue;
  color: $white;
  font-size: $px*3.36rem;
  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $hover;
    width: 16px;
    position: absolute;
    transition: all 0.25s;
  }
  span {
    position: relative;
  }
  @include hover(){
    &:before {
      width: 100%;
    }
  }
}