.submit {
  white-space: nowrap;
  border: none;
  height: 55px;
  line-height: 55px;
  padding: 0 $padding;
  position: relative;
  background-color: $blue;
  color: $white;
  font-size: $px*3.36rem;
  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $hover;
    width: 16px;
    position: absolute;
    transition: all 0.25s;
  }
  span {
    position: relative;
  }
  @include hover(){
    &:before {
      width: 100%;
    }
  }
}

.submit-btn {
  width: 128px;
  height: 128px;
  position: relative;
  border: none;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .subscription-form & {
    background-color: $blue;
  }
  .search-form & {
    background-color: $hover;
  }
  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    position: absolute;
    transition: all 0.25s;
    .subscription-form & {
      background-color: $hover;
    }
    .search-form & {
      background-color: $yellow;
    }
  }
  .ico {
    transition: all 0.25s;
    position: relative;
    width: 75px;
    height: 45px;
    transform: translateX(-20px);
    svg {
      fill: $white
    }
  }
  @include hover(){
    &:before {
      width: 100%;
    }
    .ico {
      transform: translateX(0);
    }
  }
}