.clearfix:after {content: ""; display: block; clear: both;}
.tableBox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  & > div {
    display: table;
    width: 100%;
    height: 100%;
    & > div {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }
  }
}
.content {
  margin: 0 auto;
  box-sizing: border-box;
  @include media(hover,1200){
    padding: 0 40px;
  }
  @include media(screen,1199){
    padding: 0 20px;
  }
  &_md {
    max-width: 1280px;
  }
  &_mx {
    max-width: 980px;
  }
  &_sm {
    max-width: 780px;
  }
}

.simple-page {
  &--head {
    padding-top: 60px;
    &.villa--head {background-color: $border;}
    &.favorite--head {
      //background: $pink_dark;
      //background: -moz-linear-gradient(left, $pink 0%, $pink_dark 100%);
      //background: -webkit-linear-gradient(left, $pink 0%,$pink_dark 100%);
      //background: linear-gradient(to right, $pink 0%,$pink_dark 100%);
      position: relative;
      .animate-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &.placing--request {
      padding-bottom: 80px;
      position: relative;
      @extend %cover;
      & > * {
        position: relative;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background-color: rgba($black,0.5);
      }
    }
    header {
      padding: 40px 0;
      position: relative;
      .send {

        color: $text;
        display: flex;
        align-items: center;
        font-weight: 400;
        transition: all 0.3s;
        .ico-fly {
          width: 20px;
          height: 20px;
          margin-left: 5px;
        }
        &:hover {
          @include media(hover,1025){
            color: $btn_hover;
          }
        }
        @include media(hover,1024){
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

    }

  }
  &--bg {
    padding-top: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include media(hover,1200){
      min-height: 680px;
    }
    @include media(screen,1199){
      min-height: 540px;
    }
    .content {
      position: relative;
    }
    .article-data {
      margin-top: 40px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      time {margin-right: 40px;}
      @include media(screen,599){
        flex-direction: column;
        time {
          margin: 0 0 10px;
        }
      }
    }
  }
  &--main {
    padding-top: 40px;
  }
}

.half-request {

  @include media(hover,1024){
    &:not(.double) {
      height: 40px;
      margin-bottom: 40px;
    }
    &.double {
      height: 80px;
      margin-bottom: 80px;
      background-color: $border;
      .fast-request {
        transform: translateY(40px);
      }
    }
  }
  @include media(screen,1023){
    padding-bottom: 20px;
    &.double {
      padding-top: 20px;
      background-color: $border;
      margin-bottom: 30px;
    }
  }

}

.invalid.field,
.invalid {
  .villa-request &,
  .fast-request &,
  .form-request & {
    label {
      color: rgba(255,128,125,1);
    }
  }
  .resume-form &,
  .contact-form &,
  .friend-form &,
  .subscription-form & {
    input, textarea {background-color: rgba(255,128,125,1)}
  }
}

@include media(screen,600){
  .inside-mob {
    margin: 0 -20px;
  }
}

.desktop-hidden {
  @include media(hover,768){
    display: none !important;
  }
}
.mobile-hidden {
  @include media(screen,767){
    display: none !important;
  }
}