.home-about {

  line-height: 1.85;

  @include media(hover,1621){
    font-size: $px*7.2rem;
    margin-bottom: 150px;
  }
  @include breakpoints(1025,1620){
    font-size: $px*6rem;
    margin-bottom: 150px;
  }
  @include media(screen,1024){

    font-size: $px*5rem;
  }
  @include breakpoints(601,1024){
    margin-bottom: 75px;
  }
  @include media(screen,600){
    margin-bottom: 55px;
  }
  .about {
    max-width: 1200px;
  }
  a {
    color: $hover;
    background-image: linear-gradient(to right, $hover 0%, $hover 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0 1px;
    @include hover(){
      color: $white;
      background-image: linear-gradient(to right, $hover 0%, $hover 100%);
      background-size: 100% 100%;
    }
  }
}