.main-articles {
  .sidebar-header {
    margin: 0 auto;

    @include media(hover,1381){
      width: 500px;
      padding: 80px 0 0 20px;
    }
    @include breakpoints(1025,1380){
      width: 350px;
      padding: 40px 0 0 0;
    }
    @include breakpoints(801,1024){
      padding: 40px 0;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    @include breakpoints(601,800){
      padding: 30px 0;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    @include media(screen,600){
      padding: 20px 0;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-start;
    }
    .text {
      font-size: $px*3.84rem;

      line-height: 1.8;
      margin-bottom: 30px;
      @include media(hover,1381){
        margin-top: 45px;
      }
      @include breakpoints(1025,1380){
        margin-top: 30px;
      }
      @include breakpoints(601,1024){
        max-width: 480px;
        margin-top: 15px;
      }
      @include media(screen,600){
        margin-top: 10px;
      }
    }
    a {
      color: $hover;
      background-image: linear-gradient(to right, $hover 0%, $hover 100%);
      background-size: 0 100%;
      background-repeat: no-repeat;
      background-position: 0 0;
      padding: 0 1px;
      @include hover(){
        color: $white;
        background-image: linear-gradient(to right, $hover 0%, $hover 100%);
        background-size: 100% 100%;
      }
    }
    .img {
      @include breakpoints(601,1024){
        margin-right: 20px;
      }
      @include media(screen,600){
        margin-right: 10px;
      }
    }
    img {

      height: auto;
      @include media(hover,1381){
        width: 400px;
      }
      @include breakpoints(1025,1380){
        width: 250px;
      }
      @include breakpoints(601,1024){
        width: 200px;
      }
      @include media(screen,600){
        width: 100px;
      }
    }
  }
  .blog-section {
    @include breakpoints(601,1024){
      margin-bottom: 40px;
    }
  }
}