.home-banner {
  color: $white;
  position: relative;
  @include media(hover,1681){
    margin-bottom: 200px;
  }
  @include breakpoints(1025,1680){
    margin-bottom: 120px;
  }
  @include breakpoints(801,1024){
    margin-bottom: 60px;
  }
  @include breakpoints(681,800){
    margin-bottom: 40px;
  }
  @include media(screen,680){
    margin-bottom: 20px;
  }
  .banner-container {
    width: 100%;
    padding-top: 50%;
    position: relative;
  }
  .descr {
    background-color: $text;
    padding: 10px 10px 10px 35px;
    position: relative;
    @include media(hover,601){
      display: none;
    }
    @include media(screen,600){
      &:before {
        content: "\201C";
        color: $yellow;
        top: 0;
        font-family: $font-yeseva;
        position: absolute;
        margin-right: 1rem;
        left: 0;
        font-size: 6rem;
        line-height: 6rem;
      }
    }
  }
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    background-repeat: no-repeat;
    background-image: url("../images/home-banner.jpg");
    background-position: 0 100%;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    @include media(hover,1025){
      padding: 0 135px;
    }
    @include breakpoints(801,1024){
      padding: 0 80px;
    }
    @include breakpoints(681,800){
      padding: 0 60px;
    }
    @include media(screen,680){
      padding: 0 20px 15px 60px;
      align-items: flex-end;
    }
  }
  figcaption {
    position: relative;
    @include media(hover,1025){
      max-width: 600px;
    }
    @include breakpoints(681,1024){
      max-width: 55%;
    }
    @include media(screen,600){
      display: none;
    }
    &:before {
      content: "\201C";
      color: $yellow;
      top: 0;
      font-family: $font-yeseva;
      position: absolute;
      margin-right: 1rem;
      @include media(hover,1881){
        font-size: $px*96rem;
        line-height: 18rem;
      }
      @include breakpoints(1025,1880){
        font-size: 17.5rem;
        line-height: 12rem;
      }
      @include media(hover,1025){
        right: 100%;
      }
      @include breakpoints(681,1024){
        right: 100%;
        font-size: 12rem;
        line-height: 10rem;
      }
      @include media(screen,680){
        right: 100%;
        font-size: 10rem;
        line-height: 6rem;
      }
    }
  }
  .title {
    font-weight: 400;
    line-height: 1.2;
    @include media(hover,1025){
      font-size: $px*11.5rem;
      margin-bottom: 35px;
    }
    @include breakpoints(801,1024){
      font-size: $px*8rem;
      margin-bottom: 20px;
    }
    @include breakpoints(601,800){
      font-size: $px*8rem;
      margin-bottom: 15px;
    }
    @include media(screen,600){
      font-size: $px*5rem;
      margin-bottom: 10px;
    }
  }
  .auth {
    font-size: $px*3.36rem;
  }
  .logo {
    color: $yellow;
    position: absolute;
    @include media(hover,1881){
      right: -82px;
      width: 810px;
      height: 245px;
      bottom: -65px;
    }
    @include breakpoints(1201,1880){
      right: -20px;
      width: 680px;
      height: 206px;
      bottom: -65px;
    }
    @include breakpoints(1025,1200){
      right: -20px;
      width: 400px;
      height: 121px;
      bottom: -65px;
    }
    @include breakpoints(801,1024){
      right: -10px;
      width: 300px;
      height: 91px;
      bottom: -48px;
    }
    @include breakpoints(681,800){
      right: 0;
      width: 250px;
      height: 76px;
      bottom: -12px;
    }
    @include media(screen,680){
      left: 15px;
      top: 10vw;
      width: 40vw;
      height: 12.12vw;
    }
    svg {
      fill: currentColor;
    }
  }
}