.partners {
  &--main {
    background-color: $grey_light;
    @include media(hover,681){
      padding: 72px 0;
    }
    @include media(screen,680){
      padding: 20px 0;
    }
  }
  &--list {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      padding: 12px;
      @include media(hover,801){
        width: 20%;
      }
      @include breakpoints(601,800){
        width: 25%;
      }
      @include media(screen,600){
        width: 50%;
      }
    }
    .partner {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
    }
    .figure {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      max-width: 90%;
      max-height: 90%;
    }
  }
}