.home-services {
  margin-bottom: 162px;
  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: $px*3.35rem;
    letter-spacing: 2.4px;
    @include media(hover,1025){
      margin-bottom: 50px;
    }
    @include breakpoints(768,1024){
      margin-bottom: 40px;
    }
    @include media(screen,767){
      margin-bottom: 30px;
    }
  }
  .service-list {
    background-color: $grey_light;
    padding: 155px 0 145px;
  }
  .list {
    font-size: $px*4.32rem;
    columns: 3 auto;
    column-gap: 120px;
  }
  .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    border-left: 1px solid $text;
    a {
      position: relative;
      display: inline-block;
      color: inherit;
      &:before {
        content: "";
        position: absolute;
        left: -43px;
        top: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        margin: auto;
        border-radius: 50%;
        background-color: $text;
        transition: all 0.2s;
      }
      @include hover(){
        font-weight: bold;
        &:before {
          transform: scale(2);
        }
      }
    }
  }
}