.home-services {

  @include media(hover,1381){
    margin-bottom: 162px;
  }
  @include breakpoints(1025,1380){
    margin-bottom: 100px;
  }
  @include breakpoints(801,1024){

  }
  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: $px*3.35rem;
    letter-spacing: 2.4px;
    @include media(hover,1281){
      margin-bottom: 80px;
    }
    @include breakpoints(1025,1280){
      margin-bottom: 60px;
    }
    @include breakpoints(768,1024){
      margin-bottom: 40px;
    }
    @include media(screen,767){
      margin-bottom: 20px;
    }
  }
  .service-list {
    background-color: $grey_light;
    @include media(hover,1381){
      padding: 155px 0 145px;
    }
    @include breakpoints(1025,1380){
      padding: 100px 0;
    }
    @include breakpoints(801,1024){
      padding: 60px 0;
    }
    @include breakpoints(601,800){
      padding: 40px 0;
    }
    @include media(screen,600){
      padding: 30px 0;
    }
  }
  .list {
    font-size: $px*4.32rem;
    @include media(hover,801){
      //columns: 3 auto;
      display: flex;
    }
    @include breakpoints(601,800){
      //columns: 2 auto;
      //column-gap: 40px;
      display: flex;
    }
  }
  .list-section {
    width: 100%;
    &:not(:last-child){
      @include media(hover,1201){
        margin-right: 120px;
      }
      @include breakpoints(801,1200){
        margin-right: 60px;
      }
      @include breakpoints(601,800){
        margin-right: 40px;
      }
      @include media(screen,600){
        margin-bottom: 20px;
      }
    }

  }
  .item {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: currentColor;
    }
    &:first-child {
      &:before {
        top: 50%;
      }
    }
    &:last-child {
      &:before {
        bottom: 50%;
      }
    }
    @include media(hover,1025){
      padding-left: 40px;
    }
    @include breakpoints(801,1024){
      padding-left: 25px;
    }
    @include media(hover,601){
      padding-top: 15px;
      padding-bottom: 15px;
    }
    @include breakpoints(601,800){
      padding-left: 20px;
    }

    @include media(screen,600){
      padding: 10px 0 10px 20px;
    }
    .heading {
      font-weight: 700;
    }
    a, .heading {
      position: relative;
      display: inline-block;
      color: inherit;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        margin: auto;
        border-radius: 50%;
        background-color: $text;
        transition: all 0.2s;
        @include media(hover,1025){
          left: -43px;
        }
        @include breakpoints(801,1024){
          left: -28px;
        }
        @include breakpoints(601,800){
          left: -23px;
        }
        @include media(screen,600){
          left: -23px;
        }

      }

    }
    .heading {
      &:before {
        content: "";
      }
      &:after {
        transform: scale(2);
      }
    }
    a {
      @include hover(){
        font-weight: bold;
        color: $hover;
        &:after {
          transform: scale(2);
        }
      }
    }
  }
}