<div class="catalog-filters--wrap">
    <div class="catalog-filters--btn">
        <a href="#" class="btn--lt btn">+ добавить свой поселок</a>
    </div>
    <div class="catalog-filters scrolled">
        <form action="#">
            <div class="filter-form">
                <div class="catalog-filters--section show-more-parent show">
                    <div class="catalog-filters--head">
                        <h3 class="form-title">
                            <div class="check">
                                <label>
                                    <input type="checkbox">
                                    <span>Инженерные сети</span>
                                </label>
                            </div>
                        </h3>
                        <span class="show-more"></span>
                    </div>
                    <div class="catalog-filters--main show-more-hidden" style="display: block;">
                        <div class="form-row">
                            <div class="form-row-col">
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>электроснабжение</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>газоснабжение</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>водоснабжение</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>интернет</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>газовая котельная</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-filters--section show-more-parent">
                    <div class="catalog-filters--head">
                        <h3 class="form-title">
                            <div class="check">
                                <label>
                                    <input type="checkbox">
                                    <span>Безопасность</span>
                                </label>
                            </div>
                        </h3>
                        <span class="show-more"></span>
                    </div>
                    <div class="catalog-filters--main show-more-hidden" style="display: none;">
                        <div class="form-row">
                            <div class="form-row-col">
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>охрана территории и подъездов</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>противопожарная сигнализация</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>охранная сигнализация</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-filters--section show-more-parent">
                    <div class="catalog-filters--head">
                        <h3 class="form-title">
                            <div class="check">
                                <label>
                                    <input type="checkbox">
                                    <span>Инфраструктура</span>
                                </label>
                            </div>
                        </h3>
                        <span class="show-more"></span>
                    </div>
                    <div class="catalog-filters--main show-more-hidden" style="display: none;">
                        <div class="form-row">
                            <div class="form-row-col">
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>магазины</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>детский клуб</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>спортивно-оздоровительный комплекс</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>спортивные площадки</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>гольф-клуб</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>пляж</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>служба быта</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-filters--section show-more-parent">
                    <div class="catalog-filters--head">
                        <h3 class="form-title">
                            <div class="check">
                                <label>
                                    <input type="checkbox">
                                    <span>Экология</span>
                                </label>
                            </div>
                        </h3>
                        <span class="show-more"></span>
                    </div>
                    <div class="catalog-filters--main show-more-hidden" style="display: none;">
                        <div class="form-row">
                            <div class="form-row-col">
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>лесозона</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row-element">
                                    <div class="check">
                                        <label>
                                            <input type="checkbox">
                                            <span>водоем</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>