<div class="catalog-filters dynamic">
    <div class="catalog-filters--container" data-catalog="partners">
        <div class="catalog-filters--btn">
            <a href="javascript:void(0);" class="btn--lt btn show-modal" data-modal="consultation">+ запрос на партнерство</a>
        </div>
        <form action="#">
            <div class="catalog-filters--form scrolled">
                <div class="filter-form">
                    <div class="catalog-filters--section show-more-parent show">
                        <div class="catalog-filters--head">
                            <h3 class="form-title">
                                <div class="check">
                                    <label>
                                        <input type="checkbox">
                                        <span>Строительство домов</span>
                                    </label>
                                </div>
                            </h3>
                            <span class="show-more"></span>
                        </div>
                        <div class="catalog-filters--main show-more-hidden" style="display: block;">
                            <div class="form-row">
                                <div class="form-row-col">
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>из кленного бруса</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>из профилированного бруса</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>на основе деревянного каркаса</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>на основе каркаса из ЛСТК</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>каркасные дома</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>комбинированные дома</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>из блоков и кирпича</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>из газобетонных блоков</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filters--section show-more-parent">
                        <div class="catalog-filters--head">
                            <h3 class="form-title">
                                <div class="check">
                                    <label>
                                        <input type="checkbox">
                                        <span>Работы</span>
                                    </label>
                                </div>
                            </h3>
                            <span class="show-more"></span>
                        </div>
                        <div class="catalog-filters--main show-more-hidden" style="display: none;">
                            <div class="form-row">
                                <div class="form-row-col">
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>отделочные</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>сантехнические</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>электромонтажные</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filters--section show-more-parent">
                        <div class="catalog-filters--head">
                            <h3 class="form-title">
                                <div class="check">
                                    <label>
                                        <input type="checkbox">
                                        <span>Материалы</span>
                                    </label>
                                </div>
                            </h3>
                            <span class="show-more"></span>
                        </div>
                        <div class="catalog-filters--main show-more-hidden" style="display: none;">
                            <div class="form-row">
                                <div class="form-row-col">
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>деревянные</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>каменные</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>кровельные</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>окна и двери</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>натяжные потолки</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filters--section show-more-parent">
                        <div class="catalog-filters--head">
                            <h3 class="form-title">
                                <div class="check">
                                    <label>
                                        <input type="checkbox">
                                        <span>География</span>
                                    </label>
                                </div>
                            </h3>
                            <span class="show-more"></span>
                        </div>
                        <div class="catalog-filters--main show-more-hidden" style="display: none;">
                            <div class="form-row">
                                <div class="form-row-col">
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>возможен выезд в соседний регион</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row-element">
                                        <div class="check">
                                            <label>
                                                <input type="checkbox">
                                                <span>возможен выезд в любую часть России</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="reset">
                    <button type="reset" class="btn-reset">
                        <span>&times;</span>
                        сбросить фильтр
                    </button>
                </div>
                <div class="submit">
                    <button class="btn-square-min">показать</button>
                </div>
            </div>
        </form>
    </div>
</div>