<footer class="footer" id="footer">
    <div class="content content--md">
        <div class="footer-top">
            <div class="footer-top--order">
                <div class="order">
                    <span class="title">Заказ проекта:</span>
                    <a href="tel:88002001714">8 800 200-17-14</a>
                </div>
                <div class="consultation">
                    <a href="#" class="btn btn--round">Консультация</a>
                </div>
            </div>

            <include src="../templates/sharing.html"></include>

        </div>
        <div class="footer-main">
            <div class="footer-main--nav">
                <section class="section columns">
                    <h4 class="title">проекты</h4>
                    <ul>
                        <li><a href="#">Деревянные дома</a></li>
                        <li><a href="#">Каменные дома</a></li>
                        <li><a href="#">Каркасные дома</a></li>
                        <li><a href="#">Комбинированные дома</a></li>
                        <li><a href="#">Бани</a></li>
                        <li><a href="#">Индивидуальное проектирование</a></li>
                        <li><a href="#">Новинки</a></li>
                        <li><a href="#">Скидки</a></li>
                        <li><a href="#">Бесплатные проекты</a></li>
                        <li><a href="#">Как купить проект</a></li>
                    </ul>
                </section>
                <section class="section">
                    <h4 class="title">проектирование</h4>
                    <ul>
                        <li><a href="#">О готовых проектах</a></li>
                        <li><a href="#">Все о согласовании проектов</a></li>
                        <li><a href="#">Реализация</a></li>
                        <li><a href="#">Что входит в проект</a></li>
                        <li><a href="#">Гарантии и безопасность</a></li>
                    </ul>
                </section>
                <section class="section">
                    <h4 class="title">Услуги</h4>
                    <ul>
                        <li><a href="#">Адаптация фундаментов</a></li>
                        <li><a href="#">Разработка раздела ИР</a></li>
                        <li><a href="#">Посадка дома на участок</a></li>
                        <li><a href="#">Разработка паспорта проекта</a></li>
                    </ul>
                </section>
                <section class="section">
                    <h4 class="title">Arplans</h4>
                    <ul>
                        <li><a href="#">Все контакты</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Клуб партнеров</a></li>
                        <li><a href="#">Коттеджные поселки</a></li>
                        <li><a href="#">Сотрудничество</a></li>
                        <li><a href="#">Блог</a></li>
                    </ul>
                </section>
            </div>
            <div class="footer-main--logo">
                <a href="index.html">
                    <img src="assets/svg/partials/logo-mini.svg" alt="ARPLANS">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom--copyright">© 2008-2018 ARPLANCE готовые проекты домов и индивидуальное проектирование</div>
            <div class="footer-bottom--auth">Сделано <a href="http://reconcept.ru" target="_blank">Reconcept</a></div>
        </div>
    </div>
</footer>



