<header id="header" class="header">
    <div class="header-top">
        <div class="content content--lg">
            <div class="header-top--wrap">
                <div class="header-top--telephone">
                    <a href="tel:8800201714">8 (800) 200-17-14</a>
                </div>
                <div class="header-top--nav">
                    <nav>
                        <ul>
                            <li><a href="#" class="show-modal @@topConsult" data-modal="consultation">Консультация</a></li>
                            <li><a href="#" class="@@topAbout">О нас</a></li>
                            <li class="has-drop">
                                <a href="#" class="@@topServices">Услуги+</a>
                                <div class="header-top--drop">
                                    <a href="#">Индивидуальное проектирование</a>
                                    <a href="#">Адаптация фундамента</a>
                                    <a href="#">Разработка раздела игр</a>
                                    <a href="#">Посадка дома на участок</a>
                                    <a href="#">Разработка паспорта проекта</a>

                                </div>
                            </li>
                            <li><a href="#" class="@@topCollabor">Сотрудничество</a></li>
                            <li><a href="#" class="@@topSettle">Коттеджные поселки России</a></li>
                            <li><a href="#" class="@@topBuilders">Строители и магазины</a></li>
                            <li><a href="#" class="@@topContacts">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="header-top--search">
                        <div id="searchForm">
                            <form action="#">
                                <div class="fieldset">
                                    <input class="input" type="text" id="site-search">
                                </div>
                                <label class="label" for="site-search">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"/>
                                    </svg>
                                </label>
                                <button class="submit" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="content content--lg">
            <div class="header-main--wrap">
                <div class="header-main--logo">
                    <a href="index.html">
                        <img src="assets/svg/partials/logo.svg" alt="ARPLANS">
                    </a>
                </div>
                <div class="header-main--nav">
                    <nav>
                        <ul>
                            <li><a href="#" class="@@navWood">Деревянные дома</a></li>
                            <li><a href="#" class="@@navSstone">Каменные дома</a></li>
                            <li><a href="#" class="@@navCarcas">Каркасные дома</a></li>
                            <li><a href="#" class="@@navCombo">Комбинированные дома</a></li>
                            <li><a href="#" class="@@navBath">Бани</a></li>
                            <li><a href="#" class="@@navPerson">Индивидуальный проект</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-main--stats">
                    <a href="#" class="stats stats-enter">
                        <span>Войти</span>
                    </a>
                    <a href="#" class="stats stats-prods">
                        <span>10</span>
                        <i class="icon-basket">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-basket"/>
                            </svg>
                        </i>
                    </a>
                    <div class="burger desktop-hidden">
                        <span></span>
                        <span></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="header-mobile desktop-hidden">
        <div class="bg"></div>
        <nav class="header-mobile--nav">
            <div class="search">
                <form action="">
                    <div class="fieldset">
                        <input class="input" type="text" name="mobile-search">
                        <button class="submit" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <ul>
                <li class="show-more-parent">
                    <span class="show-more">Готовые проекты домов <span class="tick"></span></span>
                    <ul class="show-more-hidden">
                        <li><a href="#">Деревянные дома</a></li>
                        <li><a href="#">Каменные дома</a></li>
                        <li><a href="#">Каркасные дома</a></li>
                        <li><a href="#">Комбинированные дома</a></li>
                        <li><a href="#">Бани</a></li>
                        <li><a href="#">Индивидуальный проект</a></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a href="#">Блог</a>
                    </span>
                </li>
                <li class="show-more-parent">
                    <span class="show-more">Услуги <span class="tick"></span></span>
                    <ul class="show-more-hidden">
                        <li><a href="#">Индивидуальное проектирование</a></li>
                        <li><a href="#">Адаптация фундамента</a></li>
                        <li><a href="#">Разработка раздела игр</a></li>
                        <li><a href="#">Посадка дома на участок</a></li>
                        <li><a href="#">Разработка паспорта проекта</a></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a href="#">Контакты</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">Консультация</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">О нас</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">Сотрудничество</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">Коттеджные поселки России</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">Строители и магазины</a>
                    </span>
                </li>
            </ul>
            <div class="profile-menu">
                <ul>
                    <li>
                        <span>
                            <a href="#">Войти</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">Регистрация</a>
                        </span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
