<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <meta name="author" content="enenkoff@mail.ru">

    <link rel="icon" href="favicon.ico" sizes="32x32">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link href="assets/css/styles.min.css" rel="stylesheet">
    <link href="assets/css/common.css" rel="stylesheet">


</head>
<body>
<include src="../templates/sprite-svg.html"></include>
<div class="ref-link">
    <div class="ref-link--title">Ваша ссылка на эту страницу для рефералов</div>
    <div class="ref-link--subtitle">Поделитесь ссылкой и зарабатывайте. Про <a href="#" target="_blank">реферальную систему</a></div>
    <div class="link">
        <div class="custom-form">
            <div class="input">
                <input type="text" id="referral-link" readonly value="https://arplans.ru/contacts?inv=5">
            </div>
        </div>
        <button type="button" id="copy-ref" class="copy-btn btn-square-dark">Copy</button>
    </div>
</div>
<div id="wrapper">