<div class="section info-box @@sectionClass">
    <div class="content content--md">
        <div class="ready-projects--info">
            <h3 class="title">@@title</h3>
            <div class="info-box--text">
                <p>В этом блоке 3 стиля: основной, <a href="#">ссылка</a>, <strong>болд</strong>. Не обязательное поле для текстового описания. ARPLANS.RU — сервис готовых архитектурных проектов загородных домов, коттеджей, бань. По нашим проектам многократно производилось строительство, а качество чертежей проектной документации проверено временем и репутацией разработчиков. Все проекты созданы опытными и высококвалифицированны архитекторами и инженерами ARPLANS.</p>
                <p>Здесь рыба. Сервис готовых архитектурных проектов загородных домов, коттеджей, бань. По нашим проектам многократно производилось строительство, а качество чертежей проектной документации проверено временем и репутацией разработчиков. Все проекты созданы опытными и высококвалифицированны архитекторами и инженерами ARPLANS.</p>
            </div>
        </div>
    </div>
</div>