<div class="catalog-filters scrolled">
    <div class="filter-form">
        <div class="catalog-filters--section">
            <div class="catalog-filters--head">
                <h3 class="form-title">Инженерные сети</h3>
            </div>
            <div class="catalog-filters--main">
                <div class="form-row">
                    <div class="form-row-col">
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>водоснабжение</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>интернет</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-filters--section">
            <div class="catalog-filters--head">
                <h3 class="form-title">Безопасность</h3>
            </div>
            <div class="catalog-filters--main">
                <div class="form-row">
                    <div class="form-row-col">
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>охрана территории и подъездов</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>противопожарная сигнализация</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>охранная сигнализация</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-filters--section">
            <div class="catalog-filters--head">
                <h3 class="form-title">Инфраструктура</h3>
            </div>
            <div class="catalog-filters--main">
                <div class="form-row">
                    <div class="form-row-col">
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>магазины</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>детский клуб</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>спортивно-оздоровительный комплекс</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>спортивные площадки</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-filters--section">
            <div class="catalog-filters--head">
                <h3 class="form-title">Экология</h3>
            </div>
            <div class="catalog-filters--main">
                <div class="form-row">
                    <div class="form-row-col">
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>лесозона</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-row-element">
                            <div class="checked">
                                <label>
                                    <span>водоем</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>