<div class="section projects-slider">
    <div class="content content--lg">
        <div class="projects-slider--wrap">
            <h3 class="title">Недавно смотрели</h3>
            <div class="projects-slider--carousel" data-owl="projects">
                <ul class="owl-carousel">
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item01.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like liked">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart-like"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item02.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item03.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item04.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item05.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item06.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item07.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item08.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="projects-item">
                        <a href="#" class="projects-item--wrap">
                            <div class="projects-item--preview">
                                <div class="bg" style="background-image: url('assets/images/items/item09.jpg')"></div>
                                <div class="data">
                                    <span class="index">K-232</span>
                                    <ul class="info">
                                        <li>
                                            <span>260 м<sup>2</sup></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="projects-item--actions">
                                <div class="price">32 000 &#8381;</div>
                                <div class="icon-like">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>