<div class="regions-drop">
    <ul>
        <li><a href="#">Москва</a></li>
        <li><a href="#">Санкт-Петербург</a></li>
        <li><a href="#">Московская область</a></li>
        <li><a href="#">Ханты-Мансийский автономный округ - Югра</a></li>
        <li><a href="#">Краснодарский край</a></li>
        <li><a href="#">Свердловская область</a></li>
        <li><a href="#">Ямало-Ненецкий автономный округ</a></li>
        <li><a href="#">Республика Татарстан</a></li>
        <li><a href="#">Красноярский край </a></li>
        <li><a href="#">Республика Башкортостан</a></li>
        <li><a href="#">Самарская область</a></li>
        <li><a href="#">Ростовская область</a></li>
        <li><a href="#">Челябинская область</a></li>
        <li><a href="#">Нижегородская область</a></li>
        <li><a href="#">Пермский край</a></li>
        <li><a href="#">Новосибирская область</a></li>
        <li><a href="#">Иркутская область</a></li>
        <li><a href="#">Тюменская область</a></li>
        <li><a href="#">Ленинградская область</a></li>
        <li><a href="#">Республика Саха (Якутия)</a></li>
        <li><a href="#">Кемеровская область</a></li>
        <li><a href="#">Воронежская область</a></li>
        <li><a href="#">Оренбургская область</a></li>
        <li><a href="#">Сахалинская область</a></li>
        <li><a href="#">Волгоградская область</a></li>
        <li><a href="#">Приморский край</a></li>
        <li><a href="#">Белгородская область</a></li>
        <li><a href="#">Саратовская область</a></li>
        <li><a href="#">Ставропольский край</a></li>
        <li><a href="#">Хабаровский край</a></li>
        <li><a href="#">Омская область</a></li>
        <li><a href="#">Республика Дагестан</a></li>
        <li><a href="#">Республика Коми</a></li>
        <li><a href="#">Удмуртская Республика</a></li>
        <li><a href="#">Тульская область</a></li>
        <li><a href="#">Алтайский край</a></li>
        <li><a href="#">Томская область</a></li>
        <li><a href="#">Вологодская область</a></li>
        <li><a href="#">Липецкая область</a></li>
        <li><a href="#">Ярославская область</a></li>
        <li><a href="#">Архангельская область</a></li>
        <li><a href="#">Мурманская область</a></li>
        <li><a href="#">Владимирская область</a></li>
        <li><a href="#">Калининградская область</a></li>
        <li><a href="#">Калужская область</a></li>
        <li><a href="#">Курская область</a></li>
        <li><a href="#">Тверская область</a></li>
        <li><a href="#">Астраханская область</a></li>
        <li><a href="#">Пензенская область</a></li>
        <li><a href="#">Рязанская область</a></li>
        <li><a href="#">Ульяновская область</a></li>
        <li><a href="#">Республика Крым </a></li>
        <li><a href="#">Петербург</a></li>
    </ul>
</div>