
<script type="text/javascript" src="assets/js/bower/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/bower/owl.carousel/dist/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/bower/nouislider/documentation/assets/wNumb.js"></script>
<script type="text/javascript" src="assets/js/bower/nouislider/distribute/nouislider.min.js"></script>
<script type="text/javascript" src="assets/js/bower/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="assets/js/bower/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="assets/js/main.min.js"></script>
